<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--头部完结-->  
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">图<a href="__APP__/Admin/Viwepager.html">图片轮播管理</a></span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            <volist name="jarr" id="v">
           <form action="__APP__/Admin/Viwepager/usave" method="post" enctype="multipart/form-data">
   <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>图片名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="name" size="10" value="{$v.name}" type="text">
                                      <input type="hidden" name="id" value="{$v.id}"/>
                                     <input type="hidden" name="pubtime" value="{$v.pubtime}">
                                </td>
                            </tr>
                          
                              <tr>
                                <th><i class="require-red">*</i>图片链接：</th>
                                <td>
                                    <input class="common-text required" id="height" name="lianjie" size="20" value="{$v.lianjie }" type="text">
                                </td>
                            </tr>
                             
                         
                            <tr>
                                <th><i class="require-red">*</i>轮播图：</th>
                                <td><input name="smallimg" id="" type="file" multiple="multiple" name="upload[]"><img src="__PUBLIC__/upload/{$v.pubtime}/{$v.imagename}"  width="150px"/></td>
                            </tr>
                           
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <a class="btn btn-primary btn6 mr10" href="__APP__/Admin/Viwepager">返回</a>
                                </td>
                            </tr>
                        </tbody></table>
 </form>  
 </volist>   
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>