<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>跳蚤市场</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/2rank.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
						<div class="h-c-2f">
							<div class="s-f2-l-f">
								<div class="f2-l-1-f">
									<a href="indexstore.php">
										<img src="__PUBLIC__/Home/img/logo.png" alt="喜事码头" />
									</a>
								</div>
								<div class="f2-l-3-f">
									<h1>跳蚤市场</h1>
								</div>

							</div>
							<div class="s-f2-r-f">
								<div class="demo">
									<ul>
										<li><input type="text" id="tt" value="" class="text" autocomplete="off" /></li>
										<li><input type="submit" value="搜索" class="button" /></li>
										<li><button id="fbxq" type="submit" class="button2">发布需求</button></li>
										<div class="clear"></div>
									</ul>
								</div>
							</div>
						</div>
						<div class="h-c-4f">
							<img src="__PUBLIC__/Home/img/banner.png" />
						</div>
				</div>
			</div>
		</header>
		<!--发布需求-->
		<div class="fbxq">
			<div class="fbxq-close">
				<img src="__PUBLIC__/Home/img/alert-close.png" />
			</div>
			<div class="fbxq-title">
				请选择您的需求
			</div>
			<div class="clear"></div>
			<ul>
				<li>
					<div class="fbxq-img">
						<img src="__PUBLIC__/Home/img/wyxs.png" />
					</div>
					<div class="fbxq-1f">
						悬赏
					</div>
					<div class="fbxq-2f">
						<span class="red">临时雇佣</span> 主持人、摄影摄像师、化妆师、策划师等婚庆从业者
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="__PUBLIC__/Home/img/wyys.png" />
					</div>
					<div class="fbxq-1f">
						应赏
					</div>
					<div class="fbxq-2f">
						主持人、摄影摄像师、化妆师、策划师等婚庆从业者发布
						<span class="red">兼职简历</span>
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="__PUBLIC__/Home/img/wyzp.png" />
					</div>
					<div class="fbxq-1f">
						招聘
					</div>
					<div class="fbxq-2f">
						<span class="red">长期雇佣</span> 摄影摄像师、化妆师、策划师、剪辑师、设计师、店长、营业员等婚庆从业者
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="__PUBLIC__/Home/img/wyyp.png" />
					</div>
					<div class="fbxq-1f">
						应聘
					</div>
					<div class="fbxq-2f">
						摄影摄像师、化妆师、策划师、剪辑师、设计师、店长、营业员等婚庆从业者发布
						<span class="red">全职简历</span>
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="__PUBLIC__/Home/img/wyqg.png" />
					</div>
					<div class="fbxq-1f">
						求购二手
					</div>
					<div class="fbxq-2f">
						如果您想要购买二手物品，点击这里填写求购要求，让卖家主动找到您
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="__PUBLIC__/Home/img/wyxz.png" />
					</div>
					<div class="fbxq-1f">
						处理闲置
					</div>
					<div class="fbxq-2f">
						如果您想要出售你的闲置，点击这里填写闲置信息，让买家主动找到您
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
		<section>
				<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f">
						<a href="#">所有分类</a>>
						<a href="#">找到相关100.5万相关结果</a>
					</div>
					<div class="s-c-2f">
						<div id="filter">
							<dl id="type">
								<dt>类型</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>求购二手</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>出售闲置</a>
									</div>
								</dd>
							</dl>
							<dl id="wp">
								<dt>物品</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>摄影器材</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>摄像器材</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>音响</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>灯光</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>婚纱</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>礼服</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>舞台桁架</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>笔记本</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>其他</a>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>价格</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
									<dd>
									<div style="color: #000000;">
										<input type="number" id="nu1" style="width: 65px; margin-top: 17px; border: solid 1px #CCCCCC; float:left;">
										<span style="font-size:25px; display:block; width:20px; height:30px; color: #999999; float :left; margin-top:-1px; text-align:center;">-</span>
										<input type="number" id="nu2" style="width: 65px; margin-top: 15px;border: solid 1px #CCCCCC;">元
										<button style="outline: none; margin-left: 20px; background-color: #FF5C5D; border: 0; color: white; border-radius: 10px; width: 40px; height: 18px;" onclick="ok()">
											ok
										</button>
									</div>
								</dd>
							</dl>
							<dl id="xz-dq">
								<dt>地区</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<input type="text" id="xz-city" placeholder="请选择地区" readonly="readonly" value="" data-value="" onclick="appendCity(this,'danxuan')">
								</dd>
								<div class="clear"></div>
							</dl>
						</div>
						<div class="px">
							<p>排序：</p>
							<div class="hot">
								热门
							</div>
							<div class="new">
								最新
							</div>
						</div>
						<div class="clear"></div>
					</div>
				<div class="s-c-3f" id="lists">
			</div>
			
				</div>
				<div class="s-main-r">
					<div class="s-r-3f">
						<div>
							<a id="tjqg" href="javascript://">
								<h2>推荐求购</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="tab-r">
						<div class="s-r-2f">
							<ul>
									<foreach name="listnew" item="listnews">
								<li>
									<a href="?s=/Home/Tzsc/xqqg/id/{$listnews.fid}">
										<div class="f2t">
											<div class="f2t-img">
													  <if condition="$listnews[imagename]==''">
									<img src="__PUBLIC__/Home/img/yhmc.png" width="120" height="120">
                                      <else />
                                      	<img src="/matouPCS/Tu/upload/{$listnews.imagename}" style="border-radius:50%" width="120" height="120"/>
                                    </if>
											</div>
											<p class="f2t_01">
													<if condition="$lis[username]==$lis[tel]">
							                      	用户：{$listnews.username|substr=0,5}
								                 </if>
								               <if condition="$lis[username]!=$lis[tel]">
								                用户：{$listnews.username}
								                  </if></p></p>
										</div>
										<div class="f2r-ul-c1">
											<strong>{$listnews.name}</strong>
											<p class="right red">预算￥{$listnews.price}元</p>
											<div class="clear"></div>
										</div>
										<p class="user_01_03">
											<span class="black-333">商品介绍：</span>
											<span class="text69">
												{$listnews.content}
											</span>
										</p>
										<div class="f2r-ul-c2">
							<?php 
					                  $bao = explode(',',$lists['bao']);
						           array_pop($bao);
						               $baos = count($bao); ?>
				              	          <p class="left">已有<?php echo $baos;?>人报名</p>
										<p class="right">{$listnews.address}</p>
											<div class="clear"></div>
										</div>
									</a>
								</li>
								</foreach>
								<div class="clear"></div>
							</ul>
						</div>
					</div>
					<div class="s-r-3f">
						<div>
							<a href="javascript://">
								<h2>推荐用户</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="s-r-4f">
						<ul>
							<foreach name="user" item="users">
							<li>
								<a href="javascript:;">
									<div class="tj">
									<php>if($_SESSION['id'] == $users['uid']){</php>
									  <if condition="$users[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$users.uid}">
								  <if condition="$$users[imagename]==''">
									<div class="tj-img">
												<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
											</div>
                                      <else />

                                      <div class="tj-img">
                                      	<img src="/matouPCS/Tu/upload/{$users.imagename}"  style="border-radius:50%" width="101" height="101" />
                                  </div>
                                    </if>
								</a>
								<elseif condition="$users[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$users.uid}">	  <if condition="$users[imagename]==''">
											<div class="tj-img">
												<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
											</div>
                                      <else />

                                    <div class="tj-img">
                                      	<img src="/matouPCS/Tu/upload/{$users.imagename}"  style="border-radius:50%" width="101" height="101" />
                                  </div>
                                    </if>
                                    </a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$users.uid}">	  <if condition="$users[imagename]==''">
											<div class="tj-img">
												<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
											</div>
                                      <else />
                                        <div class="tj-img">
                                      	<img src="/matouPCS/Tu/upload/{$users.imagename}"  style="border-radius:50%" width="101" height="101" />
                                  </div>
                                    </if>
                                    </a>
									</if>
									<php>}else{</php>
                                        <if condition="$users[bdlx]=='1'">
								    <a href="?s=/Home/Mtbu/grbddydt/id/{$users.uid}">	  <if condition="$users[imagename]==''">
											<div class="tj-img">
												<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
											</div>
                                      <else />
                                         <div class="tj-img">
                                      	<img src="/matouPCS/Tu/upload/{$users.imagename}"  style="border-radius:50%" width="101" height="101" />
                                  </div>
                                    </if>
                                    </a>
								<elseif condition="$users[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$users.uid}">	  <if condition="$users[imagename]==''">
										<div class="tj-img">
												<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
											</div>
                                      <else />
                                         <div class="tj-img">
                                      	<img src="/matouPCS/Tu/upload/{$users.imagename}"  style="border-radius:50%" width="101" height="101" />
                                  </div>
                                    </if>
                                    </a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$users.uid}">	  <if condition="$users[imagename]==''">
										<div class="tj-img">
												<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
											</div>
                                      <else />
                                         <div class="tj-img">
                                      	<img src="/matouPCS/Tu/upload/{$users.imagename}"  style="border-radius:50%" width="101" height="101" />
                                  </div>
                                    </if>
                                    </a>
									</if>
                                       <php>}</php>
								
										
										<div class="tj_01">
											<strong class="tj_01_01">
											<if condition="$users[username]==$users[tel]">
							                      	用户{$users.username|substr=0,5}
								                 </if>
								               <if condition="$users[username]!=$users[tel]">
								                用户{$users.username}
								                  </if></strong>
											<p class="tj_01_02" ><span class="black-333">粉丝数量：</span><b id="fen{$users.id}">{$users.fen}</b></p>
											<p class="tj_01_02"><span class="black-333">所在地：</span>{$users.addre}
											</p>
           
												<foreach name="uus" item="uuss">
													<?php if($uuss['uid'] == $users['id']){ ?>
														<?php 
															//这里处理 ‘,’
														$uu = explode(',',$uuss['fid']);
      												      array_pop($uu);
      												      if(in_array($_SESSION['id'],$uu)){
														?>
															<button id="btn{$users.id}"  onclick="change({$users.id})" class="tj_01_03 xs">已关注</button>
														<?php }else{ ?>
															<button id="btn{$users.id}"  onclick="change({$users.id})" class="tj_01_03 xs">关注</button>
														<?php } ?>
													<?php } ?>
												</foreach>
										</div>
										<div class="clear"></div>
									</div>
								</a>
							</li>
							</foreach>
						</ul>

					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
		</section>
			<include file="Public/foote"/>
	</body>
	
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.date_input.pack.js"></script>
	<script src="__PUBLIC__/Home/js/city-data.js"></script>
	<script src="__PUBLIC__/Home/js/hzw-city-picker.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/tz.js"></script>
	<script src="__PUBLIC__/Home/js/2rank.js"></script>
<script type="text/javascript">
function change(id) {
	//拿到被关注用户id 由于值会丢 决定选择使用cookie
    var mark = document.getElementById('btn'+id+'').innerHTML;
    var fen = parseInt(document.getElementById('fen'+id+'').innerHTML);
    if (mark == '关注') {
    	fen += 1;
    	$.ajax({
    		url:"?s=/Home/Index/guanzhu/id/"+id,
    		type:"get",
    		success:function(data){
    			// alert(data);
    			document.getElementById('btn'+id+'').innerHTML = "已关注";
    			document.getElementById('fen'+id+'').innerHTML = fen;
    		},error:function(){
    			alert('no');
    		}
    	});
    	
    }else{
    	fen -= 1;
    	$.ajax({
    		url:"?s=/Home/Index/qguan/id/"+id,
    		type:"get",
    		success:function(data){
    			document.getElementById('btn'+id+'').innerHTML = "关注";
    			document.getElementById('fen'+id+'').innerHTML = fen;
    			alert(data);
    		},error:function(){
    			alert('no');
    		}
    	});
		// document.getElementById('btn'+id+'').innerHTML = "关注"; 
    };
};
</script>
</html>