<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>发布求购</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/fbwc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
	</head>
	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3"  />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/navbg4.png" alt="" />
						<a href="#">
							<a href="?s=/Home/Tzsc/xqqg/id/{$fid}" class="h-f3-c1">查看求购详情页</a>
						</a>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="s-c-1f">
						<a href="?s=/Home/Tzsc">
							<img src="__PUBLIC__/Home/img/jrtssc.png" alt="" />
						</a>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-3f">
						<div class="user">
							<foreach name="list" item="lists">
								<div class="user_01">
									<a href="?s=/Home/Tzsc/xqxz/id/{$lists.fid}">
										<div class="xztp">
											<?php 
									$file = explode(',',$lists['imagenames']);
									array_pop($file);
								?>
								<img src="<?php echo '/matouPCS/Uploads/'.substr($file[0],1); ?>" />
							
										</div>
										<div class="user_01_01">
											<div class="user_01_02">
												<p>{$lists.name}</p><span>￥{$lists.price}元</span></div>
											<p class="user_01_03">{$lists.content}</p>
											<?php $shou = explode(',',$lists['shou']);
												  array_pop($shou);
												  $shou_num = count($shou); ?>
											<p class="user_01_04">已有{$shou_num}人收藏</p>
											<p class="user_01_05">{$lists.address}</p>
										</div>
									</a>
								</div>
							</foreach>
						
							<div class="clearfloat"></div>
						</div>
						<br>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
</html>