<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>闲置填写</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/tx.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/input.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<form name="myform" enctype="multipart/form-data">
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<p class="tfs22">WEDDING PIER</p>
					<h1 class="tfs22">喜事码头</h1>
					<p class="tfs14">简单<samp class="kog10"></samp>方便<samp class="kog10"></samp>效率</p>
					<div class="bdsz">
						<div class="bdsz-bt">
							填写闲置
						</div>
						<ul>
							<li class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>闲置信息</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						<div class="s-2f-c2">
							<ul class="tyint">
								<li>
									<div class="mmap">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">地&nbsp;区</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<input class="xz-city" id="xz-city" placeholder="请选择所在地" name="address" readonly="readonly" type="text" value="" data-value="" onclick="appendCity(this,'danxuan')" />
										</div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mqq">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">Q&nbsp;Q</p>
											<p class="cf"></p>
										</div>
										<div class="litr"><input class="w200t" name="qq" type="text" /></div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="memail">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">联系电话</p>
											<p class="cf"></p>
										</div>
										<div class="litr"><input class="w200t" name="tel" type="tel" maxlength="11" /></div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mhllx"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>闲置信息</h2>
						</div>
						<div class="s-2f-c2b">
							<ul class="tyintb">
								<li class="tyintblih140">
									<div class="mprofession">
										<div class="litlb">
											<p class="litx">*</p>
											<p class="litc">闲置图片</p>
											<p class="cf"></p>
										</div>
										<div class="litrc">
											<div class="xztp">
												<img id="pic1" src="__PUBLIC__/Home/img/local_upload.png" />
												<input class="upload" id="upload1" name="file1" accept="image/jpg,image/jpeg,image/png" type="file" />
											</div>
											<div class="xztp">
												<img id="pic2" src="__PUBLIC__/Home/img/local_upload.png" />
												<input class="upload" id="upload2" name="file2" accept="image/jpg,image/jpeg,image/png" type="file" />
											</div>
											<div class="xztp">
												<img id="pic3" src="__PUBLIC__/Home/img/local_upload.png" />
												<input class="upload" id="upload3" name="file3" accept="image/jpg,image/jpeg,image/png" type="file" />
											</div>
											<div style="margin: 0px;" class="xztp">
												<img id="pic4" src="__PUBLIC__/Home/img/local_upload.png" />
												<input class="upload" id="upload4" name="file4" accept="image/jpg,image/jpeg,image/png" type="file" />
											</div>
											<div class="clearfloat"></div>
										</div>
									</div>
								</li>
								<li>
									<div class="mprofession">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">闲置名称</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<select class="w95s" id="types" name="names" onchange="gradeChange()">
												<option>-请选择-</option>
												<option>摄像器材</option>
												<option>摄影器材</option>
												<option>音响</option>
												<option>灯光</option>
												<option>舞台桁架</option>
												<option>婚纱</option>
												<option>礼服</option>
												<option>笔记本</option>
												<option>其他</option>
											</select>
											<span class="types1"></span>
										</div>
										<div class="cf"></div>
								</li>
								<script type="text/javascript">
									function gradeChange(){
										var checkText=$("#types").find("option:selected").text();
									    if(checkText == '其他'){
									    	$('.types1').html('<input class="w209" type="text" name="zymc1" placeholder="填写职业名称" />');
									    }else{
									    	$('.types1').html('<input class="w209" type="hidden" name="zymc1" placeholder="填写职业名称" />');
									    }
									}
								</script>
								<li>
									<div class="mprofession">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">价&nbsp;格</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<input class="w95t" name="price" type="number" />&nbsp;元
										</div>
									</div>
									<div class="cf"></div>
								</li>
								<li class="jbxxli1">
									<div class="mzwjs">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">闲置简介</p>
											<p class="cf"></p>
										</div>
										<div class="litrb"><textarea class="w340" name="content" type="text"></textarea></div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mhllx"></div>
								</li>
							</ul>
							</div>
						</div>
						<div class="clearfloat "></div>
						<a href="javascript:void(0)" onclick="submit()" class="s-tf-btn">确认发布</a>
					</div>
					<div class="clearfloat "></div>
				</div>
			</div>
			<div class="clearfloat "></div>
		</section>
		</form>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/City_data.js"></script>
	<script src="__PUBLIC__/Home/js/dz.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showwin.js"></script>
	<script type="text/javascript">
	function submit(){
		var form = document.myform;
		if(form.address.value == '' || form.qq.value == '' || form.tel.value == '' || form.names.value == '' || form.price.value == '' || form.content.value == '' ){
			alert('滚犊子');
		}else{
			form.action = "?s=/Home/Tzsc/txxzgo";
			form.method = "post";
			form.submit();
		}
	}
	</script>
</html>