<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>闲置详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xq-3r-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.fs.boxer.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
						<include file="Public/header"/>		
						<div class="h-c-2f">
							<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
							<div class="s-f2-r">
								<input placeholder="搜索全站" type="text" class="find3" />
								<div class="s-f2-r1">
									<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="spdl-c">
				<span>查看需要消耗5个码头币</span>
				<a href="#">请充值</a>
			</div>
			<button class="spdl-ok" id="spdl-ok">确定</button>
			<button class="spdl-esc" id="spdl-esc">取消</button>
		</div>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="userin">
						<div class="u-img">
								<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                        	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if>
								</a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}">  
								<if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                        	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	  	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}">  
								<if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                    	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
									</if>
                                       <php>}</php>
						</div>
						<div class="u-cont">
							<p class="tfs14"><strong><if condition="$list[username]==$list[tel]">
							                      用户{$list.username|substr=0,5}
								                 </if>
								               <if condition="$list[username]!=$list[tel]">
								                用户{$list.username}
								                  </if></strong></p>
							<p class="tfs12">职位：{$list.type_u}</p>
								<p style="font-size: 12px;margin-top: 10px;">所在地：{$list.addre}</p>
							
								   	<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$listt.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
                                       <php>}</php>
						</div>
					</div>
					<br>
					<div class="bdsz">
						<div class="bdsz-bt">
							闲置详情
						</div>
						<ul>
							<li class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>闲置信息</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						<div class="s-2f-c2">
							<div class="c2-ct1">
								<p><span class="xqcc-c0">所在地：</span><span class="xqcc-c3">{$list.address}</span></p>
								<p><span class="xqcc-c0">QQ号码：</span><span class="xqcc-c3">{$list.qqs}</span></p>
							</div>
							<div class="c2-ct2">
								<p id="spdl-p"><span class="xqcc-c0">联系电话：</span><span class="xqcc-c3" >{$list.tels|substr=0,3}XXXX{$list.tels|substr=8,11}</span></p><button id="sp">查看号码 </button>
								<input type="hidden" id="xp" value="{$list.tels}">
							</div>
						</div>
						<br>
					</div>
					<div class="s-c-2fb">
						<div class="s-c-8f-1f">
							<h2>闲置信息</h2>
						</div>
						<div class="xqwc">
							<div class="xqcc">
								<p class="xqcc-c">
									<span class="xqcc-c0">闲置名称：</span><span class="xqcc-c3">{$list.name}</span><span class="xqcc-c1">价格：</span><span class="xqcc-c3">{$list.price}k</span>
								</p>
								<p class="xqcc-c"><span class="xqcc-c0">闲置介绍：</span><span class="xqcc-c2">{$list.content}...
									<br />
								<div class="fgx"></div>
								<?php 
									$file = explode(',',$list['imagenames']);
									array_pop($file);
								?>
								<?php for ($i=0; $i < count($file); $i++) {  ?>
								<img style="width:140px;height:140px;" class="xqcc-c5" src="<?php echo '/matouPCS/Uploads/'.substr($file[$i],1); ?>" />
								<?php } ?>
								</span>
								</p>
								<p class="xqcc-c">

								</p>
							</div>
							<div class="clearfloat "></div>
						</div>
						
					</div>

					<div class="s-c-4f-2">
						<div class="s-tf-btn">
							<p>分享
							</p>
							<img src="__PUBLIC__/Home/img/xzfx.png" alt="" />
						</div>
								<php>if($_SESSION['id'] != ''){</php>
						<div class="s-tf-btn" onclick="shou({$list.fid})" style="margin-left: 5px;" id="bt-sc">
							<?php 
								$shou = explode(',',$list['shou']);
								array_pop($shou);
							 ?>
							 <?php if(in_array($_SESSION['id'],$shou)){ ?>
							<p id="bt-scs">&nbsp;已收藏
							</p>
							<?php }else{?>
							<p id="bt-scs">收藏</p>
							<img src="__PUBLIC__/Home/img/sc.png" style="top: 14px;">
							<?php }?>
							
						</div>
						<php>}else{</php>
							<div class="s-tf-btn" onclick="alert('请先登录')" style="margin-left: 5px;" >
							<p>收藏
							</p>
							<img src="__PUBLIC__/Home/img/sc.png" style="top: 14px;">
							
						</div>
						<php>}</php>
						<div class="clearfloat "></div>
					</div>
					<div class="s-c-5f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p>留言板</p>
						</div>
						<div class="s-2f-c2">
							<textarea class="lyk" id="content_x" placeholder="留言吧"></textarea>
							<button class="lybtn" onclick="liuyan({$list.fid},{$list.uid})" >我要留言</button>
						</div>
						<br>
					</div>
						<script type="text/javascript">
							function liuyan(xsid,fid){
								//获得基本信息id
								var content = $('#content_x').val();
								if(content == ''){
									alert('滚犊子');
								}else{
									$.ajax({
										url:"?s=/Home/User/liuyan",
										type:"post",
										data:{xsid:xsid,content:content,fid:fid},
										dataType:"json",
										success:function(data){
											console.log(data);
											$('#content').val('');
											var content = '';
											for (var i = 0; i < data.length; i++) {
												if(data[i].username==data[i].tel){
													var use = data[i].username.substr(0,5);
												}else{
											     var use = data[i].username;
												}
												if(data[i].imagename==''){
													var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
												}else{
											     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
												}
												content += '<div class="s-5f-c1"><div class="s-5f-c1-1-c1" style="border: 0 solid #fff;margin-top: 10px;"><div class="s-5f-c1-1-c1img">'+img+'</div><div class="s-5f-c1-1-c1p1">用户名称：'+use+'</div><div class="s-5f-c1-1-c1p2">所在地：'+data[i]['addre']+'</div></div><div class="s-5f-c1-1"><div class="s-5f-c1-1-c1">'+data[i]['contents']+'</div>'+data[i]['ltime']+'</div></div>';
											};
											// $('#ll').remove();
											$('#s-c-5f').html(content);
										},error:function(){
											alert('no');
										}});
								}
								
							}
						</script>
	
				<div id="s-c-5f" class="s-c-5f">
					<foreach name="liu" item="lius">
						<div class="s-5f-c1">
							<div class="s-5f-c1-1-c1b">
								<div class="s-5f-c1-1-c1img">
								
	                        <if condition="$lius[imagename]==''">  
                                	<img src="__PUBLIC__/Home/img/pltx.png" alt="" />
                                   <else />
                                     <img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/{$lius.imagename}"  /> 
                                   </if>
								
								</div>
								<div class="s-5f-c1-1-c1p1">
					<if condition="$lius[tel]==$lius[username]">  
					用户{$lius.username|substr=0,5}
					<else />
					用户{$lius.username}
					</if></div>
								<div class="s-5f-c1-1-c1p2">所在地：{$lius.addre}</div>
							</div>
							<div class="s-5f-c1-1">
								<div class="s-5f-c1-1-c1">
									{$lius.contents}
								</div>
							<span id="wx{$lius.id}">{$lius['ltime']}</span>
							</div>
							
						</div>
							</foreach>
					</div>
					<div class="clearfloat "></div>
				</div>
				<div class="clearfloat "></div>
		</section>
	<include file="Public/foot"/>
	</body>
		<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js "></script>
	<script src="__PUBLIC__/Home/js/showwin.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.fs.boxer.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
<script>
function shou(fid){
	// alert($("#bt-scs").html());
	if($("#bt-scs").html() == '收藏'){
		$.ajax({
			url:"?s=/Home/Tzsc/shou/fid/"+fid,
			type:"get",
			success:function(data){
				alert(data);
				$("#bt-sc").text("已收藏");
				$("#bt-sc").css("text-align", "center");
				$("#bt-sc img").hide();
			},error:function(){
				alert('no');
			}
		});
	}
	
}

</script>
</html>