<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">码头部队管理</span></div>
        </div>
        
        <div class="result-wrap">
             <form action="__APP__/admin/Force/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>部队名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="forcename" size="20" value="" type="text">
                                            <input type="hidden" name="uid"  value="1"/>
                                </td>
                            </tr>
                          
                            <tr>
                                <th><i class="require-red">*</i>部队类型：</th>
                                <td>
                                    <input class="common-text required" id="type" name="type_bd" size="20" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>营业执照名称：</th>
                                <td>
                                    <input class="common-text required" name="charter" size="30" value="" type="text">
                                </td>
                            </tr>
                               <tr>
                                <th><i class="require-red">*</i>法定代表人：</th>
                                <td>
                                    <input class="common-text required" name="representative" size="20" value="" type="text">
                                </td>
                            </tr>
                                   <tr>
                                <th><i class="require-red">*</i>详细地址：</th>
                                <td>
                                    <input class="common-text required"  name="address" size="40" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>电话：</th>
                                <td>
                                    <input class="common-text required" name="tels" size="12" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>qq：</th>
                                <td>
                                    <input class="common-text required" id="height" name="qqs" size="10" value="" type="text">
                                </td>
                            </tr>
                           
                              <tr>
                                <th><i class="require-red">*</i>官网链接：</th>
                                <td>
                                    <input class="common-text required" id="height" name="lianjie" size="25" value="" type="text">
                                </td>
                            </tr>
                           
                            <tr>
                                <th>关注数：</th>
                                <td><input class="common-text" name="collect" size="11" value="" type="text"></td>
                            </tr>
                          
                            <tr>
                                <th><i class="require-red">*</i>部队logo图：</th>
                                <td><input name="smallimg" id="" type="file" multiple="multiple" name="upload[]"><!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>--></td>
                            </tr>
                            <tr>
                                <th>部队简介：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="__APP__/Admin/Force"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>