<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">码头部队管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__APP__/Admin/Force/index" method="post">
               <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__APP__/Admin/Force/add"><i class="icon-font"></i>添加部队</a>
                       <a id="batchDel" href="javascript:void(0)"><input form="myform"  formaction="__APP__/Admin/Force/bdel" 
                        type="submit" class="btn btn-primary btn2" onclick="return confirm('确定删除这些信息吗？');" value="批量删除"/></a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                           <tr>
                            <th></th>
                            <th></th>

                            <th colspan="16" style="color:red">基本信息</th>
                   
                      
                        </tr>
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                               <th>编号</th>
                               <th>用户名</th>
                             <th>部队名称</th>
                            <th>部队类型</th>
                            <th>审核状态</th>
                             <th>营业执照名称</th>
                            <th>法定代表人</th>
                             <th>详细地址</th>
                            <th>联系电话</th>
                            <th>qq</th>
                            <th>认证logo</th>
                            <th>官网链接</th>
                            <th>部队简介</th>
                            <th>关注数</th>
                            <th>审核</th>
                            <th>更多</th>
                            <th>操作</th>
                            
                        </tr> 
                        <volist name="operarr" id="v">
                        <tr>
                             <td class="tc"><input name="ids[]" value="{$v.id}"  class="check" type="checkbox"></td>
                           <td> {$i} </td>
                               <th> {$v.username}</th>
                            <td> {$v.forcename} </td>
                              <td>{$v.type_bd}</td>
                            <td >   <if condition="$v[status]=='1'">
                                          未审核
                                    </if>
                                        <if condition="$v[status]=='2'">
                                          审核通过
                                    </if>
                                     <if condition="$v[status]=='3'">
                                          审核未通过
                                    </if>
                                     
                            </td>
                              <td>{$v.charter}</td>
                            <td>{$v.representative}</td>
                            <td>{$v.address}</td>
           
                            <td id="phone{$v.id}">{$v.tels}</td>
                             <td>{$v.qqs}</td>
                              <td><img src="__PUBLIC__/upload/{$v.time}/{$v.logo}" width="50"/></td>
                               <td>{$v.lianjie}</td>
                              <td>{$v.content}</td>
                              <td>{$v.collect}</td>
                           
                               <td><a  href="__APP__/Admin/Force/status?id={$v.uid}">审核详情</a></td>
                               
                                 <td>   <a class="link-update" href="__APP__/Admin/Force/updateimages?id={$v.id}">照片作品</a>
                              <a class="link-update" href="__APP__/Admin/Force/updatevideo?id={$v.id}">视频作品</a>
                             </td>
                            <td>
                                <a class="link-update" href="__APP__/Admin/Force/update?id={$v.id}">修改内容</a>
                                <a class="link-update" href="__APP__/Admin/Force/updateimage?id={$v.id}">修改logo图</a>
                                
                                      <a class="link-del"   onclick="shanchu({$v.id})">删除</a>
                            </td>
                        </tr>
                      </volist>
                    </table>
                    <div  class="pagelist">{$pageStr}</div>
                </div>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>       
   <script type="text/javascript">

   function shanchu(id){
	   	//alert(id);
	   	if(confirm( '是否确定删除这条信息！')==true){
	      	$.ajax({

	      		url:"/matouPCS/index.php/Admin/force/delete/id/"+id,
	    
	      		type:"get",
	      		success:function(data){
	      			//alert(data);
	      			if(data == 'y'){
	      			
	      				alert('删除失败，请先删除照片或视频作品');
	   		
	   			}else{
	   				window.location.reload(true);
	   			}
	      		},error:function(){
	      			alert('no');
	      		}
	      	});
	   	}else{
	   		return false;
	   	}
	       };
	  


   $("#check").click(function(){
	 if($(this).prop("checked")){
		 $(".check").prop("checked","checked")
	 }else{
		 $(".check").removeAttr("checked")
	 }
	 
})


function shen(id){
	
	var ids=id;
	//alert(ids);
   	$.ajax({
   		url:"/matouPCS/index.php/Admin/Force/status/id/"+ ids,
   		type:"get",
   		success:function(data){
   		
   			if(data == 'y'){
   			
   		   			document.getElementById(id).innerHTML = "审核通过";
   		   		 var phone = $("#phone"+ids).text();
   		   		 //alert(123);
   		        xxoo(phone); 
   		  }
   		},error:function(){
   			alert('no');
   		}
   	});
   }
   
   function xxoo(phone){
  	 $.ajax({
          	url:"http://127.0.0.1/matouPCS/taobao-sdk-PHP-auto_1455552377940-20160607/newfile.php?phone="+phone,
          	type:"get",
          	success:function(phone){
          		alert('审核通过短信通知发送成功');
          	},error:function(){
          		alert('no');
          	}
          });  
   }
</script>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

</body>
</html>