<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--头部完结-->  
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">悬赏大厅管理</span></div>
        </div>
        
        <div class="result-wrap">
             <form action="__APP__/admin/Reward/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                  
                          
                            <tr>
                                <th><i class="require-red">*</i>活动时间：</th>
                                <td>
                                	<input id="date" type="text" class="date_picker" name="time" placeholder="点击选择时间" />
                                   
                                        <input type="hidden" name="uid" value="1"/>
                                </td>
                            </tr>
                              <tr>
                                <th><i class="require-red">*</i>活动地点：</th>
                                <td>
                                    <input class="common-text required" id="type" name="address" size="12" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>联系电话：</th>
                                <td>
                                    <input class="common-text required" id="name" name="tel" size="15" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>qq：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="qqs" size="15" value="" type="text">
                                </td>
                            </tr>
                                <tr>
                                <th>活动详情：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>收藏数：</th>
                                <td>
                                    <input class="common-text required" id="height" name="collect" size="10" value="" type="text">
                                </td>
                            </tr>
                      
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="__APP__/Admin/Reward"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
                <script src="__PUBLIC__/Admin/js/jquery.date_input.pack.js"></script>
                <script type="text/javascript">
                $(function() {
        			//日期
        			$('#date').date_input();
        			//选中filter下的所有a标签，为其添加hover方法，该方法有两个参数，分别是鼠标移上和移开所执行的函数。
        			$("#filter a").hover(
        				function() {
        					$(this).addClass("seling");
        				},
        				function() {
        					$(this).removeClass("seling");
        				}
        			);

        			//选中filter下所有的dt标签，并且为dt标签后面的第一个dd标签下的a标签添加样式seled。(感叹jquery的强大)
        			$("#filter dt+dd a").attr("class", "seled");
        			/*注意：这儿应该是设置(attr)样式，而不是添加样式(addClass)，
        			                                                     不然后面通过$("#filter a[class='seled']")访问不到class样式为seled的a标签。*/

        			//为filter下的所有a标签添加单击事件
        			$("#filter a").click(function() {
        				$(this).parents("dl").children("dd").each(function() {
        					//下面三种方式效果相同（第三种写法的内部就是调用了find()函数，所以，第二、三种方法是等价的。）
        					//$(this).children("div").children("a").removeClass("seled");
        					//$(this).find("a").removeClass("seled");
        					$('a', this).removeClass("seled");
        				});

        				$(this).attr("class", "seled");

        				//				alert(RetSelecteds()); //返回选中结果
        			});
        			//返回选中结果
        		});

                
                </script>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>