<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--头部完结-->  
    <!--/sidebar-->
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>     

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">悬赏大厅管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__APP__/Admin/Reward/index" method="post">
               <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__APP__/Admin/Reward/add"><i class="icon-font"></i>添加悬赏</a>
                        <a id="batchDel" href="javascript:void(0)"><input form="myform"  formaction="__APP__/Admin/Reward/bdel" 
                        type="submit" class="btn btn-primary btn2" onclick="return confirm('确定删除这些信息吗？');" value="批量删除"/></a>
                    </div>
                    
                </div>

                <div class="result-content">
                    <table class="result-tab" width="100%">
                      <tr>
                            <th></th>
                            <th></th>

                            <th colspan="13">基本信息</th>
                           
                      
                        </tr>
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>编号</th>
                         
                            <th>需求职业</th>
                         
                            <th>地址</th>
                            <th>发布人</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>身高</th>
                            <th>赏金</th>
                            <th>电话</th>
                            <th>qq</th>
                            <th>图片</th>
                            <th>活动日期</th>
                            <th>操作</th>
                        </tr>
                        <volist name="operarr" id="v">
                        <tr>
                           <td class="tc"><input name="ids[]" value="{$v.id}"  class="check" type="checkbox"></td>
                          <td> {$i} </td>
               
                            <td> {$v.type} </td>  
                            <td>{$v.address}</td>
                            <td>{$v.name}</td>
                             <td>{$v.sex}</td>
                            <td>{$v.age}</td>
                             <td>{$v.height}</td>
                             <td>{$v.amount}</td>
                              <td>{$v.tel}</td>
                              <td>{$v.qq}</td>
                              <td><img src="__PUBLIC__/upload/{$v.pubtime}/{$v.imagename}" width="50"/></td>
                             <td>{$v.time}</td>
                            <td>
                                <a class=" link-update" href="__APP__/Admin/Reward/update?id={$v.id}">修改内容</a>
                                <a class="link-update" href="__APP__/Admin/Reward/updateimage?id={$v.id}">修改图片</a>
                               <a class="link-del"  href = "__APP__/Admin/Reward/delete?id={$v.id}" onclick="if(confirm( '是否确定删除这条信息！')==false)return false;">删除</a>
	                  
                            </td>
                        </tr>
                      </volist>
                    </table>
                    <div  class="pagelist">{$pageStr}  </div>
                </div>
            </form>
 <script type="text/javascript">
     $("#check").click(function(){
	 if($(this).prop("checked")){
		 $(".check").prop("checked","checked")
	 }else{
		 $(".check").removeAttr("checked")
	 }
	 
 })
 
</script>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>