<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>创建商铺-审核</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/cjspcg-3r-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
				<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input type="text" placeholder="搜索全站"/>
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="s-c-1f">
						<ul class="s-1f_00">
							<li class="s-1f_01">WEDDING&nbsp;PIER</li>
							<li class="s-1f_02">
								<h1>喜事码头</h1>
							</li>
							<li class="s-1f_03">简单&nbsp;&nbsp;方便&nbsp;&nbsp;效率</li>
						</ul>
					</div>
					<div class="cjsp_bt">
						<ul>
							<li class="cjsp_bt_01">
								审核中
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">

							<a href="?s=/Home/Tjcs" class="zk">
								进入码头商城
						</a>
					</div>
					<div class="s-c-3f">
						<ul class="sc3f-ul">
							<li>
								<a href="#">
									<div class="sc3f-ulc1">
										<span class="ulc1">
										   <if condition="$v[imagename]==''">
									<img src="__PUBLIC__/Home/img/bdmc.png" alt="" />
                                      <else />
                                      	<img src="/matouPCS/Tu//upload/{$v.imagename}" alt="" />
                                    </if>	

										</span>
										<span class="ulc2">
											<strong class="p18 black-333">{$v.shopname}</strong>
											<p class="p14 bdlx">
												<span class="black-333">类型：</span>
												{$v.type}
											</p>
											<p class="p14">
												<span class="black-333">粉丝数：</span>
											{$v.fen}
											</p>
											<p class="p14">
												<span class="black-333">所在地：</span>
												{$v.address|substr=0,9}
											</p>
											<p class="clearfloat"></p>
										</span>
										<span class="clearfloat"></span>
									</div>
									<div class="sc3f-ulc2">
										<p><span class="black-333">商铺介绍：</span>{$v.zysp}</p>
									</div>
									<div class="clearfloat"></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js"></script>
	<script src="__PUBLIC__/Home/js/troop.js"></script>
</html>