<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商铺主页</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/cjspcg-3r-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg3.png" alt="" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r right-tx">
					<div class="s-c-1f-r">
						<ul>
							<li>
									<php>if($_SESSION['id'] == $shop['uid']){</php>
									<a href="?s=/Home/Mtbu/spbddndt/id/{$shop.uid}">
									<php>}else{</php>
                                       <a href="?s=/Home/Mtbu/spbddydt/id/{$shop.uid}">
                                       <php>}</php>
									<div class="tj">
									<if condition="$shop[imagename]==''">  
                                  		<img src="__PUBLIC__/Home/img/bdmc.png" alt="" width="101" height="101">
                                   <else />
                                     <img style="border-radius:50%" width="101" height="101" src="/MatouPCS/Tu/upload/{$shop.imagename}"  /> 
                                   </if>
								</a>
										<div class="tj_01">
											<strong class="tj_01_01">{$shop.shopname}</strong>
											<p class="tj_01_02">商铺类型：<span class="fz1">{$shop.type}</span></p>
											<p class="tj_01_02">收藏量：
												<span class="fz1">{$shop.collect}</span>
											</p>
                                           <php>if($_SESSION['id'] == $shop['uid']){</php>
                                           		<a href="?s=Home/Mtbd/spgl.php" class="tj_01_06">管理商铺</a>							
											<php>}else{</php>
													<php>$shou = explode(",",$shop['shou']);array_pop($shou);
												if(in_array($_SESSION['id'],$shou)){</php>
												<button id="btns" class="tj_01_03" onclick="change({$_GET['id']})">取消收藏</button>
											<php>}else{</php>
												<button id="btns" class="tj_01_03" onclick="change({$_GET['id']})">收藏商铺</button>
											<php>}</php>
											     <php>}</php>
										</div>

									</div>
								
							</li>
						</ul>
					</div>
					<div class="s-c-ff">
						<div class="s-c-f1">
							<div class="s-c-f1-01">
									<p class="s-c-f1-01-01">商铺地址</p>
								<p class="s-c-f1-01-02">{$shop.address}</p>
							</div>
							<div class="s-c-f1-02">
								<p class="s-c-f1-01-01">主营商品</p>
								<p class="s-c-f1-02-02">{$shop.zysp}
								</p>
							</div>
							<div class="s-c-f1-03">
								<p class="s-c-f1-03-01">手机号</p>
								<p class="s-c-f1-03-02">{$shop.tel}</p>
								<p class="s-c-f1-03-01" style="margin-top:10px;">QQ号</p>
								<p class="s-c-f1-03-02">{$shop.qq}</p>
								<p class="s-c-f1-03-01" style="margin-top:8px;">{$v.wangzhan}</p>
								<p class="s-c-f1-03-03">{$shop.lianjie}</p>
							</div>
						</div>
					</div>

				</div>

				<div class="s-main-l left">

					<div class="s-c-2f-qh">
						<div class="2fb">
							<div class="s-f2l-c1">
								<ul>
									<li class="selected-tab">
										<a rel="nofollow" href="javascript://">
											<h2>出租商品</h2>
										</a>
									</li>
									<li>
										<a rel="nofollow" href="javascript://">
											<h2>出售商品</h2>
										</a>
									</li>
									<li>
										<a rel="nofollow" href="javascript://">
											<h2>留言区</h2>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="s-f2l-c2">
							<input type="text" placeholder="搜索该店铺商品" />
							<button></button>
						</div>
						<div class="clearfloat"></div>
					</div>
					<div class="con">
						<div class="czsp">
							<ul>
								<foreach name="shangpinz" item="vz">
								<li>
									<img src="Uploads/Uploads/{$vz.pubtimes}/{$vz.imagenames}" width="254" height="150">
									<div class="czsp_01">
										<div class="czsp_01_00">
										  <p class="czsp_01_01">￥{$vz.price}元</p>
											<p class="czsp_01_02">浏览量{$vz.liulan}次</p>
										</div>
										<p class="czsp_02">
											<span class="black-333">商品介绍：</span>{$vz.content}
										</p>
									</div>
								</li>
								</foreach>
							</ul>
						</div>
					</div>
					<div class="con">
						<div class="czsp">
							<ul>
							<foreach name="shangpins" item="vs">
								<li>
									<img src="Uploads/Uploads/{$vs.pubtimes}/{$vs.imagenames}" width="254" height="150">
									<div class="czsp_01">
										<div class="czsp_01_00">
										  <p class="czsp_01_01">￥{$vs.price}元</p>
											<p class="czsp_01_02">浏览量{$vs.liulan}次</p>
										</div>
										<p class="czsp_02">
											<span class="black-333">商品介绍：</span>{$vs.content}
										</p>
									</div>
								</li>
								</foreach>
							</ul>
						</div>
					</div>
					<div class="con">
						<div class="s-c-4f-ly">
							<p class="title">
								想问商铺主人问题？就来这里留言吧~
							</p>
							<div class="s-c-4f-ly-1f">
							<textarea id="contents" name="contents"></textarea>
							</div>
							<div class="s-c-4f-ly-2f">
								<button  onclick="liuyan({$shop.uid})" class="right-ly">
									发留言
								</button>
							</div>

						</div>
							<script type="text/javascript">
								function liuyan(id){
									var p=id;
									var t = "{:session('id')}";
									var contents = $('#contents').val();
									if(contents.replace(/\s+/g, "")){
										$.ajax({
											url:"?s=/Home/Mtbu/spbddyly_liuyan",
											type:"post",
											data:{id:p,contents:contents},
											dataType:"json",
											success:function(data){
												alert(id)
												var li = '';
												for (var i = 0; i < data.length; i++) {
													 var myArray=new Array()
													 var str=data[i].zid;  
													 myArray = str.split(","); 
													 var c = ","; // 要计算的字符
													 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
													 var result = str.match(regex);
													 var count = !result ? 0 : result.length;
													 for(var j=0;j<=count;j++){
														 if(myArray[j]==t){
															 var aa=1;
								
														 }
													 }
													if(aa==1){
														var dianzan='<span id="z'+data[i].id+'"  class="icon-dz-kz"></span>';
													}else{
														var dianzan='<span id="z'+data[i].id+'"  class="icon-dz"></span>';
													}
													if(data[i].username==data[i].tel){
													var use = data[i].username.substr(0,5);
													}else{
												     var use = data[i].username;
													}
													if(t==data[i].uid){
														if(data[i].bdlx==1){
															var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
														}else if(data[i].bdlx==6){
															var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
														}else{
															var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
														}
													}else{
														if(data[i].bdlx==1){
															var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
														}else if(data[i].bdlx==6){
															var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
														}else{
															var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
														}
													}
													
													if(data[i].imagename==''){
														var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
													}else{
												     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
													}
													li+=' <div class="s-c-3f-1f"><div><div class="yhtx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div><div class="clearfloat"></div></div><p class="yhmc"><a href="">用户'+use+'</a></p><p class="zwmc">职位名称：'+data[i].type_u+'</p><p class="szd">所在地：'+data[i].addre+'</p><div class="clearfloat"></div></div><p class="dtnr"> '+data[i].contents+' </p><div class="bottom"><p class="left">'+data[i].stime+'</p><!--<span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span>--><div class="right dz-qx"><p onclick="zan('+data[i].id+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span  id="s'+data[i].id+'">'+data[i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>';
												};
												$('#li').html(li);
												$('#contents').val('');
											},error:function(){
												alert('no');
											}
										});
									}else{
										alert('请填写留言内容在提交');
									}
								}
							</script>
								<div  id="li" class="s-c-3f">
						<foreach name="list" item="lis">
							<div class="s-c-3f-1f">
								<div>
									<div class="yhtx">
															<php>if($_SESSION['id'] == $lis['uid']){</php>
									  <if condition="$lis[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$lis.uid}">	
								<elseif condition="$lis[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$lis.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$lis.uid}">
									</if>
									<php>}else{</php>
                                   <if condition="$lis[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$lis.uid}">
								<elseif condition="$lis[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$lis.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$lis.uid}">
								</if>
                              <php>}</php>
											 <if condition="$lis[imagename]==''">  
                                	<img src="__PUBLIC__/Home/img/pltx.png" alt="" />
                                   <else />
                                     <img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/{$lis.imagename}"  /> 
                                   </if>
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" alt="" />
										</div>
										<div class="clearfloat"></div>
									</div>
									<p class="yhmc">
									<if condition="$lists[tel]==$lists[username]">  
				                      用户{$lis.username|substr=0,5}
				                  	<else />
				            	   用户{$lis.username}
					               </if>
									</p>
									<p class="zwmc">
										职位名称：{$lis.type_u}
									</p>
									<p class="szd">所在地：{$lis.addre}</p>
									<div class="clearfloat"></div>
								</div>
								<p class="dtnr">
										{$lis.contents}
								</p>
								<div class="bottom">
									<p class="left">{$lis.time}</p>
									<div class="right dz-qx">
											<p onclick="zan({$lis.id},{$lis.zan})" class="dz dz-qx">
													<?php $zan = explode(',',$lis['zid']);
														  array_pop($zan);
														   ?>
													<?php if(in_array($_SESSION['id'],$zan)){ ?>
													<span id="z{$lis.id}" class="icon-dz-kz"></span>
													<?php }else{ ?>
													<span id="z{$lis.id}" class="icon-dz"></span>
													<?php } ?>
													<span id="s{$lis.id}">{$lis.zan}</span></p> 
									</div>
									<p class="clearfloat"></p>
								</div>
								<div class="clearfloat"></div>
							</div>
								</foreach>
						</div>
					</div>
				</div>
			</div>
		
			<div class="clearfloat"></div>
			</div>
		</section>
			<script type="text/javascript">
				var a = 0;
				function zan(lid,zan){
			
					var zan = parseInt(document.getElementById('s'+lid).innerHTML);
					if($('#z'+lid).hasClass('icon-dz')){
						zan += 1;
						$.ajax({
							url:"?s=/Home/Mtbu/spbd_liu_zan/lid/"+lid+"/zan/"+zan,
							type:"get",
							success:function(data){
								alert('点赞成功');
								$('#z'+lid).removeClass('icon-dz');
								$('#z'+lid).addClass('icon-dz-kz');
								$('#s'+lid).html(zan);
							},error:function(){
								alert('no');
							}
						});
						
					}else{
						zan -= 1;
						$.ajax({
							url:"?s=/Home/Mtbu/rzbd_liu_zan/lid/"+lid+"/zan/"+zan,
							type:"get",
							success:function(data){
								alert('取消成功');
								$('#z'+lid).removeClass('icon-dz-kz');
								$('#z'+lid).addClass('icon-dz');
								$('#s'+lid).html(zan);
							},error:function(){
								alert('no');
							}
						});
						
					}
				}
				//收藏商铺
		function change(id) {  
			var mark = document.getElementById('btns').innerText;
			if(mark == '收藏商铺') {
				$.ajax({
					url:'?s=/Home/Tjcs/spxq_shou/id/'+id,
					type:'get',
					success:function(data){
						document.getElementById('btns').innerText = "取消收藏";
					},error:function(){
						alert('no');
					}
				});
			} else {
				document.getElementById('btns').innerText = "收藏商铺";
			};
		};				
		</script>
	<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>

</html>