<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>部队中心</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/troop.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<?php	include '2rank-header.php';?>
						<div class="h-c-2f">
							<img src="__PUBLIC__/Home/img/navbg3.png" />
							<div class="s-f2-r">
								<input type="text" placeholder="搜索全站" />
								<div class="s-f2-r1">
									<img src="__PUBLIC__/Home/img/ss-t.png" />
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="s-c-1f">
						<div class="s-c-1f-1f">
							<div class="left">
								<a href="">
									<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
								</a>
								<div class="vip">
									<img src="__PUBLIC__/Home/img/rzlogo.png" />
								</div>
							</div>
							<div class="right">
								<p class="yhmc">
									<a href="">用户名称</a>
								</p>
								<p class="fssl">粉丝数量</p>
								<p>所在地：郑州</p>
								<button class="bj">编辑</button>
							</div>
						</div>
						<div class="s-c-1f-2f">
							<div class="left">
								<h2>我的关注</h2>
							</div>
							<div class="right">
								关注量：111111
							</div>
						</div>
						<div class="s-c-1f-3f">
							<ul>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
							</ul>
							<button class="ckgd-gz" onclick="window.location='bdzxfs-3r-xy.php'">查看更多</button>
						</div>
						<div class="s-c-1f-2f">
							<div class="left">
								<h2>我的粉丝</h2>
							</div>
							<div class="right">
								关注量：111111
							</div>
						</div>
						<div class="s-c-1f-3f">
							<ul>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
								<li>
									<div class="left-gz">
										<a href="">
											<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-gz">
										<p class="tt">
											<span class="left">
												<a href="">用户名称</a>
											</span>
											<span class="right">郑州</span>
										</p>
										<p class="grjj">
											个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
										</p>
									</div>
									<div class="clearfloat"></div>
								</li>
							</ul>
							<button class="ckgd-gz" onclick="window.location='bdzxfs-3r-xy.php'">查看更多</button>
						</div>
					</div>

				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-2f-3f">
							<div class="fs select-gzfs">
								我的粉丝
							</div>
							<div class="gz">
								我的关注
							</div>
						</div>
					</div>
					<div class="s-c-6f">
						<div class="con1">
							<div class="s-c-6f-1f">
								<ul>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx" onclick="">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="用户名称" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						<div class="con2">
							<div class="s-c-6f-1f">
								<ul>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<li>
										<div class="left">
											<a href="">
												<img src="__PUBLIC__/Home/img/tx2-3r.png" />
											</a>
											<div class="vip">
												<img src="__PUBLIC__/Home/img/rzlogo.png" />
											</div>
										</div>
										<div class="right">
											<p class="yhmc">
												<a href="">用户名称</a>
											</p>
											<p class="fssl">粉丝数量</p>
											<p>所在地：郑州</p>
											<button class="gz-qx">关注</button>
										</div>
									</li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
					</div>
					<div class="s-main-b">
						<div class="margin">
							<button>点击加载更多</button>
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>

		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js"></script>
	<script src="__PUBLIC__/Home/js/troop.js"></script>

</html>