<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人部队</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/troop.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/component.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
						<div class="h-c-3f">
							<div id="large-header" class="large-header">
								<div class="tbbj">
									<img src="__PUBLIC__/Home/img/demo-2-bg.jpg" />
								</div>
								<canvas id="demo-canvas"></canvas>
							</div>
							<div class="s-f1">
								<div class="bjzl">
									<a href="?s=/Home/User">编辑个人资料</a>
								</div>
								<div class="yhtx">
									<if condition="$dt[imagename]==''">  
                                   <img src="__PUBLIC__/Home/img/yhmc.png"/>
                                   <else />
                                     <img style="width: 120px; height: 120px;border-radius:50%" src="/MatouPCS/Tu/upload/{$dt.imagename}"  /> 
                                   </if>
									<div class="vip">
										<img src="__PUBLIC__/Home/img/rzlogo.png" />
									</div>
								</div>
								<div class="rzbd">
									<a href="?s=/Home/User/rzbd">认证部队</a>
								</div>
							</div>
							<div class="s-f2">
								<p class="yhmc">
									<if condition="$dt[username]==$dt[tel]">
								<a href="">{$dt.username|substr=0,6}</a>
								</if>
								<if condition="$dt[username]!=$dt[tel]">
								<a href="">{$dt.username}</a>
								</if>
								</p>
								<p class="center">
									（{$dt.type_u}）
								</p>
								<div>
									<p class="fsl">
										<span class="icon-fs"></span>  {$dt.fen}
									</p>
									<p class="szd">
										<span class="szd-word"> {$dt.addre}</span>
										<span class="icon-szd szd-top"></span>
									</p>
									<p class="clearfloat"></p>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="s-f3">
								<button class="dn" disabled="disabled">关注</button>
							</div>
							<div class="s-f4">
								<div>
									<a href="?s=/Home/Mtbu/grbddndt/id/{$_GET['id']}">动态</a>
								<a href="?s=/Home/Mtbu/grbddnxq/id/{$_GET['id']}">需求</a>
								<a style="color: #FF5C5D;" href="#">留言区</a>
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
		
		<section>
			<div class="s-main-c">
				<div class="s-main-c-1f">
					<div class="left">
					</div>
					<div id="paixu" class="center">
						<p>排序：</p>
						<a  class="selected" href="javascript://">最新</a>
						<a  href="javascript://">热门</a>
					</div>
					<script>
                    var cNode =document.getElementById('paixu').getElementsByTagName('a');
                            for( var i=0; i<cNode.length; i++){
                                cNode[i].index= i;
                                //用来计算点击次数
                                var paixu = 0;
                                cNode[i].onclick = function(){
                                   paixu+=1; 
                                    if(this.index == 0){
                                        this.index = 'z';  
                                    }else if(this.index == 1){
                                        this.index = 'r';
                                    }
                                 where = this.index;
                           
                              // $('#every').click();
                          // alert(where);
                              // // 这里才是最终的搜索条件
                               id=	{$_GET['id']};
                              remen(where,id);  
                                }
                            }
                        </script>
					<div class="right">
						<input type="text" placeholder="搜索全站" />
						<div class="ss-t">
							<button></button>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="s-main-r">
					<div class="s-c-1f">
						<div class="s-c-1f-3f">
							<div class="top">
								<div class="lyq">
										<h2>留 言 区</h2>
								</div>
								<div class="textarea">
									<textarea id="contents" name="contents"></textarea>
								</div>
								<div class="fbly">
									<button onclick="liuyan({$_GET['id']})">发布留言</button>
								</div>
							</div>
							<script type="text/javascript">
								function liuyan(id){
									var p=id;
									var t = "{:session('id')}";
								
									var contents = $('#contents').val();
									if(contents.replace(/\s+/g, "")){
										$.ajax({
											url:"?s=/Home/Mtbu/grliuyan",
											type:"post",
											data:{id:p,contents:contents},
											dataType:"json",
											success:function(data){
												var li = '';
												for (var i = 0; i < data.length; i++) {
													 var myArray=new Array()
													 var str=data[i].zid;  
													 myArray = str.split(","); 
													 
													 var c = ","; // 要计算的字符
													 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
													 var result = str.match(regex);
													 var count = !result ? 0 : result.length;
													 for(var j=0;j<=count;j++){
														 if(myArray[j]==t){
															 var aa=1;
								
														 }
													 }
													if(aa==1){
														var dianzan='<span id="z'+data[i].lid+'"  class="icon-dz-kz"></span>';
													}else{
														var dianzan='<span id="z'+data[i].lid+'"  class="icon-dz"></span>';
													}
													if(data[i].username==data[i].tel){
														var use = data[i].username.substr(0,5);
														}else{
													     var use = data[i].username;
														}
													if(t==data[i].uid){
														if(data[i].bdlx==1){
															var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
														}else if(data[i].bdlx==6){
															var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
														}else{
															var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
														}
													}else{
														if(data[i].bdlx==1){
															var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
														}else if(data[i].bdlx==6){
															var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
														}else{
															var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
														}
													}
													
													if(data[i].imagename==''){
														var img='<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="" />';
													}else{
												     var img = '<img  width="80" height="80" src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
													}
													
													
													li+='<li><div class="left-tx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><div class="right-xx"><p class="tt"><span class="left">用户'+use+'</span><span class="right">'+data[i].addre+'</span></p><p class="grjj">'+data[i].contents+' </p><div class="bottom"><p class="sj">'+data[i].ltime+'</p><p class="dz dz-qx"><p onclick="zan('+data[i].lid+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span  id="s'+data[i].lid+'">'+data[i].zan+'</span></p></p></div></div><div class="clearfloat"></div></li>';
												
												};
												$('#li').html(li);
												$('#contents').val('');
											},error:function(){
												alert('no');
											}
										});
									}else{
										alert('请填写留言内容在提交');
									}
								}
							</script>
						<ul id="li">
									<foreach name="list" item="lis">
									<li>
									<div class="left-tx">
										<php>if($_SESSION['id'] == $lis['uid']){</php>
									  <if condition="$lis[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$lis.uid}">	
								<elseif condition="$lis[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$lis.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$lis.uid}">
									</if>
									<php>}else{</php>
                                   <if condition="$lis[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$lis.uid}">
								<elseif condition="$lis[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$lis.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$lis.uid}">
								</if>
                              <php>}</php>
                              		 <if condition="$lis[imagename]==''">  
                                			<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="" />
                                   <else />
                                     <img width="80" height="80" src="/MatouPCS/Tu/upload/{$lis.imagename}"  /> 
                                   </if>
									
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-xx">
										<p class="tt">
											<span class="left">
													<if condition="$lis[username]==$lis[tel]">
							                      	{$lis.username|substr=0,5}
								                 </if>
								               <if condition="$lis[username]!=$lis[tel]">
								                {$lis.username}
								                  </if>
											</span>
											<span class="right">{$lis.addre}</span>
										</p>
										<p class="grjj">
												{$lis.contents}
											</p>
											<div class="bottom">
												<p class="sj">{$lis.ltime}</p>
											<p class="dz dz-qx"><p onclick="zan({$lis.lid},{$lis.zan})" class="dz dz-qx">
													<?php $zan = explode(',',$lis['zid']);
														  array_pop($zan);
														   ?>
													<?php if(in_array($_SESSION['id'],$zan)){ ?>
													<span id="z{$lis.lid}" class="icon-dz-kz"></span>
													<?php }else{ ?>
													<span id="z{$lis.lid}" class="icon-dz"></span>
													<?php } ?>
													<span id="s{$lis.lid}">{$lis.zan}</span></p> 
										</div>
									</div>
									<div class="clearfloat"></div>
								</li>
								</foreach>
							</ul>
							<p class="ckgd">
							<a href="?s=/Home/Mtbu/rzbddyly/id/{$_GET['id']}">查看更多 》</a>
							</p>
						</div>
					</div>
				</div>
				<script type="text/javascript">
									var a = 0;
									function zan(lid,zan){
								
										var zan = parseInt(document.getElementById('s'+lid).innerHTML);
										if($('#z'+lid).hasClass('icon-dz')){
											zan += 1;
											$.ajax({
												url:"?s=/Home/Mtbu/grbd_liu_zan/lid/"+lid+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('点赞成功');
													$('#z'+lid).removeClass('icon-dz');
													$('#z'+lid).addClass('icon-dz-kz');
													$('#s'+lid).html(zan);
												},error:function(){
													alert('no');
												}
											});
											
										}else{
											zan -= 1;
											$.ajax({
												url:"?s=/Home/Mtbu/grbd_liu_zan/lid/"+lid+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('取消成功');
													$('#z'+lid).removeClass('icon-dz-kz');
													$('#z'+lid).addClass('icon-dz');
													$('#s'+lid).html(zan);
												},error:function(){
													alert('no');
												}
											});
											
										}
									}
								</script>
			<div id="re" class="s-main-l">
					<div id="contentt" class="s-c-3f">
					<foreach name="list" item="v">
						<div class="s-c-3f-1f">
							<div>
								<div class="yhtx">
								<php>if($_SESSION['id'] == $v['uid']){</php>
									 <if condition="$v[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$v.uid}">
								<elseif condition="$v[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$v.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$v.uid}">
									</if>
									<php>}else{</php>
                              <if condition="$v[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$v.uid}">
								<elseif condition="$v[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$v.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$v.uid}">
									</if>
							
                                       <php>}</php>
										<if condition="$v[imagename]==''">  
                                   <img src="__PUBLIC__/Home/img/yhmc.png"/>
                                   <else />
                                     <img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/{$v.imagename}"  /> 
                                   </if>
									</a>
									<div class="vip">
										<img src="__PUBLIC__/Home/img/rzlogo.png" />
									</div>
									<div class="clearfloat"></div>
								</div>
								<p class="yhmc">
									<if condition="$v[username]==$v[tel]">
							              	{$v.username|substr=0,5}
								            </if>
								            <if condition="$v[username]!=$v[tel]">
								            {$v.username}
								     </if>
								</p>
								<p class="zwmc">
									职位名称： {$v.type_u}
								</p>
								<p class="szd">所在地：{$v.addre}</p>
								<div class="clearfloat"></div>
							</div>
							<p class="dtnr">
							{$v.contents}
							</p>
							<div class="bottom">
								<p class="left">{$v.ltime}</p>
								<div class="right dz-qx">
										<p onclick="zan1({$v.lid},{$v.zan})" class="dz dz-qx">
													<?php $zan = explode(',',$v['zid']);
														  array_pop($zan);
														   ?>
													<?php if(in_array($_SESSION['id'],$zan)){ ?>
													<span id="zz{$v.lid}" style="font-size: 15px;"class="icon-dz-kz"></span>
													<?php }else{ ?>
													<span id="zz{$v.lid}" style="font-size: 15px;" class="icon-dz"></span>
													<?php } ?>
													<span style="font-size: 15px;" id="ss{$v.lid}">{$v.zan}</span></p> 
								</div>
								<p class="clearfloat"></p>
							</div>
							<div class="clearfloat"></div>
						</div>
					</foreach>
					</div>
			<script type="text/javascript">
									var a = 0;
									function zan1(lid,zan){
										var zan = parseInt(document.getElementById('ss'+lid).innerHTML);
										if($('#zz'+lid).hasClass('icon-dz')){
											zan += 1;
											$.ajax({
												url:"?s=/Home/Mtbu/grbd_liu_zan/lid/"+lid+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('点赞成功');
													$('#zz'+lid).removeClass('icon-dz');
													$('#zz'+lid).addClass('icon-dz-kz');
													$('#ss'+lid).html(zan);
												},error:function(){
													alert('no');
												}
											});
											
										}else{
											zan -= 1;
											$.ajax({
												url:"?s=/Home/Mtbu/grbd_liu_zan/lid/"+lid+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('取消成功');
													$('#zz'+lid).removeClass('icon-dz-kz');
													$('#zz'+lid).addClass('icon-dz');
													$('#ss'+lid).html(zan);
												},error:function(){
													alert('no');
												}
											});
											
										}
									}
								</script>
					<div class="s-main-b">
						<div class="margin">
							<button onclick="tj({$_GET['id']})" name='btnn' id='btnn' >点击加载更多</button>
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
<script type="text/javascript">
var p=2;
  function tj(id){
	 
	  var t = "{:session('id')}";
	
		$.ajax({
			type:'post',
			url:"{:U('Mtbu/grlyjzdt')}",
			data:{k:p,id:id},
			beforeSend:function(){
	         $("#conn").append("<div id='load'>加载中……</div>");
			},
			success:function(data){
	
				if(data!=null){				
						//alert(1);
									 for (var i = 0; i < data.length; i++) {
						                                   												
							 var myArray=new Array()
							 var str=data[i].zid;  
							 myArray = str.split(","); 
							 
							 var c = ","; // 要计算的字符
							 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
							 var result = str.match(regex);
							 var count = !result ? 0 : result.length;
							 for(var j=0;j<=count;j++){
								 if(myArray[j]==t){
									 var aa=1;
		
								 }
							 }
							if(aa==1){
								var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz-kz"></span>';
							}else{
								var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz"></span>';
							}
							 if(data[i].username==data[i].tel){
									var use = data[i].username.substr(0,5);
									}else{
								     var use = data[i].username;
									}
							   if(t==data[i].uid){
									if(data[i].bdlx==1){
										var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
									}else if(data[i].bdlx==6){
										var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
									}else{
										var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
									}
								}else{
									if(data[i].bdlx==1){
										var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
									}else if(data[i].bdlx==6){
										var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
									}else{
										var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
									}
								}
								if(data[i].imagename==null){
									var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
								}else{
							     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
								}
						$("#contentt").append('<div class="s-c-3f-1f"><div><div class="yhtx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div><div class="clearfloat"></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="zwmc"> 职位名称： '+data[i].type_u+'</p><p class="szd">所在地：'+data[i].addre+'</p><div class="clearfloat"></div></div><p class="dtnr"> '+data[i].contents+'</p><div class="bottom"><p class="left">'+data[i].ltime+'</p><!--<span class="delete"><img src="img/delete-2.png" /></span>--><div class="right dz-qx"><p onclick="zan1('+data[i].lid+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 15px;" id="ss'+data[i].lid+'">'+data[i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>');
	 		
						 }
				}else{
					 //alert(22);
					 document.getElementById('btn').innerHTML = '加载完毕';
	 				flag=true;	
				}	
	 },
	 	complete:function(){
	           $("#load").remove();
			},
		 	dataType:'json'
		 	});
	 	p++;
// alert(p);
  }


	function remen(where,id){
		var t = "{:session('id')}";
	if(where=='z'){
			$.ajax({
				url:"?s=/Home/Mtbu/grbddnlyre",
				type:"post",
				data:{where:where,id:id},
				dataType:"json",
				success:function(data){

	                   var li='';
	      			 for (var i = 0; i < data.length; i++) {
							
						 var myArray=new Array()
						 var str=data[i].zid;  
						 myArray = str.split(","); 
						 
						 var c = ","; // 要计算的字符
						 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
						 var result = str.match(regex);
						 var count = !result ? 0 : result.length;
						 for(var j=0;j<=count;j++){
							 if(myArray[j]==t){
								 var aa=1;

							 }
						 }
						if(aa==1){
							var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz-kz"></span>';
						}else{
							var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz"></span>';
						}
						 if(data[i].username==data[i].tel){
								var use = data[i].username.substr(0,5);
								}else{
							     var use = data[i].username;
								}
						   if(t==data[i].uid){
								if(data[i].bdlx==1){
									var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
								}else if(data[i].bdlx==6){
									var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
								}else{
									var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
								}
							}else{
								if(data[i].bdlx==1){
									var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
								}else if(data[i].bdlx==6){
									var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
								}else{
									var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
								}
							}
							if(data[i].imagename==null){
								var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
							}else{
						     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
							
								}
							li+='<div class="s-c-3f-1f"><div><div class="yhtx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div><div class="clearfloat"></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="zwmc"> 职位名称： '+data[i].type_u+'</p><p class="szd">所在地：'+data[i].addre+'</p><div class="clearfloat"></div></div><p class="dtnr"> '+data[i].contents+'</p><div class="bottom"><p class="left">'+data[i].ltime+'</p><!--<span class="delete"><img src="img/delete-2.png" /></span>--><div class="right dz-qx"><p onclick="zan1('+data[i].lid+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 15px;" id="ss'+data[i].lid+'">'+data[i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>';
										
							
						};
						var p ='<div id="ha">'+li+'</div><div class="s-main-b"><div class="margin"><button onclick="tj1({$_GET['id']})" name="btn1" id="btn1" >点击加载更多</button></div></div>';
						$('#re').html(p);
					//$('#re').val('');
				},error:function(){
					alert('no');
				}
			});
	}else{
		$.ajax({
			url:"?s=/Home/Mtbu/grbddnlyre",
			type:"post",
			data:{where:where,id:id},
			dataType:"json",
			success:function(data){

                var li='';
   			 for (var i = 0; i < data.length; i++) {
						
					 var myArray=new Array()
					 var str=data[i].zid;  
					 myArray = str.split(","); 
					 
					 var c = ","; // 要计算的字符
					 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
					 var result = str.match(regex);
					 var count = !result ? 0 : result.length;
					 for(var j=0;j<=count;j++){
						 if(myArray[j]==t){
							 var aa=1;

						 }
					 }
					if(aa==1){
						var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz-kz"></span>';
					}else{
						var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz"></span>';
					}
					 if(data[i].username==data[i].tel){
							var use = data[i].username.substr(0,5);
							}else{
						     var use = data[i].username;
							}
					   if(t==data[i].uid){
							if(data[i].bdlx==1){
								var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
							}else if(data[i].bdlx==6){
								var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
							}else{
								var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
							}
						}else{
							if(data[i].bdlx==1){
								var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
							}else if(data[i].bdlx==6){
								var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
							}else{
								var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
							}
						}
						if(data[i].imagename==null){
							var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
						}else{
					     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
						
							}
						li+='<div class="s-c-3f-1f"><div><div class="yhtx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div><div class="clearfloat"></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="zwmc"> 职位名称： '+data[i].type_u+'</p><p class="szd">所在地：'+data[i].addre+'</p><div class="clearfloat"></div></div><p class="dtnr"> '+data[i].contents+'</p><div class="bottom"><p class="left">'+data[i].ltime+'</p><!--<span class="delete"><img src="img/delete-2.png" /></span>--><div class="right dz-qx"><p onclick="zan1('+data[i].lid+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 15px;" id="ss'+data[i].lid+'">'+data[i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>';
									
						
					};
					var p ='<div id="ha">'+li+'</div><div class="s-main-b"><div class="margin"><button onclick="tj1({$_GET['id']})" name="btn1" id="btn1" >点击加载更多</button></div></div>';
					$('#re').html(p);
				//$('#re').val('');
			},error:function(){
				alert('no');
			}
		});
	}
	}
	var pc=2;
	  function tj1(id){
			 
			var t = "{:session('id')}";
			// alert(id);
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/grlyjzdtre')}",
					data:{k:pc,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data);
						if(data!=null){				
							 for (var i = 0; i < data.length; i++) {
									
								 var myArray=new Array()
								 var str=data[i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz"></span>';
								}
								 if(data[i].username==data[i].tel){
										var use = data[i].username.substr(0,5);
										}else{
									     var use = data[i].username;
										}
								   if(t==data[i].uid){
										if(data[i].bdlx==1){
											var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
										}else if(data[i].bdlx==6){
											var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
										}else{
											var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
										}
									}else{
										if(data[i].bdlx==1){
											var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
										}else if(data[i].bdlx==6){
											var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
										}else{
											var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
										}
									}
									if(data[i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
									}
							$("#ha").append('<div class="s-c-3f-1f"><div><div class="yhtx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div><div class="clearfloat"></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="zwmc"> 职位名称： '+data[i].type_u+'</p><p class="szd">所在地：'+data[i].addre+'</p><div class="clearfloat"></div></div><p class="dtnr"> '+data[i].contents+'</p><div class="bottom"><p class="left">'+data[i].ltime+'</p><!--<span class="delete"><img src="img/delete-2.png" /></span>--><div class="right dz-qx"><p onclick="zan1('+data[i].lid+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 15px;" id="ss'+data[i].lid+'">'+data[i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>');
		 		
								 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	pc++;
		// alert(p);
		  }
	  var pd=2;
	  function tj2(id){
			 
		  var t = "{:session('id')}";
		
			$.ajax({
				type:'post',
				url:"{:U('Mtbu/grlyjzdt')}",
				data:{k:p,id:id},
				beforeSend:function(){
		         $("#ha").append("<div id='load'>加载中……</div>");
				},
				success:function(data){
		
					if(data!=null){				
						 for (var i = 0; i < data.length; i++) {
								
							 var myArray=new Array()
							 var str=data[i].zid;  
							 myArray = str.split(","); 
							 
							 var c = ","; // 要计算的字符
							 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
							 var result = str.match(regex);
							 var count = !result ? 0 : result.length;
							 for(var j=0;j<=count;j++){
								 if(myArray[j]==t){
									 var aa=1;
		
								 }
							 }
							if(aa==1){
								var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz-kz"></span>';
							}else{
								var dianzan='<span id="zz'+data[i].lid+'" style="font-size:15px;" class="icon-dz"></span>';
							}
							 if(data[i].username==data[i].tel){
									var use = data[i].username.substr(0,5);
									}else{
								     var use = data[i].username;
									}
							   if(t==data[i].uid){
									if(data[i].bdlx==1){
										var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
									}else if(data[i].bdlx==6){
										var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
									}else{
										var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
									}
								}else{
									if(data[i].bdlx==1){
										var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
									}else if(data[i].bdlx==6){
										var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
									}else{
										var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
									}
								}
								if(data[i].imagename==null){
									var img='<img src="__PUBLIC__/Home/img/pltx.png" alt="" />';
								}else{
							     var img = '<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" /> ';
								}
						$("#ha").append('<div class="s-c-3f-1f"><div><div class="yhtx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div><div class="clearfloat"></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="zwmc"> 职位名称： '+data[i].type_u+'</p><p class="szd">所在地：'+data[i].addre+'</p><div class="clearfloat"></div></div><p class="dtnr"> '+data[i].contents+'</p><div class="bottom"><p class="left">'+data[i].ltime+'</p><!--<span class="delete"><img src="img/delete-2.png" /></span>--><div class="right dz-qx"><p onclick="zan1('+data[i].lid+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 15px;" id="ss'+data[i].lid+'">'+data[i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>');
	 		
							 }
					}else{
						 //alert(22);
						 document.getElementById('btn').innerHTML = '加载完毕';
		 				flag=true;	
					}	
		 },
		 	complete:function(){
		           $("#load").remove();
				},
			 	dataType:'json'
			 	});
		 	pd++;
	// alert(p);
	  }

</script>

		</section>
	<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js"></script>
	<script src="__PUBLIC__/Home/js/troop.js"></script>
	<script src="__PUBLIC__/Home/js/rAF.js"></script>
	<script src="__PUBLIC__/Home/js/demo-2.js"></script>

</html>