<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>码头部队</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/mtbu-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/datePicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/hzw-city-picker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/2rank.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.fs.boxer.css" />
		<style>
			.s-f1-r ul li a .img {
				margin-top: 15px;
				margin-right: 10px;
				float: right;
			}
			
			.select-yfb {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-yfb ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-yfb ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			
			.select-yfb ul li a {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			
			.select-xx {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-xx ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-xx ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			
			.select-xx ul li a {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
		</style>
	</head>


	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
						<div class="h-c-2f">
							<div class="s-f2-l-f">
								<div class="f2-l-1-f">
									<a href="?s=/Home/Index">
										<img src="__PUBLIC__/Home/img/logo.png" alt="喜事码头" />
									</a>
								</div>
								<div class="f2-l-3-f">
									<h1>码头部队</h1>
								</div>
							</div>
							<div class="s-f2-r-f">
								<div class="demo">
									
										<ul>
											<li><input type="text" id="tt" value="" class="text" autocomplete="off" /></li>
											<li><input type="submit" value="搜索" class="button" /></li>
											<li>
												<a href="" class="button2">商家认证部队</a>
											</li>
											<div class="clear"></div>
										</ul>
								</div>
							</div>
						</div>
						<div class="h-c-4f">
							<img src="__PUBLIC__/Home/img/banner.png" />
						</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="titlena">
				<img src="__PUBLIC__/Home/img/swtitle.png">
				<div class="rhide">
					<img src="__PUBLIC__/Home/img/hide.png">
				</div>
			</div>
			<div class="fbtype">
				<a>类型：</a>
				<a href="#">
					<p id="fbp1">婚礼喜事</p>
				</a>
				<a href="#" style="margin-left: 24px;">
					<p id="fbp2">门面活动</p>
				</a>
			</div>
			<div class="spfx"></div>
			<div class="content">
				<textarea style="resize: none; width: 420px; height: 100px;border-radius: 15px;margin-left: 40px; border: 0;padding: 10px;"></textarea>
			</div>
			<div class="swbtn">
				<div class="swbtn-c">
					<div>
						<img src="__PUBLIC__/Home/img/addp.png" />
					</div>
					<div style="margin-left: 10px;">
						<img src="__PUBLIC__/Home/img/adds.png" />
					</div>
					<button class="tjbtn" id="tjbtn">发布</button>
				</div>
			</div>
		</div>
		<section>
			<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f" style="margin-top:30px;">
						<p style="float: left; display: block; width: 60px; line-height: 30px; font-size: 14px; margin-right: 30px;">所在地区</p>
	                            <form name="xxoo">
											<input type="text" id="xz-city" placeholder="请选择地区" readonly="readonly" value="" data-value="" onclick="appendCity(this,'danxuan')">
										</form>
								
						<img src="__PUBLIC__/Home/img/mtbutitle.png" />
					</div>
						<script type="text/javascript">				
							var url_ajax = "?s=/Home/Box/bddz";//这个路径是真正显示列表的
							    function getPage() {
							    	//alert(getCookie("add"));
							         $("#xxoos").html("<h1>请稍等。。。</h1>");
							         var address = getCookie("add");//活动时间
							         $.get(url_ajax, {address:address}, function(data) {
							        	   //	alert(data);
							            $('#xxoos').html(data);
							        })
							    }
							    getPage();
							    </script>
					
				
					<div   class="s-c-2f">
						<div style="width: 850px;">
							<div class="s-f2l-c1">
								<ul>
									<li>
										<a class="selected-tab" href="javascript://">热门动态</a>
									</li>
									<li>
										<a href="javascript://"  onclick="gzs(1)">工作室</a>
									</li>
									<li>
										<a href="javascript://" onclick="gzs(2)">表演团</a>
									</li>
									<li>
										<a href="javascript://" onclick="gzs(3)">婚庆公司</a>
									</li>
									<li>
										<a href="javascript://" onclick="gzs(4)">影楼</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<br>
					<div>
					<div class="con" id="re">
					
					<div id="xxoos">
					
				</div>
					</div>
					<div class="con">
				
						<div class="s-c-3f">
							<div class="f3-t-1">
							
								<ul id='xxoo1'>
									<div class="clear"></div>
								</ul>
				
						</div>
						</div>
						<div class="djjzgd">
							<button onclick="tj1()" name='btn1' id='btn1' >点击加载更多</button>
						</div>
					</div>
					<div class="con">
							<div class="s-c-3f">
							<div class="f3-t-1">
								<ul id="xxoo2">
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						  <div class="djjzgd">
							<button onclick="tj2()" name='btnn' id='btnn' >点击加载更多</button>
						</div>
					</div>
					
					
					<div class="con">
							<div class="s-c-3f">
							<div class="f3-t-1">
								<ul id="xxoo3">
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						  <div class="djjzgd">
							<button onclick="tj3()" name='btn3' id='btn3' >点击加载更多</button>
						</div>
					</div>
					<div class="con">
							<div class="s-c-3f">
							<div class="f3-t-1">
								<ul id='xxoo4'>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
					<div class="djjzgd">
							<button onclick="tj4()" name='btn4' id='btn4' >点击加载更多</button>
						</div>
					</div>
					<!--<div class="s-c-3f2">

					</div>-->
				</div>
				</div>
  	<script type="text/javascript">
									var a = 0;
									function zan1(did,zan){
						
										var zan = parseInt(document.getElementById('s'+did).innerHTML);
										if($('#z'+did).hasClass('icon-dz')){
											zan += 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_gt_zan/did/"+did+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('点赞成功');
													$('#z'+did).removeClass('icon-dz');
													$('#z'+did).addClass('icon-dz-kz');
													$('#s'+did).html(zan);
												},error:function(){
													alert('n2o');
												}
											});
											
										}else{
											zan -= 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_gt_zan/did/"+did+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('取消成功');
													$('#z'+did).removeClass('icon-dz-kz');
													$('#z'+did).addClass('icon-dz');
													$('#s'+did).html(zan);
												},error:function(){
													alert('n4o');
												}
											});
											
										}
									}
		
	function gzs(id){
		 var address = getCookie("add");//活动时间 
	//	alert(id);	
	//	alert(address);
				$.ajax({
					url:"?s=/Home/Mtbu/dongtaidi",
					type:"post",
					data:{id:id,address:address},
					dataType:"json",
					success:function(data){
						//alert(data);	
	                   var li='';
						for (var i = 0; i < data.length; i++) {
						
							li+='<li><a href="#"><div class="f3-t-1-c1"><img src="__PUBLIC__/Home/img/bdmc.png" /></div><div class="f3-t-1-c2"><p>'+data[i].forcename+'</p></div><div class="f3-t-1-c3l"><p>部队类型:'+data[i].type_bd+'</p></div><div class="f3-t-1-c3r"><p>粉丝数量100</p></div><div class="f3-t-1-c4"><p>'+data[i].content+'...</p></div><div class="f3-t-1-c5"><p>所在地：'+data[i].address+'</p></div><div class="clearfloat"></div></a></li>';
										
							
						};
						var p = '<div class="clear"></div>';
						$('#xxoo'+id).html(li+p);
						$('#xxoo'+id).val('');
					},error:function(){
						alert('no');
					}
				});
			
		}
		</script>
	<script type="text/javascript">
	 var c=2;
	  
	  function tj(){	
		  var t = "{:session('id')}";
	      var address = getCookie("add");//活动时间
	//	alert(1);
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/buduijzre')}",
					data:{k:c,address:address},
					beforeSend:function(){
			         $("#contentt").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
				
						if(data!=null){		
							
	               	 for (var i = 0; i < data['nr'].length; i++) {
							if(data['nr'][i].zid==null){
								 var aa=2;
							}else{
	               		 var myArray=new Array()
						 var str=data['nr'][i].zid;  
						 myArray = str.split(","); 
						 
						 var c = ","; // 要计算的字符
						 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
						 var result = str.match(regex);
						 var count = !result ? 0 : result.length;
						 for(var j=0;j<=count;j++){
							 if(myArray[j]==t){
								 var aa=1;
	
							 }
						 }
							}
						if(aa==1){
							var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
						}else{
							var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
						}
						if(data['nr'][i].uid==t){
							var href='<a href="?s=/Home/Mtbu/spbddndt/id/'+data['nr'][i].uid+'">';
						}else{
							var href='<a href="?s=/Home/Mtbu/spbddydt/id/'+data['nr'][i].uid+'">';
						}
	               		 if(data['nr'][i].imagename==''){
	               			var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
	               		 }else{
	               			var img='<img src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'"  width="60" height="60" style="border-radius:50%"/>';
	               		 }
	               	    if(data['nr'][i].username==data['nr'][i].tel){
							var use = data['nr'][i].username.substr(0,5);
							}else{
						     var use = data['nr'][i].username;
							}	
	               	 var p='';
	                	 for (var j= 0; j < data['tu'].length; j++) {
							 if(data['nr'][i].did==data['tu'][j].pid){

								p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
							 }
						 }
	               		$("#contentt").append('<div class="s-c-3f-1f"><div class="yhtx">'+href+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="zw">职位名称： '+data['nr'][i].type_u+'<</p><p class="szd">所在地： '+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'<div class="clear"></div></ul><div class="bottom"><p class="left"> '+data['nr'][i].time+'</p><div class="right dz-qx"><p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><div class="clear"></div></div><div class="clear"></div></div></div>');
				 		
								 }
						}else{
							 //alert(22);
							 document.getElementById('btn').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	c++;
		// alert(p);
		  }  
		 var w=2;
		  function tj1(){	
			   var address = getCookie("add");//活动时间
			//	 alert(1);
					$.ajax({
						type:'post',
						url:"{:U('Mtbu/buduijzgz')}",
						data:{k:w,address:address},
						beforeSend:function(){
				         $("#xxoo1").append("<div id='load'>加载中……</div>");
						},
						success:function(data){
							// alert(data);
							if(data!=null){				
									//alert(1);
									
									 for (var i = 0; i < data.length; i++) {
							
									$("#xxoo1").prepend('<li><a href="#"><div class="f3-t-1-c1"><img src="__PUBLIC__/Home/img/bdmc.png" /></div><div class="f3-t-1-c2"><p>'+data[i].forcename+'</p></div><div class="f3-t-1-c3l"><p>部队类型:'+data[i].type_bd+'</p></div><div class="f3-t-1-c3r"><p>粉丝数量100</p></div><div class="f3-t-1-c4"><p>'+data[i].content+'...</p></div><div class="f3-t-1-c5"><p>所在地：'+data[i].address+'</p></div><div class="clearfloat"></div></a></li>');
				 		
									 }
							}else{
								 //alert(22);
								 document.getElementById('btn1').innerHTML = '加载完毕';
				 				flag=true;	
							}	
				 },
				 	complete:function(){
				           $("#load").remove();
						},
					 	dataType:'json'
					 	});
				 	w++;
			// alert(p);
			  }  
			 var t=2;
			  function tj2(){
				   var address = getCookie("add");//活动时间
					//alert(2);
						$.ajax({
							type:'post',
							url:"{:U('Mtbu/buduijzby')}",
							data:{k:t,address:address},
							beforeSend:function(){
					         $("#xxoo2").append("<div id='load'>加载中……</div>");
							},
							success:function(data){
							//	alert(data);
								if(data!=null){				
										//alert(1);
										
										 for (var i = 0; i < data.length; i++) {
								
										$("#xxoo2").prepend('<li><a href="#"><div class="f3-t-1-c1"><img src="__PUBLIC__/Home/img/bdmc.png" /></div><div class="f3-t-1-c2"><p>'+data[i].forcename+'</p></div><div class="f3-t-1-c3l"><p>部队类型:'+data[i].type_bd+'</p></div><div class="f3-t-1-c3r"><p>粉丝数量100</p></div><div class="f3-t-1-c4"><p>'+data[i].content+'...</p></div><div class="f3-t-1-c5"><p>所在地：'+data[i].address+'</p></div><div class="clearfloat"></div></a></li>');
					 		
										 }
								}else{
									 //alert(22);
									 document.getElementById('btnn').innerHTML = '加载完毕';
					 				flag=true;	
								}	
					 },
					 	complete:function(){
					           $("#load").remove();
							},
						 	dataType:'json'
						 	});
					 	t++;
				// alert(p);
				  } 
				 var r=2;
				  function tj3(){	
					   var address = getCookie("add");//活动时间; 
					//	 alert(1);
							$.ajax({
								type:'post',
								url:"{:U('Mtbu/buduijzhq')}",
								data:{k:r,address:address},
								beforeSend:function(){
						         $("#xxoo3").append("<div id='load'>加载中……</div>");
								},
								success:function(data){
									// alert(data);
									if(data!=null){				
											//alert(1);
											
											 for (var i = 0; i < data.length; i++) {
									
											$("#xxoo3").prepend('<li><a href="#"><div class="f3-t-1-c1"><img src="__PUBLIC__/Home/img/bdmc.png" /></div><div class="f3-t-1-c2"><p>'+data[i].forcename+'</p></div><div class="f3-t-1-c3l"><p>部队类型:'+data[i].type_bd+'</p></div><div class="f3-t-1-c3r"><p>粉丝数量100</p></div><div class="f3-t-1-c4"><p>'+data[i].content+'...</p></div><div class="f3-t-1-c5"><p>所在地：'+data[i].address+'</p></div><div class="clearfloat"></div></a></li>');
						 		
											 }
									}else{
										 //alert(22);
										 document.getElementById('btn3').innerHTML = '加载完毕';
						 				flag=true;	
									}	
						 },
						 	complete:function(){
						           $("#load").remove();
								},
							 	dataType:'json'
							 	});
						 	r++;
					// alert(p);
					  } 
					 var e=2;
					  function tj4(){
						   var address = getCookie("add");
							// alert(1);
								$.ajax({
									type:'post',
									url:"{:U('Mtbu/buduijzyl')}",
									data:{k:e,address:address},
									beforeSend:function(){
							         $("#xxoo4").append("<div id='load'>加载中……</div>");
									},
									success:function(data){
										// alert(data);
										if(data!=null){				
												//alert(1);
												
												 for (var i = 0; i < data.length; i++) {
										
												$("#xxoo4").prepend('<li><a href="#"><div class="f3-t-1-c1"><img src="__PUBLIC__/Home/img/bdmc.png" /></div><div class="f3-t-1-c2"><p>'+data[i].forcename+'</p></div><div class="f3-t-1-c3l"><p>部队类型:'+data[i].type_bd+'</p></div><div class="f3-t-1-c3r"><p>粉丝数量100</p></div><div class="f3-t-1-c4"><p>'+data[i].content+'...</p></div><div class="f3-t-1-c5"><p>所在地：'+data[i].address+'</p></div><div class="clearfloat"></div></a></li>');
							 		
												 }
										}else{
											 //alert(22);
											 document.getElementById('btn4').innerHTML = '加载完毕';
							 				flag=true;	
										}	
							 },
							 	complete:function(){
							           $("#load").remove();
									},
								 	dataType:'json'
								 	});
							 	e++;
						// alert(p);
						  } 
	  </script>
					<div class="s-main-r">
					<div class="s-r-3f">
						<div>
							<a href="javascript://">
								<h2>热门部队</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>

					<div class="s-r-4f">
						<ul>
							<!-- 热门部队 -->
							
								<div class="s-r-4f">
						<ul>
						<foreach name="listn" item="listns">
							<li>
									<?php if($_SESSION['id'] == $listns['uid']){ ?>
										<a href="?s=/Home/Mtbu/rzbddydt/id/{$listns.uid}">
									<?php }else{ ?>
										<a href="?s=/Home/Mtbu/rzbddydt/id/{$listns.uid}">
									<?php } ?>
									<div class="tj">
										<div class="tj-img">
												<if condition="$listns[logo]==''">  
                                	<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
                                   <else />
                                     <img style="border-radius:50%" width="101" height="101" src="/matouPCS/Tu/upload/{$listns.logo}"  /> 
                                   </if>
										</div>
										<div class="tj_01">
											<strong class="tj_01_01">{$listns.forcename}</strong>
											<p class="tj_01_02">
												<span class="black-333">部队类型：</span> {$listns.type}
											</p>
											<p class="tj_01_02">
												<span class="black-333">粉丝数量：</span> {$listns.fen}
											</p>
											<p class="tj_01_02">
												<span class="black-333">所在地点：</span> {$listns.address}
											</p>
										</div>
										<div class="clear"></div>
										<div>
											<p class="tj_01_04">
												<span class="black-333">主营产品：</span>
												<span class="text36">{$listns.content}</span>
											</p>
										</div>
									</div>
								</a>
							</li>
							</foreach>

							<!--<li class="clearfloat"></li>-->
						</ul>

					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
		</section>
		<br>
		<br>
		<br>
		<include file="Public/foote"/>
		<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
      <script src="__PUBLIC__/Home/js/City_data.js"></script>
        <script src="__PUBLIC__/Home/js/bddz.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.bigautocomplete.js"></script>	
		<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".con").eq(0).show();
				$(".s-f2l-c1 ul li a").click(function() {
					var num = $(".s-f2l-c1 ul li a").index(this);
					$(".con").hide();
					$(".con").eq(num).show().slblings().hide();
				})
			});
			
		


		</script>
	</body>

</html>