<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>认证部队</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/troop.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.fs.boxer.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/style-xlb.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/component.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
						<div class="h-c-3f">
							<div id="large-header" class="large-header">
								<div class="tbbj">
									<img src="__PUBLIC__/Home/img/demo-2-bg.jpg" />
								</div>
								<canvas id="demo-canvas"></canvas>
							</div>
							<div class="s-f1">
								<div class="bjzl">
									<a href="?s=/Home/User">编辑个人资料</a>
								</div>
								<div class="yhtx">
										<if condition="$list[imagename]==''">  
                                   <img src="__PUBLIC__/Home/img/yhmc.png"/>
                                   <else />
                                     <img style="width: 120px; height: 120px;border-radius:50%" src="/matouPCS/Tu/upload/{$list.imagename}"  /> 
                                   </if>
									<div class="vip">
										<img src="__PUBLIC__/Home/img/rzlogo.png" />
									</div>
								</div>
							
							</div>
							<div class="s-f2">
								<p class="yhmc">
										<if condition="$list[username]==$list[tel]">
								<a href="">{$list.username|substr=0,6}</a>
								</if>
								<if condition="$list[username]!=$list[tel]">
								<a href="">{$list.username}</a>
								</if>
								</p>
								<p class="center">
									（{$list.type_u}）
								</p>
								<div>
									<p class="fsl">
										<span class="icon-fs"></span> {$list.fen}
									</p>
									<p class="szd">
										<span class="szd-word">{$list.addre}</span>
										<span class="icon-szd szd-top"></span>
									</p>
									<p class="clearfloat"></p>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="s-f3">
								<button class="dn" disabled="disabled">关注</button>
							</div>
							<div class="s-f4">
								<div class="rzbd">
								<a rel="nofollow" style="width: 120px;" href="">基本信息</a>
									<a class="red" href="rzbddndt.php">动态</a>
									<a href="?s=/Home/Mtbu/rzbddnxq/id/{$_GET['id']}">需求</a>
									<a rel="nofollow" id="zp" href="">作品</a>
									<a style="width: 105px;" href="?s=/Home/Mtbu/rzbddnly/id/{$_GET['id']}">留言区</a>
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-c-1f">
					<div class="left-dt">
						<p>全部动态</p>
						<img src="__PUBLIC__/Home/img/xxjt.png" />
						<div class="select-dt">
								<ul id="typee">
									<li>
									<a rel="nofollow" href="javascript://">全部动态</a>
								</li>
								<li>
									<a rel="nofollow" href="javascript://">活动动态</a>
								</li>
							</ul>
						</div>
					</div>
						  <script>
            var cNode =document.getElementById('typee').getElementsByTagName('li');
                    for( var i=0; i<cNode.length; i++){
                        cNode[i].index= i;
                        //用来计算点击次数
                        var type = 0;
                        cNode[i].onclick = function(){
                           type+=1; 
                            if(this.index == 0){
                                this.index = '全部动态';  
                            }else if(this.index == 1){
                                this.index = '活动动态';
                            }
                         
                            types = this.index;
                            if(types == '全部动态'){
                            	types = '1';
                            }else{
                            	types = '2';
                            }
                          if( paixu > 0){
                                
                                var where = types+paixus;
                            }else{
                                var where = types;
                            }
                        
                       
                        // $('#every').click();
                     // alert(where);
                        // // 这里才是最终的搜索条件
                       id=	{$_GET['id']};
                       // alert(id);
                    ajax(where,id);  
                            
                        }
                    }
                </script>
					<div id="paixu" class="center">
						<p>排序：</p>
						<a class="selected" href="javascript://">热门</a>
						<a href="javascript://">最新</a>
					</div>
						<script>
                    var cNode =document.getElementById('paixu').getElementsByTagName('a');
                            for( var i=0; i<cNode.length; i++){
                                cNode[i].index= i;
                                //用来计算点击次数
                                var paixu = 0;
                                cNode[i].onclick = function(){
                                   paixu+=1; 
                                    if(this.index == 0){
                                        this.index = 'z';  
                                    }else if(this.index == 1){
                                        this.index = 'r';
                                    }
                                 paixus = this.index;
                                  
                                   if( type > 0){
                                       
                                       var where = types+paixus;
                                   }else{
                                       var where =paixus;
                                   }
                               
                                // $('#every').click();
                       //   alert(where);
                                // // 这里才是最终的搜索条件
                                id=	{$_GET['id']}; 
                             ajax(where,id);  
                                    
                                }
                            }
                        </script>
					<div class="right">
						<input type="text" placeholder="搜索全站" />
						<div class="ss-t">
							<button></button>
						</div>
					</div>
				</div>
				<div class="s-main-r">
					<div class="s-c-4f">
						<div class="s-c-4f-main">
							<div class="s-c-4f-1f">
								<div class="title">
									<h2>基 本 信 息</h2>
								</div>
								<div class="bj">
									<a href="">
										<img src="__PUBLIC__/Home/img/bj-gray.png" />
									</a>
								</div>
								<div class="clearfloat"></div>
							</div>
							<div class="s-c-4f-2f">
								<div class="jbxx">
									<ul class="left">
										<li>部队名称：</li>
										<li>部队类型：</li>
										<li>详细地址：</li>
										<li>联系电话：</li>
										<li>QQ号：</li>
										<li style="height: 64px;">部队简介：</li>
										<li>官网链接：</li>
									</ul>
										<ul class="right">
										<li>{$list.forcename}</li>
										<li>{$list.type_bd}</li>
										<li>{$list.address}</li>
										<li>
												<span class="tel">{$list.tels|substr=0,3}XXXX{$list.tels|substr=8,11}</span>
											<button id="btnConfirm">查看</button><input type="hidden" id="xp" value="{$list.tels}">
										</li>
										<li>{$list.qqs}</li>
										<li class="bdjj">
										{$list.content}
										</li>
										<li>{$list.lianjie}</li>
									</ul>
									<ul class="clearfloat"></ul>
								</div>
							</div>
							<div class="s-c-4f-3f">
								<div class="title">
									<h2>作 品</h2>
								</div>
								<div class="bj">
									<a href="">
										<img src="__PUBLIC__/Home/img/bj-gray.png" />
									</a>
								</div>
								<div class="clearfloat"></div>
							</div>
							<div class="s-c-4f-4f">
								<div class="zp">
									<a class="selected" href="javascript://">照片作品</a>
									<a href="javascript://">视频作品</a>
									<!--<a class="clearfloat"></a>-->
								</div>
							</div>
							<div class="con">
								<div class="s-c-4f-5f">
									<div class="filter">
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
										<a rel="gallery2" class="boxer" href="__PUBLIC__/Home/img/banner_big01.png">
											<img src="__PUBLIC__/Home/img/banner_big01.png" alt="" />
										</a>
									</div>
									<div class="page">共12张（点击查看）</div>
								</div>
							</div>
							<div class="con" style="display: none;">
								<div class="s-c-4f-6f">
									<div class="mkeFocus">
										<div class="mkeUl">
											<ul>
												<li>
													<a href="" target="_blank">
														<img src="__PUBLIC__/Home/img/banner_small01.png" width="264" height="264" alt="" />
														<span>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</span>
													</a>
												</li>
												<li>
													<a href="" target="_blank">
														<img src="__PUBLIC__/Home/img/banner_small02.png" width="264" height="264" alt="" />
														<span>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</span>
													</a>
												</li>
												<li>
													<a href="" target="_blank">
														<img src="__PUBLIC__/Home/img/banner_small03.png" width="264" height="264" alt="" />
														<span>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</span>
													</a>
												</li>
												<li>
													<a href="" target="_blank">
														<img src="__PUBLIC__/Home/img/banner_small04.png" width="264" height="264" alt="" />
														<span>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</span>
													</a>
												</li>
											</ul>
											<div class="mkeNum"><span class="mke_ns1">1</span>/<span class="mke_ns2">1</span></div>
											<div class="mkeLbtn"></div>
											<div class="mkeRbtn"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="s-c-1f">
						<div class="s-c-1f-3f">
							<div class="top">
								<div class="lyq">
									<h2>留 言 区</h2>
								</div>
								<div class="textarea">
									<textarea id="contents"></textarea>
								</div>
								<div class="fbly">
										<button onclick="liuyan({$_GET['id']})">发布留言</button>
								</div>
							</div>
								<script type="text/javascript">
								function liuyan(id){
									var p=id;
									var t = "{:session('id')}";
									var contents = $('#contents').val();
									if(contents.replace(/\s+/g, "")){
										$.ajax({
											url:"?s=/Home/Mtbu/rzbddydt_liuyan",
											type:"post",
											data:{id:p,content:contents},
											dataType:"json",
											success:function(data){
										
												var li = '';
												for (var i = 0; i < data.length; i++) {
													 var myArray=new Array()
													 var str=data[i].zid;  
													 myArray = str.split(","); 
													 
													 var c = ","; // 要计算的字符
													 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
													 var result = str.match(regex);
													 var count = !result ? 0 : result.length;
													 for(var j=0;j<=count;j++){
														 if(myArray[j]==t){
															 var aa=1;
								
														 }
													 }
													if(aa==1){
														var dianzan='<span id="z'+data[i].id+'"  class="icon-dz-kz"></span>';
													}else{
														var dianzan='<span id="z'+data[i].id+'"  class="icon-dz"></span>';
													}
													if(data[i].username==data[i].tel){
														var use = data[i].username.substr(0,5);
														}else{
													     var use = data[i].username;
														}
													if(t==data[i].uid){
														if(data[i].bdlx==1){
															var url='<a href="?s=/Home/Mtbu/grbddndt/id/'+data[i].uid+'">';
														}else if(data[i].bdlx==6){
															var url='<a href="?s=/Home/Mtbu/spbddndt/id/'+data[i].uid+'">';
														}else{
															var url='<a href="?s=/Home/Mtbu/rzbddndt/id/'+data[i].uid+'">';	
														}
													}else{
														if(data[i].bdlx==1){
															var url='<a href="?s=/Home/Mtbu/grbddydt/id/'+data[i].uid+'">';
														}else if(data[i].bdlx==6){
															var url='<a href="?s=/Home/Mtbu/spbddydt/id/'+data[i].uid+'">';
														}else{
															var url='<a href="?s=/Home/Mtbu/rzbddydt/id/'+data[i].uid+'">';	
														}
													}
													
													if(data[i].imagename==null){
														var img='<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="" />';
													}else{
												     var img = '<img  width="80" height="80" src="/matouPCS/Tu/upload/'+data[i].imagename+'" /> ';
													}
													
													
													li+='<li><div class="left-tx">'+url+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><div class="right-xx"><p class="tt"><span class="left">用户'+use+'</span><span class="right">'+data[i].addre+'</span></p><p class="grjj">'+data[i].content+' </p><div class="bottom"><p class="sj">'+data[i].time+'</p><p class="dz dz-qx"><p onclick="zan('+data[i].id+','+data[i].zan+')" class="dz dz-qx">'+dianzan+'</span><span  id="s'+data[i].id+'">'+data[i].zan+'</span></p></p></div></div><div class="clearfloat"></div></li>';
												
												};
												$('#li').html(li);
												$('#contents').val('');
											},error:function(){
												alert('no');
											}
										});
									}else{
										alert('请填写留言内容在提交');
									}
								}
							</script>
							<ul id="li">
									<foreach name="li" item="lis">
									<li>
									<div class="left-tx">
										<php>if($_SESSION['id'] == $lis['uid']){</php>
									  <if condition="$lis[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$lis.uid}">	
								<elseif condition="$lis[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$lis.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$lis.uid}">
									</if>
									<php>}else{</php>
                                   <if condition="$lis[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$lis.uid}">
								<elseif condition="$lis[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$lis.uid}">
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$lis.uid}">
								</if>
                              <php>}</php>
                              		 <if condition="$lis[imagename]==''">  
                                			<img src="__PUBLIC__/Home/img/tx2-3r.png" alt="" />
                                   <else />
                                     <img width="80" height="80" src="/matouPCS/Tu/upload/{$lis.imagename}"  /> 
                                   </if>
									
										</a>
										<div class="vip">
											<img src="__PUBLIC__/Home/img/rzlogo.png" />
										</div>
									</div>
									<div class="right-xx">
										<p class="tt">
											<span class="left">
													<if condition="$lis[username]==$lis[tel]">
							                      	{$lis.username|substr=0,5}
								                 </if>
								               <if condition="$lis[username]!=$lis[tel]">
								                {$lis.username}
								                  </if>
											</span>
											<span class="right">{$lis.addre}</span>
										</p>
										<p class="grjj">
												{$lis.content}
											</p>
											<div class="bottom">
												<p class="sj">{$lis.time}</p>
											<p class="dz dz-qx"><p onclick="zan({$lis.id},{$lis.zan})" class="dz dz-qx">
													<?php $zan = explode(',',$lis['zid']);
														  array_pop($zan);
														   ?>
													<?php if(in_array($_SESSION['id'],$zan)){ ?>
													<span id="z{$lis.id}" class="icon-dz-kz"></span>
													<?php }else{ ?>
													<span id="z{$lis.id}" class="icon-dz"></span>
													<?php } ?>
													<span id="s{$lis.id}">{$lis.zan}</span></p> 
										</div>
									</div>
									<div class="clearfloat"></div>
								</li>
								</foreach>
							</ul>
							<p class="ckgd">
							<a href="?s=/Home/Mtbu/rzbddyly/id/{$_GET['id']}">查看更多 》</a>
							</p>
						</div>
					</div>

				</div>
					<script type="text/javascript">
									var a = 0;
									function zan(lid,zan){
										var zan = parseInt(document.getElementById('s'+lid).innerHTML);
										if($('#z'+lid).hasClass('icon-dz')){
											zan += 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_liu_zan/lid/"+lid+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('点赞成功');
													$('#z'+lid).removeClass('icon-dz');
													$('#z'+lid).addClass('icon-dz-kz');
													$('#s'+lid).html(zan);
												},error:function(){
													alert('no');
												}
											});
											
										}else{
											zan -= 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_liu_zan/lid/"+lid+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('取消成功');
													$('#z'+lid).removeClass('icon-dz-kz');
													$('#z'+lid).addClass('icon-dz');
													$('#s'+lid).html(zan);
												},error:function(){
													alert('no');
												}
											});
											
										}
									}
								</script>
				<div id="re" class="s-main-l">
					<div id="conn" class="s-c-3f">
					<foreach name='dongtai' item='v'>
						<div class="s-c-3f-1f">						
							<div class="mdhd">
								<if condition="$v[type]=='2'">  
                                   	<img src="__PUBLIC__/Home/img/mdhd.png" />
                                   </if>
							</div>
							<div class="yhtx">
								<a href="">
										<if condition="$v[imagename]==''">  
                                   <img src="__PUBLIC__/Home/img/yhmc.png"/>
                                   <else />
                                     <img style="width: 60px; height: 60px;border-radius:50%" src="/matouPCS/Tu/upload/{$v.imagename}"  /> 
                                   </if>
								</a>
								<div class="vip">
									<img src="__PUBLIC__/Home/img/rzlogo.png" />
								</div>
							</div>
							<p class="yhmc">
							<if condition="$v[username]==$v[tel]">
							 {$v.username|substr=0,5}
						    </if>
							<if condition="$v[username]!=$v[tel]">
							{$v.username}
							 </if>
							</p>
						  <p class="szd">所在地：{$v.addre}</p>
							<p class="dtnr">
							{$v.content}
								</p>
							<ul>
										<foreach name='img' item='vd'>
								<if condition="$v[did]==$vd[pid]">
								<li>
									<a rel="gallery1" class="boxer" href="/matouPCS/Uploads/{$vd.imagename}">
										<div class="pic">
											<img src="/matouPCS/Uploads/{$vd.imagename}" />
										</div>
									</a>
								</li>
							</if>
								</foreach>
								<div class="clear"></div>
							</ul>
							<div class="bottom">
						   <p class="left">{$v.time}</p>
								<div class="right dz-qx">
												<p onclick="zan1({$v.did},{$v.zan})" class="dz dz-qx">
													<?php $zan = explode(',',$v['zid']);
														  array_pop($zan);
														   ?>
													<?php if(in_array($_SESSION['id'],$zan)){ ?>
													<span id="z{$v.did}" style="font-size: 17px;" class="icon-dz-kz"></span>
													<?php }else{ ?>
													<span id="z{$v.did}" style="font-size: 17px;" class="icon-dz"></span>
													<?php } ?>
													<span style="font-size: 17px;" id="s{$v.did}">{$v.zan}</span></p> 
								</div>
								<p class="clearfloat"></p>
							</div>
							<div class="clearfloat"></div>
								</foreach>
						</div>
					</div>
					<div class="s-main-b">
						     <?php if(!empty($dongtai)){ ?>
						<div class="margin">
							<button onclick="tj({$v.uid})" name='btn' id='btn' >点击加载更多</button>
						</div>
						<?php } ?>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
<script type="text/javascript">
									var a = 0;
									function zan1(did,zan){
						
										var zan = parseInt(document.getElementById('s'+did).innerHTML);
										if($('#z'+did).hasClass('icon-dz')){
											zan += 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_gt_zan/did/"+did+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('点赞成功');
													$('#z'+did).removeClass('icon-dz');
													$('#z'+did).addClass('icon-dz-kz');
													$('#s'+did).html(zan);
												},error:function(){
													alert('n2o');
												}
											});
											
										}else{
											zan -= 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_gt_zan/did/"+did+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('取消成功');
													$('#z'+did).removeClass('icon-dz-kz');
													$('#z'+did).addClass('icon-dz');
													$('#s'+did).html(zan);
												},error:function(){
													alert('n4o');
												}
											});
											
										}
									}
															
									
				</script>
	<script type="text/javascript">
									var a = 0;
									function zan1(did,zan){
						
										var zan = parseInt(document.getElementById('s'+did).innerHTML);
										if($('#z'+did).hasClass('icon-dz')){
											zan += 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_gt_zan/did/"+did+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('点赞成功');
													$('#z'+did).removeClass('icon-dz');
													$('#z'+did).addClass('icon-dz-kz');
													$('#s'+did).html(zan);
												},error:function(){
													alert('n2o');
												}
											});
											
										}else{
											zan -= 1;
											$.ajax({
												url:"?s=/Home/Mtbu/rzbd_gt_zan/did/"+did+"/zan/"+zan,
												type:"get",
												success:function(data){
													alert('取消成功');
													$('#z'+did).removeClass('icon-dz-kz');
													$('#z'+did).addClass('icon-dz');
													$('#s'+did).html(zan);
												},error:function(){
													alert('n4o');
												}
											});
											
										}
									}
															
									
				</script>
<script type="text/javascript">
var p=2;
  function tj(id){

	  var t = "{:session('id')}";
	 // alert(id);
		$.ajax({
			type:'post',
			url:"{:U('Mtbu/dnjzdt')}",
			data:{k:p,id,id},
			beforeSend:function(){
	         $("#conn").append("<div id='load'>加载中……</div>");
			},
			success:function(data){
	//	alert(data);
			
					if(data!=null){		
						var zan='';
						 for (var i = 0; i < data['nr'].length; i++) {
							 var myArray=new Array()
							 var str=data['nr'][i].zid;  
							 myArray = str.split(","); 
						
				
							 var c = ","; // 要计算的字符
							 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
							 var result = str.match(regex);
							 var count = !result ? 0 : result.length;
							 for(var j=0;j<count;j++){
								 if(myArray[j]==t){
									 var aa=1;
		
								 }
							 }
							if(aa==1){
								var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
							}else{
								var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
							}
	                            var p='';
							 if(data['nr'][i].username==data['nr'][i].tel){
							
									var use = data['nr'][i].username.substr(0,5);
									}else{
								     var use = data['nr'][i].username;
									}
								if(data['nr'][i].imagename==null){
									var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
								}else{
							     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
								}
								if(data['nr'][i].type==2){
									var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
								}else{
							     var imgh = '';
								}
							 for (var j= 0; j < data['tu'].length; j++) {
								 if(data['nr'][i].did==data['tu'][j].pid){
									p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
								 }
							 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"><p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		//	alert(li);
						$("#conn").append(li);
	 		
						 }
				}else{
					// alert(22);
					 document.getElementById('btn').innerHTML = '加载完毕';
	 				flag=true;	
				}	
	 },
	 	complete:function(){
	           $("#load").remove();
			},
		 	dataType:'json'
		 	});
	 	p++;
	//  alert(p);
  }


  
	function ajax(where,id){
	//var id=	 $_GET['id'];
		 var t = "{:session('id')}";
			$.ajax({
				url:"?s=/Home/Mtbu/spbddndtre",
				type:"post",
				data:{id:id,where:where},
				dataType:"json",
				success:function(data){
					
					var pl='';
					 for (var i = 0; i < data['nr'].length; i++) {
						 var myArray=new Array()
						 var str=data['nr'][i].zid;  
						 myArray = str.split(","); 
						 
						 var c = ","; // 要计算的字符
						 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
						 var result = str.match(regex);
						 var count = !result ? 0 : result.length;
						 for(var j=0;j<=count;j++){
							 if(myArray[j]==t){
								 var aa=1;
	
							 }
						 }
						if(aa==1){
							var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
						}else{
							var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
						}
                       var p='';
                       if(data['nr'][i].username==data['nr'][i].tel){
							var use = data['nr'][i].username.substr(0,5);
							}else{
						     var use = data['nr'][i].username;
							}
                    	if(data['nr'][i].imagename==null){
    						var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
    					}else{
    				     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
    					}
                		if(data['nr'][i].type==2){
							var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
						}else{
					     var imgh = '';
						}
                  	 for (var j= 0; j < data['tu'].length; j++) {
						 if(data['nr'][i].did==data['tu'][j].pid){
							p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
						 }
					 }
                
                  	 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+' </p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"><p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div>';
                    	
						
					};
					var pl ='<div id="ha" class="s-c-3f ">'+li+'</div><div class="s-main-b"><div class="margin"><button onclick="tj'+where+'({$_GET['id']})" name="btn1" id="btn1" >点击加载更多</button></div></div>';
					$('#re').html(pl);
					$('#re').val('');
				},error:function(){
					alert('no');
				}
			});
		
	}
	var l=2;

	  function tj1(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdt')}",
					data:{k:l,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data);
						if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 	if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
									 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	l++;
		// alert(p);
		  }  
	  var z=2;
	  function tj2(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdthd')}",
					data:{k:z,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 	if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPC/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href=""><img src="__PUBLIC__/Home/img/yhmc.png" /></a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"><p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	z++;
		// alert(p);
		  }  
	  var x=2;
	  function tjz(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdt')}",
					data:{k:x,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 	if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href=""><img src="__PUBLIC__/Home/img/yhmc.png" /></a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	x++;
		// alert(p);
		  }  
	  var c=2;
	  function tjr(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdtre')}",
					data:{k:c,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	c++;
		// alert(p);
		  }  
	  var v=2;
	  function  tj1r(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdtre')}",
					data:{k:v,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data);
						if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	v++;
		// alert(p);
		  }  
	  var b=2;
	  function tj1z(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdt')}",
					data:{k:b,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data);
							if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	b++;
		// alert(p);
		  }  
	  var n=2;
	  function tj2r(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdthdr')}",
					data:{k:n,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data);
							if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	n++;
		// alert(p);
		  }  
	  var m=2;
	  function tj2z(id){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"{:U('Mtbu/dtjzdthd')}",
					data:{k:m,id:id},
					beforeSend:function(){
			         $("#ha").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						if(data!=null){				
							
							 for (var i = 0; i < data['nr'].length; i++) {
								 var myArray=new Array()
								 var str=data['nr'][i].zid;  
								 myArray = str.split(","); 
								 
								 var c = ","; // 要计算的字符
								 var regex = new RegExp(c, 'g'); // 使用g表示整个字符串都要匹配
								 var result = str.match(regex);
								 var count = !result ? 0 : result.length;
								 for(var j=0;j<=count;j++){
									 if(myArray[j]==t){
										 var aa=1;
			
									 }
								 }
								if(aa==1){
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz-kz"></span>';
								}else{
									var dianzan='<span id="z'+data['nr'][i].did+'" style="font-size:17px;" class="icon-dz"></span>';
								}
		                            var p='';
								 if(data['nr'][i].username==data['nr'][i].tel){
										var use = data['nr'][i].username.substr(0,5);
										}else{
									     var use = data['nr'][i].username;
										}
								 if(data['nr'][i].imagename==null){
										var img='<img src="__PUBLIC__/Home/img/yhmc.png" />';
									}else{
								     var img = '<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['nr'][i].imagename+'" /> ';
									}
									if(data['nr'][i].type==2){
										var imgh='<img src="__PUBLIC__/Home/img/mdhd.png" />';
									}else{
								     var imgh = '';
									}
								 for (var j= 0; j < data['tu'].length; j++) {
									 if(data['nr'][i].did==data['tu'][j].pid){
										p+='<li><a rel="gallery1" class="boxer" href="/matouPCS/Uploads/'+data['tu'][j].imagename+'"><div class="pic"><img src="/matouPCS/Uploads/'+data['tu'][j].imagename+'" /></div></a></li>';
									 }
								 }
								 var li = '<div class="s-c-3f-1f"><div class="mdhd">'+imgh+'</div><div class="yhtx"><a href="">'+img+'</a><div class="vip"><img src="__PUBLIC__/Home/img/rzlogo.png" /></div></div><p class="yhmc"><a href="">'+use+'</a></p><p class="szd">所在地：'+data['nr'][i].addre+'</p><p class="dtnr"> '+data['nr'][i].content+'</p><ul>'+p+'</ul><div class="bottom"><p class="left">'+data['nr'][i].time+'</p><span class="delete"><img src="__PUBLIC__/Home/img/delete-2.png" /></span><div class="right dz-qx"> <p onclick="zan1('+data['nr'][i].did+','+data['nr'][i].zan+')" class="dz dz-qx">'+dianzan+'</span><span style="font-size: 17px;" id="s'+data['nr'][i].did+'">'+data['nr'][i].zan+'</span></p></div><p class="clearfloat"></p></div><p class="clearfloat"></p></div><div class="clearfloat"></div></div';
		                          
							$("#ha").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	m++;
		// alert(p);
		  }  

  
</script>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.fs.boxer.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js"></script>
	<script src="__PUBLIC__/Home/js/troop.js"></script>
	<script src="__PUBLIC__/Home/js/rAF.js"></script>
	<script src="__PUBLIC__/Home/js/demo-2.js"></script>

</html>