<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商铺管理</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/tx.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/inputimg.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/main-tx.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/cropper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/cjspcg1-3r-cc.css" />

	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
						<div class="h-c-2f">
							<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
							<div class="s-f2-r">
								<input placeholder="搜索全站" type="text" class="find3" />
								<div class="s-f2-r1">
									<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<p class="tfs22">WEDDING PIER</p>
					<h1 class="tfs22">喜事码头</h1>
					<p class="tfs14">简单<samp class="kog10"></samp>方便<samp class="kog10"></samp>效率</p>
					<div class="bdsz">
						<div class="bdsz-bt">
							创建商铺
						</div>
						<ul>
							<li id="con-jbxx" class="selected-con">
								<a rel="nofollow" href="?s=/Home/Mtbu/spgl">
									<h2>基本信息</h2>
								</a>
							</li>
							<li id="con-tjzp">
									<a rel="nofollow" href="?s=/Home/Mtbu/spglsh">
									<h2>添加商品</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<a href="#">
							<a href="?s=/Home/Tjcs" class="zk">
								进入码头商城
							</a>
						</a>
					</div>
					<div class="s-c-3f">
						<ul class="sc3f-ul">
					
						</ul>
					</div>
				</div>
		
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/foot"/>
	</body>

	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/main-tx.js"></script>
	<script src="__PUBLIC__/Home/js/City_data.js"></script>
	<script src="__PUBLIC__/Home/js/areadata.js"></script>
	<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Home/js/cropper.min.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	<script src="__PUBLIC__/Home/js/upspimg.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>

</html>