<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>应赏详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xqys-3r-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
			
			a,
			img {
				border: 0;
			}
			
			.demo {
				width: 720px;
				margin: 35px auto;
			}
			
			.demo h2 {
				font-size: 16px;
				color: #3366cc;
				height: 30px;
			}
			
			.demo li {
				float: left;
			}
			
			.text,
			.button {
				background: url(http://su.bdimg.com/static/superpage/img/spis_031ddf34.png) no-repeat;
			}
			
			.text {
				width: 425px;
				height: 22px;
				padding: 4px 7px;
				padding: 6px 7px 2px\9;
				font: 16px arial;
				border: 1px solid #cdcdcd;
				border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
				vertical-align: top;
				outline: none;
				margin: 0 -1px 0 0;
			}
			
			.button {
				width: 79px;
				height: 32px;
				padding: 0;
				padding-top: 2px\9;
				border: 0;
				background-position: 0 -35px;
				background-color: #ff5c5d;
				cursor: pointer;
				border: 1px solid #cdcdcd;
				color: #fff;
			}
			
			.button2 {
				width: 135px;
				height: 32px;
				margin-left: 30px;
				padding: 0;
				padding-top: 2px\9;
				border: 0;
				background-position: 0 -35px;
				background-color: #ff5c5d;
				cursor: pointer;
				border: 1px solid #cdcdcd;
				color: #fff;
			}
		</style>
	</head>

	<body>
		<header>
			<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input type="text" style="outline: none;border: 0;position: absolute;left: 20px;width: 195px; height: 36px;background: rgba(0,0,0,0);" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="spdl-c">
				<span>查看需要消耗5个码头币</span>
				<a href="#">请充值</a>
			</div>
			<button class="spdl-ok" id="spdl-ok">确定</button>
			<button class="spdl-esc" id="spdl-esc">取消</button>
		</div>
		<section>

			<div class="s-main-c">

				<div class="s-main-r">
					<div class="userin">
						<div class="u-img">
							<a href="#"><img src="__PUBLIC__/Home/img/tx2-3r.png"></a>
						</div>
						<div class="u-cont">
							<p style="font-size: 14px;"><strong><a href="#">用户名称</a></strong></p>
							<p style="font-size: 12px;margin-top: 10px;">粉丝数量</p>
							<p style="font-size: 12px;margin-top: 10px;">所在地：郑州</p>
							<button>关注</button>
						</div>
					</div>
					<br>
					<div class="bdsz">
						<div class="bdsz-bt">
							应聘详情
						</div>
						<ul>
							<li class="selected-con">
								<a href="javascript://">
									基本信息
								</a>
							</li>
							<li>
								<a href="javascript://">
									工作经历
								</a>
							</li>
							<li>
								<a href="javascript://">
									照片作品
								</a>
							</li>
							<li>
								<a href="javascript://">
									视频作品
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p>基本信息</p>
						</div>
						<div class="s-2f-c2">
							<div class="c2-ct1">
								<p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：{$list.name}</p>
								<p>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：{$list.sexs}</p>
								<p>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：{$list.age}岁</p>
								<p>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：{$list.address}</p>
							</div>
							<div class="c2-ct2">
								<p>QQ号码：{$list.qqs}</p>
								<p>联系电话：<span id="spdl-p">{$list.tels|substr=0,3}XXXX{$list.tels|substr=7,11}</span></p><button id="sp">查看号码 </button>
								<input type="hidden" id='xxoo' value="{$list.tels}">
								<p>期望职业：{$list.type}</p>
								<p>期望薪资：{$list.price}元/月</p>
							</div>
							<div class="c2-ct3">
								<p>擅长婚礼类型：</p>
								<p class="s-2f-c3-1-gzq" style="font-size: 13px !important;padding-top: 1px !important;">{$list.content}</p>
							</div>
						</div>
						<br>
					</div>
					<div class="s-c-2f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p>工作经历</p>
						</div>
						<div class="s-2f-c3">
							<div class="s-2f-c3-1">
								<!--<button class="bmbt-a">我要报名</button>-->
								<samp class="s-2f-c3-1-1">
									<p style="width: 130px!important;">2016/06-2016/10</p>
								<p>摄影师</p></samp>
								<samp class="s-2f-c3-1-1">
								<p>郑州码头网络科技有限公司</p>
								</samp>
								<samp class="s-2f-c3-1-1">
									<p style="width: auto !important;">工作描述：</p>
									<p class="s-2f-c3-1-gzq">工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容工作内容</p>
								</samp>
								<samp class="clearfloat"></samp>
								<div class="clearfloat "></div>
							</div>
							<div class="clearfloat "></div>
						</div>
						<div class="clearfloat "></div>
					</div>
					<div class="s-c-2f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p>图片作品</p>
						</div>
						<div class="s-2f-c2">
							<ul class="u-p">
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li>
									<img src="__PUBLIC__/Home/img/xj.png" />
								</li>
								<li class="clearfloat "></li>
							</ul>
						</div>
						<br>
						<div class="clearfloat "></div>
					</div>
					<div class="s-c-3f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p>视频作品</p>
						</div>
						<div class="s-2f-c2">
							<ul class="u-v">
								<li><a href="#">
									<img src="__PUBLIC__/Home/img/xj.png" />
								</a>
								<div class="u-v-li-a-div1"><p>视频标题</p></div>
								<div class="u-v-li-a-div2"><p>视频标题</p></div>
								</li>
								<li><a href="#">
									<img src="__PUBLIC__/Home/img/xj.png" />
								</a>
								<div class="u-v-li-a-div1"><p>视频标题</p></div>
								<div class="u-v-li-a-div2"><p>视频标题</p></div>
								</li>
								<li><a href="#">
									<img src="__PUBLIC__/Home/img/xj.png" />
								</a>
								<div class="u-v-li-a-div1"><p>视频标题</p></div>
								<div class="u-v-li-a-div2"><p>视频标题</p></div>
								</li>
								<li class="clearfloat "></li>
								
							</ul>
						</div>
					</div>
					<div class="s-c-4f">
						<div class="s-tf-btn" style="margin-right: 5px;">
							<p>分享
							</p>
							<img src="__PUBLIC__/Home/img/xzfx.png" />
						</div>
						<div class="s-tf-btn" style="margin-left: 5px;">
							<p>收藏
							</p>
							<img src="__PUBLIC__/Home/img/sc.png" /style="top: 4px;">
						</div>
						<div class="clearfloat "></div>
					</div>
					<div class="clearfloat "></div>
					<br>
					<br>
					<div class="clearfloat "></div>
				</div>
				<div class="clearfloat "></div>
		</section>
		<br>
		<br>
		<br>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js "></script>
	<script type="text/javascript ">
		$(document).ready(function() {
			$(".con ").eq(0).show();
			$(".bdsz ul li ").click(function() {
				var num = $(".bdsz ul li ").index(this);
				$(".con ").hide();
				$(".con ").eq(num).show().slblings().hide();
			})
		});
		//----------------------------remove tab切换样式--------------------------
		$('.bdsz li').click(function() {
			$(this).parents('.s-main-r').children('.bdsz').each(function() {
				$('li', this).removeClass('selected-con');
			});
			$(this).attr('class', 'selected-con');
		});
		$(function() {

				$("#tt ").bigAutocomplete({
					width: 440,
					data: [{
						title: "中国好声音 ",
						result: {
							ff: "qq "
						}
					}, {
						title: "中国移动网上营业厅 "
					}, {
						title: "中国银行 "
					}, {
						title: "中国移动 "
					}, {
						title: "中国好声音第三期 "
					}, {
						title: "中国好声音 第一期 "
					}, {
						title: "中国电信网上营业厅 "
					}, {
						title: "中国工商银行 "
					}, {
						title: "中国好声音第二期 "
					}, {
						title: "中国地图 "
					}],

				});

			})
			//		下拉菜单
		$('#select-yfb').hover(function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(180deg)');
			$('.select-yfb').stop().animate({
				height: '150px'
			}, 300);
		}, function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(0deg)');
			$('.select-yfb').stop().animate({
				height: '0px'
			}, 300);
		});
		$('#select-xx').hover(function() {
			$('.select-xx').stop().animate({
				height: '75px'
			}, 300);
		}, function() {
			$('.select-xx').stop().animate({
				height: '0px'
			}, 300);
		});
		//		新增
		$(function() {
			$("#hfx3-1").click(function() {
				$(".txfg1-c2-1").hide();
				//				$(".txfg1-c1-1").hide();
				$(".txfg1").css("height", "auto");
				$("#adds-f-c1").on("click", function() {
					$(".s-c-3f").detach();
					$(".txfg1").css("height", "125px");
					$(".txfg1-c2-1").show();
				});
			});
		});
		//查看号码
		$(function() {
			$("#sp").click(function() {
				//				alert("充值")
				$("#spdl").show();
			});
			$("#spdl-ok").click(function() {
				$("#spdl-p").text($('#xxoo').val());
				$("#spdl .spdl-c").html('<span>支付成功<br>3秒后自动关闭</span>');
				//				<input type="text"  class="time" id="stime">
				if($("#spdl .spdl-c span").text() == "支付成功3秒后自动关闭") {
					//					$("#id").value = "5"
					//					c = c-1
					setTimeout(function() {
						$(".spdl").hide();
					}, 3000);
				}
			});
			$("#spdl-esc").click(function() {
				$(".spdl").hide();
			});
		});
	</script>

</html>