<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>应赏详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xq-3r-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.fs.boxer.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="spdl-c">
				<span>查看需要消耗5个码头币</span>
				<a href="#">请充值</a>
			</div>
			<button class="spdl-ok" id="spdl-ok">确定</button>
			<button class="spdl-esc" id="spdl-esc">取消</button>
		</div>
		<section>

			<div class="s-main-c">

				<div class="s-main-r">
					<div class="userin">
						<div class="u-img">
							<php>if($_SESSION['id'] == $list['uid']){</php>
								<if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}"><img src="/matouPCS/Tu/upload/{$list.imagename}" /></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}"><img src="/matouPCS/Tu/upload/{$list.imagename}" /></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}"><img src="/matouPCS/Tu/upload/{$list.imagename}" /></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}"><img src="/matouPCS/Tu/upload/{$list.imagename}" /></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$list.uid}"><img src="/matouPCS/Tu/upload/{$list.imagename}" /></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}"><img src="/matouPCS/Tu/upload/{$list.imagename}" /></a>
									</if>
                                <php>}</php>
						</div>
						<div class="u-cont">

						<p class="tfs14"><strong><a href="#"><if condition="$list[username]==$list[tel]">
					                      用户{$list.username|substr=0,5}
						                 </if>
						               <if condition="$list[username]!=$list[tel]">
						                用户{$list.username}
						                  </if></a></strong></p>
							<p class="tfs12">职位：{$list.type_d}</p>
							<?php 
								$add = explode(',',$list['address']); ?>
							<p class="tfs12">所在地：{$add[0]}</p>
							<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$listt.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
                                       <php>}</php>
							<!-- <button onclick="window.location = 'grbddydt-3r-xy.php'">进入Ta的主页</button> -->
						</div>
					</div>
					
					<div class="bdsz">
						<div class="bdsz-bt">
							应赏详情
						</div>
						<ul>
							<li class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>照片作品</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>视频作品</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>档期</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						<div class="s-2f-c2">
							<div class="c2-ct1">
								<p><span class="xqcc-c0">姓<samp class="kog12"></samp>名：</span><span class="xqcc-c3">{$list.name}</span></p>
								<p><span class="xqcc-c0">性<samp class="kog12"></samp>别：</span><span class="xqcc-c3">{$list.sexs}</span></p>
								<p><span class="xqcc-c0">年<samp class="kog12"></samp>龄：</span><span class="xqcc-c3">{$list.age}岁</span></p>
								<p><span class="xqcc-c0">地<samp class="kog12"></samp>区：</span><span class="xqcc-c3"><?php  $add =  explode(',',$list['address']); echo $add[0];?></span></p>
							</div>
							<div class="c2-ct21">
								<p><span class="xqcc-c0">QQ号码：</span><span class="xqcc-c3">{$list.qqs}</span></p>
								<p id="spdl-p"><span class="xqcc-c0">联系电话：</span><span class="xqcc-c3">{$list.tels|substr=0,3}XXXX{$list.tels|substr=8,11}</span><button id="sp">查看号码</button></p><input type="hidden" id="xp" value="{$list.tels}">
								<p><span class="xqcc-c0">期望职业：</span><span class="xqcc-c3">{$list.type_d}</span></p>
								<p><span class="xqcc-c0">期望薪资：</span><span class="xqcc-c3">{$list.price}k/月</span></p>
							</div>
							<div class="clear"></div>
							<div class="c2-ct3">
								<p>自我介绍：</p>
								<p class="s-2f-c3-1-gzqb"><span class="xqcc-c3">{$list.content}</span></p>
							</div>
							<div class="clear"></div>
							<div class="c2-ct3">
								<p>擅长婚礼类型：</p>
								<p class="s-2f-c3-1-gzqc"><span class="xqcc-c3">{$list.skilled}</span></p>
							</div>
							<div class="clear"></div>
						</div>
						
					</div>
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>图片作品</h2>
						</div>
						<div class="s-2f-c2">
							<?php 
							$zuo = explode(',',$list['imagename_z']);
							array_pop($zuo);
							// var_dump(substr($zuo[0],1));
							// var_dump($zuo);
							// var_dump($list['imagename_z']); 
							?>
							<ul class="u-p">
								<?php for ($i=0; $i < count($zuo); $i++) {  ?>
								<li>
									<a rel="gallery" class="boxer" href="img/xj.png">
										<img src="<?php echo '/matouPCS/Uploads/'.substr($zuo[$i],1); ?>" alt="" />
									</a>
								</li>
								<?php } ?>
								<div class="clearfloat "></div>
							</ul>
						</div>
						
						<div class="clearfloat "></div>
					</div>
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>视频作品</h2>
						</div>
						<div class="s-2f-c2">
							<ul class="u-v">
								<?php $title = explode(',',$list['type']);
									  array_pop($title);
									  // var_Dump($title);
									  $lianjie = explode(',',$list['video']);
									  // var_Dump($lianjie);
									  array_pop($lisnjie);
									  $titleNum = count($title);
									  $tit_img = explode(',',$list['imagename_v']);
									  array_pop($tit_img);
									  
								 ?>
								 <?php for ($i=0; $i < $titleNum; $i++) { ?>
								<li>
									<a href="#">
										<img style="width:260px;height:280px;" src="<?php echo "/matouPCS/Uploads/".substr($tit_img[$i],1);?>" alt="" />
									</a>
									<div class="u-v-li-a-div1">
										<p><?php echo $title[$i]; ?></p>
									</div>
									<div class="u-v-li-a-div2">
										<a href="http://<?php echo $lianjie[$i]; ?>"><p><?php echo $lianjie[$i]; ?></p></a>
									</div>
								</li>
								<?php } ?>
								<div class="clearfloat "></div>

							</ul>
						</div>
					</div>
					<div class="s-c-3f">
						<div class="s-c-8f-1f">
							<h2>档期</h2>
						</div>
						<div class="s-2f-c2">
							<?php 
							$date = explode(',',$list['dangdate']); 
							$dates = explode(',',$list['dangs']); 
							array_pop($date);
							array_pop($dates);?>
							<div class="dqnr">
								<div class="clearfloat"></div>
								<ul>
									<?php for ($i=1; $i < count($date); $i++) {  ?>
											<li>
												<p><?php echo $date[$i] ?></p>
												<p><?php echo $dates[$i] ?></p>
											</li>
									<?php } ?>
									<div class="clearfloat"></div>
								</ul>
							</div>
						</div>
					</div>
					<div class="s-c-4f-2">
						<div class="s-tf-btn">
							<p>分享
							</p>
							<img src="img/xzfx.png" alt="" />
						</div>
						<?php 
							$shou = explode(',',$list['due_shou']);
							array_pop($shou);
							 ?>
						<?php if(in_array($_SESSION['id'],$shou)){ ?>
							<div class="s-tf-btn" style="margin-left: 5px; text-align:center;" id="bt-sc">
								<p style="left:0px;">已收藏
								</p>
							</div>
						<?php }else{ ?>
							<?php if($_SESSION['id'] == ''){ ?>
								<div class="s-tf-btn" style="margin-left: 5px;" onclick="alert('请先登录')" id="bt-sc">
							<?php }else{ ?>
								<div class="s-tf-btn" style="margin-left: 5px;" onclick="shou({$list.did})" id="bt-sc">
							<?php } ?>
								<p>收藏
								</p>
								<img src="__PUBLIC__/Home/img/sc.png" style="top: 10px;">
							</div>
						<?php } ?>
						<div class="clearfloat "></div>
					</div>
					<div class="clearfloat "></div>
				</div>
				<div class="clearfloat "></div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/showwin.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.fs.boxer.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/ys.js"></script>
</html>