<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>应赏详情页</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/fbwc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input type="text" placeholder="搜索全站" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/navbg4.png" alt="" />
						<a href="#">
							<a href="?s=/Home/Ysq/xqys/id/{$id}" class="h-f3-c1">查看应赏详情页</a>
						</a>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="s-c-1f">
						<a href="?s=/Home/Xsdt">
							<img src="__PUBLIC__/Home/img/jrxsdt.png" alt="" />
						</a>
					</div>

				</div>
				<div class="s-main-l">
					<div class="s-c-3f">
						<ul>
							<foreach name="list" item="lists">
							<li>
								<a href="">
									<div>
										<div class="tx">
												<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
										</div>
										<p class="yhmc">用户{$lists.username|substr=0,6}</p>
										<p class="hddd">活动地点：{$lists.address}</p>
										<p class="hdsj">活动时间：{$lists.time}</p>
										<div class="clearfloat"></div>
									</div>
									<div class="details">
										<foreach name="data" item="datas">
											<php>if($lists['psid'] == $datas['pid']){</php>
												<div>
													<p>摄影师</p>
												<p class="sex">
													<literal>
                    									<if condition="$datas['sex'] == 1 ">
															<span class="xqcc-c0">男</span>
														</if>
														<if condition="$datas['sex'] == 2 ">
															<span class="xqcc-c0">女</span>
														</if>
														<if condition="$datas['sex'] == 3 ">
															<span class="xqcc-c0">不限</span>
														</if>
												</p>
												<p class="age"><span class="xqcc-c0">年龄:{$datas.age}</span></p>
												<p class="jtyq"><span class="xqcc-c0">具体要求：</span>{$datas.yaoqiu|substr=0,10}...</p>
												<p class="price">{$datas.price}k/天</p>
												<?php 
													$bao = explode(',',$data['bao']);
													array_pop($bao);
													$bao_num = count($bao_num);
													 ?>
												<p class="bm">{$bao_num}人报名</p>
												<div class="clearfloat"></div>
												</div>
											<php>}</php>
										</foreach>
									</div>
									<div>
										<p class="sjfb">{$lists.date}发布</p>
										<div class="clearfloat"></div>
									</div>
								</a>
							</li>
						</foreach>
						</ul>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>

</html>