<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<!--		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />-->
		<!--IE7,8兼容-->
		<!--<meta http-equiv="x-ua-compatible" content="ie=7" />-->
		<link rel="stylesheet" href="__PUBLIC__/Home/css/indexstore.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sinaFaceAndEffec.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<?php	include 'header-index.php';?>
				<div class="h-content-main">
					<div class="h-main-c">

						<div class="h-c-2f">
							<div class="h-f2-l">
								<img alt="喜事码头" src="__PUBLIC__/Home/img/logo.png" />
								<h1 class="none">喜事码头</h1>
							</div>
							<div class="h-f2-c">
								<div class="demo">
									<form action="http://www.jsfoot.com/e/search/index.php" method="post" name="searchform" id="searchform" class="searchinfo">
										<ul>
											<li><input type="text" id="tt" value="" class="text" placeholder="请输入您要查询的内容或关键字" autocomplete="off" /></li>
											<li><input type="submit" value="" class="button" /></li>
											<li class="clearfloat"></li>
										</ul>
									</form>
								</div>
								<div class="h-f2-c-dec">
									<a>热门搜索：</a>
									<a href="#">
										<strong>关键字</strong>
									</a>
									<a href="#">
										<strong>关键字</strong>
									</a>
									<a href="#">
										<strong>关键字</strong>
									</a>
									<a href="#">
										<strong>关键字</strong>
									</a>
									<a href="#">
										<strong>关键字</strong>
									</a>
									<a href="#">
										<strong>关键字</strong>
									</a>
								</div>
							</div>
							<div class="h-f2-r">
								<p class="fwrx">24小时服务热线</p>
								<p class="fwrx-tel">188-8888-888</p>
							</div>
							<div class="clearf"></div>
						</div>
						<div class="h-c-3f">
							<div class="h-f3-c">
								<ul>
									<li>
										<a href="#" class="index">首页</a>
									</li>
									<li>
										<a href="xsdt-xy.php" id="xsdt-a">悬赏大厅</a>
									</li>
									<li>
										<a id="zpdt-a" href="zpdt1-cc.php">招聘大厅</a>
									</li>
									<li>
										<a id="tzsc-a" href="tzsc-cc.php">跳蚤市场</a>
									</li>
									<li>
										<a id="mtbd-a" href="mtbu-zy.php">码头部队</a>
									</li>
									<li>
										<a id="mtsc-a" href="mtsc-zy.php">码头商城</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<nav>
					<div class="border"></div>
				</nav>
		</header>
		<div class="spdlc" id="spdlc" title="消息">
			<div class="titlenac">
				<img src="__PUBLIC__/Home/img/swtitle.png">
				<div class="rhidec">
					<img src="__PUBLIC__/Home/img/hide.png">
				</div>
			</div>
			<div class="fbtypec">
			</div>
			<div class="contentc">
				<div class="cca" id="cca">个人</div>
				<div class="ccb" id="ccb">
					<p class="ccrc">婚庆公司<br>影楼<br>工作室<br>表演团体</p>
				</div>
			</div>
			<div class="clear"></div>
			<div class="spfxb"></div>

			<div class="contentimg">
				<img src="__PUBLIC__/Home/img/xzjs.png" />
			</div>
		</div>
		<section>
			<div class="s-conten-main">
				<div class="s-main-c">
					<div class="s-c-1f">
						<div class="s-f1-l">
							<div id="PicSlide">
								<ul class="img">
									<li style="display: list-item;">
										<a href=""><img src="__PUBLIC__/Home/img/banner_big01.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href=""><img src="__PUBLIC__/Home/img/banner_big02.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href=""><img src="__PUBLIC__/Home/img/banner_big03.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href=""><img src="__PUBLIC__/Home/img/banner_big04.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href=""><img src="__PUBLIC__/Home/img/banner_big05.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href=""><img src="__PUBLIC__/Home/img/banner_big06.png" width="980" height="450" /></a>
									</li>
								</ul>
								<div class="thumb">
									<ul>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small01.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small02.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small03.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small04.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small05.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small06.png" width="163" height="80" /></a>
										</li>
									</ul>
									<div class="now-status"></div>
								</div>
							</div>
						</div>
						<div class="s-f1-r">
							<div class="s-f1-r-1f">
								<div class="center s-f1-r-1f-word">
									<p class="h2">发现更多好服务</p>
								</div>
								<div id="lqmtb" class="center">
									<div class="img"><img src="__PUBLIC__/Home/img/M.png" alt="" /></div>
									<span>领取码头币</span>
								</div>
								<!--领取码头币开始-->
								<div class="gold-black">
									<div class="gold-white">
										<div class="gold-title">
											<img src="__PUBLIC__/Home/img/gold-title.png" />
										</div>
										<div id="vertical" class="brand vertical">
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold2.png" />
												<div class="info">
													15个码头币
												</div>
											</a>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold1.png" />
												<div class="info">
													10个码头币
												</div>
											</a>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold2.png" />
												<div class="info">
													20个码头币
												</div>
											</a>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold1.png" />
												<div class="info">
													10个码头币
												</div>
											</a>
											<div class="fanpai">
												<div class="fanpai-xz">
													<img src="__PUBLIC__/Home/img/fanpai.png" />
												</div>
												<p>
													（查看码头币规则）
												</p>
											</div>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold1.png" />
												<div class="info">
													10个码头币
												</div>
											</a>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold2.png" />
												<div class="info">
													20个码头币
												</div>
											</a>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold1.png" />
												<div class="info">
													30个码头币
												</div>
											</a>
											<a href="javascript://">
												<img alt="" src="__PUBLIC__/Home/img/gold2.png" />
												<div class="info">
													15个码头币
												</div>
											</a>
											<div class="clear"></div>
											<div class="gold-close">
												<button id="gold-close">关闭</button>
											</div>
										</div>

										<div class="clear"></div>
									</div>
								</div>
								<!--领取码头币结束-->
							</div>
							<div class="s-f1-r-2f">
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td id="findc">
											<a href="txxs-3r-zy.php">
												<div class="s-f1-r-6 center">
													<img src="__PUBLIC__/Home/img/rightside_icon01.png" alt="" />
												</div>
												<span class="s-f1-r-word">发布悬赏</span>
											</a>
										</td>
										<td>
											<a href="txys-3r-zy.php">
												<div class="s-f1-r-6 center">
													<img src="__PUBLIC__/Home/img/rightside_icon02.png" alt="" />
												</div>
												<span class="s-f1-r-word">发布应赏</span>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="txzp-3r-zy.php">
												<div class="s-f1-r-6 center">
													<img src="__PUBLIC__/Home/img/rightside_icon03.png" alt="" />
												</div>
												<span class="s-f1-r-word">发布招聘</span>
											</a>
										</td>
										<td>
											<a href="txyp-3r-zy.php">
												<div class="s-f1-r-6 center">
													<img src="__PUBLIC__/Home/img/rightside_icon04.png" alt="" />
												</div>
												<span class="s-f1-r-word">发布应聘</span>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="txqg-3r-zy.php">
												<div class="s-f1-r-6 center">
													<img src="__PUBLIC__/Home/img/rightside_icon05.png" alt="" />
												</div>
												<span class="s-f1-r-word">发布二手求购</span>
											</a>
										</td>
										<td>
											<a href="txxz-3r-zy.php">
												<div class="s-f1-r-6 center">
													<img src="__PUBLIC__/Home/img/rightside_icon06.png" alt="" />
												</div>
												<span class="s-f1-r-word">发布二手闲置</span>
											</a>
										</td>
									</tr>
								</table>
							</div>
							<div class="s-f1-r-3f">
								<div class="s-f1-r-3f-wx center">
									<img src="__PUBLIC__/Home/img/erweima_top.png" alt="" />
								</div>
								<p>关注喜事码头官方公众号</p>
								<p class="h2">有更多惊喜等着你哟</p>
							</div>
						</div>
						<div class="clearf"></div>
					</div>
					<div class="s-c-2f">
						<div id="xsdt" class="s-ft-f">
							<div class="Catalog">
								<h2>悬赏大厅/</h2>
								<span>REWARD</span>
							</div>
							<div class="More">
								<p>
									<a href="xsdt-xy.php">更多>></a>
								</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="s-f2-l">
							<div class="s-f2-l">
								<ul>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
									<li>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="sxllist">
												<div class="sxultem1">
													<p class="red">￥500.00</p>
													<p>2016-12-12日</p>
													<p>需要：摄影师</p>
												</div>
												<div class="sxultem2">
													<p>某某公司/个人发布</p>
													<p class="small-position"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
												</div>
											</div>
										</a>
										<a class="clearf"></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="s-f2-r">
							<div class="s-f2-r-1f">
								<h3>5秒发布悬赏</h3>
							</div>
							<div class="s-f2-r-2f">
								<p>发布一个需求</p>
								<p>得到多份解决</p>
							</div>
							<div class="s-f2-r-3f">
								<div id="s-f2-r-button" class="button center">点击发布悬赏</div>
								<div id="s-f2-r-img" class="img center">
									<img id=tp src="__PUBLIC__/Home/img/reword_gesture.png" style="position:absolute; left:0; top:0; border:0">
								</div>
							</div>
						</div>
						<div class="clearf"></div>
					</div>

					<div class="s-c-3f">
						<div id="zpdt" class="s-ft-f">

							<div class="Catalog">
								<h2>招聘大厅/</h2>
								<span>RECRUIT HALL</span>
							</div>
							<div class="More">
								<p>
									<a href="zpdt1-cc.php">更多>></a>
								</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="s-f3-r">
							<div class="s-f3-r-1f">招贤纳士</div>
							<div class="s-f3-r-2f">
								<ul class="s-f3-r-2f-l">
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_01.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_02.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_07.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_03.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_04.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_05.png">
										</div>
									</li>
									<li>
										<div>
											<img src="__PUBLIC__/Home/img/icon_06.png">
										</div>
									</li>
								</ul>
								<ul class="s-f3-r-2f-r">
									<li>
										<a href="">
											<h4>经理/店长</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>营业员</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>化妆师</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>数码师/设计</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>视频剪辑师</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>摄像师</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>摄影师</h4>
										</a>
									</li>
									<li>
										<a href="">
											<h4>策划师</h4>
										</a>
									</li>
								</ul>
							</div>
							<div class="s-f3-r-3f">
								<div class="center ljyp">
									<a href="">立即应聘</a>
								</div>
							</div>
						</div>
						<div class="s-f3-l">
							<ul>
								<li>
									<a href="#" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic01.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>

								</li>
								<li>
									<a href="#" class="abgs2">
										<img src="__PUBLIC__/Home/img/recruit_pic02.png" />
										<div class="abg2">
											<div class="abg2-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic03.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic04b.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic05.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic06.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="abgs2">
										<img src="__PUBLIC__/Home/img/recruit_pic07.png" />
										<div class="abg2">
											<div class="abg2-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic08.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="s-f3-x">
							<img src="__PUBLIC__/Home/img/bannerfgx1.png" />
						</div>
						<div class="clearf"></div>
					</div>

					<div class="s-c-4f">
						<div id="mtbd" class="s-ft-f">

							<div class="Catalog">
								<h2>码头部队/</h2>
								<span>WHARF FORCE</span>
							</div>
							<div class="More">
								<p>
									<a href="mtbu-zy.php">更多>></a>
								</p>
							</div>
							<div class="clear"></div>
						</div>

						<div class="troops">
							<div class="company">
								<p class="company_01_01">粉丝量1000</p>
								<div class="hp">
									<img src="__PUBLIC__/Home/img/wharf_force_people.png" alt="公司名称">
								</div>
								<div class="company_01">
									<p class="company_01_02">
										<strong>公司名称</strong>
									</p>

									<ul>
										<li>公司类型：</li>
										<li>
											婚庆公司
										</li>
										<span><img src="__PUBLIC__/Home/img/zb.png">郑州</span>
									</ul>
									<div class="company_02">
										<ul>
											<li>公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司。。。</li>
										</ul>
									</div>
								</div>
								<div class="company_03">
									<p>查看更多</p>
								</div>
							</div>

							<div class="blank">
							</div>
							<div class="company">
								<p class="company_01_01">粉丝量1000</p>
								<div class="hp">
									<img src="__PUBLIC__/Home/img/wharf_force_people.png" alt="公司名称">
								</div>
								<div class="company_01">
									<p class="company_01_02">
										<strong>公司名称</strong>
									</p>

									<ul>
										<li>公司类型：</li>
										<li>
											婚庆公司
										</li>
										<span><img src="__PUBLIC__/Home/img/zb.png">郑州</span>
									</ul>
									<div class="company_02">
										<ul>
											<li>公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司。。。</li>
										</ul>
									</div>
								</div>
								<div class="company_03">
									<p>查看更多</p>
								</div>
							</div>

							<div class="blank">
							</div>
							<div class="company">
								<p class="company_01_01">粉丝量1000</p>
								<div class="hp">
									<img src="__PUBLIC__/Home/img/wharf_force_people.png" alt="公司名称">
								</div>
								<div class="company_01">
									<p class="company_01_02">
										<strong>公司名称</strong>
									</p>

									<ul>
										<li>公司类型：</li>
										<li>
											婚庆公司
										</li>
										<span><img src="__PUBLIC__/Home/img/zb.png">郑州</span>
									</ul>
									<div class="company_02">
										<ul>
											<li>公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司。。。</li>
										</ul>
									</div>
								</div>
								<div class="company_03">
									<p>查看更多</p>
								</div>
							</div>

							<div class="blank">
							</div>
							<div class="company">
								<p class="company_01_01">粉丝量1000</p>
								<div class="hp">
									<img src="__PUBLIC__/Home/img/wharf_force_people.png" alt="公司名称">
								</div>
								<div class="company_01">
									<p class="company_01_02">
										<strong>公司名称</strong>
									</p>

									<ul>
										<li>公司类型：</li>
										<li>
											婚庆公司
										</li>
										<span><img src="__PUBLIC__/Home/img/zb.png">郑州</span>
									</ul>
									<div class="company_02">
										<ul>
											<li>公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司。。。</li>
										</ul>
									</div>
								</div>
								<div class="company_03">
									<p>查看更多</p>
								</div>
							</div>

						</div>

						<div class="s-f4-r">
							<div class="s-f4-r-1f">
								码头部队
							</div>
							<div class="s-f4-r-2f">
								<ul>
									<li class="s-f4-r-2f-1">
										<a href="">
											<h4>部队类型</h4>
										</a>
									</li>
									<li class="s-f4-r-2f-2">
										<a href="">
											<h4>部队类型</h4>
										</a>
									</li>
								</ul>
								<ul>
									<li class="s-f4-r-2f-3">
										<a href="">
											<h4>部队类型</h4>
										</a>
									</li>
									<li class="s-f4-r-2f-1">
										<a href="">
											<h4>部队类型</h4>
										</a>
									</li>
								</ul>
							</div>
							<div class="s-f4-r-3f">
								<p class="p1">婚庆行业的</p>
								<p class="p2">专属“<span>微博</span>”</p>
								<p class="p3">分享你身边的</p>
								<p class="p3">婚礼喜事</p>
							</div>
							<div class="s-f4-r-4f">
								<div class="center ljyp">
									<a href="">立即加入</a>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="s-f3-x">
							<img src="__PUBLIC__/Home/img/bannerfgx2.png" />
						</div>
						<div class="clearf"></div>
					</div>

					<div class="s-c-5f">
						<div id="mtsc" class="s-ft-f">

							<div class="Catalog">
								<h2>码头商城/</h2>
								<span>WHARF HALL</span>
							</div>

							<div class="More">
								<p>
									<a href="mtsc-zy.php">更多>></a>
								</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="s-f5-l">
							<div class="s-f5-l-1f">
								码头商城
							</div>
							<div class="s-f5-l-2f">
								<ul>
									<li class="s-f5-l-2f-1">
										<a href="">
											<h4>销售商</h4>
										</a>
									</li>
									<li class="s-f5-l-2f-2">
										<a href="">
											<h4>租赁商</h4>
										</a>
									</li>
								</ul>
								<ul>
									<li class="s-f5-l-2f-3">
										<a href="">
											<h4>销售租赁</h4>
										</a>
									</li>
									<li class="s-f5-l-2f-1">
										<a href="">
											<h4>婚车租赁</h4>
										</a>
									</li>
								</ul>
							</div>
							<div class="s-f5-l-3f">
								<p class="p1">婚庆供应商的</p>
								<p class="p2">专属“<span>地盘</span>”</p>
								<p class="p3">免费入驻</p>
								<p class="p4">全国宣传</p>
							</div>
							<div class="s-f5-l-4f">
								<div class="center ljyp">
									<a href="">立即入驻</a>
								</div>
							</div>
						</div>

						<div class="wharf">
							<ul class="mtsc">
								<li>
									<a href="">
										<div class="mtsc-cl">
											<img src="__PUBLIC__/Home/img/picture.png" alt="公司名称" />
										</div>
										<div class="mtsc-cr">
											<p class="gsmc">公司名称</p>
											<p class="sq">商圈：某某大厦&nbsp;某某商场</p>
											<p>类型：销售商</p>
											<div class="mtscc">
												<p>
													主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品
												</p>
												<div class="clearf"></div>
											</div>
											<p class="scl"><img src="__PUBLIC__/Home/img/sca.png" />&nbsp;收藏量1000</p>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<div class="mtsc-cl">
											<img src="__PUBLIC__/Home/img/picture.png" />
										</div>
										<div class="mtsc-cr">
											<p class="gsmc">公司名称</p>
											<p class="sq">商圈：某某大厦&nbsp;某某商场</p>
											<p>类型：销售商</p>
											<div class="mtscc">
												<p>
													主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品
												</p>
												<div class="clearf"></div>
											</div>
											<p class="scl"><img src="__PUBLIC__/Home/img/sca.png" />&nbsp;收藏量1000</p>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<div class="mtsc-cl">
											<img src="__PUBLIC__/Home/img/picture.png" />
										</div>
										<div class="mtsc-cr">
											<p class="gsmc">公司名称</p>
											<p class="sq">商圈：某某大厦&nbsp;某某商场</p>
											<p>类型：销售商</p>
											<div class="mtscc">
												<p>
													主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品
												</p>
												<div class="clearf"></div>
											</div>
											<p class="scl"><img src="__PUBLIC__/Home/img/sca.png" />&nbsp;收藏量1000</p>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<div class="mtsc-cl">
											<img src="__PUBLIC__/Home/img/picture.png" />
										</div>
										<div class="mtsc-cr">
											<p class="gsmc">公司名称</p>
											<p class="sq">商圈：某某大厦&nbsp;某某商场</p>
											<p>类型：销售商</p>
											<div class="mtscc">
												<p>
													主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品主营产品
												</p>
												<div class="clearf"></div>
											</div>
											<p class="scl"><img src="__PUBLIC__/Home/img/sca.png" />&nbsp;收藏量1000</p>
										</div>
									</a>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="s-f3-x">
							<img src="__PUBLIC__/Home/img/bannerfgx3.png" />
						</div>
						<div class="clearf"></div>
					</div>

					<div class="s-c-6f">
						<div id="tzsc" class="s-ft-f">

							<div class="Catalog">
								<h2>跳蚤市场/</h2>
								<span>FLEA MARKET</span>
							</div>
							<div class="More">
								<p>
									<a href="tzsc-cc.php">更多>></a>
								</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="s-f6-l">

							<ul class="tsul">
								<li>
									<a href="#">
										<div class="tsuimg">
											<img src="__PUBLIC__/Home/img/flea_people.png" />
										</div>
										<div class="tscontent1">
											<div class="tscontent1-a">
												<p>求购：音响</p>
												<p>预算：￥400</p>
												<p class="city-tzsc"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
											</div>
											<div class="tscontent1-b">
												<p>要求：可以插在电脑上，手机上的，音量要打，九成新...</p>
											</div>
										</div>
										<div class="tscontent2">
											<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;报名人数100000人</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="tsuimg">
											<img src="__PUBLIC__/Home/img/flea_people.png" />
										</div>
										<div class="tscontent1">
											<div class="tscontent1-a">
												<p>求购：音响</p>
												<p>预算：￥400</p>
												<p class="city-tzsc"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
											</div>
											<div class="tscontent1-b">
												<p>要求：可以插在电脑上，手机上的，音量要打，九成新...</p>
											</div>
										</div>
										<div class="tscontent2">
											<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;报名人数100000人</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="tsuimg">
											<img src="__PUBLIC__/Home/img/flea_people.png" />
										</div>
										<div class="tscontent1">
											<div class="tscontent1-a">
												<p>求购：音响</p>
												<p>预算：￥400</p>
												<p class="city-tzsc"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
											</div>
											<div class="tscontent1-b">
												<p>要求：可以插在电脑上，手机上的，音量要打，九成新...</p>
											</div>
										</div>
										<div class="tscontent2">
											<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;报名人数100000人</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="tsuimg">
											<img src="__PUBLIC__/Home/img/flea_people.png" />
										</div>
										<div class="tscontent1">
											<div class="tscontent1-a">
												<p>求购：音响</p>
												<p>预算：￥400</p>
												<p class="city-tzsc"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
											</div>
											<div class="tscontent1-b">
												<p>要求：可以插在电脑上，手机上的，音量要打，九成新...</p>
											</div>
										</div>
										<div class="tscontent2">
											<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;报名人数100000人</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="tsuimg">
											<img src="__PUBLIC__/Home/img/flea_people.png" />
										</div>
										<div class="tscontent1">
											<div class="tscontent1-a">
												<p>求购：音响</p>
												<p>预算：￥400</p>
												<p class="city-tzsc"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;郑州</p>
											</div>
											<div class="tscontent1-b">
												<p>要求：可以插在电脑上，手机上的，音量要打，九成新...</p>
											</div>
										</div>
										<div class="tscontent2">
											<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;报名人数100000人</p>
										</div>
									</a>
								</li>
								<div class="clearf"></div>
							</ul>
						</div>
						<div class="s-f6-r">
							<div class="f6-l-o1">
								<ul>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>

									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_01.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_02.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_03.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_04.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_05.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_06.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_07.png" width="124" height="124"></a>
										<div>
											<a href="#">
												<h3>音响</h3>
											</a>
										</div>
									</li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						<div class="clearf"></div>
					</div>
					<div class="clearf"></div>
				</div>
			</div>
		</section>
		<include file="Public/footer"/>
	</body>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script src="js/jquery.leoweather.min.js"></script>
	<script type="text/javascript" src="js/indexstore.js"></script>
	<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
	<script src="js/City_data.js"></script>
	<script src="js/areadata.js"></script>
	<script src="js/showwin2.js"></script>

</html>