<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<!--		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />-->
		<!--IE7,8兼容-->
		<!--<meta http-equiv="x-ua-compatible" content="ie=7" />-->
		<link rel="stylesheet" href="__PUBLIC__/Home/css/indexstore.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sinaFaceAndEffec.css" />
	</head>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101383226" data-redirecturi="http://xishimatou.com" charset="utf-8"></script>
<script type="text/javascript"
src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true"></script>
	<body>
		<div class="show-bg"></div>
		<header>
			<include file="Public/head"/>
			<div class="h-content-main">
				<div class="h-main-c">

					<div class="h-c-2f">
						<div class="h-f2-l">
							<img src="__PUBLIC__/Home/img/logo.png" />
						</div>
						<div class="h-f2-c">
							<div class="demo">
								<form action="http://www.jsfoot.com/e/search/index.php" method="post" name="searchform" id="searchform" class="searchinfo">
									<ul>
										<li><input type="text" id="tt" value="" class="text" style="text-align: left;" placeholder="请输入您要查询的内容或关键字" autocomplete="off" /></li>
										<li><input type="submit" value="" class="button" /></li>
										<li class="clearfloat"></li>
									</ul>
								</form>
							</div>
							<div class="h-f2-c-dec">
								<a>热门搜索：</a>
								<a href="#">
									<p>关键字</p>
								</a>
								<a href="#">
									<p>关键字</p>
								</a>
								<a href="#">
									<p>关键字</p>
								</a>
								<a href="#">
									<p>关键字</p>
								</a>
								<a href="#">
									<p>关键字</p>
								</a>
								<a href="#">
									<p>关键字</p>
								</a>
							</div>
						</div>
						<div class="h-f2-r">
							<p style="margin-top: 25px;">24小时服务热线</p>
							<p style="margin-top: 12px; color: #FF5C5D; font-size: 18px;">188-8888-888</p>
						</div>
						<div class="clearf"></div>
					</div>
					<div class="h-c-3f">
						<div class="h-f3-c">
							<ul>
								<li>
									<a href="#" class="index">首页</a>
								</li>
								<li>
									<a href="xsdt-xy.php" id="xsdt-a">悬赏大厅</a>
								</li>
								<li>
									<a id="zpdt-a" href="zpdt1-cc.php">招聘大厅</a>
								</li>
								<li>
									<a id="tzsc-a" href="tzsc-cc.php">跳蚤市场</a>
								</li>
								<li>
									<a id="mtbd-a" href="mtbu-zy.php">码头部队</a>
								</li>
								<li>
									<a id="mtsc-a" href="mtsc-zy.php">码头商城</a>
								</li>
								<li class="clearf"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--登录注册开始-->
			
			<!--登录注册结束-->
			<nav>
				<div style="width: 100%;height: 2px;background: #ff5c5d;"></div>
			</nav>
		</header>

		
		<div class="spdlc" id="spdlc" title="消息">
			<div class="titlenac">
				<img src="__PUBLIC__/Home/img/swtitle.png">
				<div class="rhidec">
					<img src="__PUBLIC__/Home/img/hide.png">
				</div>
			</div>
			<div class="fbtypec">
			</div>
			<!--<div class="spfxc"></div>-->

			<div class="contentc">
				<div class="cca" id="cca" >个人</div>
				<div class="ccb" id="ccb"><p class="ccrc">婚庆公司<br>影楼<br>工作室<br>表演团体</p></div>
			</div>
			<div class="spfxb" style="margin-top: 200px;"></div>
			
			<div class="contentimg">
				<img src="__PUBLIC__/Home/img/xzjs.png" />
			</div>
		</div>
		<div style="width: 1200px;height: 7px;background: #fff; margin:  0 auto;"></div>
		<section>
			<div class="s-conten-main">
				<div class="s-main-c">
					<div class="s-c-1f">
						<div class="s-f1-l">
							<div id="PicSlide">
								<ul class="img">
									<li style="display:list-item;">
										<a href="?s=/Home/Zpdt1"><img src="__PUBLIC__/Home/img/banner_big01.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href="?s=/Home/Tzsc"><img src="__PUBLIC__/Home/img/banner_big02.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href="?s=/Home/Xsdt"><img src="__PUBLIC__/Home/img/banner_big03.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href="?s=/Home/Ysq"><img src="__PUBLIC__/Home/img/banner_big04.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt"><img src="__PUBLIC__/Home/img/banner_big05.png" width="980" height="450" /></a>
									</li>
									<li>
										<a href="?s=/Home/Tjcs"><img src="__PUBLIC__/Home/img/banner_big06.png" width="980" height="450" /></a>
									</li>
								</ul>
								<div class="thumb">
									<ul>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small01.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small02.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small03.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small04.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small05.png" width="163" height="80" /></a>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Home/img/banner_small06.png" width="163" height="80" /></a>
										</li>
									</ul>
									<div class="now-status" style="__PUBLIC__/Home/left:0px;"></div>
								</div>
							</div>
						</div>
						<div class="s-f1-r">
							<div class="s-f1-r-1f" id="ydl">
								<div class="center s-f1-r-1f-word">
									<h2>发现更多好服务</h2>
								</div>
								<php>if(empty($_SESSION['username'])){</php>
									<div id="login" class="center login ">
										<div class="img"><img src="__PUBLIC__/Home/img/login.png" alt="" /></div>
										<span>用户登录</span>
									</div>
								<php>}else{</php>
									<div class="center login"><div class="img"><img src="/matouPCS/Public/Home/img/login.png" alt="" /></div><span>{$_SESSION['username']}</span></div>
								<php>}</php>

							</div>
							<div class="s-f1-r-2f">
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td >
											<div class="s-f1-r-6 center">
												<img src="__PUBLIC__/Home/img/rightside_icon01.png" alt="" />
											</div>
											<php>if(empty($_SESSION['username'])){</php>
												<span class="s-f1-r-word"><a id="findc" href="#" onclick="alert('您还没有登录!')">发布悬赏</a></span>
											<php>}else{</php>
												<?php if(in_array($_SESSION['id'],$ren)){ ?>
												<span class="s-f1-r-word"><a id="findc" href="?s=/Home/Xsdt/txxs/">发布悬赏</a></span>
												<?php }else{ ?>
												<span class="s-f1-r-word"><a id="findc" href="?s=/Home/Xsdt/txxs/">发布悬赏</a></span>
												<?php } ?>
												<!-- <span class="s-f1-r-word"><a href="?s=/Home/Xsdt/txxs">发布悬赏</a></span> -->
											<php>}</php>
										</td>
										<td>
											<div class="s-f1-r-6 center">
												<img src="__PUBLIC__/Home/img/rightside_icon02.png" alt="" />
											</div>
											<php>if(empty($_SESSION['username'])){</php>

											<span class="s-f1-r-word"><a id="fbys" href="#" onclick="alert('您还没有登录!')">发布应赏</a></span>
											
											<php>}else if(!empty($fbys)){</php>
											<span class="s-f1-r-word"><a href="#" onclick="alert('您已发布过应赏!')">发布应赏</a></span>
											<php>}else{</php>
											<span class="s-f1-r-word"><a id="fbys" href="?s=/Home/Ysq/txys">发布应赏</a></span>
											<php>}</php>
										</td>
									</tr>
									<tr>
										<td>
											<div class="s-f1-r-6 center">
												<img src="__PUBLIC__/Home/img/rightside_icon03.png" alt="" />
											</div>
											<php>if(empty($_SESSION['username'])){</php>
											<span class="s-f1-r-word"><a id="fbzp" href="#" onclick="alert('您还没有登录!')">发布招聘</a></span>
											<php>}else{</php>
											<span class="s-f1-r-word"><a id="fbzp" href="?s=/Home/Zpdt/txzp">发布招聘</a></span>
											<php>}</php>
										</td>
										<td>
											<div class="s-f1-r-6 center">
												<img src="__PUBLIC__/Home/img/rightside_icon04.png" alt="" />
											</div>
											<php>if(empty($_SESSION['username'])){</php>
											<span class="s-f1-r-word"><a id="fbyp" href="#" onclick="alert('您还没有登录!')">发布应聘</a></span>
											<php>}else if(!empty($fbyp)){</php>
											<span class="s-f1-r-word"><a href="#" onclick="alert('您已发布过应聘!')">发布应聘</a></span>
											<php>}else{</php>
											<span class="s-f1-r-word"><a id="fbyp" href="?s=/Home/Zpdt1/txyp">发布应聘</a></span>
											<php>}</php>
										</td>
									</tr>
									<tr>
										<td>
											<div class="s-f1-r-6 center">
												<img src="__PUBLIC__/Home/img/rightside_icon05.png" alt="" />
											</div>
											<php>if(empty($_SESSION['username'])){</php>
											<span class="s-f1-r-word"><a id="fbqg" href="#" onclick="alert('您还没有登录!')">发布二手求购</a></span>
											<php>}else{</php>
											<span class="s-f1-r-word"><a id="fbqg" href="?s=/Home/Tzsc/txqg">发布二手求购</a></span>
											<php>}</php>
										</td>
										<td>
											<div class="s-f1-r-6 center">
												<img src="__PUBLIC__/Home/img/rightside_icon06.png" alt="" />
											</div>
											<php>if(empty($_SESSION['username'])){</php>
											<span class="s-f1-r-word"><a id="fbxz" href="#" onclick="alert('您还没有登录!')">发布二手闲置</a></span>
											<php>}else{</php>
											<span class="s-f1-r-word"><a id="fbxz" href="?s=/Home/Tzsc/txxz">发布二手闲置</a></span>
											<php>}</php>
										</td>
									</tr>
								</table>
							</div>
							<div class="s-f1-r-3f">
								<div class="s-f1-r-3f-wx center">
									<img src="__PUBLIC__/Home/img/erweima_top.png" alt="" />
								</div>
								<p>关注喜事码头官方公众号</p>
								<h2>有更多惊喜等着你哟</h2>
							</div>
						</div>
						<div class="clearf"></div>
					</div>
					<span style="height: 50px;display: block;"></span>

					<div class="s-c-2f">
						<div id="xsdt" class="s-ft-f">
							<div class="Catalog">
								<a href="?s=/Home/Xsdt"><img src="__PUBLIC__/Home/img/Catalog.png" width="198" height="26"></a>
							</div>

							<div class="More">
								<p>
									<a href="?s=/Home/Xsdt">更多>>
										<!--<img src="img/more.png" width="17" height="17">--></a>
								</p>
							</div>

						</div>
						<div class="s-f2-l">
							<div class="s-f2-l">
								<ul>
									<li>
										<!-- 悬赏大厅遍历 -->
										<foreach name="stu_one" item="stuone">
											<a href="?s=/Home/xsdt/xqxs/id/{$stuone['psid']}">
												<div class="sxllist">
													<div class="sxultem1">
														<p style="color: #ff5c5d;">￥{$stuone.price}</p>
														<p>{$stuone.time}</p>
														<p>需要：{$stuone.type}</p>
													</div>
													<div class="sxultem2">
														<p>用户{$stuone.username|substr=0,5}发布</p>
														<?php $add = explode(',',$stuone['address']); ?>
														<p style="font-size: 12px; float: right;padding-right: 10px;"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;{$add[0]}</p>
													</div>
												</div>
											</a>
										</foreach>
										<a class="clearf"></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="s-f2-r">
							<div class="s-f2-r-1f">
								<h2>5秒发布悬赏</h2>
							</div>
							<div class="s-f2-r-2f">
								<p>发布一个需求</p>
								<p>得到多份解决</p>
							</div>
							<div class="s-f2-r-3f">
								<a href="?s=/Home/Xsdt/txxs"><div id="s-f2-r-button" class="button center">点击发布悬赏</div>
								<div id="s-f2-r-img" class="img center">
									<img id=tp src="__PUBLIC__/Home/img/reword_gesture.png" style="position:absolute; left:0; top:0; border:0">
								</div></a>
							</div>
						</div>
						<div class="clearf"></div>
					</div>
					<span style="height: 50px;display: block;"></span>

					<div class="s-c-3f">
						<div id="zpdt" class="s-ft-f">

							<div class="Catalog">
								<a href="?s=/Home/Zpdt1/index/type/0"><img src="__PUBLIC__/Home/img/Catalog_02.png" width="198" height="26"></a>
							</div>
							<div class="More">
								<p>
									<a href="?s=/Home/Zpdt1/index/type/0">更多>></a>
								</p>
							</div>

						</div>
						<div class="s-f3-r">
							<div class="s-f3-r-1f">招贤纳士</div>
							<div class="s-f3-r-2f">
								<ul class="s-f3-r-2f-l">
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_01.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_02.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_07.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_03.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_04.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_05.png" width="22" height="22">
										</div>
									</li>
									<li>
										<div style="width: 20px; height: 18px;">
											<img src="__PUBLIC__/Home/img/icon_06.png" width="22" height="22">
										</div>
									</li>
								</ul>
								<ul class="s-f3-r-2f-r">
									<li>
										<a href="?s=/Home/Zpdt1/index/type/1">经理/店长</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/2">营业员</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/3">化妆师</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/4">数码师/设计</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/5">视频剪辑师</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/6">摄像师</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/7">摄影师</a>
									</li>
									<li>
										<a href="?s=/Home/Zpdt1/index/type/8">策划师</a>
									</li>
								</ul>
							</div>
							<div class="s-f3-r-3f">
								<div style="width: 110px; height: 35px;" class="center">
									<button>立即应聘</button>
								</div>
							</div>
						</div>
						<div class="s-f3-l">
							<ul>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/1" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic01.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">经理/店长</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>

								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/2" class="abgs2">
										<img src="__PUBLIC__/Home/img/recruit_pic02.png" />
										<div class="abg2">
											<div class="abg2-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">营业员</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/3" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic03.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">化妆师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/4" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic04b.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">数码师/设计</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/5" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic05.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">视频剪辑师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/6" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic06.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄像师</div>
											<div class="abg1-r">查看更多</div>
										</div>

									</a>
								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/7" class="abgs2">
										<img src="__PUBLIC__/Home/img/recruit_pic07.png" />
										<div class="abg2">
											<div class="abg2-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">摄影师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li>
									<a href="?s=/Home/Zpdt1/index/type/8" class="abgs1">
										<img src="__PUBLIC__/Home/img/recruit_pic08.png" />
										<div class="abg1">
											<div class="abg1-c">
												<p>Welcome to</p>
												<p>the wedding pier</p>
											</div>
											<div class="abg1-l">策划师</div>
											<div class="abg1-r">查看更多</div>
										</div>
									</a>
								</li>
								<li class="clearf"></li>
							</ul>
							<ul class="clearf"></ul>
						</div>
						<div class="s-f3-x">
							<img src="__PUBLIC__/Home/img/bannerfgx1.png" />
						</div>
						<div class="clearf"></div>
					</div>
					<span style="height: 50px;display: block;"></span>

					<div class="s-c-4f">
						<div id="mtbd" class="s-ft-f">

							<div class="Catalog">
								<a href="?s=/Home/Mtbu"><img src="__PUBLIC__/Home/img/Catalog_01.png" width="198" height="26"></a>
							</div>
							<div class="More">
								<p>
									<a href="?s=/Home/Mtbu">更多>></a>
								</p>
							</div>

						</div>

						<div class="troops">
							<!-- 码头部队 -->
							<foreach name="budui" item="buduis">
								<div class="company">
									<p class="company_01_01"><img src="__PUBLIC__/Home/img/sca.png" />关注{$buduis.fen}</p>
									<div class="hp">
										<img src="__PUBLIC__/Home/img/wharf_force_people.png">
									</div>
									<div class="company_01">
										<p class="company_01_02"><b>{$buduis.forcename}</b></p>

										<ul>
											<li>公司类型：</li>
											<li>
												<p>{$buduis.type_bd}</p>
											</li>
											<span><img src="__PUBLIC__/Home/img/zb.png">{$buduis.address}</span>
										</ul>
										<div class="company_02">
											<ul>
												<li>{$buduis.content}</li>
											</ul>
										</div>
									</div>
									<?php if($_SESSION['id'] == $buduis['uid']){ ?>
										<a href="?s=/Home/Mtbu/rzbddndt/id/{$buduis.uid}">
											<div class="company_03">
												<p>查看详情</p>
											</div>
										</a>
									<?php }else{ ?>
										<a href="?s=/Home/Mtbu/rzbddydt/id/{$buduis.uid}">
											<div class="company_03">
												<p>查看详情</p>
											</div>
										</a>
									<?php } ?>

								</div>
								<div class="blank">
								</div>
							</foreach>
						</div>

						<div class="s-f4-r">
							<div class="s-f4-r-1f">
								码头部队
							</div>
							<div class="s-f4-r-2f">
								<ul>
									<li class="s-f4-r-2f-1">
										<a href="">部队类型</a>
									</li>
									<li class="s-f4-r-2f-2">
										<a href="">部队类型</a>
									</li>
								</ul>
								<ul>
									<li class="s-f4-r-2f-3">
										<a href="">部队类型</a>
									</li>
									<li class="s-f4-r-2f-1">
										<a href="">部队类型</a>
									</li>
								</ul>
							</div>
							<div class="s-f4-r-3f">
								<p class="p1">婚庆行业的</p>
								<p class="p2">专属“<span>微博</span>”</p>
								<p class="p3">分享你身边的</p>
								<p class="p3">婚礼喜事</p>
							</div>
							<div class="s-f4-r-4f">
								<a href="?s=/Home/Mtbu/rzbd"><div style="width: 110px; height: 35px;" class="center">
									<button>立即加入</button>
								</div></a>
							</div>
						</div>
						<div class="s-f3-x">
							<img src="__PUBLIC__/Home/img/bannerfgx2.png" />
						</div>
						<div class="clearf"></div>
					</div>
					<span style="height: 50px;display: block;"></span>

					<div class="s-c-5f">
						<div id="mtsc" class="s-ft-f">

							<a href="?s=/Home/Tjcs"><div class="Catalog">
								<img src="__PUBLIC__/Home/img/Catalog_03.png" width="198" height="26">
							</div></a>

							<div class="More">
								<p>
									<a href="?s=/Home/Tjcs">更多>></a>
								</p>
							</div>

						</div>
						<div class="s-f5-l">
							<div class="s-f5-l-1f">
					码头商城
							</div>
							<div class="s-f5-l-2f">
								<ul>
									<li class="s-f5-l-2f-1">
										<a href="">销售商</a>
									</li>
									<li class="s-f5-l-2f-2">
										<a href="">租赁商</a>
									</li>
								</ul>
								<ul>
									<li class="s-f5-l-2f-3">
										<a href="">销售租赁</a>
									</li>
									<li class="s-f5-l-2f-1">
										<a href="">婚车租赁</a>
									</li>
								</ul>
							</div>
							<div class="s-f5-l-3f">
								<p class="p1">婚庆供应商的</p>
								<p class="p2">专属“<span>地盘</span>”</p>
								<p class="p3">免费入驻</p>
								<p class="p4">全国宣传</p>
							</div>
							<a href="?s=/Home/Tjcs/spcj" >

							<div class="s-f5-l-4f">
								<div style="width: 110px; height: 35px;" class="center">
									<button>立即入驻</button>
								</div>
							</div>
						</a>
						</div>

						<div class="wharf">
							<ul class="mtsc">
								<foreach name="shang" item="shangs">
									<li>
										<a href="?s=/Home/Tjcs/spxq/id/{$shangs.id}">

											<div class="mtsc-cl">
												<img src="__PUBLIC__/Home/img/picture.png" />
											</div>
											<div class="mtsc-cr">
												<p style="font-size: 16px;color: #5b5b5b;">{$shangs.shopname}</p>
												<p style="height: 20px;">地址：{$shangs.address}&nbsp;</p>
												<p>类型：{$shangs.type}</p>
											<div class="mtscc">
												<p>
													{$shangs.zysp}
												</p>
												<div class="clearf"></div>
												</div>
												<p style="float: right;width: 90px;margin-top: 10px;"><img src="__PUBLIC__/Home/img/sca.png" />&nbsp;收藏{$shangs.collect}</p>
											</div>
										</a>
									</li>
								</foreach>
							</ul>
						</div>

						<div class="s-f3-x">
							<img src="__PUBLIC__/Home/img/bannerfgx3.png" />
						</div>
						<div class="clearf"></div>
					</div>
					<span style="height: 50px;display: block;"></span>

					<div class="s-c-6f">
						<div id="tzsc" class="s-ft-f">

							<div class="Catalog">
								<a href="?s=/Home/Tzsc">
									<img src="__PUBLIC__/Home/img/Catalog_04.png" width="198" height="26">
								</a>
							</div>
							<div class="More">
								<p>
									<a href="?s=/Home/Tzsc">更多>></a>
								</p>
							</div>

						</div>
						<div class="s-f6-l">

							<ul class="tsul">
								<foreach name="tiao" item="tiaos">
									<php>if($tiaos['type'] == 2){</php>
										<li>
										<a href="?s=/Home/Tzsc/xqxz/id/{$tiaos.fid}">
											<div class="tsuimg">
												<img src="__PUBLIC__/Home/img/flea_people.png" />
											</div>
											<div class="tscontent1">
												<div class="tscontent1-a">
													<p>闲置：{$tiaos.name}</p>
													<p>预算：<span style="color:#ff5c5d">￥{$tiaos.price}</span></p>
													<p style="font-size: 14px!important;"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;{$tiaos.address}</p>
												</div>
												<div class="tscontent1-b">
													<p>要求：{$tiaos.content|substr=0,30}</p>
												</div>
											</div>
											<div class="tscontent2">
												<?php $shou = explode(',',$tiaos['shou']);
														array_pop($shou);
														$shous = count($shou);
														 ?>
												<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;收藏人数{$shous}人</p>
											</div>
										</a>
									</li>
									<php>}else{</php>
										<li>
										<a href="?s=/Home/Tzsc/xqqg/id/{$tiaos.fid}">
											<div class="tsuimg">
												<img src="__PUBLIC__/Home/img/flea_people.png" />
											</div>
											<div class="tscontent1">
												<div class="tscontent1-a">
													<p>求购：{$tiaos.name}</p>
												    <p>预算：<span style="color:#ff5c5d">￥{$tiaos.price}</span></p>
													<p style="font-size: 14px!important;"><img src="__PUBLIC__/Home/img/gray_small_position.png" />&nbsp;{$tiaos.address}</p>
												</div>
												<div class="tscontent1-b">
													<p>要求：{$tiaos.content|substr=0,30}</p>
												</div>
											</div>
											<div class="tscontent2">
												<?php $bao = explode(',',$tiaos['bao']);
														array_pop($bao);
														$baos = count($bao);
														 ?>
												<p><img src="__PUBLIC__/Home/img/fsx.png" />&nbsp;&nbsp;报名人数{$baos}人</p>
											</div>
										</a>
									</li>
									<php>}</php>
									
								</foreach>
								<li class="clearf"></li>
							</ul>
							<!--<ul>
								<li>
									<a href="#">
										<div>
											<div class="" style="float: left;">
												<img src="img/flea_people.png" style="width: 90%;">
											</div>
											<p style="line-height: 38px; font-size: 16px;"><strong><span id="">求购音响一台</span>&nbsp;预算:<span>￥800</span></strong></p>
											<p><span id="">要求:可以播在电脑、手机上的、音量要大、九成新...</span>&nbsp;&nbsp;<span id="" style="font-size: 12px;">报名人数10人</span></p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<div class="" style="float: left;">
												<img src="img/flea_people.png" style="width: 90%;">
											</div>
											<p style="line-height: 38px; font-size: 16px;"><strong><span id="">求购音响一台</span>&nbsp;预算:<span>￥800</span></strong></p>
											<p><span id="">要求:可以播在电脑、手机上的、音量要大、九成新...</span>&nbsp;&nbsp;<span id="" style="font-size: 12px;">报名人数10人</span></p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<div class="" style="float: left;">
												<img src="img/flea_people.png" style="width: 90%;">
											</div>
											<p style="line-height: 38px; font-size: 16px;"><strong><span id="">求购音响一台</span>&nbsp;预算:<span>￥800</span></strong></p>
											<p><span id="">要求:可以播在电脑、手机上的、音量要大、九成新...</span>&nbsp;&nbsp;<span id="" style="font-size: 12px;">报名人数10人</span></p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
										<div class="" style="float: left;">
												<img src="img/flea_people.png" style="width: 90%;">
											</div>
											<p style="line-height: 38px; font-size: 16px;"><strong><span id="">求购音响一台</span>&nbsp;预算:<span>￥800</span></strong></p>
											<p><span id="">要求:可以播在电脑、手机上的、音量要大、九成新...</span>&nbsp;&nbsp;<span id="" style="font-size: 12px;">报名人数10人</span></p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<div class="" style="float: left;">
												<img src="img/flea_people.png" style="width: 90%;">
											</div>
											<p style="line-height: 38px; font-size: 16px; color: #4d4d4D!important;"><span id="" style="font-size: 16px!important;display: block; width: 80;">一台</span>&nbsp;&nbsp;&nbsp;预算:￥800
												<span style="float: right;" id=""><img src="img/gray_small_position.png">&nbsp;郑州</span>
											</p>
											<p style="color: #999;"><span id="">要求:可以播在电脑、手机上的、音量要大、九成新...</span>&nbsp;&nbsp;<span id="" style="font-size: 12px; color: #CCC;">报名人数10人</span></p>
										</div>
									</a>
								</li>
								<li class="clearf"></li>
							</ul>-->
						</div>
						<div class="s-f6-r">
							<div class="f6-l-o1">
								<ul>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea.png" width="124" height="124"></a>
										<p>
											<a href="#">摄影器材</a>
										</p>
									</li>

									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_01.png" width="124" height="124"></a>
										<p>
											<a href="#">摄像器材</a>
										</p>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_02.png" width="124" height="124"></a>
										<p>
											<a href="#">音响</a>
										</p>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_03.png" width="124" height="124"></a>
										<p>
											<a href="#">灯光</a>
										</p>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_04.png" width="124" height="124"></a>
										<p>
											<a href="#">婚纱</a>
										</p>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_05.png" width="124" height="124"></a>
										<p>
											<a href="#">礼服</a>
										</p>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_06.png" width="124" height="124"></a>
										<p>
											<a href="#">舞台桁架</a>
										</p>
									</li>
									<li>
										<a href="#"><img src="__PUBLIC__/Home/img/Flea_07.png" width="124" height="124"></a>
										<p>笔记本</a>
										</p>
									</li>
									<li class="clearf"></li>
								</ul>
							</div>
							<!--<div class="f6-l-o2">2</div>-->
						</div>
						<div class="clearf"></div>
					</div>
					<span style="height: 50px;display: block;"></span>

				<include file="Public/foot"/>
	</body>

	<script>
		//描点
		//	$('#xsdt-a').click(function(){
		//		$("html,body").animate({scrollTop: $('#xsdt').offset().top}, 1000);
		//	})
		//	$('#zpdt-a').click(function(){
		//		$("html,body").animate({scrollTop: $('#zpdt').offset().top}, 1000);
		//	})
		//	$('#tzsc-a').click(function(){
		//		$("html,body").animate({scrollTop: $('#tzsc').offset().top}, 1000);
		//	})
		//	$('#mtbd-a').click(function(){
		//		$("html,body").animate({scrollTop: $('#mtbd').offset().top}, 1000);
		//	})
		//	$('#mtsc-a').click(function(){
		//		$("html,body").animate({scrollTop: $('#mtsc').offset().top}, 1000);
		//	})
		//    鼠标动态开始
		var hh = 30; //图片实际高度减去div高度
		var pp = 2; //每次移动幅度（像素）
		var ss = 50; //每次移动时间（毫秒）
		var fx = true; //移动方向
		var tp = document.getElementById("tp"); //图片对象
		var b = document.getElementById('s-f2-r-button');

		function gd() {
			var tt = parseInt(tp.style.top);
			fx = fx ? tt > -hh : tt >= 0;
			tp.style.top = tt + (fx ? -pp : pp) + "px";
			if(tt <= -15 && tt >= -30) {
				b.style.backgroundColor = '#ff9393';
				b.style.color = '#ffffff';
			} else {
				b.style.backgroundColor = '#cccccc';
				b.style.color = '#ff6b6b';
			}
			var timer1 = setTimeout(gd, ss);
			b.onmouseover = function() {
				tp.style.top = '0';
				clearInterval(timer1);
				b.style.backgroundColor = '#cccccc';
				b.style.color = '#ff6b6b';
			}
			b.onmouseout = function() {
				tp.style.top = '0';
				gd();
			}
		}
		gd();
		//    鼠标动态结束
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			//幻灯片调用
			slider.init({
				'id': $('#PicSlide'),
				way: 'left',
				interval: 4000
			});
		});
	</script>
	<script type="text/javascript">
		$(function() {

				$("#tt").bigAutocomplete({
					width: 464,
					data: [{
						title: "中国好声音",
						result: {
							ff: "qq"
						}
					}, {
						title: "中国移动网上营业厅"
					}, {
						title: "中国银行"
					}, {
						title: "中国移动"
					}, {
						title: "中国好声音第三期"
					}, {
						title: "中国好声音 第一期"
					}, {
						title: "中国电信网上营业厅"
					}, {
						title: "中国工商银行"
					}, {
						title: "中国好声音第二期"
					}, {
						title: "中国地图"
					}],

				});

			})
		
		//收藏
		$(function() {
			$(".company_01_01 img").hover(
					function() {
						$(this).attr("src", "/matouPCS/Public/Home/img/scb.png");
					},
				function() {
					$(this).attr("src", "/matouPCS/Public/Home/img/sca.png");
				}
			);
		});

		$(function() {
			$(".mtscc p img").hover(
				function() {
				$(".mtscc p img").attr("src", "/matouPCS/Public/Home/img/scb.png");
			},
			function() {
				$(".mtscc p img").attr("src", "/matouPCS/Public/Home/img/sca.png");
			}
				);
		});
		$(function() {
			$(".content_01_01 img").hover(
				function() {
				$(this).attr("src", "/matouPCS/Public/Home/img/scb.png");
			},
			function() {
				$(this).attr("src", "/matouPCS/Public/Home/img/sca.png");
			}
				);
		});
	</script>

</html>