   	

		
						<foreach name="list" item="lists">
							<div class="s-c-3f">
								<div class="rmdtct">
									<ul class="rmdt">
										<li>
											<div class="rmdt-1f">
												<div class="rmdt-1fc1">
													<p><img src="__PUBLIC__/Home/img/pltx.png" /></p>
													<p>用户{$lists.username|substr=0,5}</p>
													<p>logo</p>
													<p class="rmdtcmap">所在地：{$lists.addre}&nbsp;</p>
													<p class="rmdtcjs">{$lists.content}</p>
												</div>
											</div>
										</li>
										<li>
											<div class="rmdt-2f">
												<div class="rmdt-img1">
													<img src="__PUBLIC__/Home/img/yhmc-big.png" />
												</div>
												<div class="rmdt-img1">
													<img src="__PUBLIC__/Home/img/yhmc-big.png" />
												</div>
												<div class="rmdt-img1">
													<img src="__PUBLIC__/Home/img/yhmc-big.png" />
												</div>
												<div class="rmdt-img1">
													<img src="__PUBLIC__/Home/img/yhmc-big.png" />
												</div>
												<div class="rmdt-img1">
													<img src="__PUBLIC__/Home/img/yhmc-big.png" />
												</div>
												<div class="rmdt-img1">
													<img src="__PUBLIC__/Home/img/yhmc-big.png" />
												</div>
												<div class="clearfloat "></div>
											</div>
										</li>
										<li>
											<div class="rmdt-3f">
												<p class="rmdtcdz">点赞&nbsp;100</p>
												<p class="rmdtcfb">2016.12.12发布</p>
												<p class="clearfloat"></p>
												<br>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<br>
						</foreach>
			
						<div style="text-align:center;" class="margin">
							<button onclick="tj()" name='btn' id='btn' >点击加载更多</button>
						</div>
				
				
					   	