
<!-- 悬赏大厅的局部 -->
<ul>
    <?php for ($i=0; $i < count($list); $i++) {  ?>
        <a href="?s=/Home/xsdt/xqxs/id/{$list[$i]['psid']}">
            <li>
                <div class="tx">
                    <img src="__PUBLIC__/Home/img/yhmc.png" />
                </div>
                <p class="yhmc">用户{$list[$i]['username']|substr=0,6}</p>
                <p class="hdsj">活动时间：{$list[$i]['time']}</p>
                <?php $add = explode(',',$list[$i]['address']); ?>
                <p class="hddd">活动地点：{$add[0]}</p>
                <div class="details">
                        <?php for ($j=0; $j < count($list[$i]); $j++) {  ?>

                            <?php if(!empty($list[$i][$j])){ ?>
                                <p class="sex">{$list[$i][$j]['sex']}</p>
                                <p class="age">{$list[$i][$j]['age']}</p>
                                <p class="jtyq"><?php echo  $list[$i][$j]['type'];?></p>
                                <p class="price">{$list[$i][$j]['price']}元/天</p>
                                <p class="bm">123人报名</p>
                            <?php } ?>
                        <?php } ?>
                    <p class="sjfb">{$list[$i]['date']}发布</p>
                </div>
            </li>
        </a>
        <php>}</php>
    <br>
    <div class="pager">{$page}</div>
</ul>