<foreach name="shop" item="v">
	<div class="s-c-3f">
		<div class="f3-c-1">
			<div class="f3-c-user">
				<div class="f3-c-user-img">
						 <if condition="$v[imagename]==''">
					<img src="__PUBLIC__/Home/img/bdmc.png" />
                      <else />
                      	<img src="/matouPCS/Tu/upload/{$v.imagename}"  width="60" height="60" style="border-radius:50%"/>
                    </if>
					
				</div>
				<div class="f3-c-user-xx">
					<p class="spmc">
						{$v.shopname}
					</p>
					<p>
						{$v.type}
					</p>
					<p>
						收藏量{$v.collect}
					</p>
					<p>
						{$v.address}
					</p>
					<p class="clearfloat"></p>
				</div>
			</div>
			<ul>
			<foreach name="data" item="datav">
					<?php if($v['id'] == $datav['pid']){ ?>
				<li>
					<a href="?s=/Home/Tjcs/spxq/id/{$datav.id}">
						<div class="f3-ul-cz">
						 <if condition="$datav[leixing]=='1'">
					<img src="__PUBLIC__/Home/img/12.png" />
                      <else />
                      	<img src="__PUBLIC__/Home/img/123.png" />
                    </if>
							
						</div>
				
						<img src="Uploads/Uploads/{$datav.pubtimes}/{$datav.imagenames}"  width="255" height="142" alt="商铺名称" />
				
						<div class="f3-ul-c1">
							<p class="red">￥{$datav.price}元</p>
							<p  class="lll">浏览量:{$datav.liulan}次</p>
							<p class="spxq">
							{$datav.content}
							</p>
						</div>
						<div class="f3-ul-c2">
						</div>
					</a>
				</li>
				<?php } ?>
				</foreach>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</foreach>
 <div class="pager">{$page}</div>