<div class="user">
<foreach name="list" item="lists">
	<php>if($lists['type'] == 2){</php>
	<div class="user_01">
					<a href="?s=/Home/Tzsc/xqxz/id/{$lists.fid}">
							<div class="xztp">
								<foreach name='listimg' item='v'>
									<if condition="$v[pid]==$lists[fid]">
								<?php 
									$file = explode(',',$v['imagenames']);
									array_pop($file);

								?>
								       </if>
									</foreach>			
								<if condition="$file==''">
										<img src="__PUBLIC__/Home/img/yhmc-big.png" alt="闲置">
                                      <else />
                                      		<img  width="254" height="150" class="xqcc-c5" src="<?php echo '/matouPCS/Uploads/'.substr($file[0],1); ?>" />
                                    </if>
							
									
								
									</div>
									<div class="user_01_01">
										<div class="user_01_02">
											<p>{$lists.name}</p><span>￥{$lists.price}元</span></div>
										<p class="user_01_03">
											<span class="black-333">商品介绍：</span>
											<span class="text69">
											{$lists.content}
											</span>
										</p>
									<?php $shou = explode(',',$lists['shou']);
						              array_pop($shou);
					          	  $shous = count($shou); ?>
				              	<p class="user_01_04">已有{$shous}人收藏</p>
			              	<p class="user_01_05">{$lists.address}</p>
									</div>
								</a>
							</div>
	                  <php>}else{</php>
	                  	<div class="user_01">
								<a href="?s=/Home/Tzsc/xqqg/id/{$lists.fid}">
									<div class="user_02">
										<div class="wptp">
										<if condition="$lists[imagename]==''">
										<img src="__PUBLIC__/Home/img/bdmc.png">
                                      <else />
                                      	<img src="/matouPCS/Tu/upload/{$lists.imagename}"   width="120" height="120" style="border-radius:50%"/>
                                    </if>
									
										</div>
										<p>用户{$lists.username|substr=0,5}</p>
										<div class="clearfloat"></div>
									</div>
									<div class="user_01_01-f">
										<div class="user_01_02">
											<p>{$lists.name}</p><span>预算￥{$lists.price}元</span></div>
										<p class="user_01_03-f">
											<span class="black-333">商品介绍：</span>
											<span class="text90">
											{$lists.content}
											</span>
										</p>
											<?php 
					$bao = explode(',',$lists['bao']);
						  array_pop($bao);
						  $baos = count($bao); ?>
					<p class="user_01_04">已有<?php echo $baos;?>人报名</p>
					<p class="user_01_05">{$lists.address}</p>
						<div class="clearfloat"></div>
										<div class="clearfloat"></div>
									</div>
								</a>
							</div>
	<php>}</php>
</foreach>
</div>
<br>
<div class="pager">{$page}</div>