<foreach name="list" item="lists">
	<li>
		<a href="?s=/Home/Zpdt/xqyp/id/{$lists.eid}">
			<div class="s-l-1f">
				<div class="yhtx">
					<if condition="$lists[imagename]==''">  
                                   <img src="__PUBLIC__/Home/img/yhmc.png"/>
                                   <else />
                                     <img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/{$lists.imagename}"  /> 
                                   </if>
				</div>
				<p class="yhmc">
				<if condition="$lists[tel]==$lists[username]">  
					用户{$lists.username|substr=0,5}
					<else />
					用户{$lists.username}
					</if>
				</p>
				<?php $add = explode(',',$lists['address']); ?>
				<p class="szd">
					工作地点：<?php echo $add[0];?>
				</p>
				<div class="clearfloat"></div>
			</div>
			<div class="s-l-2f">
				<div class="middle">
					<p class="black-333">{$lists.name}</p>
					<p class="age">{$lists.ages}</p>
					<p class="gzjy">
						<span class="black-333">工作经验：</span> {$lists.worktimes}年
					</p>
					<p class="grjj">
						<span class="black-333">个人简介：</span> {$lists.content}
					</p>
					<p class="ypzw">
						<span class="black-333">应聘职位：</span> {$lists.type}
					</p>
					<div class="clearfloat"></div>
				</div>
				<div>
					<p class="gzsj">
						<span class="black-333">工作时间：</span> {$works.worktime}
					</p>
					<p class="szgs">
						<span class="black-333">所在公司：</span> {$works.workname}
					</p>
					<p class="zw">
						<span class="black-333">职位：</span> {$works.typew}
					</p>
					<div class="clearfloat"></div>
				</div>
			</div>
			<div class="s-l-3f">
				<?php $shou = explode(',',$lists['em_shou']); 
					  array_pop($shou);
					  $shous = count($shou);
				?>
				<div class="left">
					已有{$shous}人收藏
				</div>
				<div class="right">
					{$lists.date}
				</div>
				<div class="clearfloat"></div>
			</div>
		</a>
	</li>

</foreach>
<div class="pager">{$page}</div>