<!-- 应赏大厅的局部 -->
<ul>
	<foreach name="list" item="lists">
		<li>
		<a href="?s=/Home/Ysq/xqys/id/{$lists.did}">
			<div class="s-l-1f">
				<div class="yhtx">
					<if condition="$lists[imagename]==''">  
                                   <img src="__PUBLIC__/Home/img/yhmc.png"/>
                                   <else />
                                     <img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/{$lists.imagename}"  /> 
                                   </if>
				</div>
				<p class="yhmc">
					<if condition="$lists[tel]==$lists[username]">  
					用户{$lists.username|substr=0,5}
					<else />
					用户{$lists.username}
					</if>
				</p>
				<p class="jg">
					薪资：
					<span class="red">{$lists.price}元/天</span>
				</p>
				<p class="szd">
					所在地：<?php $listss = explode(',',$lists['address']); echo $listss[0]; ?>
				</p>
				<div class="clearfloat"></div>
			</div>
			<div class="s-l-2f">
				<div class="middle">
					<p class="black-333">{$lists.name}</p>
					<p class="age">年龄：{$lists.age}</p>
					<p class="grjj">
						<span class="black-333">个人简介：</span> {$lists.content}
					</p>
					<div class="clearfloat"></div>
				</div>
				<div>
					<p class="black-333">{$lists.type_d}</p>
					<?php $imgnum = explode(',',$lists['imagename_z']);
					      $vidnum = explode(',',$lists['imagename_v']);
					      $dang = explode(',',$lists['dangdate']);
					      $dangs = explode(',',$lists['dangs']);
					      $ss = explode(',',$lists['due_shou']);
						   array_pop($imgnum);
						   array_pop($vidnum);
						   array_pop($dang);
						   array_pop($dangs);
						   array_pop($ss);
						   $imgnums = count($imgnum);
						   $vidnums = count($vidnum);
						   $sss = count($ss);
						   ?>
					<p class="zpzp">
						<span class="black-333">照片作品：</span> {$imgnums}个
					</p>
					<p class="spzp">
						<span class="black-333">视频作品：</span> {$vidnums}个
					</p>
					<p class="dq">
						<span class="black-333">档期：</span> <?php echo $dang[0];echo $dangs[0];?>&nbsp;&nbsp;......
					</p>
					<div class="clearfloat"></div>
				</div>
			</div>
			<div class="s-l-3f">
				<div class="left">
					已有{$sss}人收藏
				</div>
				<div class="right">
					{$lists.date}
				</div>
				<div class="clearfloat"></div>
			</div>
		</a>
	</li>
	</foreach>
<div class="pager">{$page}</div>
</ul>