<!-- 应赏大厅的局部 -->
<ul>
	<foreach name="list" item="lists">
		<a href="?s=/Home/Ysq/xqys/id/{$lists.did}">
			<li>
				<div class="tx">
					<img src="__PUBLIC__/Home/img/yhmc.png" />
				</div>
				<p class="yhmc">用户{$lists.username|substr=0,5}</p>
				<p class="price-f">
					{$lists.price}元/天
				</p>
				<p class="hddd">所在地: <?php $listss = explode(',',$lists['address']); echo $listss[0]; ?></p>
				<div class="details">
					<p>{$lists.name}</p>
					<p class="age-f">{$lists.age}岁</p>
					<!--<p style="margin-left: 20px; color: #999999;"></p>-->
					<p class="grjj">{$lists.content}</p>
					<p>职位:{$lists.type_d}</p>
					<?php $imgnum = explode(',',$lists['imagename_z']);
					      $vidnum = explode(',',$lists['imagename_v']);
					      $dang = explode(',',$lists['dangdate']);
					      $dangs = explode(',',$lists['dangs']);
					      $ss = explode(',',$lists['due_shou']);
						   array_pop($imgnum);
						   array_pop($vidnum);
						   array_pop($dang);
						   array_pop($dangs);
						   array_pop($ss);
						   $imgnums = count($imgnum);
						   $vidnums = count($vidnum);
						   $sss = count($ss);
						   ?>
					<p class="zpzp">照片作品：{$imgnums}个</p>
					<p class="spzp">视频作品：{$vidnums}个</p>
					<p class="dq">
						档期:<?php echo $dang[0];echo $dangs[0];?>&nbsp;&nbsp;......
					</p>
					<p class="sc">
						<a href="">已有{$sss}人收藏</a>
					</p>
					<p class="sjfb">{$lists.date}发布</p>
				</div>
			</li>
		</a>
	</foreach>
<div class="pager">{$page}</div>
</ul>