<!-- 招聘大厅的局部 -->
<ul>
	<foreach name="list" item="lists">
		<li>
			<a href="?s=/Home/Zpdt1/xqzp/id/{$lists.rid}">
				<div class="s-l-1f">
					<div class="yhtx">
						<img style="width:60px;" src="__PUBLIC__/Home/hye/{$lists.imagename}" />
					</div>
					<p class="yhmc">
						用户{$lists.username|substr=0,5}
					</p>
					<p class="bdmc">
						{$lists.forcename}
					</p>
					<p class="bdlx">
						{$lists.type_bd}
					</p>
					<?php $add = explode(',',$lists['address_zp']); ?>
					<p class="szd">
						工作地点：<?php echo $add[0];?>
					</p>
					<div class="clearfloat"></div>
				</div>
				<div class="s-l-2f">
					<?php for ($i=0; $i < 3; $i++) { ?>
					<?php  if($list[$i] != ''){?>
					<div class="middle">
						<p class="black-333">摄影师</p>
						<p class="age"><?php echo $lists[$i]['age']?></p>
						<p class="gwyq">
							<span class="black-333">岗位要求：</span> <?php echo $lists[$i]['content'].substr(0,10)?>
						</p>
						<p class="jg">
							<span class="black-333">薪资：</span> <?php echo $lists[$i]['price']?>元/天
						</p>
						<?php $ying = explode(',',$lists[$i]['zhao']);
							  array_pop($ying);
							  $yings = count($ying);?>
						<p class="bm"<?php echo $yings;?>
					<?php echo $lists[$i]['date']?>发布人报名</p>
						<div class="clearfloat"></div>
					</div>
					<?php } ?>
					<?php } ?>
				</div>
				<div class="s-l-3f">
					<div class="left">

					</div>
					<div class="right">
						2016-12-12
					</div>
					<div class="clearfloat"></div>
				</div>
			</a>
		</li>
	</foreach>
	<div class="pager">{$page}</div>
</ul>