<!-- 招聘大厅的局部 -->
<ul>
	<foreach name="list" item="lists">
		<a href="?s=/Home/Zpdt1/xqzp/id/{$lists.rid}">
			<li>
				<div class="tx">
					<img style="width:60px;" src="__PUBLIC__/Home/hye/{$lists.imagename}" />
				</div>
				<p class="yhmc">用户{$lists.username|substr=0,5}</p>
                <p class="hdsj">认证logo</p>
				<p class="hdsj">部队名称：{$zpdt.forcename}</p>
                <p class="hdsj">部队类型：{$zpdt.type_bd}</p>
                <?php $add = explode(',',$lists['address_zp']); ?>
				<p class="hddd">活动地点：<?php echo $add[0];?></p>
				<div class="details">
					<foreach name="listn" item="zpdt">
						<php>if($lists['rid'] == $zpdt['pid'] && $lists['uid'] == $zpdt['usid']){</php>
						<p>{$zpdt.type}</p>
						<php>if($zpdt['sex'] == '1'){</php>
							<p class="sex" style="color:#000;">男</p>
						<php>}</php>
						<php>if($zpdt['sex'] == '2'){</php>
							<p class="sex" style="color:#000;">女</p>
						<php>}</php>
						<php>if($zpdt['sex'] == '3'){</php>
							<p class="sex" style="color:#000;">不限</p>
						<php>}</php>
						
						<p class="age" style="color:#000;">{$zpdt.age}岁</p>
						<p class="jtyq" ><span style="color:#000;">具体要求 :</span> &nbsp;{$zpdt.content}</p>
						 <p class="price">{$zpdt.price}元/天</p>
						 <?php $num = explode(',',$zpdt['zhao']);
						 		array_pop($num);
						 		$nums = count($num);
						  ?>
						<p class="bm">{$nums}人应聘</p>
						<php>}</php>
					</foreach>
					<p class="sjfb">{$lists.date}发布</p>
				</div>
			</li>
		</a>
	</foreach>
	<div class="pager">{$page}</div>
</ul>