* {
	margin: 0;
	padding: 0;
}

.content-main-c {
	width: 1200px;
	margin: 0 auto;
}

.caretf {
	clear: both;
}

a {
	text-decoration: inherit;
}

@font-face {
	font-family: 'NewFont';
	src: url('../font/font.otf');
}


/*--------------h----------------*/

.h-c-1f {
	width: 100%;
	height: 162px;
}

.h-f1c {
	width: 100%;
	height: 104px;
	/*margin-top: 59px;*/
	position: relative;
	top: 58px;
}

.h-f1c-l {
	float: left;
	width: 50%;
	height: 104px;
}

.f1-l-map {
	width: 120px;
	height: 20px;
	/*background: orange;*/
	margin: 0 auto;
	margin-top: -52px;
	margin-left: 140px;
}

.mapssize {
	color: #75b8fc;
	font-size: 12px;
}
.kg10{
	width: 10px;
	height: 10px;
}
.kg20{
	width: 20px;
	height: 10px;
	padding: 30px;
}
.findinput {
	outline: none;
	border: 0;
	width: 540px;
	height: 84px;
	position: relative;
	left: 39px;
	font-size: 25px;
}

.h-f1c-r {
	float: left;
	width: 50%;
	height: 104px;
}

.f1-l-login {
	width: 150px;
	height: 20px;
	margin: 0 auto;
	margin-top: 45px;
	margin-right: 0px;
}

.f1-l-login a {
	color: #000;
}

.f1-l-login a:hover {
	color: #FF5C5D;
}


/*--------------s1----------------*/

.s-c-1f {
	width: 100%;
	height: 175px;
}

.s-c-1f p {
	text-align: center;
	line-height: 175px;
	color: #ff7c7a;
	font-size: 30px;
	font-family: 'NewFont';
}


/*--------------s2----------------*/

.s-c-2f {
	width: 100%;
	height: 191px;
}

.s-f2c-find {
	width: 657px;
	height: 84px;
	border: 1px solid #999;
	margin: 0 auto;
	border-radius: 50px;
}

.f2-c-fbtn {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	right: -580px;
	top: -78px;
}


/*--------------s3----------------*/

.s-c-3f {
	width: 100%;
	height: 234px;
}
.naul{
	
}
.naul li{
	float: left;
	list-style-type: none;
}
.nasty1{
	display: block;
	width:230px;
	height: 230px;
	margin: 5px 10px 0px 0px;
	background: chocolate;
}
.nasty2{
	display: block;
	width: 111px;
	height: 111px;
	margin: -1px 8px 0px 0px;
	float: left;
	background: cornflowerblue;
}
.nasty4{
	display: block;
	width: 111px;
	height: 111px;
	margin: -1px 0px 0px 0px;
	float: left;
	background: cornflowerblue;
}
.nasty3{
	display: block;
	width: 230px;
	height: 111px;
	float: left;
	margin: 1px 0px 6px 0px;
	background: crimson;
}
.s-c-3f table {
	width: 1200px;
	height: 233px;
	margin: 0 auto;
	position: relative;
	border: 0;
}

.s-c-3f table tr td {
	width: 232px;
}

.na1 {
	display: block;
	width: 232px;
	height: 232px;
	position: relative;
	overflow: hidden;
}

.na1bg {
	width: 232px;
	height: 232px;
	position: absolute;
	top: 232px;
	text-align: center;
	line-height: 232px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.7);
	transition: ease-in-out 0.5s;
}

.na1 img {
	transition: .5s transform;
	transform: translateZ(0);
}

.na1:hover img {
	transform: scale(1.3);
	transition: all 0.5s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}

.na2 {
	display: block;
	width: 111px;
	height: 111px;
	float: left;
	margin-right: 9px;
	position: relative;
	overflow: hidden;
}

.na2 img {
	transition: .5s transform;
	transform: translateZ(0);
}

.na2:hover img {
	transform: scale(1.3);
	transition: all 0.5s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}

.na2bg {
	width: 111px;
	height: 111px;
	position: absolute;
	top: 111px;
	text-align: center;
	line-height: 111px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.7);
	transition: ease-in-out 0.5s;
}

.na2:hover .na2bg {
	top: 0px;
}

.na3 {
	display: block;
	width: 232px;
	height: 111px;
	position: relative;
	overflow: hidden;
	margin-top: 7px;
}

.na3bg {
	width: 232px;
	height: 111px;
	position: absolute;
	top: 232px;
	line-height: 111px;
	text-align: center;
	color: #FFF;
	background: rgba(0, 0, 0, 0.7);
	transition: ease-in-out 0.5s;
}

.na3:hover .na3bg {
	top: 0px;
}

.na3 img {
	transition: .5s transform;
	transform: translateZ(0);
}

.na3:hover img {
	transform: scale(1.3);
	transition: all 0.5s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}


/*--------------s4----------------*/

.s-c-4f {}
f3-c-m1{
	margin-top: 0px;
}
.f3-c-m2{
	margin-top: 7px;
}
/*--------------s4----------------*/

.f-c-1f {
	width: 100%;
	height: 180px;
	color: #676767;
}

.f-c-1fc-a {
	width: 484px;
	height: 30px;
	margin: 0 auto;
	padding-top: 100px;
}

.f-c-1fc-a a {
	color: #676767;
}