@charset "utf-8";

/*基本框架CSS*/

ul,li {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none
}
ul,
ol,
li {
	list-style-type: none;
	vertical-align: 0
}


/* 效果CSS开始 */

.mkeFocus {
	height: 325px;
	width: 264px;
	/*border: 1px solid #C9CACB;*/
}

.mkeUl {
	margin: 0px auto;
	height: 325px;
	width: 264px;
	overflow: hidden;
	position: relative;
}

.mkeUl ul {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 264px;
}

.mkeUl ul li {
	width: 264px;
	height: 264px;
	float: left;
	text-align: center;
}

.mkeUl ul li img {
	margin-bottom: 5px;
}
.mkeUl ul li a{
	font-size: 12px;
	position: relative;
}
.mkeUl ul li a span{
	display: block;
	width: 100%;
	position: absolute;
	top: 14px;
	height: 36px;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	margin: auto;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	white-space: normal;
}
.mkeNum {
	/*background: #FFF url(../img/banNum.jpg);*/
	height: 20px;
	/*width: 37px;*/
	position: absolute;
	z-index: 1;
	left: 123px;
	bottom: 0px;
	font-size: 12px;
	color: #ff9291;
}

.mke_ns1 {
}

.mke_ns2 {
}

.mkeLbtn {
	background: url(../img/kelBtn1.png) no-repeat;
	height: 98px;
	width: 36px;
	position: absolute;
	left: 6px;
	top: 110px;
	cursor: pointer;
	z-index: 10;
}

.mkeRbtn {
	position: absolute;
	top: 110px;
	right: 6px;
	background: url(../img/kerBtn1.png) no-repeat;
	height: 98px;
	width: 36px;
	cursor: pointer;
	z-index: 10;
}


/* 效果CSS结束 */