* {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

body,
html {
	font-family: "microsoft yahei";
	color: #292522;
	margin: auto;
}

ul,
li,
a {
	/*display: block;*/
	list-style: none;
	text-decoration: inherit;
	color: #000000;
}

button {
	cursor: pointer;
}

.clearfloat {
	clear: both;
}

img {
	width: 100%;
	height: 100%;
}


/*------------------------------header------------------------------*/



/*-------------------------------s-c-1f--------------------------------*/

.s-c-1f {
	width: 100%;
	height: 45px;
	/*background: #1B6D85;*/
}

.s-c-1f a {
	text-align: left !important;
}


/*-------------------------------s-c-2f-yh--------------------------------*/

.s-c-2f-yh {
	width: 850px;
	height: auto;
	float: right;
	margin-top: 20px;
	border-bottom: solid #999999 1px;
	padding-bottom: 10px;
	position: relative;
	/*background: #204D74;*/
}

.s-c-2f-yh .update {
	position: absolute;
	right: 222px;
	top: 28px;
}

.s-c-2f-yh .update button {
	outline: none;
	border: 0;
	background-color: #999999;
	color: white;
	height: 30px;
	border-radius: 4px;
	width: 50px;
}

.s-c-2f-yh .update button:hover {
	background-color: #FF5C5D;
}

.s-c-2f-yh .sctx {
	width: 120px;
	height: auto;
	/*border-radius: 100px;*/
	/*background-color: #008B8B;*/
	position: absolute;
	right: 85px;
	top: 28px;
}

.s-c-2f-yh .sctx .sctx-y {
	width: 120px;
	height: 120px;
	border-radius: 100px;
	/*background-color: #008B8B;*/
	margin-bottom: 10px;
}

option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	border: none;
	outline: none;
	height: 300px;
}

.s-c-2f-yh .sctx button {
	width: 70px;
	height: 30px;
	background-color: #999999;
	border-radius: 8px;
	outline: none;
	border: 0;
	color: white;
	font-size: 14px;
	margin-left: 25px;
}

.s-c-2f-yh .sctx button:hover {
	background-color: #FF5C5D;
}


/*-------------------------------s-c-2f-yh-1f--------------------------------*/

.s-c-2f-yh-1f {
	width: 837px;
	height: 18px;
	border-left: solid 3px #FF5C5D;
	line-height: 18px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
}

.s-c-2f-yh-1f p {
	display: block;
	float: left;
}

.s-c-2f-yh-1f span {
	display: block;
	float: left;
	/*width: 200px;*/
	color: #FF5C5D;
	font-size: 12px;
	line-height: 22px;
	font-weight: 500;
}

.s-c-2f-yh-1f .right {
	display: block;
	float: right;
	text-align: right;
	margin-right: 43px;
	cursor: pointer;
}

.s-c-2f-yh-1f .tjsp {
	width: 14px;
	height: 14px;
	position: relative;
	left: -18px;
	top: -20px;
}


/*-------------------------------s-c-2f-yh-2f--------------------------------*/

.s-c-2f-yh-2f {
	width: 270px;
	height: auto;
	margin: auto;
	font-size: 16px;
	color: #292522;
}

.s-c-2f-yh-2f .ul-l {
	width: 50px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-bottom: 20px;
}

.s-c-2f-yh-2f .ul-l li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	text-align: right;
	margin-bottom: 20px;
}

.s-c-2f-yh-2f .ul-r {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.s-c-2f-yh-2f .ul-r li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	/*font-weight: bold;*/
	text-align: left;
	margin-bottom: 20px;
}

#dropdown {
	width: 200px;
	position: relative;
}

#dropdown p {
	width: 158px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 30px;
	border: 1px solid #EDEDED;
	background: url(../img/select.png) no-repeat right;
	color: #807a62;
	cursor: pointer;
	font-size: 12px;
}

#dropdown ul {
	font-size: 12px;
	width: 198px;
	/*background: #e8f5fe;*/
	top: 29px;
	border: 1px solid #EDEDED;
	border-top: 0;
	position: absolute;
	background-color: white;
	display: none;
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
	z-index: 11;
}

#dropdown ul li {
	height: 24px;
	line-height: 24px;
	text-indent: 10px;
	margin: 0;
}

#dropdown ul li a {
	display: block;
	height: 24px;
	color: #807a62;
	text-decoration: none;
	font-size: 12px;
}

#dropdown ul li a:hover {
	background: #EDEDED;
	color: #ff5c5d
}

.s-c-2f-yh-2f .gray-in {
	width: 356px;
	height: 20px;
	padding: 5px 10px;
	background-color: #999999;
	outline: none;
	border: 0;
	font-size: 12px;
}

.s-c-2f-yh-2f .white-in {
	width: 178px;
	height: 18px;
	background-color: white;
	outline: none;
	border: solid 1px #dedede;
	padding: 5px 10px;
	color: #333;
	font-size: 12px;
	float: left;
}

.s-c-2f-yh-2f textarea {
	width: 356px;
	height: 100px;
	padding: 5px 10px;
	border: #DEDEDE solid 1px;
	outline: none;
	font-size: 12px;
	overflow: hidden;
	resize: none;
}

.button-bc {
	width: 88px;
	height: 30px;
	display: block;
	margin: 70px auto;
	border: 0;
	outline: none;
	border-radius: 8px;
	background-color: #FF5C5D;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.s-c-2f-yh-2f-f {
	width: 850px;
	height: auto;
	margin-top: 20px;
}

.s-c-2f-yh-2f-f img {
	width: 100%;
}

.s-c-2f-yh-2f-f ul {
	width: 850px;
	height: auto;
	padding-bottom: 10px;
	margin-left: 10px;
	/*border-bottom: solid #999999 1px;*/
}

.s-c-2f-yh-2f-f ul li {
	display: block;
	width: 270px;
	height: 270px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.na1 {
	display: block;
	width: 270px;
	height: 270px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.na1 .bj {
	width: 19px;
	height: 24px;
	float: left;
	margin-top: 7px;
	margin-left: 30px;
}

.na1 .delete-1 {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 7px;
	margin-left: 35px;
}

.na1 a p {
	display: block;
	float: left;
	margin-left: 20px;
}

.na1bg {
	width: 270px;
	height: 45px;
	z-index: 555;
	position: absolute;
	bottom: -45px;
	text-align: center;
	line-height: 45px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.7);
	transition: ease-in-out 0.5s;
}

.na1bg a {
	display: block;
	float: left;
	width: 50%;
	color: white;
	font-size: 12px;
	text-align: center;
}

.na1:hover .na1bg {
	bottom: 0px;
}

.na2 {
	display: block;
	width: 257px;
	height: 257px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: solid #CCCCCC 1px;
}

.na2bg {
	width: 258px;
	height: 258px;
	z-index: 555;
	position: absolute;
	bottom: -258px;
	text-align: center;
	line-height: 258px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.7);
	transition: ease-in-out 0.5s;
}

.na2bg a {
	color: white;
}

.na2:hover .na2bg {
	bottom: 0px;
}

.tjtp {
	width: 126px;
	height: 126px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
}


/*-------------------------------con--------------------------------*/

.con {
	width: 850px;
	height: auto;
	float: right;
}


/*-------------------------------s-c-3f--------------------------------*/

.s-c-3f {
	width: 850px;
	height: auto;
	float: right;
	margin-top: 20px;
	border-bottom: solid #999999 1px;
	padding-bottom: 10px;
}


/*-------------------------------s-c-3f-1f--------------------------------*/

.s-c-3f-1f {
	width: 837px !important;
	height: 18px !important;
	border-left: solid 3px #FF5C5D !important;
	line-height: 18px !important;
	font-weight: bold !important;
	padding-left: 10px !important;
	font-size: 16px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	margin: 0px !important;
	border-right: 0px !important;
	border-bottom: 0px !important;
	border-top: 0px !important;
}

.s-c-3f-1f p {
	display: block;
	float: left;
}


/*-------------------------------s-c-3f-2f--------------------------------*/

.s-c-3f-2f {
	width: 400px;
	height: auto;
	margin-left: 237px;
	font-size: 16px;
	color: #292522;
}

.s-c-3f-2f .ul-l {
	width: 100px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-bottom: 20px;
}

.s-c-3f-2f .ul-l li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	text-align: right;
	margin-bottom: 20px;
}

.s-c-3f-2f .ul-r {
	width: 280px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.s-c-3f-2f .ul-r li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	/*font-weight: bold;*/
	text-align: left;
	margin-bottom: 20px;
}

.s-c-3f-2f .ul-r li button {
	width: 80px;
	height: 30px;
	border-radius: 4px;
	background-color: #999999;
	outline: none;
	border: 0;
	color: white;
	/*font-size: 14px;*/
	margin-left: 30px;
}

.s-c-3f-2f .ul-r li button:hover {
	background-color: #FF5C5D;
}

.s-c-3f-2f .gray-in {
	width: 356px;
	height: 20px;
	padding: 5px 10px;
	background-color: #999999;
	outline: none;
	border: 0;
	font-size: 12px;
}

.s-c-3f-2f .white-in {
	width: 178px;
	height: 18px;
	background-color: white;
	outline: none;
	border: solid 1px #dedede;
	padding: 5px 10px;
	color: #333;
	float: left;
	font-size: 14px;
}

.s-c-3f-2f .wc {
	width: 29px;
	height: 24px;
	padding-top: 3px;
	float: left;
}

.s-c-3f-2f .QQ {
	width: 24px;
	height: 24px;
	padding-top: 3px;
	float: left;
	margin-left: 5px;
}

.s-c-3f-2f p {
	float: left;
}

.s-c-3f-2f .ul-r a {
	color: #3396ff;
}




/*-------------------------------s-c-4f--------------------------------*/

.s-c-4f {
	width: 850px;
	height: auto;
	float: right;
	margin-top: 20px;
	/*background: #204D74;*/
}


/*-------------------------------s-c-4f-1f--------------------------------*/

.s-c-4f-1f {
	width: 837px;
	height: 18px;
	border-left: solid 3px #FF5C5D;
	line-height: 18px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
}

.s-c-4f-1f p {
	display: block;
	float: left;
}


/*-------------------------------s-c-4f-2f--------------------------------*/

.s-c-4f-2f {
	width: 320px;
	height: auto;
	margin-left: 237px;
	font-size: 16px;
	color: #292522;
}

.s-c-4f-2f .ul-l {
	width: 100px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-bottom: 20px;
}

.s-c-4f-2f .ul-l li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	text-align: right;
	margin-bottom: 20px;
}

.s-c-4f-2f .ul-r {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.s-c-4f-2f .ul-r li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	/*font-weight: bold;*/
	text-align: left;
	margin-bottom: 20px;
}

.s-c-4f-2f .gray-in {
	width: 356px;
	height: 20px;
	padding: 5px 10px;
	background-color: #999999;
	outline: none;
	border: 0;
	font-size: 12px;
}

.s-c-4f-2f .white-in {
	width: 178px;
	height: 18px;
	background-color: white;
	float: left;
	outline: none;
	border: solid 1px #dedede;
	padding: 5px 10px;
	color: #333;
	font-size: 12px;
}


/*--------------------------------s-c-5f-yh--------------------------------*/

.s-c-5f-yh {
	width: 88px;
	margin: auto;
	height: auto;
	/*float: right;*/
}

.s-c-5f-yh button {
	width: 88px;
	height: 30px;
	background-color: #FF5C5D;
	outline: none;
	border: 0;
	border-radius: 8px;
	color: white;
}


/*-------------------------------footer-------------------------------*/

.f-main-c {
	width: 1200px;
	margin: 0 auto;
	/*background: #1B6D85;*/
}


/*--------------------------------f-c-1f--------------------------------*/

.f-c-1f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	/*background: #C1E2B3;*/
}

.f-c-1f ul {
	width: 25%;
	float: left;
	margin-top: 20px;
	text-align: left;
}

.f-c-1f ul li {
	margin: 10px;
}


/*--------------------------------f-c-2f--------------------------------*/

.f-c-2f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	line-height: 18px;
	background: #000;
	padding-top: 8px;
	text-align: center;
}

.f-c-2f a {
	color: #fff;
	line-height: 30px;
}

.f-c-2f p {
	color: #fff;
}


/*------------------------------header------------------------------*/


/*------------------------------编辑开始------------------------------*/

.alert-black-bj {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 111;
	overflow: hidden;
	display: none;
}

.alert-bj {
	width: 400px;
	height: 200px;
	background-color: white;
	border-radius: 8px;
	z-index: 222;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F2F2F2;
}

.alert-bj .a-2f {
	width: 100%;
	height: auto;
}

.alert-bj .a-2f p {
	display: block;
	/*width: 100%;*/
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
	color: #FF9291;
}

.alert-bj .a-2f .input {
	width: 200px;
	height: auto;
	margin: auto;
}

.alert-bj .a-2f input {
	width: 200px;
	height: 30px;
	padding: 0 8px;
	border: solid 1px #DEDEDE;
}

.alert-bj .a-2f .ts {
	font-size: 10px;
	color: #999999;
	display: block;
	float: right;
	text-align: right;
	margin-top: 2px;
	margin-bottom: 0;
}

.alert-bj .a-3f {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.alert-bj .a-3f .ok-cancel {
	width: 160px;
	height: auto;
	margin: auto;
}

.alert-bj .a-3f .ok-cancel button {
	width: 60px;
	height: 30px;
	color: white;
	background-color: #999999;
	font-size: 14px;
	outline: none;
	border: 0;
	border-radius: 8px;
}

.alert-bj .a-3f .ok-cancel button:hover {
	background-color: #FF5C5D;
}

.bjcg {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 16px;
	display: block;
	position: fixed;
	margin: auto;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 50px;
	display: none;
}

.bjcg .bj-ok {
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	right: 30px;
	top: 5px;
}


/*------------------------------编辑结束------------------------------*/


/*绑定手机号开始*/

.alert-tel {
	width: 470px;
	height: 575px;
	border-radius: 8px;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 111;
	display: none;
	background-color: white;
}

.alert-black {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 222;
}

.alert-black img {
	width: 100%;
	height: 100%;
}


/*1f*/

.alert-tel-1f {
	width: 100%;
}

.alert-tel-close {
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
	margin: 25px 25px 0 0;
}


/*2f*/

.alert-tel-2f {
	width: 100%;
}

.alert-tel-2f h1 {
	font-weight: 500;
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
}

.alert-tel-logo {
	width: 104px;
	height: 90px;
	margin: 0 auto;
}

.bd-tel {
	width: 125px;
	height: 38px;
	position: relative;
	right: 5px;
	top: -1px;
	outline: none;
	border: 0;
}

.word-border{
	width: 205px;
	height: 38px;
	border: 0px;
	position: relative;
	right: 5px;
	top: -1px;
	outline: none;
}


/*3f*/

.alert-tel-3f {
	width: 284px;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 34px;
}

.alert-tel-3f ul li {
	width: 288px;
	height: 38px;
	border: solid #D9D9D9 1px;
	line-height: 40px;
	margin-bottom: 20px;
	position: relative;
}

.alert-tel-3f ul li .tsxx {
	display: block;
	position: absolute;
	right: 0;
	height: 20px;
	line-height: 20px;
	color: #FF5C5D;
}

.alert-tel-3f ul li .left {
	float: left;
	width: 60px;
	margin-left: 8px;
	color: #999999;
}

.alert-tel-3f ul li .right {
	float: right;
}

.alert-tel-3f .ok {
	margin-top: 5px;
}

.alert-tel-3f .ok button {
	width: 287px;
	height: 54px;
	background-color: #FF5C5D;
	outline: none;
	border: 0;
	border-radius: 8px;
	color: white;
	font-size: 16px;
}

.tabbox {
	width: 370px;
	height: 470px;
	/*margin: 0 auto;*/
	margin-top: 20px;
}

.tabbox-t {}

.tabbox .tab {
	width: 370px;
	overflow: hidden;
	border-bottom: #bfbfbf solid 1px;
}

.tabbox .tab a {
	display: block;
	width: 85px;
	height: 28px;
	margin: 0 50px;
	float: left;
	text-decoration: none;
	color: #646161;
	text-align: center;
	line-height: 28px;
	font-size: 22px;
}

.tabbox .tab a.on {
	border-bottom: solid 4px #ed4c59;
	text-decoration: none;
}

.tabbox .tab .str {
	display: block;
	position: absolute;
	z-index: 20;
	color: #bfbfbf;
	font-size: 20px;
	width: 2px;
	height: 28px;
	left: 49%;
	right: 49%;
	line-height: 28px;
	text-align: center;
}

.tabbox .content-a {
	overflow: hidden;
	width: 290px;
	height: 350px;
	margin: 40px 40px;
	position: relative;
}

.tabbox .content-a .content-1f input {
	outline: none;
	border: 0;
	font-size: 12px;
	width: 240px;
	float: right;
	height: 34px;
	text-align: left !important;
}

.tabbox .content-a .content-2f input {
	outline: none;
	border: 0;
	font-size: 12px;
	width: 240px;
	float: right;
	height: 34px;
	text-align: left !important;
}

.tabbox .content-a ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 100px;
}

.tabbox .content-a li {
	width: 290px;
	height: 100px;
	float: left;
}

.tabbox .content-a li p {
	padding-top: 3px;
	color: #ed4c59;
	text-align: right;
	font-size: 10px !important;
}

.content-1f {
	width: 288px;
	height: 38px;
	border: 1px solid #d9d9d9;
}

.login-user {
	width: 38px;
	height: 38px;
	float: left;
}

.content-2f {
	width: 288px;
	height: 38px;
	margin-top: 50px;
	border: 1px solid #d9d9d9;
}

.login-pw {
	width: 38px;
	height: 38px;
	float: left;
}

.content-3f {
	height: 55px;
	width: 290px;
	margin-top: 20px;
}

.content-3f button {
	width: 290px;
	height: 55px;
	background-color: #ed4c59;
	border-radius: 10px;
	outline: none;
	border: 0;
	color: white;
	font-size: 16px;
}

.content-4f {
	width: 290px;
	height: 34px;
	margin-top: 20px;
	border-bottom: solid 1px #bfbfbf;
}

.alert-tel-3f .right .button {
	width: 80px;
	height: 30px;
	float: right;
	background-color: #f2f2f2;
	position: relative;
	top: 4px;
	right: 4px;
	text-align: center !important;
	font-size: 12px;
	color: #999999;
	line-height: 30px;
	outline: none;
	cursor: pointer;
	border: 0;
}

.content-a .title {
	display: block;
	width: 65px;
	padding-left: 10px;
	color: #999999;
	font-size: 14px;
	line-height: 38px;
	float: left !important;
}

.register-2f {
	width: 288px;
	height: 38px;
	/*margin-top: 20px;*/
	border: 1px solid #d9d9d9;
}

.register-2f input {
	width: 200px;
	height: 38px;
	outline: none;
	border: 0;
	text-align: left !important;
}

.alert-true {
	width: 26px;
	height: 26px;
	display: none;
	position: absolute;
	right: 10px;
	top: 5px;
}

.alert-false {
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 1;
}


/*绑定手机号结束*/