<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">招聘大厅管理</span></div>
        </div>
        
        <div class="result-wrap">
             <form action="__APP__/admin/Recruit/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
 
                            <tr>
                                <th><i class="require-red">*</i>工作地址：</th>
                                <td>
                                    <input class="common-text required" id="name" name="address" size="30" value="" type="text">
                                       <input type="hidden" name="uid" value="1"/>
                                </td>
                            </tr>
                        
                            <tr>
                                <th><i class="require-red">*</i>联系电话：</th>
                                <td>
                                    <input class="common-text required" id="age" name="rtel" size="12" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>qq：</th>
                                <td>
                                    <input class="common-text required" id="height" name="rqq" size="12" value="" type="text">
                                </td>
                            </tr>
                           
                              <tr>
                                <th><i class="require-red">*</i>邮箱：</th>
                                <td>
                                    <input class="common-text required" id="height" name="remail" size="12" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>收藏数：</th>
                                <td><input class="common-text" name="collect" size="10" value="" type="text"></td>
                            </tr>
                         
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="__APP__/Admin/Recruit"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>