<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--头部完结-->  
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">招聘大厅管理</a></span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            <volist name="jarr" id="v">
           <form action="__APP__/Admin/Recruit/usaveimage" method="post" enctype="multipart/form-data">
   <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>招聘方：</th>
                                <td>
                                {$v.recruiters}
                                      <input type="hidden" name="id" value="{$v.id}"/>
                                 <input type="hidden" name="pid" value="{$v.pid}">
                                     <input type="hidden" name="usid" value="{$v.usid}">
                                </td>
                            </tr>
                          
                         
                            <tr>
                                <th><i class="require-red">*</i>图片：</th>
                                <td><input id="" type="file" multiple="multiple" name="upload[]"><img src="__PUBLIC__/upload/{$v.pubtime}/{$v.imagename}"  width="70"/></td>
                            </tr>
                           
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <a href="__APP__/Admin/Recruit"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
 </form>  
 </volist>   
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>