<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>部队消息</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xx-3rsp-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
	</head>

	<body>
		<include file="Public/header"/>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>部队消息</p>
					<div id="bdxx-lb" class="lb"><p>全部</p>
						<div class="bdxx-lb">
								<ul>
									<li>全部</li>
									<li>留言</li>
									<li>关注</li>
								</ul>
							</div>
						</div>
				</div>
				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<!-- 给部队的留言 -->
								<foreach name="list" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">留言</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf">回复</button>
										<div class="clear"></div>
										</div>
									</li>
								</foreach>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
				<div class="djjzgd">
					<button>点击加载更多</button>
				</div>
			</div>
		</section>
		<?php	include '3rank-footer.php';?>
		<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/textarea.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>

</html>