<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>收藏报名</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/troop.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input type="text" placeholder="搜索全站"/>
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
					<div class="h-c-3f-f">
						<h1>收藏报名</h1>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-c-1f-scj">
					<div class="left">
						<button id="bmxq" class="selected">已报名</button>
						<button id="scxq">已收藏需求</button>
						<button id="sp">已收藏商铺</button>
					</div>
					<div class="right">
						<div id="bmxq-lb" class="lb"><p>全部</p>
						<div class="bmxq-lb">
								<ul>
									<li>全部</li>
									<li>招聘</li>
									<li>悬赏</li>
									<li>求购</li>
								</ul>
							</div>
						</div>
						
						<div style="display: none;" id="scxq-lb" class="lb"><p>全部</p>
							<div class="scxq-lb">
								<ul>
									<li>全部</li>
									<li>应赏</li>
									<li>应聘</li>
									<li>闲置</li>
								</ul>
							</div>
						</div>
						
						<div style="display: none;" id="sp-lb" class="lb"><p>全部</p>
						<div class="sp-lb">
								<ul>
									<li>全部</li>
									<li>销售商</li>
									<li>租赁商</li>
									<li>婚车租赁</li>
								</ul>
							</div>
						</div>
						<div class="clearfloat"></div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="con" style="display: none;">
					<div class="s-c-3f-scj">
						<ul>
							<foreach name="newUserZp" item="newUserZps">
								<li>
									<p class="hddd">
										<?php $ad_zp = explode(',',$newUserZps['address_zp']); ?>
										工作地点：{$ad_zp[0]}
									</p>
									<p class="xsnr">
										招聘内容：<foreach name="newUserZp_xq" item="newUserZp_xqs">
										<php>if($newUserZp_xqs['pid'] == $newUserZps['rid']){</php>
										<?php echo $newUserZp_xqs['type']; ?>
										<php>}</php>
										</foreach>
									</p>
									<div class="clear"></div>
									<a href="">
										<div class="nr">
											<div class="left">
												<div class="yhtx">
													<if condition="$newUserZps[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$newUserZps.imagename}" alt="" />
			                                   </if>
												</div>
												<p class="yhmc">
													用户{$newUserZps.username}
												</p>
												<div class="clearfloat"></div>
											</div>
											<div class="right">
												<p class="hf">
													请耐心等待。。。
												</p>
												<p class="rq">
													2017-01-01
												</p>
											</div>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
							</foreach>
							<foreach name="userIdle" item="userIdles">
								 <?php $shou = explode(',',$userIdles['bao']);
							 		array_pop($shou);?>
							 	<?php if(in_array($_SESSION['id'],$shou)){ ?>
								<li>
									<p class="hddd">
										物品名称：{$userIdles.name}
									</p>
									<p class="xsnr">
										预算：<span class="red">￥{$userIdles.price}元</span>
									</p>
									<div class="clear"></div>
									<a href="">
										<div class="nr">
											<div class="left">
												<div class="yhtx">
													<if condition="$userIdles[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$userIdles.imagename}" alt="" />
			                                   </if>
												</div>
												<p class="yhmc">
													用户{$userIdles.username}
												</p>
												<div class="clearfloat"></div>
											</div>
											<div class="right">
												<p class="hf">
													请耐心等待。。。
												</p>
												<!-- <p class="jj">
													拒绝
												</p> -->
												<p class="rq">
													2017-01-01
												</p>
											</div>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
								<?php } ?>
							</foreach>
							<foreach name="newUserXs" item="newUserXss">
								<li>
									<p class="hdsj">
										活动时间：{$newUserXss.time}
									</p>
									<p class="hddd">
										<?php $ad = explode(',',$newUserXss['address']); ?>
										活动地点：{$ad[0]}
									</p>
									<p class="xsnr">
										<foreach name="newUserXs_xq" item="newUserXs_xqs">
											<php>if($newUserXs_xqs['pid'] == $newUserXss['psid']){</php>
											报名悬赏内容：{$newUserXs_xqs.type}
											<php>}</php>
										</foreach>
									</p>
									<div class="clear"></div>
									<a href="">
										<div class="nr">
											<div class="left">
												<div class="yhtx">
													<if condition="$newUserXss[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$newUserXss.imagename}" alt="" />
			                                   </if>
												</div>
												<p class="yhmc">
													用户{$newUserXss.username}
												</p>
												<div class="clearfloat"></div>
											</div>
											<div class="right">
												<p class="hf">
													请耐心等待。。。
												</p>
												<p class="rq">
													2017-01-01
												</p>
											</div>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
							</foreach>
						</ul>
						<!-- <div class="djjzgd">
							<button>点击加载更多</button>
						</div> -->
					</div>
				</div>
				<div class="con" style="display: none;">
					<div class="s-c-2f-scj">
						<ul>
							<foreach name="userYsSc" item="userYsScs">
								<?php $ysXq = explode(',',$userYsScs['due_shou']);
										array_pop($ysXq);
									 ?>
								<?php if(in_array($_SESSION['id'],$ysXq)){ ?>
								<li>
									<a href="?s=/Home/Ysq/xqys/id/{$userYsScs.did}">
										<div class="s-c-2f-scj-1f">
											<div class="yhtx">
												<if condition="$userYsScs[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img src="/matouPCS/Tu/upload/{$userYsScs.imagename}" alt="" />
			                                   </if>
											</div>
											<p class="yhmc">{$userYsScs.username}</p>
											<?php   $add_ysad = explode(',',$userYsScs['address']);?>
											<p class="szd">所在地：{$add_ysad[0]}</p>
											<button>应赏</button>
											<div class="clearfloat"></div>
										</div>
										<div class="s-c-2f-scj-2f">
											<div>
												<p>{$userYsScs.name}</p>
												<p class="age">{$userYsScs.age}岁</p>
												<p class="grjl"><span class="black-333">个人简历：</span>{$userYsScs.content}</p>
												<div class="clearfloat"></div>
											</div>
											<div>
												<p>{$userYsScs.type_d}</p>
												<?php $imgnum = explode(',',$userYsScs['imagename_z']);
												      $vidnum = explode(',',$userYsScs['imagename_v']);
												      $dang = explode(',',$userYsScs['dangdate']);
												      $dangs = explode(',',$userYsScs['dangs']);
												      $ss = explode(',',$userYsScs['due_shou']);
													   array_pop($imgnum);
													   array_pop($vidnum);
													   array_pop($dang);
													   array_pop($dangs);
													   array_pop($ss);
													   $imgnums = count($imgnum);
													   $vidnums = count($vidnum);
													   $sss = count($ss);
													   ?>
												<p class="zpzp"><span class="black-333">照片作品：</span>{$imgnums}个</p>
												<p class="spzp"><span class="black-333">视频作品：</span>{$vidnums}个</p>
												<p class="dq"><span class="black-333">档期：</span><?php echo $dang[1];echo $dangs[1];?>&nbsp;&nbsp;......</p>
												<p class="jg">{$userYsScs.price}元/天</p>
												<div class="clearfloat"></div>
											</div>
										</div>
										<div class="s-c-2f-scj-3f">
											<p class="fbsj">{$userYsScs.date}</p>
											<p class="sc">已有{$sss}人收藏</p>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
								<?php } ?>
							</foreach>
							<foreach name="userYpSc" item="userYpScs">
								<?php $ypXq = explode(',',$userYpScs['em_shou']);
										array_pop($ypXq);
									 ?>
								<?php if(in_array($_SESSION['id'],$ypXq)){ ?>
								<li>
									<a href="">
										<div class="s-c-2f-scj-1f">
											<div class="yhtx">
												<if condition="$userYsScs[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img src="/matouPCS/Tu/upload/{$userYsScs.imagename}" alt="" />
			                                   </if>
											</div>
											<p class="yhmc">{$userYpScs.username}</p>
											<p class="szd">所在地：{$userYpScs.address}</p>
											<p class="qwzw">期望职位：{$userYpScs.type}</p>
											<button>应聘</button>
											<div class="clearfloat"></div>
										</div>
										<div class="s-c-2f-scj-2f">
											<div>
												<p>{$userYpScs.name}</p>
												<p class="age">{$userYpScs.ages}岁</p>
												<p class="gzjy">工作经验：{$userYpScs.worktimes}年</p>
												<p class="grjl-yp"><span class="black-333">个人简历：</span>{$userYpScs.content}</p>
												<p class="zw-yp">{$userYpScs.type_u}</p>
												<div class="clearfloat"></div>
											</div>
												<div>
													<p class="gzsj"><span class="black-333">工作时间：</span>{$userYpSc_work[0]['worktime']}</p>
													<p class="spzp"><span class="black-333">所在公司：</span>{$userYpSc_work[0]['workname']}</p>
													<p class="spzp"><span class="black-333">职位：</span>{$userYpSc_work[0]['typew']}</p>
													<!--<p class="jg">￥500-￥700天</p>-->
													<div class="clearfloat"></div>
												</div>
										</div>
										<div class="s-c-2f-scj-3f">
											<p class="fbsj">{$userYpScs.date}</p>
											<?php $shou = explode(',',$lists['em_shou']); 
													  array_pop($shou);
													  $shous = count($shou);
												?>
											<p class="sc">已有{$shous}人收藏</p>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
								<?php } ?>
							</foreach>
							<foreach name="userXzSc" item="userXzScs">
								<?php $xzShou = explode(',',$userXzScs['shou']);
									  array_pop($xzShou); 
								?>
								<?php if(in_array($_SESSION['id'],$xzShou)){ ?>
								<li>
									<a href="">
										<div class="s-c-2f-scj-1f">
											<div class="yhtx">
												<if condition="$userYsScs[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img src="/matouPCS/Tu/upload/{$userYsScs.imagename}" alt="" />
			                                   </if>
											</div>
											<p class="yhmc">{$userXzScs.username}</p>
											<p class="szd">所在地：{$userXzScs.address}</p>
											<button>闲置</button>
											<div class="clearfloat"></div>
										</div>
										<div class="s-c-2f-scj-2f">
											<div>
												<p>物品名称：<span class="black-333">{$userXzScs.name}</span></p>
												<p class="ys"><span class="black-333">报价：</span>￥{$userXzScs.price}</p>
												<div class="clearfloat"></div>
											</div>
											<div>
												<p class="xzjj"><span class="black-333">闲置简介：</span>{$userXzScs.content}</p>
												<div class="clearfloat"></div>
											</div>
										</div>
										<div class="s-c-2f-scj-3f">
											<p class="fbsj">{$userXzScs.date}</p>
											<?php $shou_xz = explode(',',$userXzScs['shou']);
										              array_pop($shou_xz);
									          	  $shous_xz = count($shou_xz); ?>
											<p class="sc">已有{$shous_xz}人收藏</p>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
								<?php } ?>
							</foreach>
						</ul>
					<!-- 	<div class="djjzgd">
							<button>点击加载更多</button>
						</div> -->
					</div>
				</div>
				<div class="con" style="display: none;">
					<div class="s-c-4f-scj">
						<ul>
							<foreach name="userSpSc" item="userSpScs">
								<php>$spShou = explode(',',$userSpScs['shou']);
									array_pop($spShou);
								</php>
								<?php if(in_array($_SESSION['id'],$spShou)){ ?>
								<li>
									<a href="">
										<div class="left">
											<div class="sptx">
												<img src="img/sptx.png" alt="" />
												<if condition="$userSpScs[imagename]==''">  
			                                  			<img style="width:100px;" src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:100px;" src="/matouPCS/Tu/upload/{$userSpScs.imagename}" alt="" />
			                                   </if>
											</div>
											<div class="sp">
												<p>{$userSpScs.shopname}</p>
												<div class="bottom">
													<p class="xss">{$userSpScs.type}</p>
													<?php $sp_shou = explode(',',$userSpScs['shou']);
															array_pop($sp_shou);
														  $sp_shou_num = count($sp_shou);
													 ?>
													<p class="sc">收藏{$sp_shou_num}</p>
												</div>
											</div>
											<div class="clearfloat"></div>
										</div>
										<div class="right">
											<p class="dpdz">
												<span class="black-333">店铺地址：</span>{$userSpScs.address}
											</p>
											<div class="clearfloat"></div>
											<div class="bottom">
												<p class="zysp">
													<span class="black-333">主营商品：</span> {$userSpScs.zysp}
												</p>
											</div>
										</div>
										<div class="clearfloat"></div>
									</a>
								</li>
								<?php } ?>
							</foreach>
						</ul>
						<!-- <div class="djjzgd">
							<button>点击加载更多</button>
						</div> -->
					</div>
				</div>
			</div>

		</section>
		<?php	include '3rank-footer.php';?>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js"></script>
	<script src="__PUBLIC__/Home/js/troop.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
</html>