<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商铺消息</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xx-3rsp-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
	</head>

	<body>
		<include file="Public/header"/>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>商铺消息</p>
				</div>
				<div class="s-main-t-qb">
					<div id="spxx-lb" class="lb"><p>全部</p>
						<div class="spxx-lb">
								<ul>
									<li>全部</li>
									<li>留言</li>
									<li>收藏</li>
								</ul>
							</div>
						</div>
				</div>
				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<!-- 商铺消息的留言 -->
								<div id="shangpul">
								<foreach name="list" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/MatouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">商铺留言</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<foreach name="list_hui" item="list_huis">
												<?php if($list_huis['tid'] == $lists['id']){ ?>
												<div class="spxx">
													<if condition="$list_huis[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/MatouPCS/Tu/upload/{$list_huis.imagename}" alt="" />
			                                   </if>
													<p class="spxx_01">{$list_huis.username}</p>
													<p class="spxx_02"></p>
													<form>
														<p class="spxx_03">
															回复
														</p>
													</form>
												</div>
												<div class="spxx_00">
													<p>
														{$list_huis.content_hf}
													</p>
												</div>
												<?php } ?>
											</foreach>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf" onclick="sphf({$lists.id},{$lists.uid})">回复</button>
										<div class="clear"></div>
										</div>
									</li>
								
								</foreach>
								</div>
								<?php if(!empty($list)){ ?>
								<div class="djjzgd">
									<button onclick="tj()" name='btnn' id='btnn' >点击加载更多</button>
								</div>
								<?php } ?>
								<div id="shangpus">
								<foreach name="li" item="lis">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lis[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/MatouPCS/Tu/upload/{$lis.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">{$lis.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">{$lis.content_xx}</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
								</div>
							</ul>
							<?php if(!empty($li)){ ?>
							<div class="djjzgd">
								<button onclick="tjj()" name='btnn1' id='btnn1' >点击加载更多</button>
							</div>
							<?php } ?>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/textarea.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	<script src="__PUBLIC__/Home/js/sply.js"></script>
<script type="text/javascript">

var v=2;
function  tj(){		 
	 
	  var t = "{:session('id')}";
			$.ajax({
				type:'post',
				url:"{:U('User/spxxjz')}",
				data:{k:v},
				beforeSend:function(){
		         $("#shangpul").append("<div id='load'>加载中……</div>");
				},
				success:function(data){
					// alert(data['xz']);
					if(data['xz']!=null){				
						
						 for (var i = 0; i < data['xz'].length; i++) {
							 if(data['xz'][i].imagename==null) {
                          var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
							 }else{
							var img='<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data['xz'][i].imagename+'" />';
							 }
							 var p='';
							 for (var j= 0; j < data['xzh'].length; j++) {
								 if(data['xz'][i].id==data['xzh'][j].tid){
									 if(data['xzh'][j].imagename==null) {
			                                var imgs='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
											 }else{
											var imgs='<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data['xzh'][j].imagename+'" />';
											 }
								 p+='<div class="spxx">'+imgs+'<p class="spxx_01">'+data['xzh'][j].username+'</p><p class="spxx_02"></p><form><p class="spxx_03"> 回复 </p></form></div><div class="spxx_00"><p>'+data['xzh'][j].content_hf+'</p></div>';
								 }
							 }
							 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx">'+img+'<p class="spxx_01">'+data['xz'][i].username+'</p><p class="spxx_02"></p><form><p class="spxx_03"> 留言 </p></form></div><div class="spxx_00"><p> '+data['xz'][i].content_xx+'</p></div> '+p+'<div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p><p class="spxx_hf"> 回复 </p></div><div class="no"><input type="hidden" id="uid" value="'+data['xz'][i].uid+'"><textarea id="liuyan" placeholder="留言留言留言留言留言留言"></textarea><button class="hf" onclick="sphf1('+data['xz'][i].id+','+data['xz'][i].uid+')">回复</button><div class="clear"></div></div></li>';
							// alert(p);
						$("#shangpul").append(li);
						$('.spxx_hf').click(function() {
							$(this).parents('li').children('.no').show();
						});
	 		
						 }
					}else{
						 //alert(22);
						 document.getElementById('btnn').innerHTML = '加载完毕';
		 				flag=true;	
					}	
		 },
		 	complete:function(){
		           $("#load").remove();
				},
			 	dataType:'json'
			 	});
		 	v++;
	// alert(p);
	  } 

var n=2;
function  tjj(){		
			$.ajax({
				type:'post',
				url:"{:U('User/spxxsjz')}",
				data:{k:n},
				beforeSend:function(){
		         $("#shangpus").append("<div id='load'>加载中……</div>");
				},
				success:function(data){
					if(data!=null){				
						
						 for (var i = 0; i < data.length; i++) {
							 if(data[i].imagename==null) {
                          var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
							 }else{
							var img='<img style="border-radius:50%;width: 60px"  src="/MatouPCS/Tu/upload/'+data[i].imagename+'" />';
							 }
		
							 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx"> '+img+'<p class="spxx_01">'+data[i].username+'</p><p class="spxx_02"></p><p class="spxx_03">收藏</p><div class="spxx_img"><img src="__PUBLIC__/Home/img/heart.png" /></div><p class="spxx_04"> 收藏 </p></div><div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p></div></li>';
							 $("#shangpus").append(li);
	 		
						 }
					}else{
						alert(22);
						 document.getElementById('btnn1').innerHTML = '加载完毕';
		 				flag=true;	
					}	
		 },
		 	complete:function(){
		           $("#load").remove();
				},
			 	dataType:'json'
			 	});
		 	n++;
	// alert(p);
	  } 

</script>
</html>