<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商铺消息</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xx-3rsp-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
	</head>

	<body>
		<include file="Public/header"/>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>商铺消息</p>
				</div>
				<div class="s-main-t-qb">
					<div id="spxx-lb" class="lb"><p>全部</p>
						<div class="spxx-lb">
								<ul>
									<li>全部</li>
									<li>留言</li>
									<li>收藏</li>
								</ul>
							</div>
						</div>
				</div>
				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<!-- 商铺消息的留言 -->
								<foreach name="list" item="lists">
									<?php if($_SESSION['id'] == $lists['uid'] || $_SESSION['id'] == $lists['fid']){ ?>
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">商铺留言</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<foreach name="list_hui" item="list_huis">
												<?php if($list_huis['tid'] == $lists['id']){ ?>
												<div class="spxx">
													<img src="__PUBLIC__/Home/img/yhmc.png">
													<p class="spxx_01">{$list_huis.username}</p>
													<p class="spxx_02"></p>
													<form>
														<p class="spxx_03">
															回复
														</p>
													</form>
												</div>
												<div class="spxx_00">
													<p>
														{$list_huis.content_hf}
													</p>
												</div>
												<?php } ?>
											</foreach>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf" onclick="sphf({$lists.id},{$lists.uid})">回复</button>
										<div class="clear"></div>
										</div>
									</li>
									<?php } ?>
								</foreach>
								<foreach name="li" item="lis">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lis.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">{$lis.content_xx}</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
				<div class="djjzgd">
					<button>点击加载更多</button>
				</div>
			</div>
		</section>
		<?php	include '3rank-footer.php';?>
		<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/textarea.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	<script src="__PUBLIC__/Home/js/sply.js"></script>

</html>