<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>已发布悬赏</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/yfb-3rxz-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
	</head>
	<body>
			<div class="show-bg"></div>
		<header>
							<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="spdlb" id="spdlb" title="消息">
			<div class="titlenab">
				<img src="__PUBLIC__/Home/img/swtitle.png">
				<div class="rhideb">
					<img src="__PUBLIC__/Home/img/hide.png">
				</div>
			</div>
			<div class="fbtypeb">
				<a>类型：</a>
				<a href="#">
					<p id="fbp1">婚礼喜事</p>
				</a>
				<a href="#" class="naml">
					<p id="fbp2">门面活动</p>
				</a>
			</div>
			<div class="contentb">
				<textarea class="showtarea"></textarea>
			</div>
			<div class="swbtnb">
				<div class="swbtn-cb">
					<div>
						<img src="__PUBLIC__/Home/img/addp.png" />
					</div>
					<div class="nnml10">
						<img src="__PUBLIC__/Home/img/adds.png" />
					</div>
					<button class="tjbtnb" id="tjbtn">发布</button>
				</div>
			</div>
		</div>
		<div class="spdlc" id="spdlc" title="消息">
			<div class="titlenac">
				<img src="__PUBLIC__/Home/img/swtitle.png">
				<div class="rhidec">
					<img src="__PUBLIC__/Home/img/hide.png">
				</div>
			</div>
			<div class="fbtypec">
			</div>
			<div class="contentc">
				<div class="cca" id="cca">个人</div>
				<div class="ccb" id="ccb">
					<p class="ccrc">婚庆公司<br>影楼<br>工作室<br>表演团体</p>
				</div>
			</div>
			<div class="spfxb"></div>
			<div class="contentimg">
				<img src="__PUBLIC__/Home/img/xzjs.png" />
			</div>
		</div>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>已发布悬赏</p>
				</div>
				<div class="s-main-t-qb">
					<div class="s-main-t-qb" id="man-top">
						<p>全部<span class="xll11"></span></p>
					</div>
					<div class="na-top">
						<ul>
							<li>
								<a href="#">全部</a>
							</li>
							<li>
								<a href="#">留言</a>
							</li>
							<li>
								<a href="#">关注</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="wk_01">
					<div>
						<div class="s-main-b">
							<ul>
								<foreach name="list" item="lists">
									<li>
										<div class="yfb">
											<div class="yfb_01">
												<p class="yfb_01_01">活动时间：<b>{$lists.date}</b></p>
												<p class="yfb_01_02">活动地点：<b>{$lists.address}</b></p>
												<p class="yfb_01_01">悬赏内容：<b>
												<?php for ($i=0; $i < count($arr); $i++) {
													$arrs = explode(',',$arr[$i]);
													if($arrs[1] == $lists['psid']){
														echo $arrs[0].',';
													}
												}?></b></p>
												<p class="yfb_01_03"><button class="tj_01_03" id="btn_01{$lists.psid}" onclick="changes({$lists.psid})">未完成</button></p>
											</div>
											<div class="yfb_01" style="margin-top:24px;">
												<p class="yfb_sj">发布时间：{$lists.date}</p>
											</div>
											<!--下拉隐藏开始-->
											<div class="SubCategoryBox">
												<dl>
													<dd></dd>
													<dd>
														<div id="xl{$lists.psid}" class="yfb_xl">
															<foreach name="data" item="datas">
																<php>if($lists['psid'] == $datas['pid'] && $datas != ''){</php>
																<div class="yfb_xl_01">
																	<p class="yfb_xl_01_01">{$datas.type}</p>
																	<p class="yfb_xl_01_02">
																		<?php 
																		$bao = explode(',',$datas['bao']);
																		array_pop($bao);
																		$baos = count($bao); ?>
																		已报名{$baos}人
																	</p>
																	<p class="yfb_xl_01_03">已答应3人</p>
																	<p class="yfb_xl_01_03" id="yzd{$datas.wid}" >
																		<php>if($datas['bao_st'] == '1'){</php>
																		<button onclick="yzd({$datas.wid})">已找到</button>
																		<php>}else{</php>
																		<div>已找到</div>
																		<php>}</php>
																	</p>
																</div>
																<php>}</php>
															</foreach>
														</div>
													</dd>
												</dl>
												<div class="showmore" style="margin-left:-500px;">
													<a  onclick="xx({$lists.psid})" href="javascript:;"><span>查看详情</span></a>
												</div>
											</div>
										</div>
										<a href="?s=/Home/User/userXss/psid/{$lists.psid}"><p class="yfb_01_05">编辑</p></a>
									</li>
								</foreach>
								<div class="clearfloat"></div>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<br>
		<br>
		<br>
	<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
</html>