<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>已发布招聘</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/yfb-3rxz-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showWin.css" />
		
	</head>

	<body>
		<header>
			<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input type="text" style="outline: none;border: 0;position: absolute;left: 20px;width: 195px; height: 36px;background: rgba(0,0,0,0);" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<h1>已发布招聘</h1>
					<div id="bdxx-lb" class="lb">
						<p>全部</p>
						<div class="bdxx-lb">
							<ul>
								<li>全部</li>
								<li>留言</li>
								<li>关注</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="wk_01">
					<div>
						<div class="s-main-b">
							<ul>
								<foreach name="list" item="lists">
								<li>
									<div class="yfb">
										<div class="yfb_01">
											<?php $add = explode(',',$lists['address_zp']);?>
											<p class="yfb_01_01">工作地点：<b>{$add[0]}</b></p>
											<p class="yfb_01_02">招聘内容：<b>
												<?php ;
												for ($i=0; $i < count($arr); $i++) {
													$arrs = explode(',',$arr[$i]);
													if($arrs[1] == $lists['rid']){
														echo $arrs[0].',';
													}
												}?></b></p>
											<p class="yfb_01_03"><button class="tj_01_03" id="btn_01{$lists.rid}" onclick="changess({$lists.rid})">未出售</button></p>

										</div>
										<div class="yfb_01" style="margin-top:24px;">
											<p class="yfb_sj">发布时间：{$lists.date}</p>

										</div>
										<!--下拉隐藏开始-->
										<div class="SubCategoryBox">
											<dl>

												<dd></dd>
												<dd>
													<div id="xl{$lists.rid}" class="yfb_xl">
														<foreach name="data" item="datas">
															<div class="yfb_xl_01">
																<p class="yfb_xl_01_01">{$datas.type}</p>
																<p class="yfb_xl_01_02">
																	<?php 
																		$bao = explode(',',$datas['zhao']);
																		array_pop($bao);
																		$baos = count($bao); ?>
																		已应聘{$baos}人</p>
																<p class="yfb_xl_01_03">已答应3人</p>
																<p class="yfb_xl_01_03" id="yzds{$datas.id}" >
																	<php>if($datas['zhao_st'] == '1'){</php>
																		<button onclick="yzds({$datas.id})">已找到</button>
																		<php>}else{</php>
																		<div>已找到</div>
																	<php>}</php>
																</p>
															</div>
														</foreach>
													</div>
												</dd>
											</dl>
											<div class="showmore" style="margin-left:-500px;">
												<a id="xx{$lists.rid}" onclick="xx({$lists.rid})"href="javascript:;"><span>查看详情</span></a>

											</div>
										</div>

									</div>
									<a href="?s=/Home/User/userEdit/id/{$lists.rid}"><p class="yfb_01_05">编辑</p></a>
								</li>
								</foreach>

							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<br>
		<br>
		<br>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	

</html>