<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>已发布求购</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/yfb-3rxz-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />


	<body>
		<header>
			<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input type="text" style="outline: none;border: 0;position: absolute;left: 20px;width: 195px; height: 36px;background: rgba(0,0,0,0);" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
				<h1>已发布求购</h1>
						<div id="bdxx-lb" class="lb">
							<p>全部</p>
							<div class="bdxx-lb">
								<ul>
									<li>全部</li>
									<li>留言</li>
									<li>关注</li>
								</ul>
							</div>
						</div>
					</div>

				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<foreach name="fbqg" item="fbqgs">
									<a href="?s=/Home/Tzsc/xqqg/id/{$fbqgs.fid}">
										<li>
											<div class="yfb">
												<div class="yfb_01">
													<p class="yfb_01_01">物品名称：<b>{$fbqgs.name}</b></p>
													<p class="yfb_01_02">预算：<b>￥{$fbqgs.price}元</b></p>
													<p class="yfb_01_03">
														<?php
														 if($fbqgs['tz_status'] == '1'){ ?>
														<button class="tj_01_03" id="btn_01{$fbqgs.fid}">未完成</button>
														<?php }else{ ?>
														<button class="tj_01_03" id="btn_01{$fbqgs.fid}">已完成</button>
														<?php } ?>
													</p>
												</div>
												<div class="xialai">
													<span class="xll1"></span>
													<?php
														 if($fbqgs['tz_status'] == '1'){ ?>
														<p class="xs1" onclick="wan({$fbqgs.fid})" id="w{$fbqgs.fid}" style="font-size: 12px;">完成</p>
														<?php }else{ ?>
														<p class="xs1" onclick="wan({$fbqgs.fid})" id="w{$fbqgs.fid}" style="font-size: 12px;">删除</p>
														<?php } ?>
												</div>
												<div class="yfb_01" style="margin-top:24px;">
													
													<p class="yfb_sj">发布时间：{$fbqgs.date}</p>
												</div>
											</div>
										</li>
									</a>
								</foreach>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<br>
		<br>
		<br>
<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js"></script>
	<script type="text/javascript">
		//		下拉菜单
		$('#select-yfb').hover(function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(180deg)');
			$('.select-yfb').stop().animate({
				height: '150px'
			}, 300);
		}, function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(0deg)');
			$('.select-yfb').stop().animate({
				height: '0px'
			}, 300);
		});
		$('#select-xx').hover(function() {
			$('.select-xx').stop().animate({
				height: '75px'
			}, 300);
		}, function() {
			$('.select-xx').stop().animate({
				height: '0px'
			}, 300);
		});

		// function changes(fid) {
		// 	alert(fid);
		// 	var mark = document.getElementById('btn_01'+fid).innerText;
		// 	if(mark == '已完成') {
		// 		document.getElementById('btn_01'+fid).innerText = "未完成";
		// 	} else {
		// 		document.getElementById('btn_01'+fid).innerText = "已完成";
		// 	}
		// }
	</script>
	<script type="text/javascript">
		$(function() {
			$("#xl").hide(500);
			$("#xx").click(function() {
				$("#xl").toggle(500);
			});
		});
		$(function() {
			$("#xl_01").hide(500);
			$("#xx_01").click(function() {
				$("#xl_01").toggle(500);
			});
		});
		$("#man-top").click(function() {
			$(".na-top").toggle();
		});
		$(document).ready(function() {
			$(".xll1").click(function() {
				$(this).siblings(".xs1").slideToggle(200);
			});
		});
		
		function wan(fid){
			if($('#w'+fid).text() == '完成'){
				$.ajax({
					url:"?s=/Home/User/user_qg_wc/fid/"+fid,
					type:"get",
					success:function(data){
						$('#w'+fid).text("删除");
						$("#btn_01"+fid).text("已完成");
						if($('#w'+fid).text() == "已完成") {
							alert("1");
						} else {
							$('#w'+fid).click(function() {
								$('#w'+fid).parent().parent().parent().remove();
							});
						}
					},error:function(){
						alert('no');
					}
				});
			}else{
				if(window.confirm('确定删除?')){
					$.ajax({
						url:"?s=/Home/User/user_qg_wc_del/fid/"+fid,
						type:"get",
						success:function(data){
							$('#w'+fid).parent().parent().parent().remove();
						},error:function(){
							alert('no');
						}
					});
				}
			}
			
		}
	</script>

</html>