<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>需求消息</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xx-3rsp-cc.css" />
	</head>

	<body>
		<include file="Public/header"/>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>需求消息</p>
				</div>
				<div class="s-main-t-qb">
					<div id="xqxx-lb" class="lb"><p>全部</p>
						<div class="xqxx-lb">
								<ul>
									<a href="#xz"><li>闲置留言</li></a>
									<a href="#qg"><li>求购留言</li></a>
									<a href="#qgs"><li>求购收藏</li></a>
									<a href="#yps"><li>应聘收藏</li></a>
									<a href="#yss"><li>应赏收藏</li></a>
									<a href="#xsb"><li>悬赏报名</li></a>
									<a href="#zpb"><li>招聘报名</li></a>
									<a href="#qgb"><li>求购报名</li></a>
								</ul>
							</div>
						</div>
				</div>

				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<!-- 闲置留言 -->
								<a name="xz"></href> 
								<div id="xianzhi">
								<foreach name="list" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">
						<if condition="$lists[tel]==$lists[username]">  
					用户{$lists.username|substr=0,5}
					<else />
					用户{$lists.username}
					</if>
                                          </p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">
													闲置留言
												</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<foreach name="list_hui" item="list_huis">
		                             	<?php if($list_huis['tid'] == $lists['id']){ ?>
											<div class="spxx">
												<if condition="$list_huis[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$list_huis.imagename}" alt="" />
			                                   </if>
												<p class="spxx_01">
						       <if condition="$$list_huis[tel]==$$list_huis[username]">  
				            	用户{$list_huis.username|substr=0,5}
					            <else />
					        用户{$list_huis.username}
				         	</if>
												</p>
												<p class="spxx_02"></p>
												<form>
													<p class="spxx_03">
														回复
													</p>
												</form>
											</div>
											<div class="spxx_00">
												<p>
													{$list_huis.content_hf}
												</p>
											</div>
								<?php } ?>
										</foreach>

										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<input type="hidden" id="uid" value="{$uid}">
											<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf" onclick="liuyan_xz({$lists.id},{$lists.uid})">回复</button>
										<div class="clear"></div>
										</div>
									</li>

								</foreach>
								</div>
								<php>if(!empty($list)){</php>
									<div class="djjzgd">
										<button onclick="tj()" name='btnn' id='btnn' >点击加载更多</button>
									</div>
								<php>}</php>
								 <!-- 求购留言 -->
                               <a name="qg"></href> 
								<div id="qiugou">
								<foreach name="list_q" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">
													求购留言
												</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<foreach name="list_qgxx_hui" item="list_qgxx_huis">
											<?php if($list_qgxx_huis['tid'] == $lists['id']){ ?>
											<div class="spxx">
												<if condition="$list_qgxx_huis[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$list_qgxx_huis.imagename}" alt="" />
			                                   </if>
												<p class="spxx_01">{$list_qgxx_huis.username}</p>
												<p class="spxx_02"></p>
												<form>
													<p class="spxx_03">
														回复
													</p>
												</form>
											</div>
											<div class="spxx_00">
												<p>
													{$list_qgxx_huis.content_hf}
												</p>
											</div>
											<?php } ?>
										</foreach>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<textarea id="textarea_qg" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf" onclick="liuyan_qg({$lists.id},{$lists.uid})">回复</button>
										<div class="clear"></div>
										</div>
									</li>
								</foreach>
								</div>
								<php>if(!empty($list_q)){</php>
									<div class="djjzgd">
									<button onclick="tj1()" name='btn1' id='btn1' >点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 求购收藏 -->
								 <a name="qgs"></href> 
								<div id="qiugous">
								<foreach name="list_qs" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">求购收藏</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
								</div>
								<php>if(!empty($list_qs)){</php>
									<div class="djjzgd">
									<button onclick="tj2()" name='btnt' id='btnt' >点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 应聘收藏 -->
								<a name="yps"></href> 
								<div id="yingpins">
								<foreach name="list_yps" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">应聘收藏</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
		
								</foreach>
								</div>
									<php>if(!empty($list_yps)){</php>
									<div class="djjzgd">
									<button onclick="tj3()" name='btnt1' id='btnt1' >点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 应赏收藏 -->
									<a name="yss"></href> 
								<div id="yingshangs">
								<foreach name="list_yss" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img style="width:60px;" src="/matouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">应赏收藏</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
									</div>
									<php>if(!empty($list_yss)){</php>
									<div class="djjzgd">
									<button onclick="tj4()" name='btnt2' id='btnt2' >点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 报名悬赏 -->
								<a name="xsb"></href> 
								<?php $num = 0; ?>
								<div id="xuanshangb">
								<foreach name="arr" item="arrs">
									<li id="zp{$num}">
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="xqxx">
											<p class="xqxx_01_01">活动时间：{$arrs.time}</p>
											<p class="xqxx_01_02">活动地点：<?php $xx = explode(',',$arrs['address']);echo $xx[0];?></p>
											<p class="xqxx_01_03">悬赏内容：{$arrs['xs']['type']}</p>
											<p class="xqxx_01_03">报名悬赏</p>
											<p class="xqxx_01_04">未完成</p>
										</div>
										<!--下拉隐藏开始-->
										<div class="yhmc {$num}" id="yhmc{$num}">
											<dl>
												<div>
												<?php
												for ($i=0; $i < count($arrs['xs']['uu']); $i++) {
													?>
													<dd>
														<!-- <a href=""> -->
															<div id="xl_01" class="yhmc_01">
							                                   <?php 
							                                   	if($arrs['xs']['uu'][$i]['imagename'] == ''){
							                                    ?>
							                                    	<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
							                                	<?php }else{ ?>
							                                	<img style="width:60px;" src="/matouPCS/Tu/upload/{$arrs['xs']['uu'][$i]['imagename']}" alt="" />
							                                	<?php } ?>
																<p class="yhmc_01_01"><?php echo '用户'.$arrs['xs']['uu'][$i]['username']; ?></p>
																<!-- <p class="yhmc_01_01">1年经验</p> -->
																<p class="yhmc_01_02"></p>
																<p class="yhmc_01_03">报名</p>
																<p class="yhmc_01_04">期望赏金：私聊</p>
																<p class="yhmc_01_04">电话号码：<span id="dh<?php echo $arrs['xs']['uu'][$i]['id'];?>"><?php echo substr($arrs['xs']['uu'][$i]['tel'],0,3).'XXXX'. substr($arrs['xs']['uu'][$i]['tel'],7,11); ?></span></p>
																<input type="hidden" id="xp<?php echo $arrs['xs']['uu'][$i]['id']; ?>" value="<?php echo  $arrs['xs']['uu'][$i]['tel']?>">
																<button id="btn_c_01" class="yhmc_01_05" onclick="jj(<?php echo $arrs['xs']['wid']; ?>,<?php echo $arrs['xs']['uu'][$i]['id']; ?>);" >拒接</button>
																<button id="btn_c_02" class="yhmc_01_05" onclick="dl(<?php echo $arrs['xs']['wid']; ?>,<?php echo $arrs['xs']['uu'][$i]['id']; ?>);" >电聊</button>
																<div class="clear"></div>
																<div class="yhmc-date">
																	<span>2012-12-12</span>
																</div>
															</div>
															</dd>
													<script type="text/javascript">
													// //拒绝
													function jj(wid,uid){
														if(window.confirm('确定要拒绝么？')){
																$.ajax({
																	url:'?s=/Home/User/xqxx_sf/wid/'+wid+'/uid/'+uid,
																	type:'get',
																	success:function(data){
																		alert(data);
																	},error:function(){
																		alert('ajax请求失败');
																	}
																});
															}
													}
													//电聊
													function dl(wid,uid){
														alert(222);
														if(window.confirm('确定耗费5个码头币来查看么？')){
															$('#dh'+uid).html($('#xp'+uid).val());
														}
													}
												</script>

														<!-- </a> -->
													
												<?php  } ?>
												</div>
												
											</dl>
											<div class="showmore">
												<a id="xx_01{$num}" onclick="xx_01({$num})" href="javascript:;">
													<div class="ckxq">
														<img src="__PUBLIC__/Home/img/xiala.png" />
													</div>
													<span>查看详情</span>
												</a>

											</div>

											<div class="clearfloat"></div>
										</div>
									</li>
									<?php $num++; ?>
								</foreach>
								</div>
								<php>if(!empty($arr)){</php>
									<div class="djjzgd">
									<button onclick="tj5()" name='btnt3' id='btnt3' >点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 报名招聘 -->
								<a name="zpb"></href> 
								<?php $num_zp =  100; ?>
								<div id="zhaopinb">
								<foreach name="arr_zp" item="arr_zps">
									<li>
									<div class="xialai">
										<span class="xll1">
											<p class="xs1">删除</p>
										</span>
									</div>
									<div class="xqxx">
										<!-- <p class="xqxx_01_01">活动时间：{$arrs.time}</p> -->
										<p class="xqxx_01_02">工作地点：<?php $xx = explode(',',$arr_zps['address_zp']);echo $xx[0];?></p>
										<p class="xqxx_01_03">招聘内容：{$arr_zps['xs']['type']}</p>
										<p class="xqxx_01_03">报名招聘</p>
										<p class="xqxx_01_04">未完成</p>
									</div>

									<!--下拉隐藏开始-->
									<div class="yhmc" id="yhmc{$num_zp}">
										<dl>
											<!--<dd></dd>-->
												<div>
											<?php for ($i=0; $i < count($arr_zps['xs']['uu']); $i++) {?>
												<dd>
													<!-- <a href=""> -->
														<div id="xl_01" class="yhmc_01">
														<?php 
						                                   	if($arr_zps['xs']['uu'][$i]['imagename'] == ''){
						                                    ?>
						                                    	<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
						                                	<?php }else{ ?>
						                                	<img style="width:60px;" src="/matouPCS/Tu/upload/{$arr_zps['xs']['uu'][$i]['imagename']}" alt="" />
						                                	<?php } ?>
														<p class="yhmc_01_01"><?php echo  $arr_zps['xs']['uu'][$i]['username'];?></p>
														<p class="yhmc_01_02"></p>
														<p class="yhmc_01_03">报名</p>
														<p class="yhmc_01_04">电话号码：<span id="dhzp<?php echo $arr_zps['xs']['uu'][$i]['id'];?>"><?php echo substr($arr_zps['xs']['uu'][$i]['tel'],0,3).'XXXX'. substr($arr_zps['xs']['uu'][$i]['tel'],7,11); ?></span></p>
																<input type="hidden" id="xpzp<?php echo $arr_zps['xs']['uu'][$i]['id']; ?>" value="<?php echo  $arr_zps['xs']['uu'][$i]['tel']?>">
														<button id="btn_c_01" class="yhmc_01_05" onclick="jjzp(<?php echo $arr_zps['xs']['id']?>,<?php echo $arr_zps['xs']['uu'][$i]['id']?>)">拒接</button>

														<button id="btn_c_02" class="yhmc_01_05" onclick="dlzp(<?php echo $arr_zps['xs']['uu'][$i]['id']; ?>)">电聊</button>
														<div class="clear"></div>
														<div class="yhmc-date">
															<span>2012-12-12</span>
														</div>
													</div>
													<!-- </a> -->

												</dd>
												<script type="text/javascript">
													function jjzp(xid,id){
														if(window.confirm('确定要拒绝么？')){
																$.ajax({
																	url:'?s=/Home/User/xqxx_sf_zp/xid/'+xid+'/id/'+id,
																	type:'get',
																	success:function(data){
																		alert(data);
																	},error:function(){
																		alert('ajax请求失败');
																	}
																});
															}
													}
													function dlzp(id){
														alert(id);
														if(window.confirm('确定耗费5个码头币来查看么？')){
															$('#dhzp'+id).html($('#xpzp'+id).val());
														}
													}
												</script>
											<?php } ?>
											</div>
										</dl>
										
										<div class="showmore">
											<a id="xx_01{$num_zp}" onclick="xx_01({$num_zp})" href="javascript:;">
												<div class="ckxq">
													<img src="__PUBLIC__/Home/img/xiala.png" />
												</div>
												<span>查看详情</span>
											</a>

										</div>

										<div class="clearfloat"></div>
									</div>
								</li>
								<?php $num_zp++; ?>
							</foreach>
							</div>
							<php>if(!empty($arr_zp)){</php>
									<div class="djjzgd">
								<button onclick="tj6()" name='btnt4' id='btnt4' >点击加载更多</button>
									</div>
								<php>}</php>
							<!-- 报名求购 -->
							<a name="qgb"></href> 
							<?php $numqg = 200; ?>
								<div id="qiugoub">
								<foreach name="arr_qg" item="arr_qgs">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="xqxx">
											<p class="xqxx_01_01">发布时间：{$arr_qgs['date']}</p>
											<p class="xqxx_01_02">地点：{$arr_qgs['address']}</p>
											<p class="xqxx_01_03">求购内容：{$arr_qgs['name']}</p>
											<p class="xqxx_01_03">报名求购</p>
											<p class="xqxx_01_04">未完成</p>
										</div>

										<!--下拉隐藏开始-->
										<div class="yhmc" id="yhmc{$numqg}">
											<dl>
												<!--<dd></dd>-->
												<div>
												<?php 
												for ($i=0; $i < count($arr_qgs['xs']); $i++) {?>
												<dd>
													<!-- <a href=""> -->
														<div id="xl_01" class="yhmc_01">
														<?php 
						                                   	if($arr_qgs['xs'][$i]['imagename'] == ''){
						                                    ?>
						                                    	<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
						                                	<?php }else{ ?>
						                                	<img style="width:60px;" src="/matouPCS/Tu/upload/{$arr_qgs['xs'][$i]['imagename']}" alt="" />
						                                	<?php } ?>
														<p class="yhmc_01_01"><?php echo $arr_qgs['xs'][$i]['username']; ?></p>
														<!-- <p class="yhmc_01_01">1年经验</p> -->
														<!-- <p class="yhmc_01_02"></p> -->
														<p class="yhmc_01_03">报名</p>
														<p class="yhmc_01_04">电话号码：<span id="dhzp<?php echo $arr_qgs['xs'][$i]['id'];?>"><?php echo substr($arr_qgs['xs'][$i]['tel'],0,3).'XXXX'. substr($arr_qgs['xs'][$i]['tel'],7,11); ?></span></p>
																<input type="hidden" id="xpzp<?php echo $arr_qgs['xs'][$i]['id']; ?>" value="<?php echo  $arr_qgs['xs'][$i]['tel']?>">
														<!-- <p class="yhmc_01_04">摄影师</p> -->
														<p class="yhmc_01_04">期望赏金：私聊</p>
														<button id="btn_c_01" class="yhmc_01_05" onclick="jjqg(<?php echo $arr_qgs['fid']?>,<?php echo $arr_qgs['xs'][$i]['id'];?>)">拒接</button>
														<button id="btn_c_02" class="yhmc_01_05" onclick="dlqg()">电聊</button>
														<div class="clear"></div>
														<div class="yhmc-date">
															<span>2012-12-12</span>
														</div>
													</div>
													<!-- </a> -->

												</dd>
												<script type="text/javascript">
													function jjqg(fid,uid){
														//fid为求购id  uid为报名用户的id
														if(window.confirm('确定要拒绝么？')){
																$.ajax({
																	url:'?s=/Home/User/xqxx_sf_qg/fid/'+fid+'/uid/'+uid,
																	type:'get',
																	success:function(data){
																		alert(data);
																	},error:function(){
																		alert('ajax请求失败');
																	}
																});
															}
													}
													function dlqg(){
														alert('电聊求购');
													}
												</script>
												<?php } ?>
												</div>
											</dl>
											<div class="showmore">
												<a id="xx_01{$numqg}" onclick="xx_01({$numqg})" href="javascript:;">
													<div class="ckxq">
														<img src="__PUBLIC__/Home/img/xiala.png" />
													</div>
													<span>查看详情</span>
												</a>

											</div>

											<div class="clearfloat"></div>
										</div>

									</li>
									<?php $numqg++; ?>
									</foreach>
									</div>
									<php>if(!empty($arr_qg)){</php>
									<div class="djjzgd">
										<button onclick="tj7()" name='btnt5' id='btnt5' >点击加载更多</button>
									</div>
								<php>}</php>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
				<!-- <div class="djjzgd">
					<button>点击加载更多</button>
				</div> -->
			</div>
		</section>
		<include file="Public/foote"/>
	</body>
	<script type="text/javascript">

	  var v=2;
	  function  tj(){		 
		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/xianzhijz",
					data:{k:v},
					beforeSend:function(){
			         $("#xianzhi").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data['xz']);
						if(data['xz']!=null){				
							
							 for (var i = 0; i < data['xz'].length; i++) {
								 if(data['xz'][i].imagename==null) {
                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
								 }else{
								var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['xz'][i].imagename+'" />';
								 }
								 var p='';
								 for (var j= 0; j < data['xzh'].length; j++) {
									 if(data['xz'][i].id==data['xzh'][j].tid){
										 if(data['xzh'][j].imagename==null) {
				                                var imgs='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
												 }else{
												var imgs='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['xzh'][j].imagename+'" />';
												 }
									 p+='<div class="spxx">'+imgs+'<p class="spxx_01">'+data['xzh'][j].username+'</p><p class="spxx_02"></p><form><p class="spxx_03"> 回复 </p></form></div><div class="spxx_00"><p>'+data['xzh'][j].content_hf+'</p></div>';
									 }
								 }
								 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx">'+img+'<p class="spxx_01">'+data['xz'][i].username+'</p><p class="spxx_02"></p><form><p class="spxx_03"> 闲置留言 </p></form></div><div class="spxx_00"><p> '+data['xz'][i].content_xx+'</p></div> '+p+'<div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p><p class="spxx_hf"> 回复 </p></div><div class="no"><input type="hidden" id="uid" value="'+data['xz'][i].uid+'"><textarea id="liuyan" placeholder="留言留言留言留言留言留言"></textarea><button class="hf" onclick="liuyan_xz1('+data['xz'][i].id+','+data['xz'][i].uid+')">回复</button><div class="clear"></div></div></li>';
								// alert(p);
							$("#xianzhi").append(li);
							$('.spxx_hf').click(function() {
								$(this).parents('li').children('.no').show();
							});
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnn').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	v++;
		// alert(p);
		  } 
	  
	  var b=2;
	  function  tj1(){		 
		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/qiugoujz",
					data:{k:b},
					beforeSend:function(){
			         $("#qiugou").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						// alert(data['xz']);
						if(data['qg']!=null){				
							
							 for (var i = 0; i < data['qg'].length; i++) {
								 if(data['qg'][i].imagename==null) {
                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
								 }else{
								var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['qg'][i].imagename+'" />';
								 }
								 var p='';
								 for (var j= 0; j < data['qgh'].length; j++) {
									 if(data['qg'][i].id==data['qgh'][j].tid){
										 if(data['qgh'][j].imagename==null) {
				                                var imgs='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
												 }else{
												var imgs='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data['qgh'][j].imagename+'" />';
												 }
									 p+='<div class="spxx">'+imgs+'<p class="spxx_01">'+data['qgh'][j].username+'</p><p class="spxx_02"></p><form><p class="spxx_03"> 回复 </p></form></div><div class="spxx_00"><p>'+data['xzh'][j].content_hf+'</p></div>';
									 }      
								 }
								 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx">'+img+'<p class="spxx_01">'+data['qg'][i].username+'</p><p class="spxx_02"></p><form><p class="spxx_03"> 求购留言 </p></form></div><div class="spxx_00"><p> '+data['qg'][i].content_xx+'</p></div> '+p+'<div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p><p class="spxx_hf"> 回复 </p></div><div class="no"><textarea id="liuyan_qg" placeholder="留言留言留言留言留言留言"></textarea><button class="hf" onclick="liuyan_qg1('+data['qg'][i].id+','+data['qg'][i].uid+')">回复<div class="clear"></div></div></li>';
							$("#qiugou").append(li);
							$('.spxx_hf').click(function() {
								$(this).parents('li').children('.no').show();
							});
							 }
						}else{
							 //alert(22);
							 document.getElementById('btn1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	b++;
		// alert(p);
		  } 
	  var n=2;
	  function  tj2(){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/qiugousjz",
					data:{k:n},
					beforeSend:function(){
			         $("#qiugous").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
					//alert(data);
						if(data!=null){				
							
							 for (var i = 0; i < data.length; i++) {
								 if(data[i].imagename==null) {
                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
								 }else{
								var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data[i].imagename+'" />';
								 }
			
								 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx"> '+img+'<p class="spxx_01">'+data[i].username+'</p><p class="spxx_02"></p><p class="spxx_03">求购收藏</p><div class="spxx_img"><img src="__PUBLIC__/Home/img/heart.png" /></div><p class="spxx_04"> 收藏 </p></div><div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p></div></li>';
							$("#qiugous").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnt').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	n++;
		// alert(p);
		  } 
	  

	  var q=2;
	  function  tj3(){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/yingpinsjz",
					data:{k:q},
					beforeSend:function(){
			         $("#yingpins").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
					//	alert(data);
						if(data!=null){				
							
							 for (var i = 0; i < data.length; i++) {
								 if(data[i].imagename==null) {
                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
								 }else{
								var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data[i].imagename+'" />';
								 }
			
								 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx"> '+img+'<p class="spxx_01">'+data[i].username+'</p><p class="spxx_02"></p><p class="spxx_03">应聘收藏</p><div class="spxx_img"><img src="__PUBLIC__/Home/img/heart.png" /></div><p class="spxx_04"> 收藏 </p></div><div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p></div></li>';
							$("#yingpins").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnt1').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	m++;
		// alert(p);
		  } 
	  var m=2;
	  function  tj4(){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/yingshangsjz",
					data:{k:m},
					beforeSend:function(){
			         $("#yingshangs").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						//alert(data);
						if(data!=null){				
							
							 for (var i = 0; i < data.length; i++) {
								 if(data[i].imagename==null) {
                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
								 }else{
								var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data[i].imagename+'" />';
								 }
			
								 var li = '<li><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="spxx"> '+img+'<p class="spxx_01">'+data[i].username+'</p><p class="spxx_02"></p><p class="spxx_03">应赏收藏</p><div class="spxx_img"><img src="__PUBLIC__/Home/img/heart.png" /></div><p class="spxx_04"> 收藏 </p></div><div class="spxx_sj"><p class="spxx_sj_r">2016-12-12</p></div></li>';
							$("#yingshangs").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnt2').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	m++;
		// alert(p);
		  } 
	  var g=2;
	  function  tj5(){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/xuanshangbjz",
					data:{k:g},
					beforeSend:function(){
			         $("#xuanshangb").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						//alert(data);
						if(data!=null){				
							var $num=3;
						
							 for (var i = 0; i < data.length; i++) {
									var p='';
								//	 alert(data.length);
								 for (var j = 0; j < data[i]['xs']['uu'].length; j++) {
										if(data[i]['xs']['uu'][j]!=null){
									 if(data[i]['xs']['uu'][j].imagename==null) {
			                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
											 }else{
											var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data[i]['xs']['uu'][j].imagename+'" />';
											 }
									 var s=data[i]['xs']['uu'][j].tel;
									 var tel=s.substr(0,3)+'xxxx'+s.substr(7,11);
									p+='<dd><div id="xl_01" class="yhmc_01"> '+img+'<p class="yhmc_01_01">'+data[i]['xs']['uu'][j].username+'</p><p class="yhmc_01_02"></p><p class="yhmc_01_03">报名</p><p class="yhmc_01_04">期望赏金：私聊</p><p class="yhmc_01_04">电话号码：<span id="dh'+data[i]['xs']['uu'][j].id+'">'+tel+'</span></p><input type="hidden" id="xp'+data[i]['xs']['uu'][j].id+'" value="'+data[i]['xs']['uu'][j].tel+'"><button id="btn_c_01" class="yhmc_01_05" onclick="jj('+data[i]['xs'].wid+','+data[i]['xs']['uu'][j].id+');" >拒接</button><button id="btn_c_02" class="yhmc_01_05" onclick="dl('+data[i]['xs'].wid+','+data[i]['xs']['uu'][j].id+');" >电聊</button><div class="clear"></div><div class="yhmc-date"><span>2012-12-12</span></div></div></dd>';
								 }
								 }
								 var li = '<li id="zp'+$num+'"><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="xqxx"><p class="xqxx_01_01">活动时间：'+data[i].time+'</p><p class="xqxx_01_02">活动地点：'+data[i].address+'</p><p class="xqxx_01_03">悬赏内容：'+data[i]['xs'].type+'</p><p class="xqxx_01_03">报名悬赏</p><p class="xqxx_01_04">未完成</p></div><!--下拉隐藏开始--><div class="yhmc {$num}" id="yhmc{$num}"><dl><div> '+p+'</div></dl><div class="showmore"><a id="xx_01{$num}" onclick="xx_01({$num})" href="javascript:;"><div class="ckxq"><img src="__PUBLIC__/Home/img/xiala.png" /></div><span>查看详情</span></a></div><div class="clearfloat"></div></div></li>';
								 
								 $("#xuanshangb").append(li);
		 	
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnt3').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	g++;
		// alert(p);
		  } 
	  var a=2;
	  function  tj6(){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/zhaopinbjz",
					data:{k:a},
					beforeSend:function(){
			         $("#xuanshangb").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
						//alert(data);
						if(data!=null){				
							var $num=0;
						
							 for (var i = 0; i < data.length; i++) {
									var p='';
								//	 alert(data.length);
								 for (var j = 0; j < data[i]['xs']['uu'].length; j++) {
										if(data[i]['xs']['uu'][j]!=null){
									 if(data[i]['xs']['uu'][j].imagename==null) {
			                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
											 }else{
											var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data[i]['xs']['uu'][j].imagename+'" />';
											 }
									 var s=data[i]['xs']['uu'][j].tel;
									 var tel=s.substr(0,3)+'xxxx'+s.substr(7,11);
									p+='<dd><div id="xl_01" class="yhmc_01"> '+img+'<p class="yhmc_01_01">'+data[i]['xs']['uu'][j].username+'</p><p class="yhmc_01_02"></p><p class="yhmc_01_03">报名</p><p class="yhmc_01_04">期望赏金：私聊</p><p class="yhmc_01_04">电话号码：<span id="dhzp'+data[i]['xs']['uu'][j].id+'">'+tel+'</span></p><input type="hidden" id="xpzp'+data[i]['xs']['uu'][j].id+'" value="'+data[i]['xs']['uu'][j].tel+'"><button id="btn_c_01" class="yhmc_01_05" onclick="jjzp('+data[i]['xs'].wid+','+data[i]['xs']['uu'][j].id+');" >拒接</button><button id="btn_c_02" class="yhmc_01_05" onclick="dlzp('+data[i]['xs']['uu'][j].id+');" >电聊</button><div class="clear"></div><div class="yhmc-date"><span>2012-12-12</span></div></div></dd>';
								 }
								 }
								 var li = '<li "><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="xqxx"> <p class="xqxx_01_02">工作地点：'+data[i].address_zp+'</p><p class="xqxx_01_03">招聘内容：'+data[i]['xs'].type+'</p><p class="xqxx_01_03">报名招聘</p><p class="xqxx_01_04">未完成</p></div><!--下拉隐藏开始--><div class="yhmc {$num}" id="yhmc{$num}"><dl><div> '+p+'</div></dl><div class="showmore"><a id="xx_01{$num}" onclick="xx_01({$num})" href="javascript:;"><div class="ckxq"><img src="__PUBLIC__/Home/img/xiala.png" /></div><span>查看详情</span></a></div><div class="clearfloat"></div></div></li>';
								 
								 $("#zhaopinb").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnt4').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	a++;
		// alert(p);
		  } 
	  var s=2;
	  function  tj7(){		 
		  var t = "{:session('id')}";
				$.ajax({
					type:'post',
					url:"?s=/Home/User/qiugoubjz",
					data:{k:s},
					beforeSend:function(){
			         $("#xuanshangb").append("<div id='load'>加载中……</div>");
					},
					success:function(data){
					
						if(data!=null){				
							var $num=1245;
						
							 for (var i = 0; i < data.length; i++) {
									var p='';
								//	 alert(data.length);
								 for (var j = 0; j < data[i]['xs'].length; j++) {
										if(data[i]['xs'][j]!=null){
									 if(data[i]['xs'][j].imagename==null) {
			                                var img='<img src="__PUBLIC__/Home/img/yhmc.png"/>';
											 }else{
											var img='<img style="border-radius:50%;width: 60px"  src="/matouPCS/Tu/upload/'+data[i]['xs'][j].imagename+'" />';
											 }
									 var s=data[i]['xs'][j].tel;
									 var tel=s.substr(0,3)+'xxxx'+s.substr(7,11);
									p+='<dd><div id="xl_01" class="yhmc_01"> '+img+'<p class="yhmc_01_01">'+data[i]['xs'][j].username+'</p><p class="yhmc_01_02"></p><p class="yhmc_01_03">报名</p><p class="yhmc_01_04">期望赏金：私聊</p><p class="yhmc_01_04">电话号码：<span id="dhzp'+data[i]['xs'][j].id+'">'+tel+'</span></p><input type="hidden" id="xpzp'+data[i]['xs'][j].id+'" value="'+data[i]['xs'][j].tel+'"><button id="btn_c_01" class="yhmc_01_05" onclick="jjqg('+data[i].fid+','+data[i]['xs'][j].id+');" >拒接</button><button id="btn_c_02" class="yhmc_01_05" onclick="dlqg();" >电聊</button><div class="clear"></div><div class="yhmc-date"><span>2012-12-12</span></div></div></dd>';
								 }
								 }
								 var li = '<li id="zp'+$num+'"><div class="xialai"><span class="xll1"><p class="xs1">删除</p></span></div><div class="xqxx"><p class="xqxx_01_01">发布时间：'+data[i].date+'</p><p class="xqxx_01_02">地点：'+data[i].address+'</p><p class="xqxx_01_03">求购内容：'+data[i].name+'</p><p class="xqxx_01_03">报名求购</p><p class="xqxx_01_04">未完成</p></div><!--下拉隐藏开始--><div class="yhmc {$num}" id="yhmc{$num}"><dl><div> '+p+'</div></dl><div class="showmore"><a id="xx_01{$num}" onclick="xx_01({$num})" href="javascript:;"><div class="ckxq"><img src="__PUBLIC__/Home/img/xiala.png" /></div><span>查看详情</span></a></div><div class="clearfloat"></div></div></li>';
									alert(li);
								 $("#qiugoub").append(li);
		 		
							 }
						}else{
							 //alert(22);
							 document.getElementById('btnt5').innerHTML = '加载完毕';
			 				flag=true;	
						}	
			 },
			 	complete:function(){
			           $("#load").remove();
					},
				 	dataType:'json'
				 	});
			 	s++;
		// alert(p);
		  } 
	 
	  </script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	<script src="__PUBLIC__/Home/js/xqly.js"></script>
</html>