<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>需求消息</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xx-3rsp-cc.css" />
	</head>

	<body>
		<include file="Public/header"/>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>需求消息</p>
				</div>
				<div class="s-main-t-qb">
					<div id="xqxx-lb" class="lb"><p>全部</p>
						<div class="xqxx-lb">
								<ul>
									<li>全部</li>
									<li>悬赏</li>
									<li>应赏</li>
									<li>招聘</li>
									<li>应聘</li>
									<li>求购</li>
									<li>闲置</li>
								</ul>
							</div>
						</div>
				</div>

				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<foreach name="list" item="lists">
								<li><h1>{$lists['status_xx'] == 1 ? '未读' : '已读'}</h1>
									<div class="xialai">
										<span class="xll1">
											<p class="xs1">删除</p>
										</span>
									</div>
									<div class="spxx">
										<img src="__PUBLIC__/Home/img/yhmc.png">
										<p class="spxx_01">{$lists.username}</p>
										<p class="spxx_02"></p>
										<form>
											<p class="spxx_03">
												<?php 
													if($lists['type_xx'].$lists['type_xs'] == '36'){
															echo '闲置留言';
														}else if($lists['type_xx'].$lists['type_xs'] == '37'){
															echo '求购留言';
														}else if($lists['type_xx'].$lists['type_xs'] == '14'){
															echo '报名悬赏';
														}else{
															echo $lists['type_xx'].$lists['type_xs'];
														}?>
											</p>
											
										</form>
									</div>
									<div class="spxx_00">
										<p>
											{$lists.content_xx}
										</p>
									</div>
									<div class="spxx_sj">
										<p class="spxx_sj_r">2016-12-12</p>
										<p class="spxx_hf">
											回复
										</p>
									</div>
									<div class="no">
										<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
									<button class="hf">回复</button>
									<div class="clear"></div>
									</div>
								</li>
								</foreach>
								<li>
									<div class="xialai">
										<span class="xll1">

											<p class="xs1">删除</p>
										</span>
									</div>
									<div class="spxx">
										<img src="__PUBLIC__/Home/img/yhmc.png">
										<p class="spxx_01">用户名称用户名称</p>
										<p class="spxx_02"></p>
										<p class="spxx_03">收藏应赏</p>
										<div class="spxx_img">
												<img src="__PUBLIC__/Home/img/heart.png" />
											</div>
										<p class="spxx_04">
											收藏
										</p>
									</div>
									<div class="spxx_sj">
										<p class="spxx_sj_r">2016-12-12</p>
									</div>
								</li>
								<li>
									<div class="xialai">
										<span class="xll1">
											<p class="xs1">删除</p>
										</span>
									</div>
									<div class="spxx">
										<img src="__PUBLIC__/Home/img/yhmc.png">
										<p class="spxx_01">用户名称用户名称</p>
										<p class="spxx_02"></p>
										<form>
											<p class="spxx_03">回复</p>
											<textarea name="" cols="" rows="" placeholder="留言留言留言留言留言留言留言。。。" class="lyhf"></textarea>
										</form>
									</div>
									<div class="spxx_00">
										<p>
											二战时，美国军方委托着名的心理学家桂尔福研发一套心理测验，希望能用这套东西挑选出最优秀的人来担任飞行员。 结果很惨，通过这套测试的飞行员，训练时的表现很亮眼，可是一上战场，所驾驶的飞机大多被击落，死亡率非常高。 桂尔福在反思时发现那些战绩辉煌，身经百战打不死的飞行员，多半是从那些退役的“老鸟”中挑选出来的。 他非常纳闷儿，为什么精密的心理测量，却比不上“老鸟”的直觉呢？其中的问题在哪儿呢？
										</p>
									</div>
									<div class="spxx_sj">
										<p class="spxx_sj_r">2016-12-12</p>
									</div>
								</li>
								<li>
									<div class="xialai">
										<span class="xll1">
											<p class="xs1">删除</p>
										</span>
									</div>
									<div class="xqxx">
										<p class="xqxx_01_01">活动时间：2016-12-10</p>
										<p class="xqxx_01_02">活动地点：郑州</p>
										<p class="xqxx_01_03">悬赏内容：摄影、主持人</p>
										<p class="xqxx_01_04">未完成</p>
									</div>

									<!--下拉隐藏开始-->
									<div class="yhmc" id="yhmc">
										<dl>

											<!--<dd></dd>-->
											<dd>
												<a href="">
													<div id="xl_01" class="yhmc_01">
													<img src="__PUBLIC__/Home/img/yhmc.png">
													<p class="yhmc_01_01">用户名称</p>
													<p class="yhmc_01_01">1年经验</p>
													<p class="yhmc_01_02"></p>
													<p class="yhmc_01_03">报名</p>
													<p class="yhmc_01_04">摄影师</p>
													<p class="yhmc_01_04">期望赏金：300-800元/天</p>
													<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
													<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
													<div class="clear"></div>
													<div class="yhmc-date">
														<span>2012-12-12</span>
													</div>
												</div>
												</a>

											</dd>
											<dd>
												<a href="">
													<div id="xl_01" class="yhmc_01">
													<img src="__PUBLIC__/Home/img/yhmc.png">
													<p class="yhmc_01_01">用户名称</p>
													<p class="yhmc_01_01">1年经验</p>
													<p class="yhmc_01_02"></p>
													<p class="yhmc_01_03">报名</p>
													<p class="yhmc_01_04">摄影师</p>
													<p class="yhmc_01_04">期望赏金：300-800元/天</p>
													<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
													<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
													<div class="clear"></div>
													<div class="yhmc-date">
														<span>2012-12-12</span>
													</div>
												</div>
												</a>

											</dd>
											<dd>
												<a href="">
													<div id="xl_01" class="yhmc_01">
													<img src="__PUBLIC__/Home/img/yhmc.png">
													<p class="yhmc_01_01">用户名称</p>
													<p class="yhmc_01_01">1年经验</p>
													<p class="yhmc_01_02"></p>
													<p class="yhmc_01_03">报名</p>
													<p class="yhmc_01_04">摄影师</p>
													<p class="yhmc_01_04">期望赏金：300-800元/天</p>
													<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
													<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
													<div class="clear"></div>
													<div class="yhmc-date">
														<span>2012-12-12</span>
													</div>
												</div>
												</a>

											</dd>
											<dd>
												<a href="">
													<div id="xl_01" class="yhmc_01">
													<img src="__PUBLIC__/Home/img/yhmc.png">
													<p class="yhmc_01_01">用户名称</p>
													<p class="yhmc_01_01">1年经验</p>
													<p class="yhmc_01_02"></p>
													<p class="yhmc_01_03">报名</p>
													<p class="yhmc_01_04">摄影师</p>
													<p class="yhmc_01_04">期望赏金：300-800元/天</p>
													<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
													<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
													<div class="clear"></div>
													<div class="yhmc-date">
														<span>2012-12-12</span>
													</div>
												</div>
												</a>

											</dd>
											<dd>
												<a href="">
													<div id="xl_01" class="yhmc_01">
													<img src="__PUBLIC__/Home/img/yhmc.png">
													<p class="yhmc_01_01">用户名称</p>
													<p class="yhmc_01_01">1年经验</p>
													<p class="yhmc_01_02"></p>
													<p class="yhmc_01_03">报名</p>
													<p class="yhmc_01_04">摄影师</p>
													<p class="yhmc_01_04">期望赏金：300-800元/天</p>
													<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
													<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
													<div class="clear"></div>
													<div class="yhmc-date">
														<span>2012-12-12</span>
													</div>
												</div>
												</a>

											</dd>
										</dl>
										<div class="showmore">
											<a id="xx_01" href="javascript:;">
												<div class="ckxq">
													<img src="__PUBLIC__/Home/img/xiala.png" />
												</div>
												<span>查看详情</span>
											</a>

										</div>

										<div class="clearfloat"></div>
									</div>

								</li>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
				<div class="djjzgd">
					<button>点击加载更多</button>
				</div>
			</div>

		</section>
		<?php	include '3rank-footer.php';?>
		<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
</html>