<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>需求消息</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xx-3rsp-cc.css" />
	</head>

	<body>
		<include file="Public/header"/>
		<section>
			<div class="s-main-c">
				<div class="s-main-t">
					<p>需求消息</p>
				</div>
				<div class="s-main-t-qb">
					<div id="xqxx-lb" class="lb"><p>全部</p>
						<div class="xqxx-lb">
								<ul>
									<li>全部</li>
									<li>悬赏</li>
									<li>应赏</li>
									<li>招聘</li>
									<li>应聘</li>
									<li>求购</li>
									<li>闲置</li>
								</ul>
							</div>
						</div>
				</div>

				<div class="wk_01">
					<div class="con">
						<div class="s-main-b">
							<ul>
								<!-- 闲置留言 -->
								<foreach name="list" item="lists">
									<?php if($_SESSION['id'] == $lists['uid'] || $_SESSION['id'] == $lists['fid']){ ?>
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">
													闲置留言
												</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<foreach name="list_hui" item="list_huis">
											<?php if($list_huis['tid'] == $lists['id']){ ?>
											<div class="spxx">
												<img src="__PUBLIC__/Home/img/yhmc.png">
												<p class="spxx_01">{$list_huis.username}</p>
												<p class="spxx_02"></p>
												<form>
													<p class="spxx_03">
														回复
													</p>
												</form>
											</div>
											<div class="spxx_00">
												<p>
													{$list_huis.content_hf}
												</p>
											</div>
											<?php } ?>
										</foreach>

										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<input type="hidden" id="uid" value="{$uid}">
											<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf" onclick="liuyan_xz({$lists.id},{$lists.uid})">回复</button>
										<div class="clear"></div>
										</div>
									</li>
									<?php  } ?>
								</foreach>
								<!-- 求购留言 -->
								<foreach name="list_q" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<form>
												<p class="spxx_03">
													求购留言
												</p>
												
											</form>
										</div>
										<div class="spxx_00">
											<p>
												{$lists.content_xx}
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
											<p class="spxx_hf">
												回复
											</p>
										</div>
										<div class="no">
											<textarea id="textarea" placeholder="留言留言留言留言留言留言"></textarea>
										<button class="hf" >回复</button>
										<div class="clear"></div>
										</div>
									</li>
								</foreach>
								<!-- 求购收藏 -->
								<foreach name="list_qs" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">求购收藏</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
								<!-- 应聘收藏 -->
								<foreach name="list_yps" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">应聘收藏</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
								<!-- 应赏收藏 -->
								<foreach name="list_yss" item="lists">
									<li>
										<div class="xialai">
											<span class="xll1">

												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="spxx">
											<img src="__PUBLIC__/Home/img/yhmc.png">
											<p class="spxx_01">{$lists.username}</p>
											<p class="spxx_02"></p>
											<p class="spxx_03">应赏收藏</p>
											<div class="spxx_img">
													<img src="__PUBLIC__/Home/img/heart.png" />
												</div>
											<p class="spxx_04">
												收藏
											</p>
										</div>
										<div class="spxx_sj">
											<p class="spxx_sj_r">2016-12-12</p>
										</div>
									</li>
								</foreach>
								<php>if(!empty($list)){</php>
									<div class="djjzgd">
										<button>点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 报名悬赏 -->
								<?php $num = 0; ?>
								<foreach name="arr" item="arrs">
									<li id="zp{$num}">
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="xqxx">
											<p class="xqxx_01_01">活动时间：{$arrs.time}</p>
											<p class="xqxx_01_02">活动地点：<?php $xx = explode(',',$arrs['address']);echo $xx[0];?></p>
											<p class="xqxx_01_03">悬赏内容：{$arrs['xs']['type']}</p>
											<p class="xqxx_01_03">报名悬赏</p>
											<p class="xqxx_01_04">未完成</p>
										</div>
										<!--下拉隐藏开始-->
										<div class="yhmc" id="yhmc{$num}">
											<dl>
												<?php for ($i=0; $i < count($arrs['xs']['uu']); $i++) {?>
												<dd>
													<!-- <a href=""> -->
														<div id="xl_01" class="yhmc_01">
														<img src="__PUBLIC__/Home/img/yhmc.png">
														<p class="yhmc_01_01"><?php echo $arrs['xs']['uu'][$i]['username']; ?></p>
														<!-- <p class="yhmc_01_01">1年经验</p> -->
														<p class="yhmc_01_02"></p>
														<p class="yhmc_01_03">报名</p>
														<p class="yhmc_01_04">期望赏金：私聊</p>
														<p class="yhmc_01_04">电话号码：<span id="dh<?php echo $arrs['xs']['uu'][$i]['id'];?>"><?php echo substr($arrs['xs']['uu'][$i]['tel'],0,3).'XXXX'. substr($arrs['xs']['uu'][$i]['tel'],7,11); ?></span></p>
														<input type="hidden" id="xp<?php echo $arrs['xs']['uu'][$i]['id']; ?>" value="<?php echo  $arrs['xs']['uu'][$i]['tel']?>">
														<button id="btn_c_01" class="yhmc_01_05" onclick="jj(<?php echo $arrs['xs']['wid']; ?>);">拒接</button>
														<button id="btn_c_02" class="yhmc_01_05" onclick="dl(<?php echo $arrs['xs']['wid']; ?>,<?php echo $arrs['xs']['uu'][$i]['id']; ?>);">电聊</button>
														<div class="clear"></div>
														<div class="yhmc-date">
															<span>2012-12-12</span>
														</div>
													</div>
													<!-- </a> -->
												</dd>
												<script type="text/javascript">
												//拒绝
													function jj(wid){
														if(window.confirm('确定要拒绝么？')){
															alert('已拒绝');
														}
													}
												//电聊
													function dl(wid){
														alert(wid);
													}
												</script>
												<?php } ?>
											</dl>
											<div class="showmore">
												<a id="xx_01{$num}" onclick="xx_01({$num})" href="javascript:;">
													<div class="ckxq">
														<img src="__PUBLIC__/Home/img/xiala.png" />
													</div>
													<span>查看详情</span>
												</a>

											</div>

											<div class="clearfloat"></div>
										</div>
									</li>
									<?php $num++; ?>
								</foreach>
								<php>if(!empty($arrs)){</php>
									<div class="djjzgd">
										<button>点击加载更多</button>
									</div>
								<php>}</php>
								<!-- 报名招聘 -->
								<?php $num_zp =  10; ?>
								<foreach name="arr_zp" item="arr_zps">
									<li>
									<div class="xialai">
										<span class="xll1">
											<p class="xs1">删除</p>
										</span>
									</div>
									<div class="xqxx">
										<!-- <p class="xqxx_01_01">活动时间：{$arrs.time}</p> -->
										<p class="xqxx_01_02">工作地点：<?php $xx = explode(',',$arr_zps['address_zp']);echo $xx[0];?></p>
										<p class="xqxx_01_03">招聘内容：{$arr_zps['xs']['type']}</p>
										<p class="xqxx_01_03">报名招聘</p>
										<p class="xqxx_01_04">未完成</p>
									</div>

									<!--下拉隐藏开始-->
									<div class="yhmc" id="yhmc{$num_zp}">
										<dl>
											<!--<dd></dd>-->
											<?php for ($i=0; $i < count($arr_zps['xs']['uu']); $i++) {?>
												<dd>
													<a href="">
														<div id="xl_01" class="yhmc_01">
														<img src="__PUBLIC__/Home/img/yhmc.png">
														<p class="yhmc_01_01"><?php echo  $arr_zps['xs']['uu'][$i]['username'];?></p>
														<p class="yhmc_01_02"></p>
														<p class="yhmc_01_03">报名</p>
														<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
														<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
														<div class="clear"></div>
														<div class="yhmc-date">
															<span>2012-12-12</span>
														</div>
													</div>
													</a>

												</dd>
											<?php } ?>
										</dl>
										<div class="showmore">
											<a id="xx_01{$num_zp}" onclick="xx_01({$num_zp})" href="javascript:;">
												<div class="ckxq">
													<img src="__PUBLIC__/Home/img/xiala.png" />
												</div>
												<span>查看详情</span>
											</a>

										</div>

										<div class="clearfloat"></div>
									</div>
								</li>
								<?php $num_zp++; ?>
							</foreach>
							<php>if(!empty($arr_zps)){</php>
									<div class="djjzgd">
										<button>点击加载更多</button>
									</div>
								<php>}</php>
							<!-- 报名求购 --><?php $numqg = 200; ?>
								<foreach name="arr_qg" item="arr_qgs">
									<li>
										<div class="xialai">
											<span class="xll1">
												<p class="xs1">删除</p>
											</span>
										</div>
										<div class="xqxx">
											<p class="xqxx_01_01">发布时间：{$arr_qgs['date']}</p>
											<p class="xqxx_01_02">地点：{$arr_qgs['address']}</p>
											<p class="xqxx_01_03">求购内容：{$arr_qgs['name']}</p>
											<p class="xqxx_01_03">报名求购</p>
											<p class="xqxx_01_04">未完成</p>
										</div>

										<!--下拉隐藏开始-->
										<div class="yhmc" id="yhmc{$numqg}">
											<dl>
												<!--<dd></dd>-->
												<?php for ($i=0; $i < count($arr_qgs['xs']); $i++) {?>
												<dd>
													<a href="">
														<div id="xl_01" class="yhmc_01">
														<img src="__PUBLIC__/Home/img/yhmc.png">
														<p class="yhmc_01_01"><?php echo $arr_qgs['xs'][$i]['username']; ?></p>
														<!-- <p class="yhmc_01_01">1年经验</p> -->
														<!-- <p class="yhmc_01_02"></p> -->
														<p class="yhmc_01_03">报名</p>
														<!-- <p class="yhmc_01_04">摄影师</p> -->
														<p class="yhmc_01_04">期望赏金：私聊</p>
														<button id="btn_c_01" class="yhmc_01_05" onclick="reject();return false;">拒接</button>
														<button id="btn_c_02" class="yhmc_01_05" onclick="tel();return false;">电聊</button>
														<div class="clear"></div>
														<div class="yhmc-date">
															<span>2012-12-12</span>
														</div>
													</div>
													</a>

												</dd>
												<?php } ?>
											</dl>
											<div class="showmore">
												<a id="xx_01{$numqg}" onclick="xx_01({$numqg})" href="javascript:;">
													<div class="ckxq">
														<img src="__PUBLIC__/Home/img/xiala.png" />
													</div>
													<span>查看详情</span>
												</a>

											</div>

											<div class="clearfloat"></div>
										</div>

									</li>
									<?php $numqg++; ?>
									</foreach>
									<php>if(!empty($arr_qgs)){</php>
									<div class="djjzgd">
										<button>点击加载更多</button>
									</div>
								<php>}</php>
							</ul>
							<div class="clearfloat"></div>
						</div>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="clearfloat"></div>
				<!-- <div class="djjzgd">
					<button>点击加载更多</button>
				</div> -->
			</div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showWin.js"></script>
	<script src="__PUBLIC__/Home/js/xqly.js"></script>
</html>