 <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>悬赏大厅</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xsdt1-xy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/datePicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/hzw-city-picker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<style>
			.s-f1-r ul li a .img {
				margin-top: 15px;
				margin-right: 10px;
				float: right;
			}
			.select-yfb {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-yfb ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-yfb ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-yfb ul li a{
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-xx {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-xx ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-xx ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-xx ul li a{
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
		</style>
	</head>
	<script src="__PUBLIC__/Home/js/index-alert-login.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<div class="h-c-1f">
						<div class="s-f1-l">
							<div class="home">
								<a href="index.html">
									<img src="__PUBLIC__/Home/img/home.png" />
								</a>
							</div>
							<p>
								<a href="?s=/Home/Index">首页</a>
							</p>
						</div>
						<div class="s-f1-r">
							<ul>
								<literal>
                     				<if condition="$_SESSION['username'] == '' ">
										<li style="width:100px; ">
											<a class="login-alert" href="#">请注册\登录</a>
										</li>
									<else/>
										<li style="width: 100px;">
											<a href="#">
												<img src="__PUBLIC__/Home/img/tx.png" />
												<p >用户{$_SESSION['username']|substr=0,5}</p>
											</a>
											<div class="str"></div>
										</li>
									</if>
								<literal>

								<li id="select-xx" style="width: 45px;">
									<a href="#">消息</a>
									<div class="str"></div>
									<div class="select-xx">
										<ul>
											<li><a href="">需求消息</a></li>
											<li><a href="">部队消息</a></li>
											<li><a href="">商铺消息</a></li>
										</ul>
									</div>
								</li>
								<li style="width: 58px;">
									<a href="#">收藏夹</a>
									<div class="str"></div>
								</li>
								<li id="select-yfb" style="width: 70px;">
									<a href="#">已发布<img class="img" src="__PUBLIC__/Home/img/arrow_bottom.png"></a>
									<div class="str"></div>
									<div class="select-yfb">
										<ul>
											<ul>
											<li><a href="">悬赏</a></li>
											<li><a href="">应赏</a></li>
											<li><a href="">招聘</a></li>
											<li><a href="">应聘</a></li>
											<li><a href="">求购</a></li>
											<li><a href="">闲置</a></li>
											<li><a href="">闲置</a></li>
											<li><a href="">闲置</a></li>
											<li><a href="">闲置</a></li>
										</ul>
										</ul>
									</div>
								</li>
								<li style="width: 68px;">
									<a href="#">部队中心</a>
									<div class="str"></div>
								</li>
								<li style="width: 68px;">
									<a href="#">我的商铺</a>
									<div class="str"></div>
								</li>
								<li style="width: 70px;">
									<a class="action" href="#">发动态</a>
									<div class="strf"></div>
								</li>
								<li class="clearfloat"></li>
							</ul>
						</div>
						<div class="clearfloat"></div>
					</div>
					<div class="h-c-2f">
						<div class="s-f2-l">
							<div class="f2-l-1">
								<a href="?s=/Home/Index">
									<img src="__PUBLIC__/Home/img/logo.png" />
								</a>
							</div>
							<div class="f2-l-2">悬赏大厅</div>
							<a href="?s=/Home/Ysq">
								<div class="f2-l-3">应赏区</div>
							</a>
						</div>
						<div class="s-f2-r">
							<div class="demo">
								<form action="http://www.jsfoot.com/e/search/index.php" method="post" name="searchform" id="searchform" class="searchinfo">
									<ul>
										<li><input type="text" id="tt" value="" class="text" style="text-align: left;" autocomplete="off" /></li>
										<li><input type="submit" value="搜索" class="button" /></li>
										<li><input type="submit" value="商家认证部队" class="button2" /></li>

									</ul>
								</form>
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/banner.png" />
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f">
						<a href="#">所有分类</a>>
						<a href="#">找到相关<php>echo $num;</php>条相关结果</a>
					</div>
					<div class="s-c-2f">
						<div id="filter"><!-- 
							<form name="myform"> -->
								<dl id="type">
									<dt >职位</dt>
									<dd>
										<div class="gray">
											<a>不限</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>主持人</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>摄影师</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>化妆师</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>策划师</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>灯光师</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>音响师</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>花艺师</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>场布</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>表演者</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>其他</a>
										</div>
									</dd>
								</dl>
								<input type="hidden" name="type" value="123">
							<!-- </form> -->
							<!-- <form name="mysex"> -->
								<dl id="sex">
									<dt>性别</dt>
									<dd>
										<div class="gray">
											<a>不限</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>女</a>
										</div>
									</dd>
									<dd>
										<div>
											<a>男</a>
										</div>
									</dd>
								</dl>
								<input type="hidden" name="sex" value="123">
							<!-- </form> -->
							<dl id="ages">
								<dt>年龄</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>18-25岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>25-30岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>30-35岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>35岁以上</a>
									</div>
								</dd>
							</dl>
							<dl id="price">
								<dt>赏金/天</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>800元以下</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>800元-1500元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>1500元-3000元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>3000元-5000元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>6000元以上</a>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>活动时间</dt>
								<dd>
									<div>
										<input id="date" type="text" class="date_picker" placeholder="点击选择时间" />
									</div>
								</dd>
							</dl>
							<dl>
								<dt>活动地点</dt>
								<dd>
									<div>
										<input id="city" type="text" placeholder="点击选择地点" />
										<input id="submits" type="submit" value="提交">
									</div>
								</dd>
							</dl>
							<script type="text/javascript">
								$("#hzw-city-picker").click(function(){
								    alert(13);
								});
							</script>
							<div class="px">
								<p>排序：</p>
								<div class="hot">
									热门
								</div>
								<div class="new">
									最新
								</div>
							</div>
						</div>
					</div>
					<div class="s-c-3f">
							<ul>
								<foreach name="list" item="xsdt">
									<a href="">
										<li>
											<div class="tx">
												<img style="width:60px;" src="__PUBLIC__/Home/hye/{$xsdt.imagename}" />
											</div>
											<p class="yhmc">用户{$xsdt.username|substr=0,5}</p>
											<p class="hdsj">活动时间：{$xsdt.time}</p>
											<p class="hddd">活动地点：{$xsdt.address}</p>
											<div class="details">
												<foreach name="data" item="xsdts">
													<php>if($xsdt['uid'] == $xsdts['usid'] ){</php>
														<p>{$xsdts.type}</p>
														<literal>
		                                        			<if condition="$xsdts['sex'] == 1 ">
																<p class="sex">男</p>
															</if>
															<if condition="$xsdts['sex'] == 2 ">
																<p class="sex">女</p>
															</if>
															<if condition="$xsdts['sex'] == 3 ">
																<p class="sex">不限</p>
															</if>
														<literal>
														<p class="age">{$xsdts.age}</p>
														<p class="jtyq">{$xsdts.yaoqiu}</p>
														<p class="price">{$xsdts.price}元/天</p>
														<p class="bm">{$xsdts.whether}人报名</p>
													<php>}</php>
												</foreach>
												<p class="sc">
													<a href="">已有{$xsdt.collect}人收藏</a>
												</p>
												<p class="sjfb">2016.12.12发布</p>
											</div>
										</li>
									</a>
								</foreach>
								<php>echo $page;</php>
							</ul>
					</div>
						
					
				</div>
				<div class="s-main-r">
					<div class="s-r-1f">
						<div>
							<a href="#"><img src="__PUBLIC__/Home/img/tzxs.png" /></a>
							<a class="clearfloat"></a>
						</div>
					</div>
					<div class="s-r-2f">
						<ul>
							<foreach name="listnew" item="newlist">
								<li>
									<a href="#">
										<div class="sys">
											<img src="__PUBLIC__/Home/img/sys.png" />
										</div>
										<p class="price">{$newlist.price}元/天</p>
										<div class="contents">
											<p>{$newlist.type}&nbsp;&nbsp;&nbsp;&nbsp;{$newlist.age}</p>
											<p>活动日期：{$newlist.price}</p>
											<p>活动地点：{$newlist.address}</p>
										</div>
										<div class="detail">
											<p>
												{$newlist.content}
											</p>
										</div>
									</a>
								</li>
							</foreach>
							<li class="clearfloat" style="border: 0; height: 0px; width: 0px; background: rgba(255,255,255,0.0); "></li>
						</ul>
					</div>
					<div class="s-r-3f">
						<div>
							<a href="#"><img src="__PUBLIC__/Home/img/tjbd.png" /></a>
							<!--<a href="#"><img src="img/tjcz.png" /></a>-->
							<a class="clearfloat"></a>
						</div>
					</div>
					<div class="s-r-4f">
						<ul>
							<foreach name="listn" item="listns">
							<li>
								<a href="#">
									<div class="tj">
										<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
										<div class="tj_01">
											<p class="tj_01_01" style="100px">{$listns.forcename}</p>
											<p class="tj_01_02" style="100px">部队类型：<b style="color:#666666; font-weight:500">{$listns.type}</b></p>
											<p class="tj_01_02" style="100px">粉丝数量：<b style="color:#666666; font-weight:500">110</b></p>
											<p class="tj_01_02" style="100px">
												所在地点：<b style="color:#666666; font-weight:500">{$listns.address}</b>
											</p>

											<p style="font-size: 12px; color:#666666; margin-left:-120px; margin-top:14px; display:block;width: 255px;height:50px;overflow: hidden;">
												{$listns.content}
											</p>
										</div>

									</div>
								</a>
							</li>
							</foreach>
							<!--<li class="clearfloat"></li>-->
						</ul>

					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
		</section>
	<include file="Public/footer"/>
	</body>
	
	<script src="__PUBLIC__/Home/js/index-alert-login.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.date_input.pack.js"></script>
	<script src="__PUBLIC__/Home/js/city-data.js"></script>
	<script src="__PUBLIC__/Home/js/hzw-city-picker.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/sousuo.js"></script>
	<script type="text/javascript">
		$(function() {

			$("#tt").bigAutocomplete({
				width: 440,
				data: [{
					title: "中国好声音",
					result: {
						ff: "qq"
					}
				}, {
					title: "中国移动网上营业厅"
				}, {
					title: "中国银行"
				}, {
					title: "中国移动"
				}, {
					title: "中国好声音第三期"
				}, {
					title: "中国好声音 第一期"
				}, {
					title: "中国电信网上营业厅"
				}, {
					title: "中国工商银行"
				}, {
					title: "中国好声音第二期"
				}, {
					title: "中国地图"
				}],

			});

		})

		//			地址选择
		var cityPicker = new HzwCityPicker({
			data: data,
			target: 'city',
			valType: 'k-v',
			hideCityInput: {
				name: 'city',
				id: 'city'
			},
			// hideProvinceInput: {
			// 	name: 'province',
			// 	id: 'province'
			// }
		});
		
		

		cityPicker.init();

		$(function() {
			//日期
			$('#date').date_input();

			//选中filter下的所有a标签，为其添加hover方法，该方法有两个参数，分别是鼠标移上和移开所执行的函数。
			$("#filter a").hover(
				function() {
					$(this).addClass("seling");
				},
				function() {
					$(this).removeClass("seling");
				}
			);

			//选中filter下所有的dt标签，并且为dt标签后面的第一个dd标签下的a标签添加样式seled。(感叹jquery的强大)
			$("#filter dt+dd a").attr("class", "seled");
			/*注意：这儿应该是设置(attr)样式，而不是添加样式(addClass)，
			                                                     不然后面通过$("#filter a[class='seled']")访问不到class样式为seled的a标签。*/

			//为filter下的所有a标签添加单击事件
			$("#filter a").click(function() {
				$(this).parents("dl").children("dd").each(function() {
					//下面三种方式效果相同（第三种写法的内部就是调用了find()函数，所以，第二、三种方法是等价的。）
					//$(this).children("div").children("a").removeClass("seled");
					//$(this).find("a").removeClass("seled");
					$('a', this).removeClass("seled");
				});

				$(this).attr("class", "seled");

				//				alert(RetSelecteds()); //返回选中结果
			});
			//返回选中结果
		});

		function RetSelecteds() {
			var result = "";
			$("#filter a[class='seled']").each(function() {
				result += $(this).html() + "\n";
			});
			return result;
		}
		//		$('#date').click(function(){
		//				alert(RetSelecteds()+$('#date').val()+$('#city').val());
		//			})
		$('.px .hot').click(function() {
			$('.px .hot').css('background-color', '#ff5c5d');
			$('.px .new').css('background-color', '#999999');
		})
		$('.px .new').click(function() {
			$('.px .new').css('background-color', '#ff5c5d');
			$('.px .hot').css('background-color', '#999999');
		})
//		下拉菜单
		$('#select-yfb').hover(function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(180deg)');
			$('.select-yfb').stop().animate({
				height:'150px'
			}, 300);
		},function(){
				$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(0deg)');
			$('.select-yfb').stop().animate({
				height:'0px'
			}, 300);
		});
		$('#select-xx').hover(function() {
			$('.select-xx').stop().animate({
				height:'75px'
			}, 300);
		},function(){
			$('.select-xx').stop().animate({
				height:'0px'
			}, 300);
		});
	</script>

</html>