<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>悬赏大厅</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/2rank.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/calendar.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">		
				<include file="Public/header"/>
					<div class="h-c-2f">
						<div class="s-f2-l-f">
							<div class="f2-l-1-f">
									<a href="?s=/Home/index">
									<img src="__PUBLIC__/Home/img/logo.png" alt="喜事码头" />
								</a>
							</div>
							<div class="f2-l-3-f">
								<h1>悬赏大厅</h1>
							</div>
							<a href="?s=/Home/Ysq">
								<div class="f2-l-2-f">
									<h1>应赏区</h1>
								</div>
							</a>
						</div>
						<div class="s-f2-r-f">
							<div class="demo">
								<ul>
									<li><input type="text" id="tt" value="" class="text" autocomplete="off" /></li>
									<li><input type="submit" value="搜索" class="button" /></li>
									<li><button id="fbxq" type="submit" class="button2">发布需求</button></li>

								</ul>
							</div>
						</div>
					</div>
					<div class="h-c-4f">
						<img src="__PUBLIC__/Home/img/banner.png" />
					</div>
				</div>
			</div>
		</header>
		<!--发布需求-->
		<div class="fbxq">
			<div class="fbxq-close">
				<img src="__PUBLIC__/Home/img/alert-close.png" />
			</div>
			<div class="fbxq-title">
				请选择您的需求
			</div>
			<div class="clear"></div>
			<ul>
				<li>
					<div class="fbxq-img">
						<img src="img/wyxs.png" />
					</div>
					<div class="fbxq-1f">
						悬赏
					</div>
					<div class="fbxq-2f">
						<span class="red">临时雇佣</span>
						主持人、摄影摄像师、化妆师、策划师等婚庆从业者
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyys.png" />
					</div>
					<div class="fbxq-1f">
						应赏
					</div>
					<div class="fbxq-2f">
						主持人、摄影摄像师、化妆师、策划师等婚庆从业者发布
						<span class="red">兼职简历</span>
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyzp.png" />
					</div>
					<div class="fbxq-1f">
						招聘
					</div>
					<div class="fbxq-2f">
						<span class="red">长期雇佣</span>
						摄影摄像师、化妆师、策划师、剪辑师、设计师、店长、营业员等婚庆从业者
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyyp.png" />
					</div>
					<div class="fbxq-1f">
						应聘
					</div>
					<div class="fbxq-2f">
						摄影摄像师、化妆师、策划师、剪辑师、设计师、店长、营业员等婚庆从业者发布
						<span class="red">全职简历</span>
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyqg.png" />
					</div>
					<div class="fbxq-1f">
						求购二手
					</div>
					<div class="fbxq-2f">
						如果您想要购买二手物品，点击这里填写求购要求，让卖家主动找到您
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyxz.png" />
					</div>
					<div class="fbxq-1f">
						处理闲置
					</div>
					<div class="fbxq-2f">
						如果您想要出售你的闲置，点击这里填写闲置信息，让买家主动找到您
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
		<section>
			<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f">
						<p class="title">
							<a href="#">所有分类</a>>
							<span>找到相关100.5万相关结果</span>
						</p>
						<div class="clear"></div>
					</div>
					<div class="s-c-2f">
						<div id="filter">
							<dl id="type">
								<dt>职位</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>主持人</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>摄影师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>化妆师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>策划师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>灯光师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>音响师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>花艺师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>场布</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>表演者</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>其他</a>
									</div>
								</dd>
							</dl>
							<dl id="sex">
								<dt>性别</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>女</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>男</a>
									</div>
								</dd>
							</dl>
							<dl id="ages">
								<dt>年龄</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>18-25岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>25-30岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>30-35岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>35岁以上</a>
									</div>
								</dd>
							</dl>
							<!-- <dl>
								<dt>赏金/天</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>800元以下</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>800元-1500元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>1500元-3000元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>3000元-5000元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>6000元以上</a>
									</div>
								</dd>
								<div class="clear"></div>
							</dl> -->
							<dl id="xz-date">
								<dt>活动时间</dt>
								<dd>
									<div class="gray" id="daTe">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div class="xz-date" >
										<input type="text" id="dt" readonly="readonly" placeholder="请选择活动时间">
									</div>
									<div class="sjxz">
										<div id="dd"></div>
									</div>
								</dd>
							</dl>
							<script type="text/javascript">
							
							    </script>
							<dl id="xz-dq">
								<dt>地区</dt>
								<dd>
									<div class="gray"id="dq_tzh">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<input type="text" id="xz-city" placeholder="请选择地区" readonly="readonly" value="" data-value="" onclick="appendCity(this,'danxuan')">
								</dd>
								<div class="clear"></div>
							</dl>
						</div>
						<div class="px">
							<p>排序：</p>
							<div class="hot">
								热门
							</div>
							<div class="new">
								最新
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="s-c-3f" >
						<div class="s-c-2f-2f" id='ajax_lists'>
						</div>
					</div>
				</div>
				<div class="s-main-r">
					<div class="s-r-3f">
						<div>
							<a href="javascript://">
								<h2>推荐悬赏</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="s-r-2f">
						<ul>
							<!-- 推荐悬赏 -->
							<foreach name="listnew" item="newlist">
								<li>
								<a href="?s=/Home/xsdt/xqxs/id/{$newlist.psid}">
									<div class="sys">
										<img src="__PUBLIC__/Home/img/sys.png" />
									</div>
									<p class="price">{$newlist.price}元/月</p>
									<div class="contents">
										<p>{$newlist.type}&nbsp;&nbsp;&nbsp;&nbsp;{$newlist.age}</p>
										<p>活动日期：{$newlist.time}</p>
										<p>活动地点：{$newlist.address}</p>
									</div>
									<div class="detail">
									<span class="black-333">具体要求：</span>
											<span class="text48">
										{$newlist.content}
											</span>
									</div>
								</a>
								</li>
							</foreach>
							<li class="clearfloat" style="border: 0; height: 0px; width: 0px; background: rgba(255,255,255,0.0); "></li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="s-r-3f">
						<div>
							<a href="javascript://">
								<h2>推荐商铺</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="s-r-4f">
						<ul>
							<foreach name="listn" item="listns">
							<li>
										<?php if($_SESSION['id'] == $listns['uid']){ ?>
										<a href="?s=/Home/Mtbu/rzbddndt/id/{$listns.uid}">
									<?php }else{ ?>
										<a href="?s=/Home/Mtbu/rzbddydt/id/{$listns.uid}">
									<?php } ?>
									<div class="tj">
										<div class="tj-img">
								<if condition="$listns[imagename]==''">  
                                  			<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
                                   <else />
                                     <img style="border-radius:50%;width: 101px;height:101"  src="/MatouPCS/Tu/upload/{$listns.imagename}"  /> 
                                   </if>
								
										</div>
										<div class="tj_01">
											<strong class="tj_01_01">{$listns.forcename}</strong>
											<p class="tj_01_02">
												<span class="black-333">部队类型：</span> {$listns.type}
											</p>
											<p class="tj_01_02">
												<span class="black-333">粉丝数量：</span> 110
											</p>
											<p class="tj_01_02">
												<span class="black-333">所在地点：</span> {$listns.address}
											</p>
										</div>
										<div class="clear"></div>
										<div>
											<p class="tj_01_04">
												<span class="black-333">主营产品：</span>
												<span class="text36">{$listns.content}	</p>
										</div>
									</div>
								</a>
							</li>
							</foreach>
							<div class="clear"></div>
						</ul>

					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
		</section>
		<include file="Public/foote"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/City_data.js"></script>
	<script src="__PUBLIC__/Home/js/calendar.js"></script>
	
	<script src="__PUBLIC__/Home/js/2rank.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js"></script>
	<script src="__PUBLIC__/Home/js/sousuo.js"></script>
	
</html>