<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>发布悬赏</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/fbwc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input type="text" placeholder="搜索全站" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/navbg4.png" alt="" />
						<a href="#">
							<a href="?s=/Home/xsdt/xqxs/id/{$wid}" class="h-f3-c1">查看悬赏详情页</a>
						</a>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="s-c-1f">
						<a href="s=/Home/Ysq">
							<img src="__PUBLIC__/Home/img/jrysdt.png" alt="" />
						</a>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-3f">
						<ul>
							<foreach name="list" item="lists">
								<li>
									<a href="">
										<div>
											<div class="tx">
												<if condition="$lists[imagename]==''">  
			                                  			<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img src="/MatouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
												
											</div>
											<p class="yhmc">用户{$lists.username|substr=0,6}</p>
											<p class="price">
												{$lists.price}元/天
											</p>
											<p class="hddd">所在地：{$lists.addre}</p>
											<div class="clearfloat"></div>
										</div>
										<?php $imgnum = explode(',',$lists['imagename_z']);
										      $vidnum = explode(',',$lists['imagename_v']);
										      $dang = explode(',',$lists['dangdate']);
										      $dangs = explode(',',$lists['dangs']);
										      $ss = explode(',',$lists['due_shou']);
											   array_pop($imgnum);
											   array_pop($vidnum);
											   array_pop($dang);
											   array_pop($dangs);
											   array_pop($ss);
											   $imgnums = count($imgnum);
											   $vidnums = count($vidnum);
											   $sss = count($ss);
											   ?>
										<div class="details">
											<p>{$lists.name}</p>
											<p class="age-f"><span class="xqcc-c0">{$lists.age}岁</span></p>
											<p class="grjj"><span class="xqcc-c0">个人简介：</span></span>{$lists.content}</p>
											<div class="clearfloat"></div>
											<p>职位</p>
											<p class="zpzp"><span class="xqcc-c0">照片作品：</span>{$imgnums}个</p>
											<p class="spzp"><span class="xqcc-c0">视频作品：</span>{$vidnums}个</p>
											<p class="dq">
												<span class="xqcc-c0">档期：</span> 2<?php echo $dang[0];echo $dangs[0];?>&nbsp;&nbsp;......
											</p>
											<div class="clearfloat"></div>
										</div>
										<div>
											<p class="sjfb">{$lists.date}发布</p>
											<div class="clearfloat"></div>
										</div>
									</a>
								</li>
							</foreach>
						</ul>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="js/scrolltopcontrol.js"></script>

</html>