<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>应聘区</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zpdt-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/datePicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/hzw-city-picker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<style>
			.s-f1-r ul li a .img {
				margin-top: 15px;
				margin-right: 10px;
				float: right;
			}
			.select-yfb {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-yfb ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-yfb ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-yfb ul li a{
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-xx {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-xx ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-xx ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-xx ul li a{
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
		</style>
	</head>

	<body>
		<header>
		<include file="Public/header"/>
						<div class="clearfloat"></div>
					</div>
					<div class="h-c-2f">
						<div class="s-f2-l">
							<div class="f2-l-1">
								<a href="?s=/Home/Index">
									<img src="__PUBLIC__/Home/img/logo.png" />
								</a>
							</div>
							<a href="?s=/Home/zpdt1">
								<div class="f2-l-2">招聘大厅</div>
							</a>
							<div class="f2-l-3">应聘区</div>
						</div>
						<div class="s-f2-r">
							<div class="demo">
								<form action="http://www.jsfoot.com/e/search/index.php" method="post" name="searchform" id="searchform" class="searchinfo">
									<ul>
										<li><input type="text" id="tt" value="" class="text" style="text-align: left;" autocomplete="off" /></li>
										<li><input type="submit" value="搜索" class="button" /></li>
										<li><input type="submit" value="商家认证部队" class="button2" /></li>

									</ul>
								</form>
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/banner.png" />
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f">
						<a href="#">所有分类</a>>
						<a href="#">找到相关100.5万相关结果</a>
					</div>
					<div class="s-c-2f">
						<div id="filter">
							<dl>
								<dt>职位</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div class="">
										<a>经理/店长</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>营业员</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>数码师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>视频剪辑师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>摄影师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>摄像师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>化妆师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>策划师</a>
									</div>
								</dd>
								
								<dd>
									<div>
										<a>其他</a>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>性别</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>女</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>男</a>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>年龄</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>18-25岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>25-30岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>30-35岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>35岁以上</a>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>工作经验</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>1-2年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>2-5年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>5年以上</a>
									</div>
								</dd>
								
							</dl>
							<dl>
								<dt>作品</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>有</a>
									</div>
								</dd>
							</dl>
							<dl>
								<dt>工作地区</dt>
								<dd>
									<div>
										<input id="city" type="text" placeholder="点击选择地点" />
									</div>
								</dd>
							</dl>
							<div class="px">
								<p>排序：</p>
								<div class="hot">
									热门
								</div>
								<div class="new">
									最新
								</div>
							</div>
						</div>
					</div>
				<div class="s-c-3f" id="content_table">
                       <ul>
                       	  <foreach name="list" item="lists">
	                          <li>
	                              <a href="#">
	                           <div class="ypmc_01">
	                               <img src="__PUBLIC__/Home/hye/hyes.png" height="60" width="61">
	                               <p class="ypmc_01_01">{$lists.username}</p>
	                               <p class="ypmc_01_02">工作地点：{$lists.address}</p>
	                           </div>
	                           <div class="ypmc_02">
	                              <p class="ypmc_02_01">{$lists.name}</p>
	                              <p class="ypmc_02_02">{$lists.age}岁</p>
	                              <p class="ypmc_02_03">工作经验：<b>{$lists.worktimes}年</b></p>
	                              <p class="ypmc_02_04">个人简介：<b>{$lists.content}</b></p>
	                              <p class="ypmc_02_05">{$lists.type}</p>
	                              
	                           </div>
	                           <div class="ypmc_03">
	                              <p class="ypmc_03_01">工作时间：<b>{$lists.worktime}</b></p>
	                              <p class="ypmc_03_02">所在公司：<b>{$lists.workname}</b></p>
	                              <p class="ypmc_03_03">职位：<b>{$lists.types}</b></p>
	                           </div>
	                           <div class="ypmc_04">
	                              <p class="ypmc_04_01">已有{$lists.collect}人收藏</p>
	                              <p class="ypmc_04_02">2016.12.12发布</p>
	                           </div>
	                           </a>
	                          </li>
	                          <br>
                      </foreach>

                       </ul>
 

					</div>
				</div>
				<div class="s-main-r">
					<div class="s-r-1f">
						<div>
							<a href="#"><img src="__PUBLIC__/Home/img/tjyp.png" /></a>
							<a class="clearfloat"></a>
						</div>
					</div>
                    
                    <div class="s-r-2f">
						<ul>
						<foreach name="listn" item="listns">
							<li>
								<a href="#">
									<div class="yp">
										<div class="xg">
	                                        <img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
	                                        <div class="xg_01">
	                                            <p class="xg_01_01">{$listns.name}</p>
	                                            <p class="xg_01_01">{$listns.age}岁</p>
	                                            <p class="xg_01_01">{$listns.type}</p>
	                                            <p class="xg_01_02">&nbsp;工作经验：<b style="color:#666666; font-weight:500;">{$listns.worktimes}年</b></p>
	                                            <p class="xg_01_03">个人简介：<b style="color:#666666; font-weight:500;">{$listns.content}</b></p>
	                                        </div>
	                                    </div>
	                                    <div class="xg_02">
	                                         <p class="xg_02_01">已有{$listns.collect}人收藏</p>
	                                          <p class="xg_02_02">{$listns.address}</p>
	                                    </div>

									</div></a>
							</li>
						</foreach>
							<!--<li class="clearfloat"></li>-->
						</ul>
					</div>
                    
                    <div class="s-r-3f">
						<div>
							<a href="#"><img src="__PUBLIC__/Home/img/tjbd.png" /></a>
							<!--<a href="#"><img src="img/tjcz.png" /></a>-->
							<a class="clearfloat"></a>
						</div>
					</div>
					<div class="s-r-4f">
						<ul>
							<foreach name="listnn" item="listnns">
							<li>
								<a href="#">
									<div class="tj">
										<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
										<div class="tj_01">
											<p class="tj_01_01" style="100px">{$listnns.forcename}</p>
											<p class="tj_01_02" style="100px">部队类型：{$listnns.type}<b style="color:#666666; font-weight:500">婚庆公司婚庆公司</b></p>
											<p class="tj_01_02" style="100px">粉丝数量：<b style="color:#666666; font-weight:500">110</b></p>
											<p class="tj_01_02" style="100px">
												所在地点：<b style="color:#666666; font-weight:500">{$listnns.address}</b>
											</p>

											<p style="font-size: 12px; color:#666666; margin-left:-120px; margin-top:14px; display:block;width: 255px;height:50px;overflow: hidden;">
												{$listnns.content}
											</p>
										</div>

									</div>
								</a>
							</li>
							</foreach>
							<!--<li class="clearfloat"></li>-->
						</ul>

					</div>
                    
				</div>
			</div>
			<div class="clearfloat"></div>
		</section>
		<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.date_input.pack.js"></script>
	<script src="__PUBLIC__/Home/js/city-data.js"></script>
	<script src="__PUBLIC__/Home/js/hzw-city-picker.min.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script type="text/javascript">
		$(function() {

			$("#tt").bigAutocomplete({
				width: 440,
				data: [{
					title: "中国好声音",
					result: {
						ff: "qq"
					}
				}, {
					title: "中国移动网上营业厅"
				}, {
					title: "中国银行"
				}, {
					title: "中国移动"
				}, {
					title: "中国好声音第三期"
				}, {
					title: "中国好声音 第一期"
				}, {
					title: "中国电信网上营业厅"
				}, {
					title: "中国工商银行"
				}, {
					title: "中国好声音第二期"
				}, {
					title: "中国地图"
				}],

			});

		})

		//			地址选择
		var cityPicker = new HzwCityPicker({
			data: data,
			target: 'city',
			valType: 'k-v',
			hideCityInput: {
				name: 'city',
				id: 'city'
			},
			hideProvinceInput: {
				name: 'province',
				id: 'province'
			}

		});
		cityPicker.init();

		$(function() {
			//日期
			$('#date').date_input();
			//选中filter下的所有a标签，为其添加hover方法，该方法有两个参数，分别是鼠标移上和移开所执行的函数。
			$("#filter a").hover(
				function() {
					$(this).addClass("seling");
				},
				function() {
					$(this).removeClass("seling");
				}
			);

			//选中filter下所有的dt标签，并且为dt标签后面的第一个dd标签下的a标签添加样式seled。(感叹jquery的强大)
			$("#filter dt+dd a").attr("class", "seled");
			/*注意：这儿应该是设置(attr)样式，而不是添加样式(addClass)，
			                                                     不然后面通过$("#filter a[class='seled']")访问不到class样式为seled的a标签。*/

			//为filter下的所有a标签添加单击事件
			$("#filter a").click(function() {
				$(this).parents("dl").children("dd").each(function() {
					//下面三种方式效果相同（第三种写法的内部就是调用了find()函数，所以，第二、三种方法是等价的。）
					//$(this).children("div").children("a").removeClass("seled");
					//$(this).find("a").removeClass("seled");
					$('a', this).removeClass("seled");
				});

				$(this).attr("class", "seled");

				//				alert(RetSelecteds()); //返回选中结果
			});
			//返回选中结果
		});

		function RetSelecteds() {
			var result = "";
			$("#filter a[class='seled']").each(function() {
				result += $(this).html() + "\n";
			});
			return result;
		}
		//		$('#date').click(function(){
		//				alert(RetSelecteds()+$('#date').val()+$('#city').val());
		//			})
		$('.px .hot').click(function() {
			$('.px .hot').css('background-color', '#ff5c5d');
			$('.px .new').css('background-color', '#999999');
		})
		$('.px .new').click(function() {
			$('.px .new').css('background-color', '#ff5c5d');
			$('.px .hot').css('background-color', '#999999');
		})
		//		下拉菜单
		$('#select-yfb').hover(function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(180deg)');
			$('.select-yfb').stop().animate({
				height:'150px'
			}, 300);
		},function(){
				$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(0deg)');
			$('.select-yfb').stop().animate({
				height:'0px'
			}, 300);
		});
		$('#select-xx').hover(function() {
			$('.select-xx').stop().animate({
				height:'75px'
			}, 300);
		},function(){
			$('.select-xx').stop().animate({
				height:'0px'
			}, 300);
		});
	</script>

</html>