<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>招聘填写</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/tx.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/input.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
						<div class="h-c-2f">
							<img src="__PUBLIC__/Home/img/navbg2.png" />
							<div class="s-f2-r">
								<input placeholder="搜索全站" type="text" class="find3" />
								<div class="s-f2-r1">
									<img src="__PUBLIC__/Home/img/ss-t.png" />
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<p class="tfs22">WEDDING PIER</p>
					<h1 class="tfs22">喜事码头</h1>
					<p class="tfs14">简单<samp class="kog10"></samp>方便<samp class="kog10"></samp>效率</p>
					<div class="bdsz">
						<div class="bdsz-bt">
							填写招聘
						</div>
						<ul>
							<li class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://" id="tap">
									<h2>招聘职位</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						<div class=" s-2f-c2 ">
							<ul class="tyint ">
								<li>
									<div class="mprofession ">
										<div class="litl ">
											<p class="litx ">*</p>
											<p class="litc ">工作地点</p>
											<p class="cf "></p>
										</div>
										<div class="litr ">
											<input type="text " class="w95s " readonly="readonly " value=" " id="address" data-value=" " onclick="appendCity(this, 'danxuan') " placeholder="请选择 ">
											<input id="ad"  class="w209 " type="text "  placeholder="填写详细地址 " />
										</div>
										<div class="cf "></div>
								</li>
								<li>
									<div class="mphone ">
										<div class="litl ">
											<p class="litx ">*</p>
											<p class="litc ">联系电话</p>
											<p class="cf "></p>
										</div>
										<div class="litr "><input class="w200t " type="text " id="tel" placeholder="请输入你的电话 " /></div>
										<div class="cf "></div>
									</div>
								</li>
								<li>
									<div class="mqq ">
										<div class="litl ">
											<p class="litx "></p>
											<p class="litc ">Q&nbsp;Q</p>
											<p class="cf "></p>
										</div>
										<div class="litr "><input class="w200t " type="text " id="qq" placeholder="请输入您的QQ " /></div>
										<div class="cf "></div>
									</div>
								</li>
								<li>
									<div class="memail ">
										<div class="litl ">
											<p class="litx ">*</p>
											<p class="litc ">邮&nbsp;箱</p>
											<p class="cf "></p>
										</div>
										<div class="litr "><input class="w200t " type="email " id="email" placeholder="请输入您的邮箱 " /></div>
										<div class="cf "></div>
									</div>
								</li>
							</ul>
							</div>
						</div>

						<div class="txfg1 " id="ta ">
							<div class="txfg1-c1-1 ">
								<span class="hfx2 "></span>
								<div>
									<h2>招聘职位/</h2>
									<samp class="addtitle ">最多添加3个职位</samp>
								</div>
								<span class="hfx3 " id="hfx3-1-zps"><img src="__PUBLIC__/Home/img/tj-sp.png " />添加职位</span>
							</div>
							<div class="txfg1-c2-1 "><img src="__PUBLIC__/Home/img/gth.png " /><span class="txfgts ">点击右上角"添加职位 "完善招聘职位信息</span></div>
							<ul>
								<form name="myform" class="addmation">
									<input type="hidden" name="address" value="">
									<input type="hidden" name="tel" value="">
									<input type="hidden" name="qq" value="">
									<input type="hidden" name="email" value="">
									<input type="hidden" name="add" value="">
								</form>
							</ul>
						</div>
						<div class="clearfloat "></div>

						<a href="javascript:void(0)" onclick="submit()" class="s-tf-btn">确认发布</a>
					</div>
					<div class="clearfloat "></div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/City_data.js "></script>
	<script src="__PUBLIC__/Home/js/dz.js "></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showwin.js "></script>
	<script src="__PUBLIC__/Home/js/zp.js "></script>
	<script type="text/javascript">
		//提交表单
function submit(){
      var form = document.myform;
      if(document.getElementById('address').value == '' || document.getElementById('tel').value == ''  || document.getElementById('qq').value == '' || document.getElementById('email').value == ''){
        alert('滚犊子');
      }else{

      form.address.value = document.getElementById('address').value;
      // form.ad.value = document.getElementById('ad').value;
      form.add.value = document.getElementById('ad').value;
      
      form.tel.value = document.getElementById('tel').value;
      form.qq.value = document.getElementById('qq').value;
      form.email.value = document.getElementById('email').value;
      form.action = "?s=/Home/Zpdt/txzpgo";
      form.method="post";
      form.submit();
      }
}

	</script>
	</html>