<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>应聘详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xq-3r-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.fs.boxer.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="spdl-c">
				<span>查看需要消耗5个码头币</span>
				<a href="#">请充值</a>
			</div>
			<button class="spdl-ok" id="spdl-ok">确定</button>
			<button class="spdl-esc" id="spdl-esc">取消</button>
		</div>
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="userin">
						<div class="u-img">
							<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                        	<img src="/matouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if>
								</a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}">  
								<if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                        	<img src="/matouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	<img src="/matouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	<img src="/matouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	  	<img src="/matouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}">  
								<if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                    	<img src="/matouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
									</if>
                                       <php>}</php>
						</div>
						<div class="u-cont">
							<p class="tfs14"><strong><if condition="$list[username]==$list[tel]">
							                      用户{$list.username|substr=0,5}
								                 </if>
								               <if condition="$list[username]!=$list[tel]">
								                用户{$list.username}
								                  </if></strong></p>
							<p class="tfs12">职位：{$list.type_u}</p>
								<p style="font-size: 12px;margin-top: 10px;">所在地：{$list.addre}</p>
							
								   	<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$listt.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
                                       <php>}</php>
						</div>
					</div>
					
					<div class="bdsz">
						<div class="bdsz-bt">
							应聘详情
						</div>
						<ul>
							<li class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>工作经历</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>照片作品</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>视频作品</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						<div class="s-2f-c2">
							<div class="c2-ct1">
								<p><span class="xqcc-c0">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span><span class="xqcc-c3">{$list.name}</span></p>
								<p><span class="xqcc-c0">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span><span class="xqcc-c3"><?php echo $list['sexs'] == 1 ? '男' :'女'; ?></span></p>
								<p><span class="xqcc-c0">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</span><span class="xqcc-c3">{$list.ages}岁</span></p>
								<p><span class="xqcc-c0">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</span><span class="xqcc-c3">{$list.address}</span></p>
							</div>
							<div class="c2-ct2">
								<p><span class="xqcc-c0">QQ号码：</span><span class="xqcc-c3">{$list.qqs}</span></p>
								<p id="spdl-p"><span class="xqcc-c0">联系电话：</span><span class="xqcc-c3">{$list.tels|substr=0,3}XXXX{$list.tels|substr=8,11}</span></p><button id="sp">查看号码 </button><input type="hidden" id="xp" value="{$list.tels}">
									<input type="hidden" id="xp" value="{$list.tels}">
								<p><span class="xqcc-c0">期望职业：</span><span class="xqcc-c3">摄影师</span></p>
								<p><span class="xqcc-c0">期望薪资：</span><span class="xqcc-c3">{$list.price}k/月</span></p>
							</div>
							<div class="clear"></div>
							<div class="c2-ct3">
								<p>自我介绍：</p>
								<p class="s-2f-c3-1-gzqb"><span class="xqcc-c3">{$list.content}</span></p>
							</div>
							<div class="clear"></div>
						</div>
						
					</div>
					<div class="s-c-2fb">
						<div class="s-c-8f-1f">
							<h2>工作经历</h2>
						</div>
						<foreach name="work" item="works">
						<div class="xqwc">
							<div class="xqcc">
								<p class="xqcc-c">
											<span class="xqcc-c0">{$works.worktime}</span><span class="xqcc-c3">{$works.typew}</span>
										</p>
										<p class="xqcc-c">
											<span class="xqcc-c0">{$works.workname}</span>
										</p>
										<p class="xqcc-c"><span class="xqcc-c0">工作内容：</span><span class="xqcc-c2">{$works.contents}</span></p>
									</div>
							<div class="clearfloat "></div>
						</div>
						</foreach>
						<div class="clearfloat "></div>
					</div>
					<div class="clear"></div>
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>图片作品</h2>
						</div>
						<div class="s-2f-c2">
							<ul class="u-p">
									<?php 
								$img = explode(',',$list['imagenames']);
								array_pop($img);
								?>
								<?php for($i=0;$i<count($img);$i++){ 
									?>
									<li>
									<img style="width:270px;height:270px;" src="<?php echo "/matouPCS/Uploads/".substr($img[$i],1); ?>" />
								</li>
								<?php }?>
								<div class="clearfloat "></div>
							</ul>
						</div>
						
						<div class="clearfloat "></div>
					</div>
					<div class="s-c-3f">
						<div class="s-c-8f-1f">
							<h2>视频作品</h2>
						</div>
						<div class="s-2f-c2">
							<ul class="u-v">
							<ul class="u-v">
								<?php
								 $img_v = explode(',',$list['imagename_v']);
									array_pop($img_v);
								 $title = explode(',',$list['types']);
									array_pop($title);
								 $lianjie = explode(',',$list['video']);
									array_pop($lianjie);
									// var_dump($img_v);
									?>
								<?php for($i=0;$i<count($img_v);$i++){ 
								?>
								<li>
									<a href="#">
										<img style="width:270px;height:270px;" src="<?php echo "/matouPCS/Uploads/".substr($img_v[$i],1); ?>" />
									</a>
									<div class="u-v-li-a-div2">
									<p>标题：<?php echo $title[$i]?></p>
									</div>
									<div class="u-v-li-a-div1">
										<p>链接：<?php echo $lianjie[$i]?></p>
									</div>
								</li>
									<?php }?>
								<div class="clearfloat "></div>

							</ul>
						</div>
					</div>
					<div class="s-c-4f-2">
						<div class="s-tf-btn">
							<p>分享
							</p>
							<img src="__PUBLIC__/Home/img/xzfx.png" alt="" />
						</div>
						<?php 
							$shou = explode(',',$list['em_shou']);
							array_pop($shou);
							 ?>
						<?php if(in_array($_SESSION['id'],$shou)){ ?>
							<div class="s-tf-btn"  id="bt-sc">
								<p style="left:0px;">已收藏
								</p>
							</div>
						<?php }else{ ?>
							<div class="s-tf-btn"  onclick="shou({$list.pid})" id="bt-sc">
								<p>收藏
								</p>
								<img src="__PUBLIC__/Home/img/sc.png" style="top: 8px;">
							</div>
						<?php } ?>
						<div class="clearfloat "></div>
					</div>
					<div class="clearfloat "></div>
				</div>
				<div class="clearfloat "></div>
		</section>
				<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/showwin.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.fs.boxer.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script type="text/javascript">
	function shou(id){
		// alert(id);
		$.ajax({
			url:"?s=/Home/Zpdt/xqyp_shou/id/"+id,
			type:"get",
			success:function(data){
				alert(data);
				$("#bt-sc").text("已收藏");
				$("#bt-sc").css("text-align","center");
				$("#bt-sc img").hide();
			},error:function(){
				alert('no');
			}
		});
	};
	</script>
</html>