<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>应聘详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xqyp-3r-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
		<include file="Public/header"/>
						<div class="clearfloat"></div>
					</div>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input type="text" style="outline: none;border: 0;position: absolute;left: 20px;width: 195px; height: 36px;background: rgba(0,0,0,0);" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="spdl-c">
				<span>查看需要消耗5个码头币</span>
				<a href="#">请充值</a>
			</div>
			<button class="spdl-ok" id="spdl-ok">确定</button>
			<button class="spdl-esc" id="spdl-esc">取消</button>
		</div>
		<div class="spdlb" id="spdlb" title="消息">
			<div class="titlenab">
				<img src="__PUBLIC__/Home/img/swtitle.png">
				<div class="rhideb">
					<img src="__PUBLIC__/Home/img/hide.png">
				</div>
			</div>
			<div class="fbtypeb">
				<a>类型：</a>
				<a href="#">
					<p id="fbp1">婚礼喜事</p>
				</a>
				<a href="#" style="margin-left: 24px;">
					<p id="fbp2">门面活动</p>
				</a>
			</div>
			<div class="spfxb"></div>
			<div class="contentb">
				<textarea style="resize: none; width: 420px; height: 100px;border-radius: 15px;margin-left: 40px; border: 0;padding: 10px;"></textarea>
			</div>
			<div class="swbtnb">
				<div class="swbtn-cb">
					<div>
						<img src="__PUBLIC__/Home/img/addp.png" />
					</div>
					<div style="margin-left: 10px;">
						<img src="__PUBLIC__/Home/img/adds.png" />
					</div>
					<button class="tjbtnb" id="tjbtn">发布</button>
				</div>
			</div>
		</div>
		<section>

			<div class="s-main-c">

				<div class="s-main-r">
					<div class="userin">
						<div class="u-img">
							<a href="#"><img src="__PUBLIC__/Home/img/tx2-3r.png"></a>
						</div>
						<div class="u-cont">
							<p style="font-size: 14px;"><strong><a href="#">用户{$list.username|substr=0,6}</a></strong></p>
							<p style="font-size: 12px;margin-top: 10px;">职位：{$list.type}</p>
							<p style="font-size: 12px;margin-top: 10px;">所在地：{$list.addre}</p>
							<button>进入Ta的主页</button>
						</div>
					</div>
					<br>
					<div class="bdsz">
						<div class="bdsz-bt">
							应聘详情
						</div>
						<ul>
							<li class="selected-con">
								<a href="javascript://">
									基本信息
								</a>
							</li>
							<li>
								<a href="javascript://">
									工作经历
								</a>
							</li>
							<li>
								<a href="javascript://">
									照片作品
								</a>
							</li>
							<li>
								<a href="javascript://">
									视频作品
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p><strong>基本信息</strong></p>
						</div>
						<div class="s-2f-c2">
							<div class="c2-ct1">
								<p><span class="xqcc-c0">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span><span class="xqcc-c3">{$list.name}</span></p>
								<p><span class="xqcc-c0">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span><span class="xqcc-c3"><?php echo $list['sexs'] == 1 ? '男' :'女'; ?></span></p>
								<p><span class="xqcc-c0">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</span><span class="xqcc-c3">{$list.ages}岁</span></p>
								<p><span class="xqcc-c0">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</span><span class="xqcc-c3">{$list.address}</span></p>
							</div>
							<div class="c2-ct2">
								<p><span class="xqcc-c0">QQ号码：</span><span class="xqcc-c3">{$list.qqs}</span></p>
								<p id="spdl-p"><span class="xqcc-c0">联系电话：</span><span class="xqcc-c3">{$list.tels|substr=0,3}XXXX{$list.tels|substr=8,11}</span></p><button id="sp">查看号码 </button><input type="hidden" id="xp" value="{$list.tels}">
								<p><span class="xqcc-c0">期望职业：</span><span class="xqcc-c3">摄影师</span></p>
								<p><span class="xqcc-c0">期望薪资：</span><span class="xqcc-c3">{$list.price}k/月</span></p>
							</div>
							<div class="c2-ct3">
								<p>自我介绍：</p>
								<p class="s-2f-c3-1-gzq" style="font-size: 13px !important;padding-top: 1px !important;"><span class="xqcc-c3">{$list.content}</span></p>
							</div>
						</div>
						<br>
					</div>
					<div class="s-c-2f" style="border-bottom: 0px!important;">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p><strong>工作经历</strong></p>
						</div>
						<foreach name="work" item="works">
							<div class="xqwc">
									<div class="xqcc">
										<p class="xqcc-c">
											<span class="xqcc-c0">{$works.worktime}</span><span class="xqcc-c3">{$works.typew}</span>
										</p>
										<p class="xqcc-c">
											<span class="xqcc-c0">{$works.workname}</span>
										</p>
										<p class="xqcc-c"><span class="xqcc-c0">工作内容：</span><span class="xqcc-c2">{$works.contents}</span></p>
										
									</div>
								<div class="clearfloat "></div>
							</div>
						</foreach>
						<!-- <div class="clearfloat "></div> -->
					</div>
					<div class="s-c-2f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p><strong>图片作品</strong></p>
						</div>
						<div class="s-2f-c2">
							<ul class="u-p">
								<?php 
								$img = explode(',',$list['imagenames']);
								array_pop($img);
								?>
								<?php for($i=0;$i<count($img);$i++){ 
									?>
								<li>
									<img style="width:270px;height:270px;" src="<?php echo "/matouPCS/Uploads/".substr($img[$i],1); ?>" />
								</li>
								<?php }?>
								<li class="clearfloat "></li>
							</ul>
						</div>
						<br>
						<div class="clearfloat "></div>
					</div>
					<div class="s-c-3f">
						<div class="s-2f-c1">
							<span class="hfx"></span>
							<p><strong>视频作品</strong></p>
						</div>
						<div class="s-2f-c2">
							<ul class="u-v">
								<?php
								 $img_v = explode(',',$list['imagename_v']);
									array_pop($img_v);
								 $title = explode(',',$list['types']);
									array_pop($title);
								 $lianjie = explode(',',$list['video']);
									array_pop($lianjie);
									// var_dump($img_v);
									?>
								<?php for($i=0;$i<count($img_v);$i++){ 
								?>
								<li>
									<a href="#">
										<img style="width:270px;height:270px;" src="<?php echo "/matouPCS/Uploads/".substr($img_v[$i],1); ?>" />
									</a>
									<div class="u-v-li-a-div1">
										<p><?php echo $title[$i]?></p>
									</div>
									<div class="u-v-li-a-div2">
										<p><?php echo $lianjie[$i]?></p>
									</div>
								</li>
								<?php }?>
								<li class="clearfloat "></li>
							</ul>
						</div>
					</div>
					<div class="s-c-4f">
						<div class="s-tf-btn" style="margin-right: 5px;">
							<p>分享
							</p>
							<img src="__PUBLIC__/Home/img/xzfx.png" />
						</div>
						<?php 
							$shou = explode(',',$list['em_shou']);
							array_pop($shou);
							 ?>
						<?php if(in_array($_SESSION['id'],$shou)){ ?>
							<div class="s-tf-btn" style="margin-left: 5px; text-align:center;" id="bt-sc">
								<p style="left:0px;">已收藏
								</p>
							</div>
						<?php }else{ ?>
							<div class="s-tf-btn" style="margin-left: 5px;" onclick="shou({$list.pid})" id="bt-sc">
								<p>收藏
								</p>
								<img src="__PUBLIC__/Home/img/sc.png" style="top: 14px;">
							</div>
						<?php } ?>
						<div class="clearfloat "></div>
					</div>
					<div class="clearfloat "></div>
					<br>
					<br>
					<div class="clearfloat "></div>
				</div>
				<div class="clearfloat "></div>
		</section>
		<br>
		<br>
		<br>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js "></script>
	<script type="text/javascript ">
		$(document).ready(function() {
			$(".con ").eq(0).show();
			$(".bdsz ul li ").click(function() {
				var num = $(".bdsz ul li ").index(this);
				$(".con ").hide();
				$(".con ").eq(num).show().slblings().hide();
			})
		});
		//----------------------------remove tab切换样式--------------------------
		$('.bdsz li').click(function() {
			$(this).parents('.s-main-r').children('.bdsz').each(function() {
				$('li', this).removeClass('selected-con');
			});
			$(this).attr('class', 'selected-con');
		});
		$(function() {

				$("#tt ").bigAutocomplete({
					width: 440,
					data: [{
						title: "中国好声音 ",
						result: {
							ff: "qq "
						}
					}, {
						title: "中国移动网上营业厅 "
					}, {
						title: "中国银行 "
					}, {
						title: "中国移动 "
					}, {
						title: "中国好声音第三期 "
					}, {
						title: "中国好声音 第一期 "
					}, {
						title: "中国电信网上营业厅 "
					}, {
						title: "中国工商银行 "
					}, {
						title: "中国好声音第二期 "
					}, {
						title: "中国地图 "
					}],

				});

			})
			//		下拉菜单
		$('#select-yfb').hover(function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(180deg)');
			$('.select-yfb').stop().animate({
				height: '150px'
			}, 300);
		}, function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(0deg)');
			$('.select-yfb').stop().animate({
				height: '0px'
			}, 300);
		});
		$('#select-xx').hover(function() {
			$('.select-xx').stop().animate({
				height: '75px'
			}, 300);
		}, function() {
			$('.select-xx').stop().animate({
				height: '0px'
			}, 300);
		});
		//		新增
		$(function() {
			$("#hfx3-1").click(function() {
				$(".txfg1-c2-1").hide();
				//				$(".txfg1-c1-1").hide();
				$(".txfg1").css("height", "auto");
				$("#adds-f-c1").on("click", function() {
					$(".s-c-3f").detach();
					$(".txfg1").css("height", "125px");
					$(".txfg1-c2-1").show();
				});
			});
		});
		//查看号码
		$(function() {
			$("#sp").click(function() {
				//				alert("充值")
				$("#spdl").show();
			});
			$("#spdl-ok").click(function() {
				var xp = $('#xp').val();
				$("#spdl-p").text("联系电话："+xp);
				$("#spdl .spdl-c").html('<span>支付成功<br>3秒后自动关闭</span>');
				//				<input type="text"  class="time" id="stime">
				if($("#spdl .spdl-c span").text() == "支付成功3秒后自动关闭") {
					//					$("#id").value = "5"
					//					c = c-1
					setTimeout(function() {
						$(".spdl").hide();
					}, 3000);
				}
			});
			$("#spdl-esc").click(function() {
				$(".spdl").hide();
			});
		});
		// $("#bt-sc").click(function(){
		function shou(id){
			// alert(id);
			$.ajax({
				url:"?s=/Home/Zpdt/xqyp_shou/id/"+id,
				type:"get",
				success:function(data){
					alert(data);
					$("#bt-sc").text("已收藏");
					$("#bt-sc").css("text-align","center");
					$("#bt-sc img").hide();
				},error:function(){
					alert('no');
				}
			});
		};
		//弹窗2
		$(function() {
			$("#find").click(function() {
				//								alert("充值")
				$("#spdlb").fadeIn(350).show();
				$(".show-bg").fadeIn(350).show();
				$("#find").css("background", "#ff5c5d");
			});
			$("#spdl-okb").click(function() {

			});
			$("#spdl-escb").click(function() {
				$(".spdlsb").hide();
				$(".show-bg").hide();
			});
		});
		$(function() {
			$("#fbp1").css("border", "2px solid #ff5c5d");
			$("#fbp2").click(function() {
					$("#fbp2").css("border", "2px solid #ff5c5d");
					$("#fbp1").css("border", "2px solid  #f2f2f2");
				}),
				$("#fbp1").click(function() {
					$("#fbp1").css("border", "2px solid #ff5c5d");
					$("#fbp2").css("border", "2px solid  #f2f2f2");
				});
			$(".rhideb").click(function() {
				$("#spdlb").hide();
				$(".show-bg").hide();
				$("#find").css("background", "#bfbfbf");
				$("#find").css("color", "#fff");
			});
			$("#tjbtn").click(function() {
				$("#spdlb").fhide();
				$(".show-bg").hide();
				$("#find").css("background", "#bfbfbf");
				$("#find").css("color", "#fff");
			});
		});
	</script>

</html>