<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">跳蚤市场</span></div>
        </div>
        
        <div class="result-wrap">
            <volist name="jarr" id="v">
        <form action="__APP__/admin/Flea/usave" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>物品名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="name" size="20" value="{$v.name}" type="text">
                                         <input type="hidden" name="fid" value="{$v.fid}"/>
                    
                                </td>
                            </tr>
                                      <tr>
                                <th><i class="require-red">*</i>类型：</th>
                                <td>
                                   <if condition="$v[type]=='1'">
                                     <input type="radio" name = 'type'  value="1"  checked="checked" readonly="true"/> 求购
                                      <else/>
                                      <input type="radio" name = 'type'  value="1"  readonly="true"/> 求购
                                    </if>
                                        <if condition="$v[type]=='2'">
                                     <input type="radio" name = 'type'  value="2"  checked="checked" readonly="true"/> 闲置
                                        <else/>
                                      <input type="radio" name = 'type'  value="2"  readonly="true"/> 闲置
                                    </if>
                                </td>
                                </td>
                            </tr>
                     
                          
                            <tr>
                                <th><i class="require-red">*</i>预算：</th>
                                <td>
                                    <input class="common-text required" id="type" name="price" size="12" value="{$v.price}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>地址：</th>
                                <td>
                                    <input class="common-text required" id="name" name="address" size="50" value="{$v.address}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>联系电话：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="tels" size="11" value="{$v.tels}" type="text">
                                </td>
                            </tr><tr>
                                <th><i class="require-red">*</i>qq：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="qqs" size="11" value="{$v.qqs}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>报名人数：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="num" size="11" value="{$v.num}" type="text">
                                </td>
                            </tr>
                           <tr>
                                <th><i class="require-red">*</i>收藏数：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="collect" size="11" value="{$v.collect}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>具体要求：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10">{$v.content}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <a href="__APP__/Admin/Flea"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
                </volist>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>