* {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

body,
html {
	font-family: "microsoft yahei";
}

ul,
li,
a {
	/*display: block;*/
	list-style: none;
	text-decoration: inherit;
	color: #000000;
}

.clearfloat {
	margin: 0;
	padding: 0;
	width: 0px!important;
	height: 0px!important;
	clear: both!important;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

.demo {
	width: 720px;
	margin: 35px auto;
}

.demo h2 {
	font-size: 16px;
	color: #3366cc;
	height: 30px;
}

.demo li {
	float: left;
}

.text,
.button {
	background: url(http://su.bdimg.com/static/superpage/img/spis_031ddf34.png) no-repeat;
}

.text {
	width: 425px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px\9;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none;
	margin: 0 -1px 0 0;
}

.button {
	width: 79px;
	height: 32px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}

.button2 {
	width: 135px;
	height: 32px;
	margin-left: 30px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}


/*------------------------------header------------------------------*/


/*-------------------------------h-c-1f-------------------------------*/

.h-c-1f {
	width: 1200px;
	height: 34px;
	/*background: #C4E3F3;*/
	margin: 0 auto;
	border-bottom: solid 1px #E6E6E6;
}

.s-f1-l {
	width: 50%;
	height: 34px;
	float: left;
	/*background: #66AFE9;*/
	border-bottom: solid #e6e6e6 1px;
}

.s-f1-l .home {
	width: 13px;
	height: 12px;
	margin: 6px 10px;
	float: left;
}

.s-f1-l p {
	font-size: 12px;
	width: 40px;
	line-height: 35px;
	float: left;
}

.s-f1-r {
	width: 485px;
	height: 35px;
	line-height: 35px;
	float: right;
	/*background: #2FA8EC;*/
}

.s-f1-r ul li {
	float: left;
	width: 12.2%;
	text-align: center;
	height: 35px;
}

.s-f1-r ul li .str {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -22px;
}

.s-f1-r ul li .strf {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -24px;
}

.s-f1-r ul li a {
	width: 99%;
	height: 33px;
	display: block;
	font-size: 12px;
	margin-left: 2px;
	color: #999999;
	/*background: #00BFFF;*/
	/*border: 1px solid #000000;*/
}

.s-f1-r ul li a img {
	float: left;
	margin-top: 2px;
}

.s-f1-r ul li a p {
	display: block;
	width: 68px;
	text-align: center;
	font-weight: bold;
	float: right;
	color: #000000 !important;
	overflow: hidden;
}

.s-f1-r ul li .action {
	display: block;
	width: 52px;
	height: 18px;
	margin: 8px 13px;
	line-height: 19px !important;
	background-color: #999999;
	border-radius: 7px;
	color: white;
}

.s-f1-r ul li a .img {
	margin-top: 15px;
	margin-right: 10px;
	float: right;
}

.select-yfb {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-yfb ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-yfb ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-yfb ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-xx ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-xx ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}


/*-------------------------------h-c-2f-------------------------------*/

.h-c-2f {
	width: 1200px;
	height: 119px;
	background: #C12E2A;
	margin: 0 auto;
	position: relative;
}

.h-c-2f img {
	width: 100%;
}

.s-f2-l {
	width: 40%;
	height: 119px;
	float: left;
	background: #008B8B;
}

.s-f2-r {
	width: 260px;
	height: 36px;
	position: absolute;
	right: 20px;
	top: 41.5px;
	border-radius: 50px;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
}

.s-f2-r1 {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 20px;
	top: 6px;
}

.s-f2-r1 img {
	width: 100%;
}


/*-------------------------------h-c-3f-------------------------------*/

.h-c-3f {
	width: 1200px;
	height: 260px;
	margin: 0 auto;
	/*padding: 10px 0;*/
	margin-top: 10px;
	border-top: 1px solid red;
	position: relative;
}

.h-c-3f img {
	width: 100%;
	/*height: 100%;*/
}

.h-f3-c1 {
	width: 140px;
	height: 40px;
	background: blanchedalmond;
	position: absolute;
	border-radius: 5px;
	top: 195px;
	left: 377px;
	text-align: center;
	line-height: 40px;
}

.h-f3-c2 {
	width: 108px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 88px;
	top: 125px;
}


/*------------------------------section------------------------------*/

.s-main-c {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	border-top: 1px solid #999999;
}

.s-main-l {
	width: 850px;
	height: 1200px;
	float: right;
	/*background: #2AABD2;*/
}

.s-main-r {
	width: 300px;
	height: 1200px;
	float: left;
	/*background: #008B8B;*/
}


/*-------------------------------s-c-1f--------------------------------*/

.s-c-1f {
	width: 88%;
	height: 118px;
	margin-left: 6%;
	/*background: #1B6D85;*/
}

.s-1f_01 {
	text-align: left !important;
	padding-top: 12px;
	font-size: 24px;
}

.s-1f_02 {
	font-size: 20px;
}

.s-1f_03 {
	margin-top: 10px;
	font-size: 14px;
}


/*-------------------------------cjsp_bt开始--------------------------------*/

.cjsp_bt {
	width: 94%;
	height: 212px;
	background: #f2f2f2;
	margin-left: 6%;
	text-align: center;
	border-radius: 6px;
}

.cjsp_bt_01 {
	width: 100%;
	height: 56px;
	background: #ff5c5d;
	font-size: 24px;
	border-radius: 6px;
	line-height: 56px;
}

.cjsp_bt_01 a {
	color: #fff;
}

.cjsp_bt_02 {
	margin: 0 auto;
	padding-top: 14px;
	width: 240px;
	height: 26px;
	border-bottom: 1px solid #ccc;
}

.cjsp_bt_03 {
	margin: 0 auto;
	padding-top: 14px;
	width: 240px;
	height: 26px;
	border-bottom: 1px solid #ccc;
}

.cjsp_bt_03 a {
	color: #ff5c5d;
}


/*-------------------------------cjsp_bt结束--------------------------------*/


/*-------------------------------s-c-2f--------------------------------*/

.s-c-2f {
	width: 848px;
	height: 24px;
	/*background:#5B32E5;*/
	padding-top: 32px;
}

.cjsp_cz {
	float: left;
}

.cjsp_cz_01 a {
	float: right;
	color: #ff5c5d;
}


/*-------------------------------s-c-3f--------------------------------*/

.s-c-3f {
	width: 850px;
	height: auto;
	margin-top: 10px;
	overflow: hidden;
	/*margin-left:-10px;*/
}

.s-c-3f ul li {
	width: 256px;
	height: 205px;
	margin-top: 10px;
	border-radius: 2px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 5px;
	/*padding:18px 9px 12xp 9px;*/
	padding: 18px 9px 12px 9px;
}

.cjsp_sc {
	width: 256px;
	height: 75px;
}

.cjsp_sc_00 {
	width: 256px;
	height: 110px;
	margin-top: 12px;
}

.cjsp_sc_01 {
	width: 91.4%;
	height: 56px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
	display: block;
	font-size: 12px;
	line-height: 16px;
	resize: none;
	border:1px solid #ccc;
}

.cjsp_sc_02 {
	width: 185px;
	height: 30px;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	float: left;
	display: block;
}

.cjsp_sc_02_01 {
	width: 100px;
	height: 28px;
	background: #none;
	border: 1px solid #999999;
	border-radius: 6px;
	text-align: center;
}

.cjsp_sc_02_02 {
	margin-top: 14px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}


/*-------------------------------s-c-4f--------------------------------*/

.s-c-4f {
	margin: 40px auto;
	width: 88px;
	height: 30px;
	background: #ff5c5d;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
}

.s-c-4f a {
	color: #fff;
	line-height: 30px;
}

.s-c-4f:hover {
	background: #FB4748;
}


/*-------------------------------s-c-4f结束--------------------------------*/


/*-------------------------------footer-------------------------------*/

.f-main-c {
	width: 1200px;
	margin: 0 auto;
	/*background: #1B6D85;*/
}


/*--------------------------------f-c-1f--------------------------------*/

.f-c-1f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	/*background: #C1E2B3;*/
}

.f-c-1f ul {
	width: 25%;
	float: left;
	margin-top: 20px;
	text-align: left;
}

.f-c-1f ul li {
	margin: 10px;
}


/*--------------------------------f-c-2f--------------------------------*/

.f-c-2f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	line-height: 18px;
	background: #000;
	padding-top: 8px;
	text-align: center;
}

.f-c-2f a {
	color: #fff;
	line-height: 30px;
}

.f-c-2f p {
	color: #fff;
}


/*------------------------------header------------------------------*/

.p12{
	text-align: center;
	font-size: 12px;
}
.f4fgx{
	display: block;
	width: 850px;
	height: 20px;
	border-bottom: 1px solid #999;
}
.refcc{
	position: relative;
	right: -15px;
	top: 15px;
}
