* {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

body,
html {
	font-family: "microsoft yahei";
	width: 1200px;
	margin: auto;
	position: relative;
}
p{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
ul,
li,
a {
	/*display: block;*/
	list-style: none;
	text-decoration: inherit;
	color: #000000;
}
button{
	cursor: pointer;
}
img{
	width: 100%;
	height: 100%;
}
.clearfloat {
	clear: both;
}


/*------------------------------header------------------------------*/


/*-------------------------------h-c-1f-------------------------------*/

.h-c-1f {
	width: 1200px;
	height: 34px;
	/*background: #C4E3F3;*/
	margin: 0 auto;
	border-bottom: solid 1px #E6E6E6;
}

.s-f1-l {
	width: 50%;
	height: 34px;
	float: left;
	/*background: #66AFE9;*/
	border-bottom: solid #e6e6e6 1px;
}

.s-f1-l .home {
	width: 13px;
	height: 12px;
	margin: 6px 10px;
	float: left;
}

.s-f1-l p {
	font-size: 12px;
	width: 40px;
	line-height: 35px;
	float: left;
}

.s-f1-r {
	width: 485px;
	height: 35px;
	line-height: 35px;
	float: right;
	/*background: #2FA8EC;*/
}

.s-f1-r ul li {
	float: left;
	width: 12.2%;
	text-align: center;
	height: 35px;
}

.s-f1-r ul li .str {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -22px;
}

.s-f1-r ul li .strf {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -24px;
}

.s-f1-r ul li a {
	width: 99%;
	height: 33px;
	display: block;
	font-size: 12px;
	margin-left: 2px;
	color: #999999;
	/*background: #00BFFF;*/
	/*border: 1px solid #000000;*/
}

.s-f1-r ul li a img {
	float: left;
	margin-top: 2px;
}

.s-f1-r ul li a p {
	display: block;
	width: 68px;
	text-align: center;
	font-weight: bold;
	float: right;
	color: #000000 !important;
	overflow: hidden;
}

.s-f1-r ul li .action {
	display: block;
	width: 52px;
	height: 18px;
	margin: 8px 13px;
	line-height: 19px !important;
	background-color: #999999;
	border-radius: 7px;
	color: white;
}

.s-f1-r ul li a .img {
	margin-top: 15px;
	margin-right: 10px;
	float: right;
	width: 10px;
	height: 5px;
}

.select-yfb {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-yfb ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-yfb ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-yfb ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-xx ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-xx ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}


/*-------------------------------h-c-2f-------------------------------*/

.h-c-2f {
	width: 1200px;
	height: 119px;
	background: #C12E2A;
	margin: 0 auto;
	position: relative;
}

.h-c-2f img {
	width: 100%;
}

.s-f2-l {
	width: 40%;
	height: 119px;
	float: left;
	background: #008B8B;
}

.s-f2-r {
	width: 260px;
	height: 36px;
	position: absolute;
	right: 20px;
	top: 41.5px;
	border-radius: 50px;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
}

.s-f2-r1 {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 20px;
	top: 6px;
}

.s-f2-r1 img {
	width: 100%;
}


/*-------------------------------h-c-3f-------------------------------*/

.h-c-3f {
	width: 1200px;
	height: 50px;
	line-height: 50px;
	background-color: #F2F2F2;
	color: #000000;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	/*padding: 10px 0;*/
	margin-top: 10px;
	border-top: 1px solid #999999;
	position: relative;
}

.h-c-3f img {
	width: 100%;
	/*height: 100%;*/
}

.h-f3-c1 {
	width: 140px;
	height: 40px;
	background: blanchedalmond;
	position: absolute;
	border-radius: 5px;
	top: 195px;
	left: 377px;
	text-align: center;
	line-height: 40px;
}

.h-f3-c2 {
	width: 108px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 88px;
	top: 125px;
}


/*------------------------------section------------------------------*/

.s-main-c {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
}

.s-main-l {
	width: 850px;
	height: 1200px;
	float: right;
	/*background: #2AABD2;*/
}

.s-main-r {
	width: 300px;
	height: 1200px;
	float: left;
	background: #008B8B;
}


/*-------------------------------s-c-1f--------------------------------*/

.s-c-1f {
	width: 100%;
	height: 37px;
	background-color: #F2F2F2;
	padding: 6.5px 0;
	/*background: #1B6D85;*/
}
.s-c-1f .left{
	width: 50%;
	float: left;
}
.s-c-1f .left button{
	width: 101px;
	height: 37px;
	background-color: #BFBFBF;
	outline: none;
	border: 0;
	color: white;
	font-size: 18px;
	/*margin-right: 5px;*/
}
.s-c-1f .left button:hover{
	background-color: #FF9291;
	color: white;
}
.s-c-1f .left button.selected{
	background-color: #FF9291;
	color: white;
}
.s-c-1f .right{
	width: 50%;
	float: right;
}
.s-c-1f .right .lb{
	width: 62px;
	height: 30px;
	outline: none;
	border: 0;
	background-color: #FF9291;
	border-radius: 2px;
	float: right;
	margin-right: 30px;
	color: white;
	margin-top: 3.5px;
	font-size: 18px;
}
/*-------------------------------s-c-2f--------------------------------*/

.s-c-2f {
	width: 1200px;
	height: auto;
	margin-top: 18px;
}
.s-c-2f ul{
	width: 1200px;
	height: auto;
	position: relative;
}
.s-c-2f ul li{
	width: 1178px;
	height: auto;
	padding: 10px;
	border: solid #BFBFBF 1px;
	margin-bottom: 10px;
}
.s-c-2f ul li:hover{
	border: solid #FF5C5D 1px;
}
/*-------------------------------s-c-2f-1f-------------------------------*/
.s-c-2f-1f{
	width: 100%;
	height: auto;
}
.s-c-2f-1f .yhtx{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	float: left;
}
.s-c-2f-1f p{
	display: block;
	float: left;
	color: #000;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
}
.s-c-2f-1f .yhmc{
	margin-left: 25px;
}
.s-c-2f-1f .szd{
	margin-left: 50px;
	/*color: #999999;*/
}
.s-c-2f-1f button{
	float: right;
	margin-top: 16px;
	margin-right: 44px;
	font-size: 14px;
	width: 70px;
	height: 28px;
	color: white;
	outline: none;
	border: 0;
	background-color: #FF9291;
}
.s-c-2f-1f .qwzw{
	margin-left: 30px;
}
/*-------------------------------s-c-2f-2f-------------------------------*/
.s-c-2f-2f{
	width: 1148px;
	height: auto;
	margin: 0 auto;
	margin-top: 5px;
	border-top: dashed #c9c9c9 1px;
	padding: 20px 0 20px 20px;
}
.s-c-2f-2f p{
	display: block;
	float: left;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin-bottom: 20px;
}
.s-c-2f-2f .age{
	margin-left: 30px;
}
.s-c-2f-2f .grjl{
	margin-left: 30px;
	width: 980px;
	color: #999999;
}
.s-c-2f-2f .zpzp{
	margin-left: 30px;
	color: #999999;
}
.s-c-2f-2f .spzp{
	margin-left: 30px;
	color: #999999;
}
.s-c-2f-2f .dq{
	margin-left: 30px;
	width: 400px;
	color: #999999;
}
.s-c-2f-2f .jg{
	float: right;
	color: #FF5C5D;
	margin-right: 20px;
}
.s-c-2f-2f .gzjy{
	margin-left: 30px;
}
.s-c-2f-2f .gzsj{
	color: #999999;
}
.s-c-2f-2f .ys{
	float: right;
	color: #FF5C5D;
	margin-right: 30px;
	text-align: right;
}
/*-------------------------------s-c-3f--------------------------------*/

.s-c-3f {
	width: 1200px;
	height: auto;
	margin-top: 18px;
	/*background: #204D74;*/
}
.s-c-3f ul{
	width: 1200px;
	height: auto;
	position: relative;
}
.s-c-3f ul li{
	width: 1094px;
	height: auto;
	padding: 15px 52px 15px 52px;
	border: solid #BFBFBF 1px;
	margin-bottom: 10px;
}
.s-c-3f ul li:hover{
	border: solid #FF5C5D 1px;
}
.s-c-3f ul li:last-child{
	margin: 0px;
}
.s-c-3f ul li p{
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	display: block;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #000;
}
.s-c-3f ul li .hdsj{
	margin-right: 25px;
}
.s-c-3f ul li .hddd{
	margin-right: 25px;
}
.s-c-3f ul li .xsnr{
	margin-right: 25px;
}
.s-c-3f ul li .nr{
	width: 1085px;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #F2F2F2;
}
.s-c-3f ul li .nr .left{
	width: 239px;
	height: auto;
	border-right: solid #CCCCCC 1px;
	float: left;
}
.nr .left .yhtx{
	width: 61px;
	height: 60px;
	border-radius: 100px;
	margin: 8px 10px 8px 6px;
	float: left;
}
.nr p{
	display: block;
	float: left;
	font-size: 14px;
}
.nr .left .yhmc{
	height: 76px;
	line-height: 76px;
	color: #000;
	margin-left: 5px;
}
.s-c-3f ul li .nr .right{
	float: right;
	width: 845px;
	position: relative;
}
.nr .right .hf{
	color: #a6a6a6;
	height: 76px;
	line-height: 76px;
	margin-left: 20px;
}
.nr .right .jj{
	color: #FF9291;
	height: 76px;
	line-height: 76px;
	margin-left: 15px;
}
.nr .right .jj a{
	color: #A6A6A6;
}
.nr .right .rq{
	float: right;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/*-------------------------------s-c-4f--------------------------------*/
.s-c-4f {
	width: 1200px;
	height: auto;
	margin-top: 18px;
}
.s-c-4f ul{
	width: 1200px;
	height: auto;
	position: relative;
}
.s-c-4f ul li{
	width: 1172px;
	height: auto;
	padding: 13px;
	border: solid #BFBFBF 1px;
	margin-bottom: 10px;
	font-size: 14px;
}
.s-c-4f ul li:hover{
	border:solid #FF5C5D 1px;
}
.s-c-4f ul li .left{
	float: left;
	border-right: solid #BFBFBF 1px;
	width: 300px;
	height: auto;
}
.s-c-4f ul li .left .sptx{
	width: 100px;
	height: 80px;
	margin-right: 30px;
	float: left;
}
.s-c-4f ul li .left .sp{
	width: 140px;
	height: 80px;
	color: #000000;
	float: left;
	position: relative;
}
.sp .bottom{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.sp .bottom .xss{
	float: left;
	width: 50%;
}
.sp .bottom .sc{
	float: right;
	width: 50%;
	text-align: right;
}
.s-c-4f ul li .right{
	float: right;
	width: 841px;
	margin-left: 30px;
	height: 80px;
	position: relative;
}
.s-c-4f ul li .right .dpdz{
	color: #999;
}
.s-c-4f ul li .right .bottom{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.s-c-4f ul li .right .bottom .zysp{
	color: #999999;
}
/*-------------------------------footer-------------------------------*/

.f-main-c {
	width: 1200px;
	margin: 0 auto;
	/*background: #1B6D85;*/
}


/*--------------------------------f-c-1f--------------------------------*/

.f-c-1f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	/*background: #C1E2B3;*/
}

.f-c-1f ul {
	width: 25%;
	float: left;
	margin-top: 20px;
	text-align: left;
}

.f-c-1f ul li {
	margin: 10px;
}


/*--------------------------------f-c-2f--------------------------------*/

.f-c-2f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	line-height: 18px;
	background: #000;
	padding-top: 8px;
	text-align: center;
}

.f-c-2f a {
	color: #fff;
	line-height: 30px;
}

.f-c-2f p {
	color: #fff;
}


/*------------------------------header------------------------------*/