* {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

html,
body {
	font-family: "microsoft yahei";
}

ul,
li,
a {
	/*display: block;*/
	list-style: none;
	text-decoration: inherit;
	color: #000000;
}

.clearfloat {
	clear: both;
}


/*------------------------------header------------------------------*/


/*-------------------------------h-c-1f-------------------------------*/

.h-c-1f {
	width: 1200px;
	height: 34px;
	/*background: #C4E3F3;*/
	margin: 0 auto;
	border-bottom: solid 1px #E6E6E6;
}

.s-f1-l {
	width: 50%;
	height: 34px;
	float: left;
	/*background: #66AFE9;*/
	border-bottom: solid #e6e6e6 1px;
}

.s-f1-l .home {
	width: 13px;
	height: 12px;
	margin: 6px 10px;
	float: left;
}

.s-f1-l p {
	font-size: 12px;
	width: 40px;
	line-height: 35px;
	float: left;
}

.s-f1-r {
	width: 485px;
	height: 35px;
	line-height: 35px;
	float: right;
	/*background: #2FA8EC;*/
}

.s-f1-r ul li {
	float: left;
	width: 12.2%;
	text-align: center;
}

.s-f1-r ul li .str {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -22px;
}

.s-f1-r ul li .strf {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -24px;
}

.s-f1-r ul li a {
	width: 99%;
	height: 33px;
	display: block;
	font-size: 12px;
	margin-left: 2px;
	color: #999999;
	/*background: #00BFFF;*/
	/*border: 1px solid #000000;*/
}

.s-f1-r ul li a img {
	float: left;
	margin-top: 2px;
}

.s-f1-r ul li a p {
	display: block;
	width: 68px;
	text-align: center;
	font-weight: bold;
	float: right;
	color: #000000 !important;
}

.s-f1-r ul li .action {
	display: block;
	width: 52px;
	height: 18px;
	margin: 8px 13px;
	line-height: 19px !important;
	background-color: #999999;
	border-radius: 7px;
	color: white;
}


/*-------------------------------h-c-2f-------------------------------*/

.h-c-2f {
	width: 1200px;
	height: 100px;
	/*background: #C12E2A;*/
	border-bottom: 1px solid #E6E6E6;
	margin: 0 auto;
}

.s-f2-l {
	width: 40%;
	height: 100px;
	float: left;
	/*background: #008B8B;*/
}

.f2-l-1 {
	width: 80px;
	height: 69px;
	margin: 15px 38px;
	float: left;
}

.f2-l-1 img {
	width: 100%;
	height: 100%;
}

.f2-l-2 {
	width: 100px;
	height: 100px;
	float: left;
	line-height: 100px;
	color: white;
	background-color: #ff5c5d;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

.f2-l-3 {
	width: 100px;
	height: 100px;
	float: left;
	line-height: 100px;
	color: #ff5c5d;
	background-color: white;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

.s-f2-r {
	width: 60%;
	height: 100px;
	float: left;
	/*background: #00FFFF;*/
}


/*搜索开始*/

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

.demo {
	width: 720px;
	margin: 35px auto;
}

.demo h2 {
	font-size: 16px;
	color: #3366cc;
	height: 30px;
}

.demo li {
	float: left;
}

.text,
.button {
	background: url(http://su.bdimg.com/static/superpage/img/spis_031ddf34.png) no-repeat;
}

.text {
	width: 425px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px\9;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none;
	margin: 0 -1px 0 0;
}

.button {
	width: 79px;
	height: 32px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}

.button2 {
	width: 135px;
	height: 32px;
	margin-left: 30px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}


/*搜索结束*/


/*-------------------------------h-c-3f-------------------------------*/

.h-c-3f {
	width: 1200px;
	height: 200px;
	/*background: #00BFFF;*/
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #999999;
}

.h-c-3f img {
	width: 100%;
	height: 100%;
}


/*------------------------------section------------------------------*/

.s-main-c {
	width: 1200px;
	margin: 0 auto;
}

.s-main-l {
	width: 900px;
	height: 1200px;
	float: left;
	/*background: #2AABD2;*/
}

.s-main-r {
	width: 300px;
	height: auto;
	float: left;
	/*background: #008B8B;*/
}


/*-------------------------------s-c-1f--------------------------------*/

.s-c-1f {
	width: 100%;
	height: 45px;
	/*background: #1B6D85;*/
}

.s-c-1f a {
	text-align: left !important;
}


/*-------------------------------s-c-2f--------------------------------*/

.s-r-2f ul {
	position: relative;
	/*right: 0px;*/
}

.s-r-2f ul li {
	width: 274px;
	height: 274px;
	float: left;
	margin: 3px;
	/*margin-top: 25px;*/
	background: #f2f2f2;
	/*border: 1px solid red;*/
	border-radius:8px;
}

.s-r-2f ul li a {
	margin: 0 auto;
	margin-top: 7px;
	/*margin: 5px;*/
	display: block;
	width: 254px;
	height: 158px;
	position: relative;
	/*border: 1px solid #000000;*/
}

.s-r-2f ul li a img {
	/*width: 100%;*/
}
.s-r-2f ul li a .user_01_03{
	font-size:14px;
	line-height:16px;
	color:#999999;
	margin-top:9px;
}
.f2r-ul-c1 p {
	display: block;
	width: 100px;
	float: left;
	font-size: 12px;
	margin-top: 10px;
}

.f2r-ul-c2 p {
	display: block;
	width: 220px;
	float: left;
	font-size: 12px;
	margin-top: 10px;
	color: #ccc;
}

.f2r-ul-cz{
	width: 69px;
	height: 69px;
	position: absolute;
	left: -9px;
	top: -7px;
	z-index: 999;
}

.f2t{
	width:274px;
	height:130px;

}
.f2t_01{
	float:right;
	margin-right:56px;
	margin-top:40px;
	font-size:14px;
	color:#000;
	font-weight:600;
}



/*筛选开始*/

#filter {
	width: 850px;
	height: 300px;
	/*margin: 0 auto;*/
	font-size: 12px;
}

#filter dl {
	clear: both;
	/*padding: 4px 0;*/
}

#filter dt,
dd {
	display: block;
	float: left;
	width: auto;
	padding: 0;
	height: 50px;
	line-height: 50px;
	/*margin: 3px 0;*/
}

#filter dt {
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 93px;
	/*padding-bottom: 4px;*/
	font-weight: bold;
	color: #333333;
	background-color: #f3f3f3;
	font-size: 14px !important;
}

#filter dd {
	color: #005AA0;
	margin-left: 30px;
}

#filter dd .gray a {
	color: #999999;
}

#filter dd #city {
	width: 100px;
	background: #fefefe;
	border: 1px solid #bbb;
	font-size: 12px !important;
	color: #333;
	padding: 7px;
	border-radius: 3px;
	text-align: center;
}

#filter a {
	cursor: pointer;
}

.seling {
	/*background-color: #005AA0;*/
	color: #999999;
}

.seled {
	display: block;
	width: auto;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	text-align: center;
	border: solid 1px #ff5c5d;
	margin-top: 15px;
	padding: 0 15px;
	z-index: 2;
}


/*筛选结束*/


/*排序开始*/

#filter .px {
	position: relative;
	right: 60px;
	top: 15px;
	width: 160px;
	height: 20px;
	float: right;
}

#filter .px p {
	width: 42px;
	font-size: 14px;
	float: left;
}

#filter .px .hot {
	float: left;
	width: 42px;
	height: 20px;
	background-color: #ff5c5d;
	border-radius: 10px;
	line-height: 20px;
	text-align: center;
	color: white;
	margin-left: 16px;
	font-size: 10px !important;
	cursor: pointer;
}

#filter .px .new {
	float: right;
	width: 42px;
	height: 20px;
	background-color: #999999;
	border-radius: 10px;
	line-height: 20px;
	text-align: center;
	color: white;
	font-size: 10px !important;
	cursor: pointer;
}


/*排序结束*/


/*-------------------------------s-c-3f--------------------------------*/

.s-c-3f {
	width: 100%;
	height: auto;
}

.f3-c-1 {
	width: 850px;
	height: 200px;
	border: 1px solid #000;
}
.user{
	width:852px;
	height:562px;
/*	background:#AE17DF;*/
}

.user_01{
	width:268px;
	height:275px;
/*	background:#323BE9;*/
	float:left;
	margin:3px 7px 0px 7px;
	border:1px solid #cccccc;
	
}
.user_01 p{
	margin:0px;
}
.user_01 img{
	padding:7px 3px;
}
.user_01_01{
	width:258px;
	height:105px;
	margin:0 auto;
	font-size:14px;
	line-height:16px;
}
.user_01_02{
	margin:0 auto;
	width:258px;
	height:14px;
}
.user_01_02 h4{
	margin:0px;
	float:left;
}
.user_01_02 span{
	float:right;
	color:#ff0000;
	font-weight:700;
}
.user_01_03{
	width:258px;
	height:49px;
	padding-top:10px;
	color:#999999;
	overflow: hidden; /*自动隐藏文字*/
}
.user_01_04{
	padding-top:14px;
	color:#cccccc;
	float:left;
}
.user_01_05{ padding-top:14px;color:#cccccc;
     float:right;
}
.user_02{
	width:268px;
	height:150px;

}
.user_02 img{
	margin-left:2px;
	margin-top:1px;
	float:left;
}
.user_02 h4{
	margin:0 auto;
	text-align:center;
	padding-top:50px;
}


/*-------------------------------s-r-1f--------------------------------*/

.s-r-1f div {
	height: 78px;
	margin-left: -15px;
}

.s-r-1f div a {
	width: 132px;
	display: block;
	float: left;
	padding-top: 10px;
	/*margin-left:-15px ;*/
}

/*-------------------------------s-r-2f--------------------------------*/

.s-r-2f {
	width: 100%;
	height: atuo;
	overflow: hidden;
}

.s-r-2f ul {
	position: relative;
	/*right: 0px;*/
}

.s-r-2f ul li {
	width: 274px;
	height: 274px;
	float: left;
	margin: 3px;
	/*margin-top: 25px;*/
	background: #f2f2f2;
	/*border: 1px solid red;*/
	border-radius:8px;
}

.s-r-2f ul li a {
	margin: 0 auto;
	margin-top: 7px;
	/*margin: 5px;*/
	display: block;
	width: 254px;
	height: 158px;
	position: relative;
	/*border: 1px solid #000000;*/
}

.s-r-2f ul li a img {
	/*width: 100%;*/
}
.s-r-2f ul li a .user_01_03{
	font-size:14px;
	line-height:16px;
	color:#999999;
	margin-top:9px;
}
.f2r-ul-c1 p {
	display: block;
	width: 100px;
	float: left;
	font-size: 12px;
	margin-top: 10px;
}

.f2r-ul-c2 p {
	display: block;
	width: 220px;
	float: left;
	font-size: 12px;
	margin-top: 10px;
	color: #ccc;
}

.f2r-ul-cz{
	width: 69px;
	height: 69px;
	position: absolute;
	left: -9px;
	top: -7px;
	z-index: 999;
}

.f2t{
	width:274px;
	height:130px;

}
.f2t_01{
	float:right;
	margin-right:56px;
	margin-top:40px;
	font-size:14px;
	color:#000;
	font-weight:600;
}

/*-------------------------------s-c-3f--------------------------------*/
.s-r-3f div {
	height: 78px;
	margin-left: -15px;
}

.s-r-3f div a {
	width: 132px;
	display: block;
	float: left;
	padding-top: 10px;
	/*margin-left:-15px ;*/
}


/*-------------------------------s-c-4f--------------------------------*/
.s-r-4f {
	width: 274px;
	height: 130px;
	/*margin: 0 auto;*/
}

.s-r-4f ul li {
	width: 280px;
	height: 130px;
	background: #f2f2f2;
	margin-top: 10px;
	border-radius: 6px;
}

.s-r-4f ul li img {
	margin: 15px 15px;
	float: left;
}

.tj {
	margin: 0px;
}

.tj_01 {
	width: 100px;
	height: 110px;
	float: left;
}

.tj_01 p {
	margin: 0px;
}

.tj_01_01 {
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	padding: 16px 0px 6px 0px;
}

.tj_01_02 {
	font-size: 12px;
	color: #666666;
	font-weight: 200;
	padding-top: 6px;
}

.tj_01_03 {
	width: 50px;
	height: 20px;
	border:none;
	background: #fc5c5c;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	border-radius: 4px;
	cursor:pointer;
}

.tj_01_03  {
	color: #fff;
}

.tj_01_03:hover {
	background: #EC1C1F;
}


/*-------------------------------footer-------------------------------*/

.f-main-c {
	width: 1200px;
	margin: 0 auto;
	/*background: #1B6D85;*/
}


/*--------------------------------f-c-1f--------------------------------*/

.f-c-1f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	/*background: #C1E2B3;*/
}

.f-c-1f ul {
	width: 25%;
	float: left;
	margin-top: 20px;
	text-align: left;
}

.f-c-1f ul li {
	margin: 10px;
}


/*--------------------------------f-c-2f--------------------------------*/

.f-c-2f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	line-height: 18px;
	background: #000;
	padding-top: 8px;
	text-align: center;
}

.f-c-2f a {
	color: #fff;
	line-height: 30px;
}

.f-c-2f p {
	color: #fff;
}


/*------------------------------header------------------------------*/