* {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

body,
html {
	font-family: "microsoft yahei";
	color: #292522;
}

ul,
li,
a {
	/*display: block;*/
	list-style: none;
	text-decoration: inherit;
	color: #000000;
}

.clearfloat {
	clear: both;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

.demo {
	width: 720px;
	margin: 35px auto;
}

.demo h2 {
	font-size: 16px;
	color: #3366cc;
	height: 30px;
}

.demo li {
	float: left;
}

.text,
.button {
	background: url(http://su.bdimg.com/static/superpage/img/spis_031ddf34.png) no-repeat;
}

.text {
	width: 425px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px\9;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none;
	margin: 0 -1px 0 0;
}

.button {
	width: 79px;
	height: 32px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}

.button2 {
	width: 135px;
	height: 32px;
	margin-left: 30px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}


/*------------------------------header------------------------------*/


/*-------------------------------h-c-1f-------------------------------*/

.h-c-1f {
	width: 1200px;
	height: 34px;
	/*background: #C4E3F3;*/
	margin: 0 auto;
	border-bottom: solid 1px #E6E6E6;
}

.s-f1-l {
	width: 50%;
	height: 34px;
	float: left;
	/*background: #66AFE9;*/
	border-bottom: solid #e6e6e6 1px;
}

.s-f1-l .home {
	width: 13px;
	height: 12px;
	margin: 6px 10px;
	float: left;
}

.s-f1-l p {
	font-size: 12px;
	width: 40px;
	line-height: 35px;
	float: left;
}

.s-f1-r {
	width: 485px;
	height: 35px;
	line-height: 35px;
	float: right;
	/*background: #2FA8EC;*/
}

.s-f1-r ul li {
	float: left;
	width: 12.2%;
	text-align: center;
	height: 35px;
}

.s-f1-r ul li .str {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -22px;
}

.s-f1-r ul li .strf {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -24px;
}

.s-f1-r ul li a {
	width: 99%;
	height: 33px;
	display: block;
	font-size: 12px;
	margin-left: 2px;
	color: #999999;
	/*background: #00BFFF;*/
	/*border: 1px solid #000000;*/
}
.s-f1-r ul li a:hover{
	color: #FF5C5D;
}
.s-f1-r ul li a img {
	float: left;
	margin-top: 2px;
}

.s-f1-r ul li a p {
	display: block;
	width: 68px;
	text-align: center;
	font-weight: bold;
	float: right;
	color: #000000 !important;
	overflow: hidden;
}

.s-f1-r ul li .action {
	display: block;
	width: 52px;
	height: 18px;
	margin: 8px 13px;
	line-height: 19px !important;
	background-color: #999999;
	border-radius: 8px;
	color: white;
}
.s-f1-r ul li .action:hover{
	color: white;
	background-color: #FF5C5D;
}
.s-f1-r ul li a .img {
	margin-top: 15px;
	margin-right: 10px;
	float: right;
}

.select-yfb {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-yfb ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-yfb ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-yfb ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-xx ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-xx ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}


/*-------------------------------h-c-2f-------------------------------*/

.h-c-2f {
	width: 1200px;
	height: 119px;
	/*background: #C12E2A;*/
	margin: auto;
	margin-top: 10px;
	position: relative;
	padding-bottom: 10px;
	border-bottom: solid 1px #999999;
}

.h-c-2f img {
	width: 100%;
}

.s-f2-l {
	width: 40%;
	height: 119px;
	float: left;
	background: #008B8B;
}

.s-f2-r {
	width: 260px;
	height: 36px;
	position: absolute;
	right: 20px;
	top: 41.5px;
	border-radius: 50px;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
}

.s-f2-r1 {
	width: 21px;
	height: 22px;
	position: absolute;
	right: 20px;
	top: 6px;
	cursor: pointer;
}

.s-f2-r1 img {
	width: 100%;
}


/*-------------------------------h-c-3f-------------------------------*/

.h-c-3f {
	width: 1200px;
	height: 200px;
	/*background: #00BFFF;*/
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #999999;
}

.h-c-3f img {
	width: 100%;
	height: 100%;
}


/*------------------------------section------------------------------*/

.s-main-c {
	width: 1200px;
	height: auto;
	margin: auto;
	margin-top: 20px;
}

.s-main-l {
	width: 850px;
	height: auto;
	float: left;
	/*background: #2AABD2;*/
}

.s-main-r {
	width: 274px;
	margin-left: 26px;
	height: auto;
	float: right;
	color: #292522;
	/*background: #008B8B;*/
}

.userin {
	width: 274px;
	height: 131px;
	background-color: #F2F2F2;
	border-radius: 8px;
	position: relative;
}

.u-img {
	width: 101px;
	height: 101px;
	float: left;
	margin-left: 20px;
	margin-top: 14px;
}

.u-img img {
	width: 100%;
}

.u-cont {
	width: 117px;
	height: 117px;
	float: left;
	margin-top: 14px;
	margin-left: 28px;
}

.u-cont p {
	width: 117px;
	display: block;
	text-align: left;
}

.u-cont button {
	width: 85px;
	height: 21px;
	margin-top: 10px;
	background: #999;
	color: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
}

.bdsz {
	width: 274px;
	height: 171px;
	background-color: #F2F2F2;
	position: relative;
}

.bdsz ul {
	width: 240px;
	height: 80px;
	margin: auto;
}

.bdsz ul li {
	width: 100%;
	height: 40px;
	line-height: 52px;
	border-bottom: solid #292522 1px;
	text-align: center;
	font-size: 18px;
	background: url(../img/list-1-gray.png) no-repeat;
	background-position: 20% 75%;
}

.bdsz-bt {
	width: 274px;
	height: 56px;
	line-height: 56px;
	background-color: #FF5C5D;
	border-radius: 8px;
	font-size: 24px;
	color: white;
	text-align: center;
}

.bdsz ul li.selected-con {
	background: url(../img/list-1-red.png) no-repeat;
	background-position: 20% 75%;
}

.bdsz ul li.selected-con a {
	color: #FF5C5D;
}

.spdl {
	width: 350px;
	height: 230px;
	background: #f2f2f2;
	display: none;
	position: fixed;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 999;
	border-radius: 8px;
}

.spdl-ok {
	width: 80px;
	height: 35px;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 15px;
	position: absolute;
	left: 50px;
	border-radius: 8px;
	background: #FF5C5D;
}

.spdl-esc {
	width: 80px;
	height: 35px;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #fff;
	position: absolute;
	right: 50px;
	font-size: 15px;
	border-radius: 8px;
	background: #FF5C5D;
}

.spdl-c {
	width: 250px;
	height: 40px;
	margin: 0 auto;
	/*line-height: 185px;*/
	text-align: center;
	margin-top: 5px;
	margin-bottom: 40px;
}

.spdl-c span {
	display: block;
	height: 15px;
	line-height: 15px;
	margin-top: 95px;
}

.time {
	width: 10px;
}


/*-------------------------------s-c-1f--------------------------------*/

.s-c-1f {
	width: 100%;
	height: 45px;
	/*background: #1B6D85;*/
}

.s-c-1f a {
	text-align: left !important;
}


/*-------------------------------s-c-2f--------------------------------*/

.s-c-2f {
	width: 850px;
	height: auto;
	float: right;
	border-bottom: 1px solid #999;
}

.s-2f-c1 {
	width: 100%;
	height: 37px;
	/*background: beige;*/
	text-align: left;
	line-height: 37px;
	position: relative;
	/*border-bottom: 1px solid #000;*/
}

.s-2f-c1 p {
	display: block;
	width: 70px;
	margin-left: 15px;
}

.hfx3 {
	width: 70px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 20px;
	font-size: 12px;
	cursor: pointer;
}

.hfx {
	width: 3px;
	height: 18px;
	margin-top: 9px;
	background: #FF5C5D;
	display: block;
	float: left;
}

.hfx2 {
	width: 3px;
	height: 20px;
	/*margin-top: 9px;*/
	/*background: #FF5C5D;*/
	display: block;
	float: left;
	cursor: pointer;
}

.s-2f-c2 {
	width: 850px;
	height: auto;
	margin: 0 auto;
	position: relative;
	font-size: 13px;
}

.c2-ct1 {
	width: 168px;
	height: 40px;
	line-height: 20px;
	position: relative;
	left: 50px;
}

.c2-ct1-b {
	width: 400px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 50px;
}

.c2-ct1-b p {
	float: left;
	width: 200px;
	display: block;
}

.c2-ct2 {
	width: 430px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 2px;
}

.c2-ct2-b {
	width: 672px;
	height: 90px;
	position: relative;
	left: 50px;
	top: 42px;
}

.c2-ct2-b p {
	display: block;
	width: 520px;
	height: 20px;
}

.c2-ct2-b ul {
	display: block;
	position: relative;
	left: 58px;
}

.c2-ct2-b ul li {
	width: 140px;
	height: 140px;
	float: left;
	margin-left: 10px;
	background: blanchedalmond;
	display: block;
}

.c2-ct2-b ul li a {
	list-style: none;
}

.c2-ct2 button {
	cursor: pointer;
	width: 80px;
	height: 20px;
	border: 0;
	outline: none;
	position: absolute;
	right: 167px;
	top: 19px;
	border-radius: 5px;
	background: #FF5C5D;
	color: #fff;
}

.s-2f-c2 ul {
	margin-top: -10px;
}

.s-2f-c2 ul li {
	/*height: 30px;
	margin-top: 10px;*/
}

.s-2f-c2ul-l {
	width: 82px;
	height: 30px;
	float: left;
	line-height: 30px;
	/*background: brown;*/
	text-align: right;
}

.s-2f-c2ul-r {
	width: 350px;
	height: 30px;
	float: right;
	line-height: 30px;
	text-align: left;
}

.s-2f-c3 {
	width: 850px;
	height: auto;
}

.s-2f-c3-1 {
	width: 760px;
	margin-left: 55px;
	position: relative;
}

.s-2f-c3 p {
	width: 150px;
	height: 20px;
	display: block;
	font-size: 13px;
	float: left;
}

.s-2f-c3-1-1 {
	width: 100%;
	height: auto;
	float: left;
}

.s-2f-c3-1-gzq {
	display: block;
	width: 73% !important;
	height: 60px !important;
	overflow: hidden;
}

.gzqfgx {
	width: 80%;
	height: 1px;
	float: left;
	background: #000;
}

.adds-f-c {
	display: block;
	width: 100px;
	position: absolute;
	right: 0px;
	top: 0;
	font-size: 12px;
	cursor: pointer;
}

.del-f-c {
	width: 18px;
	height: 18px;
	position: absolute;
	right: 35px;
	top: 39px;
	cursor: pointer;
}

.del-f-c img {
	width: 100%;
}

.bmbt-a {
	width: 88px;
	height: 36px;
	outline: none;
	cursor: pointer;
	border: 0;
	border-radius: 8px;
	background: #ff5c5c;
	position: absolute;
	right: 0px;
	color: #fff;
	top: 52px;
}

.bmbt-b {
	width: 88px;
	height: 36px;
	outline: none;
	cursor: pointer;
	border: 0;
	border-radius: 8px;
	background: #999;
	position: absolute;
	right: 0px;
	top: 52px;
	color: #fff;
}


/*-------------------------------s-c-2f-1f--------------------------------*/

.s-c-2f-1f {
	width: 100%;
	height: 18px;
	border-left: solid 3px #FF5C5D;
	line-height: 18px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
}


/*-------------------------------s-c-2f-2f--------------------------------*/

.s-c-2f-2f {
	width: 495px;
	height: auto;
	margin: auto;
	font-size: 16px;
	color: #292522;
}

.s-c-2f-2f .ul-l {
	width: 100px;
	height: auto;
	margin-top: 40px;
	float: left;
	margin-bottom: 70px;
}

.s-c-2f-2f .ul-l li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	/*font-weight: bold;*/
	text-align: right;
	margin-bottom: 20px;
}

.s-c-2f-2f .ul-r {
	width: 378px;
	height: auto;
	margin-top: 40px;
	float: right;
	margin-bottom: 70px;
}

.s-c-2f-2f .ul-r li {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	/*font-weight: bold;*/
	text-align: left;
	margin-bottom: 20px;
}

.s-c-2f-2f .gray-in {
	width: 356px;
	height: 20px;
	padding: 5px 10px;
	background-color: #999999;
	outline: none;
	border: 0;
	font-size: 12px;
}

.s-c-2f-2f .white-in {
	height: 20px;
	background-color: white;
	outline: none;
	border: solid 1px #dedede;
	padding: 5px 10px;
	font-size: 12px;
}

.s-c-2f-2f textarea {
	width: 356px;
	height: 100px;
	padding: 5px 10px;
	border: #DEDEDE solid 1px;
	outline: none;
	font-size: 12px;
	overflow: hidden;
	resize: none;
}

.s-c-2f-2f button {
	width: 88px;
	height: 30px;
	display: block;
	margin: 70px auto;
	border: 0;
	outline: none;
	border-radius: 8px;
	background-color: #FF5C5D;
	font-size: 14px;
	color: white;
	font-weight: bold;
}


/*--------------------------------txfg1-------------------------------*/

.txfg1 {
	width: 850px;
	height: auto;
	float: right;
	margin-top: 20px;
	/*background: #00BFFF;*/
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

.txfg1-c1-1 {
	width: 850px;
	height: 20px;
	margin-top: 20px;
	background: #007AFF;
	position: relative;
}

.txfg1-c1-1 p {
	width: 100px;
	height: 20px;
	margin-left: 15px;
	display: block;
}

.txfg1-c1-2 {
	width: 850px;
	height: 20px;
	margin-top: 20px;
	background: #007AFF;
	position: relative;
}

.txfg1-c1-2 p {
	width: 100px;
	height: 20px;
	margin-left: 15px;
	display: block;
}

.txfg1-c2-1 {
	width: 380px;
	height: 32px;
	margin: 0 auto;
	margin-top: 35px;
	background: #007AFF;
}


/*------------------------------s-tf-btn--------------------------------*/

.s-tf-btn {
	width: 80px;
	height: 40px;
	background: #ff5c5c;
	border-radius: 8px;
	margin: 0 auto;
	margin-top: 30px;
	color: #fff;
	cursor: pointer;
	float: left;
	position: relative;
	line-height: 40px;
}

.s-tf-btn p {
	position: relative;
	top: 0px;
	left: 12px;
}

.s-tf-btn img {
	position: absolute;
	/*padding-top: 4px;*/
	top: 12px;
	right: 10px;
}


/*-------------------------------s-c-3f--------------------------------*/

.s-c-3f {
	width: 850px;
	height: 240px;
	float: right;
	/*margin-top: 20px;*/
	position: relative;
	top: 0px;
	/*display: none;*/
}


/*-------------------------------s-c-4f--------------------------------*/

.s-c-4f {
	width: 88px;
	height: auto;
	/*margin-top: 20px;*/
	margin: 0 auto;
}


/*-------------------------------s-c-5f--------------------------------*/

.s-c-5f {
	width: 850px;
	height: auto;
	float: left;
	margin-top: 20px;
}

.lybtn {
	width: 90px;
	height: 36px;
	outline: none;
	border: 0;
	color: #fff;
	position: absolute;
	right: 20px;
	top: 130px;
	border-radius: 10px;
	background: #ff5c5d;
}

.s-5f-c1 {
	width: 850px;
	height: auto;
	margin-top: 20px;
	border-top: 3px solid #ff5c5d;
}

.s-5f-c1-1 {
	width: 820px;
	height: 97px;
	margin: 0 auto;
	color: #999;
	font-size: 12px;
}

.s-5f-c1-1-c1 {
	width: 802px;
	height: 44px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #999;
	padding: 8px;
	font-size: 13px;
	overflow: hidden auto;
}

.s-5f-c1-1-c1img {
	width: 60px;
	height: 60px;
	float: left;
}

.s-5f-c1-1-c1p1 {
	width: 200px;
	float: left;
	margin-top: 19px;
}

.s-5f-c1-1-c1p2 {
	width: 100px;
	float: right;
	margin-top: 19px;
}


/*-------------------------------s-c-6f--------------------------------*/

.s-c-6f {
	width: 850px;
	height: 380px;
	float: right;
	margin-top: 20px;
	background: #204D74;
	display: none;
}


/*-------------------------------footer-------------------------------*/

.f-main-c {
	width: 1200px;
	margin: 0 auto;
	/*background: #1B6D85;*/
}


/*--------------------------------f-c-1f--------------------------------*/

.f-c-1f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	/*background: #C1E2B3;*/
}

.f-c-1f ul {
	width: 25%;
	float: left;
	margin-top: 20px;
	text-align: left;
}

.f-c-1f ul li {
	margin: 10px;
}


/*--------------------------------f-c-2f--------------------------------*/

.f-c-2f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	line-height: 18px;
	background: #000;
	padding-top: 8px;
	text-align: center;
}

.f-c-2f a {
	color: #fff;
	line-height: 30px;
}

.f-c-2f p {
	color: #fff;
}


/*------------------------------header------------------------------*/

.xqwc {
	width: 100%;
	height: 110px;
	/*background: coral;*/
	border-bottom: 1px solid #999;
	padding-bottom: 8px;
}

.xqwc:hover {
	/*border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;*/
	/*border: 1px solid #FF5C5D;*/
}

.xqcc {
	width: 600px;
	height: 135px;
	margin-left: 55px;
	float: left;
}

.xqbta {
	width: 88px;
	height: 36px;
	background: #ff5c5d;
	float: right;
	margin-top: 45px;
	margin-right: 40px;
	border-radius: 8px;
	text-align: center;
	line-height: 36px;
	/*cursor: pointer;*/
}

.xqbtb {
	width: 88px;
	height: 36px;
	background: #bbb;
	float: right;
	margin-top: 45px;
	margin-right: 40px;
	border-radius: 8px;
	text-align: center;
	line-height: 36px;
	/*cursor: pointer;*/
}

.xqbta a {
	color: #fff;
}

.xqbtb a {
	color: #fff;
}

.xqcc-c {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.xqcc-c0 {
	color: #333;
	font-size: 14px;
}

.xqcc-c1 {
	/*display: block;*/
	margin-left: 40px;
	font-size: 14px;
	color: #333;
}

.xqcc-c2 {
	display: block;
	width: 500px;
	position: absolute;
	right: 30px;
	top: 0;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	font-size: 14px;
	color: #999;
}

.xqcc-c3 {
	font-size: 14px;
	color: #999;
}
	.spdlb {
	width: 516px;
	height: 312px;
	background: #f2f2f2;
	display: none;
	position: fixed;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 999;
	border-radius: 8px!important;
	    font-size: 12px;

	    
}

.spdl-okb {
	width: 80px;
	height: 35px;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 15px;
	position: absolute;
	left: 50px;
	border-radius: 8px;
	background: #FF5C5D;
}

.spdl-escb {
	width: 80px;
	height: 35px;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #fff;
	position: absolute;
	right: 50px;
	font-size: 15px;
	border-radius: 8px;
	background: #FF5C5D;
}

.spdl-cb {
	width: 250px;
	height: 40px;
	margin: 0 auto;
	/*line-height: 185px;*/
	text-align: center;
	margin-top: 5px;
	margin-bottom: 40px;
}

.spdl-cb span {
	display: block;
	height: 15px;
	line-height: 15px;
	margin-top: 95px;
}

.timeb {
	width: 10px;
}

.titlenab {
	width: 100%;
	height: 57px;
	background: #FF5C5D;
}

.rhideb {
	width: 27px;
	height: 27px;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	cursor: pointer;
}

.rhideb img {
	width: 100%!important;
	margin-top: 0px!important;
	margin-left: 0px!important;
}

.titlenab img {
	/*height: 100%;*/
	/*line-height: 57px;*/
	margin-top: 23px;
	margin-left: 18px;
}

.fbtypeb {
	width: 100%;
	height: 24px;
	margin-top: 18px;
	    text-align: center;
	
}

.fbtypeb a {
	line-height: 24px;
	display: block;
	width: 80px;
	height: 24px;
	float: left;
}

.fbtypeb a p {
	line-height: 24px;
	display: block;
	width: 80px;
	height: 24px;
	float: left;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
}

.spfxb {
	width: 500px;
	height: 1px;
	background: #d9d7d7;
	margin: 0 auto;
	margin-top: 13px;
}

.swbtnb {
	width: 100%;
	height: 50px;
	float: left;
}

.swbtn-cb {
	width: 420px;
	height: 31px;
	margin: 0 auto;
	margin-top: 10px;
}

.swbtn-cb div {
	float: left;
	margin-top: 5px;
}

.tjbtnb {
	width: 60px;
	height: 30px;
	border: 0;
	float: right;
	color: #fff;
	border-radius: 6px;
	background: #ff5c5c;
}

.contentb {
	width: 236px;
	height: auto;
	float: left;
	margin-top: 20px;
	/*margin-left: 10px;*/
}		
.show-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
	display: none;
	background: rgba(0,0,0,0.5);
}