* {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

body,
html {
	font-family: "microsoft yahei";
}

ul,
li,
a {
	/*display: block;*/
	list-style: none;
	text-decoration: inherit;
	color: #000000;
}

p{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clearfloat {
	clear: both;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

.demo {
	width: 720px;
	margin: 35px auto;
}

.demo h2 {
	font-size: 16px;
	color: #3366cc;
	height: 30px;
}

.demo li {
	float: left;
}

.text,
.button {
	background: url(http://su.bdimg.com/static/superpage/img/spis_031ddf34.png) no-repeat;
}

.text {
	width: 425px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px\9;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none;
	margin: 0 -1px 0 0;
}

.button {
	width: 79px;
	height: 32px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}

.button2 {
	width: 135px;
	height: 32px;
	margin-left: 30px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

.demo {
	width: 720px;
	margin: 35px auto;
}

.demo h2 {
	font-size: 16px;
	color: #3366cc;
	height: 30px;
}

.demo li {
	float: left;
}

.text,
.button {
	background: url(http://su.bdimg.com/static/superpage/img/spis_031ddf34.png) no-repeat;
}

.text {
	width: 425px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px\9;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none;
	margin: 0 -1px 0 0;
}

.button {
	width: 79px;
	height: 32px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}

.button2 {
	width: 135px;
	height: 32px;
	margin-left: 30px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background-position: 0 -35px;
	background-color: #ff5c5d;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	color: #fff;
}


/*------------------------------header------------------------------*/


/*-------------------------------h-c-1f-------------------------------*/

.h-c-1f {
	width: 1200px;
	height: 34px;
	/*background: #C4E3F3;*/
	margin: 0 auto;
	border-bottom: solid 1px #E6E6E6;
}

.s-f1-l {
	width: 50%;
	height: 34px;
	float: left;
	/*background: #66AFE9;*/
	border-bottom: solid #e6e6e6 1px;
}

.s-f1-l .home {
	width: 13px;
	height: 12px;
	margin: 6px 10px;
	float: left;
}

.s-f1-l p {
	font-size: 12px;
	width: 40px;
	line-height: 35px;
	float: left;
}

.s-f1-r {
	width: 485px;
	height: 35px;
	line-height: 35px;
	float: right;
	/*background: #2FA8EC;*/
}

.s-f1-r ul li {
	float: left;
	width: 12.2%;
	text-align: center;
	height: 35px;
}

.s-f1-r ul li .str {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -22px;
}

.s-f1-r ul li .strf {
	height: 12px;
	width: 1px;
	border-right: 1px solid #CCCCCC;
	position: relative;
	right: 0px;
	top: -24px;
}

.s-f1-r ul li a {
	width: 99%;
	height: 33px;
	display: block;
	font-size: 12px;
	margin-left: 2px;
	color: #999999;
	/*background: #00BFFF;*/
	/*border: 1px solid #000000;*/
}

.s-f1-r ul li a:hover{
	color: #FF5C5D;
}

.s-f1-r ul li a img {
	float: left;
	margin-top: 2px;
}

.s-f1-r ul li a p {
	display: block;
	width: 68px;
	text-align: center;
	font-weight: bold;
	float: right;
	color: #000000 !important;
	overflow: hidden;
}

.s-f1-r ul li .action {
	display: block;
	width: 52px;
	height: 18px;
	margin: 8px 13px;
	line-height: 19px !important;
	background-color: #999999;
	border-radius: 7px;
	color: white;
}

.s-f1-r ul li .action:hover{
	color: white;
	background-color: #FF5C5D;
}

.s-f1-r ul li a .img {
	margin-top: 15px;
	margin-right: 10px;
	float: right;
}

.select-yfb {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-yfb ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-yfb ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-yfb ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx {
	width: 70px;
	/*height: 100px;*/
	height: 0px;
	background-color: white;
	position: absolute;
	/*background-color: #008B8B;*/
	border-left: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	/*right: 200px;*/
	top: 34px;
	z-index: 555;
	overflow: hidden;
}

.select-xx ul {
	width: 70px;
	height: 150px;
	/*background-color: #008B8B;*/
	overflow: hidden;
}

.select-xx ul li {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}

.select-xx ul li a {
	width: 70px;
	height: 25px;
	line-height: 25px !important;
}


/*-------------------------------h-c-2f-------------------------------*/

.h-c-2f {
	width: 1200px;
	height: 119px;
	/*background: #C12E2A;*/
	margin: 0 auto;
	position: relative;
}

.h-c-2f img {
	width: 100%;
}

.s-f2-l {
	width: 40%;
	height: 119px;
	float: left;
	background: #008B8B;
}

.s-f2-r {
	width: 260px;
	height: 36px;
	position: absolute;
	right: 20px;
	top: 41.5px;
	border-radius: 50px;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
}

.s-f2-r1 {
	width: 21px;
	height: 22px;
	position: absolute;
	right: 20px;
	top: 6px;
	cursor: pointer;
	
}

.s-f2-r1 img {
	width: 100%;
}


/*-------------------------------h-c-3f-------------------------------*/

.h-c-3f {
	width: 1200px;
	height: 260px;
	margin: 0 auto;
	/*padding: 10px 0;*/
	margin-top: 10px;
	border-top: 1px solid #999;
	position: relative;
}

.h-c-3f img {
	width: 100%;
	/*height: 100%;*/
}

.h-f3-c1 {
	width: 140px;
	height: 40px;
	background: #ccc;
	position: absolute;
	border-radius: 5px;
	color: #fff;
	top: 195px;
	left: 377px;
	text-align: center;
	line-height: 40px;
}

.h-f3-c1:hover{
	background-color: #FF5C5D;
}

.h-f3-c2 {
	width: 108px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 88px;
	top: 125px;
}


/*------------------------------section------------------------------*/

.s-main-c {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	margin-top: 40px;
}

.s-main-l {
	width: 850px;
	height: 1200px;
	float: right;
	/*background: #2AABD2;*/
}

.s-main-r {
	width: 298px;
	height: auto;
	float: left;
	/*background: #008B8B;*/
}


/*-------------------------------s-c-1f--------------------------------*/

.s-c-1f {
	width: 100%;
	height: 578px;
	/*background: #1B6D85;*/
}

.s-c-1f img{
	width: 100%;
	height: 100%;
}

.s-c-1f a {
	text-align: left !important;
}


/*-------------------------------s-c-2f--------------------------------*/

.s-c-2f {
	width: 850px;
	height: 250px;
	background: #204D74;
}


/*-------------------------------s-c-3f--------------------------------*/

.s-c-3f {
	width: 850px;
	height: auto;
	float: right;
}

.s-c-3f ul {
	float: right;
	margin-top: -20px;
}

.s-c-3f ul li {
	margin-top: 20px;
	display: block;
	width: 828px;
	height: auto;
	border: solid 1px #CCCCCC;
	font-size: 14px;
	padding: 10px;
}
.s-c-3f ul li:hover{
	border: solid 1px #ff5c5d;
}
.s-c-3f ul li .tx {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	float: left;
}

.s-c-3f ul li .yhmc {
	width: auto;
	height: 60px;
	float: left;
	display: block;
	line-height: 60px;
	margin-left: 25px;
}

.s-c-3f ul li .price-f {
	width: auto;
	color: #FF5C5D;
	height: 60px;
	line-height: 60px;
	display: block;
	margin-left: 200px;
	overflow: hidden;
	float: left;
	text-align: center;
}

.s-c-3f ul li .hdsj {
	width: 150px;
	line-height: 85px;
	display: block;
	margin-left: 270px;
	overflow: hidden;
	float: left;
}

.s-c-3f ul li .hddd {
	text-align: right;
	width: auto;
	line-height: 60px;
	height: 60px;
	display: block;
	overflow: hidden;
	margin-right: 62px;
	float: right;
}

.s-c-3f ul li .details {
	width: 804px;
	height: auto;
	margin: 20px auto;
}

.s-c-3f ul li .details p {
	width: auto;
	height: 25px;
	line-height: 25px;
	float: left;
	overflow: hidden;
	color: #333;
}

.s-c-3f ul li .details .sex {
	margin-left: 20px;
	color: #999999;
}

.s-c-3f ul li .details .age {
	margin-left: 20px;
	color: #999999;
}

.s-c-3f ul li .details .jtyq {
	margin-left: 20px;
	width: 440px;
	overflow: hidden;
	color: #999999;
}

.s-c-3f ul li .details .price {
	display: block;
	width: 67px;
	margin-left: 50px;
	color: #FF5C5D;
	overflow: hidden;
}

.s-c-3f ul li .details .age-f {
	margin-left: 20px;
	color: #999999;
}

.s-c-3f ul li .details .grjj {
	margin-left: 20px;
	width: 685px;
	overflow: hidden;
	color: #999999;
}

.s-c-3f ul li .details .zpzp {
	margin-left: 35px;
	color: #999999;
}

.s-c-3f ul li .details .spzp {
	margin-left: 20px;
	color: #999999;
}

.s-c-3f ul li .details .dq {
	margin-left: 20px;
	color: #999999;
	width: 465px;
	overflow: hidden;
}

.s-c-3f ul li .details .bm {
	display: block;
	width: 59px;
	margin-left: 38px;
	color: #999999;
	overflow: hidden;
}

.s-c-3f ul li .sc {
	float: left;
	color: #bfbfbf;
}

.s-c-3f ul li .sjfb {
	float: right;
	margin-right: 7px;
	color: #bfbfbf;
}


/*-------------------------------s-c-4f--------------------------------*/


/*-------------------------------footer-------------------------------*/

.f-main-c {
	width: 1200px;
	margin: 0 auto;
	/*background: #1B6D85;*/
}


/*--------------------------------f-c-1f--------------------------------*/

.f-c-1f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	/*background: #C1E2B3;*/
}

.f-c-1f ul {
	width: 25%;
	float: left;
	margin-top: 20px;
	text-align: left;
}

.f-c-1f ul li {
	margin: 10px;
}


/*--------------------------------f-c-2f--------------------------------*/

.f-c-2f {
	width: 1200px;
	height: 205px;
	margin: 0 auto;
	line-height: 18px;
	background: #000;
	padding-top: 8px;
	text-align: center;
}

.f-c-2f a {
	color: #fff;
	line-height: 30px;
}

.f-c-2f p {
	color: #fff;
}


/*------------------------------header------------------------------*/

.xqcc-c0 {
	color: #333;
	font-size: 14px;
}

.xqcc-c1 {
	/*display: block;*/
	margin-left: 40px;
	font-size: 14px;
	color: #333;
}

.xqcc-c2 {
	display: block;
	width: 500px;
	position: absolute;
	right: 30px;
	top: 0;
	overflow: hidden;
	font-size: 14px;
}

.xqcc-c3 {
	font-size: 14px;
	color: #999;
}

.spdlb {
	width: 516px;
	height: 312px;
	background: #f2f2f2;
	display: none;
	position: fixed;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 999;
	border-radius: 8px!important;
	font-size: 12px;
}

.spdl-okb {
	width: 80px;
	height: 35px;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 15px;
	position: absolute;
	left: 50px;
	border-radius: 8px;
	background: #FF5C5D;
}

.spdl-escb {
	width: 80px;
	height: 35px;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #fff;
	position: absolute;
	right: 50px;
	font-size: 15px;
	border-radius: 8px;
	background: #FF5C5D;
}

.spdl-cb {
	width: 250px;
	height: 40px;
	margin: 0 auto;
	/*line-height: 185px;*/
	text-align: center;
	margin-top: 5px;
	margin-bottom: 40px;
}

.spdl-cb span {
	display: block;
	height: 15px;
	line-height: 15px;
	margin-top: 95px;
}

.timeb {
	width: 10px;
}

.titlenab {
	width: 100%;
	height: 57px;
	background: #FF5C5D;
}

.rhideb {
	width: 27px;
	height: 27px;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	cursor: pointer;
}

.rhideb img {
	width: 100%!important;
	margin-top: 0px!important;
	margin-left: 0px!important;
}

.titlenab img {
	/*height: 100%;*/
	/*line-height: 57px;*/
	margin-top: 23px;
	margin-left: 18px;
}

.fbtypeb {
	width: 100%;
	height: 24px;
	margin-top: 18px;
	text-align: center;
}

.fbtypeb a {
	line-height: 24px;
	display: block;
	width: 80px;
	height: 24px;
	float: left;
}

.fbtypeb a p {
	line-height: 24px;
	display: block;
	width: 80px;
	height: 24px;
	float: left;
	border: 2px solid #f2f2f2;
	border-radius: 15px;
}

.spfxb {
	width: 500px;
	height: 1px;
	background: #d9d7d7;
	margin: 0 auto;
	margin-top: 13px;
}

.swbtnb {
	width: 100%;
	height: 50px;
	float: left;
}

.swbtn-cb {
	width: 420px;
	height: 31px;
	margin: 0 auto;
	margin-top: 10px;
}

.swbtn-cb div {
	float: left;
	margin-top: 5px;
}

.tjbtnb {
	width: 60px;
	height: 30px;
	border: 0;
	float: right;
	color: #fff;
	border-radius: 6px;
	background: #ff5c5c;
}

.contentb {
	width: 236px;
	height: auto;
	float: left;
	margin-top: 20px;
	/*margin-left: 10px;*/
}

.show-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
	display: none;
	background: rgba(0, 0, 0, 0.5);
}

