<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">招聘大厅管理</span></div>
        </div>
        
        <div class="result-wrap">
             <form action="__APP__/admin/Friend/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
 
                            <tr>
                                <th><i class="require-red">*</i>链接名：</th>
                                <td>
                                    <input class="common-text required" id="type" name="name" size="20" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>链接路径：</th>
                                <td>
                                    <input class="common-text required" id="name" name="url" size="30" value="" type="text">
                                </td>
                            </tr>
                  
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="__APP__/Admin/Friend"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>