<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">友情链接</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__APP__/Admin/Friend/index" method="post">
               <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__APP__/Admin/Friend/add"><i class="icon-font"></i>添加友情链接</a>
                    
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                       
                            <th>链接名</th>
                            <th>链接路径</th>
                            <th>时间</th>
                      
                            <th>操作</th>
                        </tr>
                        <volist name="operarr" id="v">
                        <tr>
                           <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                          
                            <td> {$v.name} </td>
                            
                            <td>{$v.url}</td>
                             <td>{$v.pubtime}</td>
                      
                            <td>
                                <a class="link-update" href="__APP__/Admin/Friend/update?id={$v.id}">修改</a>
                               <a class="link-del"  href = "__APP__/Admin/Friend/delete?id={$v.id}" onclick="if(confirm( '是否确定删除这条链接！')==false)return false;">删除</a>
	                  
                            </td>
                        </tr>
                      </volist>
                    </table>
                    <div  class="pagelist">{$pageStr}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>