<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>招聘大厅</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/2rank.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin2.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<include file="Public/header"/>
			<div class="h-content-main">
				<div class="h-main-c">
					<?php	include '2rank-header.php';?>
						<div class="h-c-2f">
							<div class="s-f2-l-f">
								<div class="f2-l-1-f">
									<a href="?s=/Home/Index">
										<img src="__PUBLIC__/Home/img/logo.png" alt="喜事码头" />
									</a>
								</div>
								<div class="f2-l-3-f">
									<h1>招聘大厅</h1>
								</div>
								<a href="?s=/Home/Zpdt">
									<div class="f2-l-2-f">
										<h1>应聘区</h1>
									</div>
								</a>
							</div>
							<div class="s-f2-r-f">
								<div class="demo">
									<ul>
										<li><input type="text" id="tt" value="" class="text" autocomplete="off" /></li>
										<li><input type="submit" value="搜索" class="button" /></li>
										<li><button id="fbxq" type="submit" class="button2">发布需求</button></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="h-c-4f">
							<img src="__PUBLIC__/Home/img/banner.png" />
						</div>
				</div>
			</div>
		</header>
		<!--发布需求-->
		<div class="fbxq">
			<div class="fbxq-close">
				<img src="img/alert-close.png" />
			</div>
			<div class="fbxq-title">
				请选择您的需求
			</div>
			<div class="clear"></div>
			<ul>
				<li>
					<div class="fbxq-img">
						<img src="img/wyxs.png" />
					</div>
					<div class="fbxq-1f">
						悬赏
					</div>
					<div class="fbxq-2f">
						<span class="red">临时雇佣</span> 主持人、摄影摄像师、化妆师、策划师等婚庆从业者
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyys.png" />
					</div>
					<div class="fbxq-1f">
						应赏
					</div>
					<div class="fbxq-2f">
						主持人、摄影摄像师、化妆师、策划师等婚庆从业者发布
						<span class="red">兼职简历</span>
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyzp.png" />
					</div>
					<div class="fbxq-1f">
						招聘
					</div>
					<div class="fbxq-2f">
						<span class="red">长期雇佣</span> 摄影摄像师、化妆师、策划师、剪辑师、设计师、店长、营业员等婚庆从业者
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyyp.png" />
					</div>
					<div class="fbxq-1f">
						应聘
					</div>
					<div class="fbxq-2f">
						摄影摄像师、化妆师、策划师、剪辑师、设计师、店长、营业员等婚庆从业者发布
						<span class="red">全职简历</span>
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyqg.png" />
					</div>
					<div class="fbxq-1f">
						求购二手
					</div>
					<div class="fbxq-2f">
						如果您想要购买二手物品，点击这里填写求购要求，让卖家主动找到您
					</div>
				</li>
				<li>
					<div class="fbxq-img">
						<img src="img/wyxz.png" />
					</div>
					<div class="fbxq-1f">
						处理闲置
					</div>
					<div class="fbxq-2f">
						如果您想要出售你的闲置，点击这里填写闲置信息，让买家主动找到您
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>

		<section>
			<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f">
						<p class="title">
							<a href="#">所有分类</a>>
							<span>找到相关100.5万相关结果</span>
						</p>
						<div class="clear"></div>
					</div>
					<div class="s-c-2f">
						<div id="filter">
							<dl id="type">
								<dt>职位</dt>
								<dd>
									<div class="gray" id="bx">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="jl">经理/店长</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="yy">营业员</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="sm">数码师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="sp">视频剪辑师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='sy'>摄影师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='sx'>摄像师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='hz'>化妆师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='ch'>策划师</a>
									</div>
								</dd>
								
								<dd>
									<div>
										<a id='qt'>其他</a>
									</div>
								</dd>
							</dl>
							<dl id="sex">
								<dt>性别</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>女</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>男</a>
									</div>
								</dd>
							</dl>
							<dl id="age">
								<dt>年龄</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>18-25岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>25-30岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>30-35岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>35岁以上</a>
									</div>
								</dd>
							</dl>
                            
                            <dl id="worktime">
								<dt>工作经验</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>1-2年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>2-5年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>5-10年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>10年以上</a>
									</div>
								</dd>
							</dl>

							<!-- <dl>
								<dt>薪资/月</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>3000元以下</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>3000元-5000元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>5000元-8000元</a>
									</div>
								</dd>

								<dd>
									<div>
										<a>8000元以上</a>
									</div>
								</dd>
								<div class="clear"></div>
							</dl> -->
							<dl id="rzbd">
								<dt>招聘方</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>婚庆公司</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>工作室</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>影楼</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>表演团</a>
									</div>
								</dd>
							</dl>
							<dl id="address">
								<dt>活动地点</dt>
								<dd>
									<div class="gray" id='dd_tzh'>
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div id="ceshi">
										<form name="xxoo">
											<input type="text" id="xz-city" placeholder="请选择地区" readonly="readonly" value="" data-value="" onclick="appendCity(this,'danxuan')">
										</form>
									</div>
								</dd>
							</dl>
						</div>
						<div class="px">
							<p>排序：</p>
							<div class="hot">
								热门
							</div>
							<div class="new">
								最新
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<script type="text/javascript">
					</script>
					<div class="s-c-3f">
						<div class="s-c-4f-2f" id="ajax_lists">

						</div>
					</div>
				</div>
				<div class="s-main-r">
					<div class="s-r-3f">
						<div>
							<a href="javascript://">
								<h2>推荐招聘</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="s-r-5f">
						<ul>
							<foreach name="datan" item="dataa">
								<li>
									<a href="#">
										<div>
											<div class="yh-admin">
												<img src="__PUBLIC__/Home/img/tjzp_01.png" />
											</div>
											<div class="s-r-5f-right">
												<strong class="bdmc">
													{$dataa.forcename}
												</strong>
												<div class="clear"></div>
												<div class="s-r-5f-2f">
													<p>经理/店长</p>
													<p>{$dataa.sex}</p>
													<p>{$dataa.age}岁</p>
													<div class="clear"></div>
												</div>
												<p class="xz">
													薪资：<span class="red">{$dataa.price}k/月</span>
												</p>
											</div>
											<div class="clear"></div>
										</div>
										<p class="gwyq">
											<span class="black-333">岗位要求：</span>
											<span class="text49">
												 {$dataa.content}...
											</span>
										</p>
										<?php $numBao = explode(',',$dataa['zhao']);
											  array_pop($numBao);
											  $numBaos = count($numBao);?>
										<div class="bottom">
											<p class="left">报名数{$numBaos}</p>
											<p class="right">工作地点：{$dataa.address}</p>
											<div class="clear"></div>
										</div>
									</a>
								</li>
							</foreach>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="s-r-3f">
						<div>
							<a href="javascript://">
								<h2>推荐部队</h2>
							</a>
							<div class="clear"></div>
						</div>
					</div>
					<div class="s-r-4f">
						<ul>
							<foreach name="listnn" item="listnns">
							<li>
								<?php if($_SESSION['id'] == $listnns['uid']){ ?>
										<a href="?s=/Home/Mtbu/rzbddndt/id/{$listnns.uid}">
									<?php }else{ ?>
										<a href="?s=/Home/Mtbu/rzbddydt/id/{$listnns.uid}">
									<?php } ?>
									<div class="tj">
										<div class="tj-img">
											<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
										</div>
										<div class="tj_01">
											<strong class="tj_01_01">{$listnns.forcename}</strong>
											<p class="tj_01_02">
												<span class="black-333">部队类型：</span> {$listnns.type_bd}
											</p>
											<p class="tj_01_02">
												<span class="black-333">粉丝数量：</span> 110
											</p>
											<p class="tj_01_02">
												<span class="black-333">所在地点：</span> {$listnns.address}
											</p>
										</div>
										<div class="clear"></div>
										<div>
											<p class="tj_01_04">
												<span class="black-333">主营产品：</span>
												<span class="text36">{$listnns.content} </span>
											</p>
										</div>
									</div>
								</a>
							</li>
							</foreach>

							<div class="clear"></div>
						</ul>

					</div>
				</div>
			</div>
			<div class="clear"></div>
		</section>
		<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/City_data.js "></script>
	<script src="__PUBLIC__/Home/js/areadata.js "></script>
	<script src="__PUBLIC__/Home/js/2rank.js"></script>
	<script src="__PUBLIC__/Home/js/showwin2.js "></script>
	<script src="__PUBLIC__/Home/js/zp.js "></script>

</html>