<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>招聘大厅</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zpdt1-cc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/datePicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/hzw-city-picker.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.bigautocomplete.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/calendar.css" />
		<style>
			.s-f1-r ul li a .img {
				margin-top: 15px;
				margin-right: 10px;
				float: right;
			}
			.select-yfb {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-yfb ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-yfb ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-yfb ul li a{
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-xx {
				width: 70px;
				/*height: 100px;*/
				height: 0px;
				background-color: white;
				position: absolute;
				/*background-color: #008B8B;*/
				border-left: solid 1px #E6E6E6;
				border-right: solid 1px #E6E6E6;
				border-bottom: solid 1px #E6E6E6;
				/*right: 200px;*/
				top: 34px;
				z-index: 555;
				overflow: hidden;
			}
			
			.select-xx ul {
				width: 70px;
				height: 150px;
				/*background-color: #008B8B;*/
				overflow: hidden;
			}
			
			.select-xx ul li {
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
			.select-xx ul li a{
				width: 70px;
				height: 25px;
				line-height: 25px !important;
			}
		</style>
	</head>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<body onbeforeunload="checkLeave()">
	<!-- 用隐藏域 接受get值  用来搜索 -->
	<input type="hidden" id="types" value="{$_GET['type']}">
		<header>
			<include file="Public/header"/>
						<div class="h-c-2f">
						<div class="s-f2-l">
							<div class="f2-l-1">
								<a href="?s=/Home/Index">
									<img src="__PUBLIC__/Home/img/logo.png" />
								</a>
							</div>
							<div class="f2-l-2">招聘大厅</div>
							<a href="?s=/Home/Zpdt">
								<div class="f2-l-3">应聘区</div>
							</a>
						</div>
						<div class="s-f2-r">
							<div class="demo">
								<form action="http://www.jsfoot.com/e/search/index.php" method="post" name="searchform" id="searchform" class="searchinfo">
									<ul>
										<li><input type="text" id="tt" value="" class="text" style="text-align: left;" autocomplete="off" /></li>
										<li><input type="submit" value="搜索" class="button" /></li>
										<li><input type="submit" value="商家认证部队" class="button2" /></li>

									</ul>
								</form>
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/banner1.png" />
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="s-main-c">
				<div class="s-main-l">
					<div class="s-c-1f">
						<a href="#">所有分类</a>>
						<a href="#">找到相关<php>echo $xiang;</php>条相关结果</a>
					</div>
					<div class="s-c-2f">
						<div id="filter">
							<dl id="type">
								<dt>职位</dt>
								<dd>
									<div class="gray" id="bx">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="jl">经理/店长</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="yy">营业员</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="sm">数码师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id="sp">视频剪辑师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='sy'>摄影师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='sx'>摄像师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='hz'>化妆师</a>
									</div>
								</dd>
								<dd>
									<div>
										<a id='ch'>策划师</a>
									</div>
								</dd>
								
								<dd>
									<div>
										<a id='qt'>其他</a>
									</div>
								</dd>
							</dl>
							<dl id="sex">
								<dt>性别</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>女</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>男</a>
									</div>
								</dd>
							</dl>
							<dl id="age">
								<dt>年龄</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>18-25岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>25-30岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>30-35岁</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>35岁以上</a>
									</div>
								</dd>
							</dl>
                            
                            <dl id="worktime">
								<dt>工作经验</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>1-2年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>2-5年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>5-10年</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>10年以上</a>
									</div>
								</dd>
							</dl>
                            
							<!-- <dl>
								<dt>薪资/月</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>3000元以下</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>3000元-5000元</a>
									</div>
								</dd>
								<dd>
									<div>
										<a>5000元-8000元</a>
									</div>
								</dd>
								
								<dd>
									<div>
										<a>8000元以上</a>
									</div>
								</dd>
							</dl> -->
							<dl id="rzbd">
								<dt>招聘方</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>婚庆公司</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>工作室</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>影楼</a>
									</div>
								</dd>
                                <dd>
									<div>
										<a>表演团</a>
									</div>
								</dd>
							</dl>
							<dl id="address">
								<dt>活动地点</dt>
								<dd>
									<div class="gray">
										<a>不限</a>
									</div>
								</dd>
								<dd>
									<div id="ceshi">
										<form name="xxoo">
											<input type="text" id="xz-city" placeholder="请选择地区" readonly="readonly" value="" data-value="" onclick="appendCity(this,'danxuan')">
										</form>
									</div>
								</dd>
							</dl>
							<div class="px">
								<p>排序：</p>
								<div class="hot">
									热门
								</div>
								<div class="new">
									最新
								</div>
							</div>
						</div>
					</div>
					<div class="s-c-3f" id="ajax_lists">
						
					</div>
				</div>
				<div class="s-main-r">
					<div class="s-r-1f">
						<div>
							<a href="#"><img src="__PUBLIC__/Home/img/tjzp.png" /></a>
							<a class="clearfloat"></a>
						</div>
					</div>
					<div class="s-r-2f">
						<ul>
							<foreach name="datan" item="dataa">
								<li>
									<a href="?s=/Home/Zpdt1/xqzp/id/{$dataa.rid}">
										<div class="yh-admin">
											<img src="__PUBLIC__/Home/hye/{$dataa.imagename}" />
										</div>
										<p style="display:block; overflow: hidden; margin-top: -5px; margin-left: 10px; float:left; width: 180px; height: 20px; font-size:14px;">
											部队名称
										</p>
										<p style="display:block; float: left; overflow: hidden; line-height: 30px; margin-left: 10px; float:left; width: 68px; height: 30px; font-size:14px;">
											{$dataa.forcename}
										</p>
										<p style="display:block; float: left; overflow: hidden; margin-left: 25px; float:left; width: 30px; height: 30px; line-height: 30px; font-size:14px;">
											{$dataa.sex}
										</p>
										<p style="display:block; overflow: hidden;  float:right; width: 50px; height: 30px; line-height: 30px; font-size:14px;">
											{$dataa.age}岁
										</p>
										<p style="display:block; overflow: hidden; margin-left: 10px; float:left; width: 50px; height: 20px; font-size:14px;">
											薪资：
										</p>
										<p style="color: #FF5C5D; overflow: hidden; font-size: 14px; display: block; width: 130px; height: 20px; float: left;">{$dataa.price}元/月</p>
										<p style="font-size: 14px; color: #999999; width: 265px; height: 44px; line-height: 24px; overflow: hidden;">
											具体要求 : &nbsp;{$dataa.content}
										</p>
										<?php $numBao = explode(',',$dataa['zhao']);
											  array_pop($numBao);
											  $numBaos = count($numBao);?>
										<p style="font-size: 14px; display: block; width: 80px; float: left; color: #CCCCCC; margin-top: 10px;">应聘人数{$numBaos}</p>
										<p style="font-size: 14px;display: block; width: 100px; float: right; color: #CCCCCC; margin-top: 10px;">{$dataa.address}</p>
									</a>
								</li>
							</foreach>
							
							<li class="clearfloat" style="border: 0; height: 0px; width: 0px; background: rgba(255,255,255,0.0); "></li>
						</ul>
					</div>
					<div class="s-r-3f">
						<div>
							<a href="#"><img src="__PUBLIC__/Home/img/tjbd.png" /></a>
							<!--<a href="#"><img src="img/tjcz.png" /></a>-->
							<a class="clearfloat"></a>
						</div>
					</div>
					<div class="s-r-4f">
						<ul>
							<foreach name="listnn" item="listnns">
							<li>
								<?php if($_SESSION['id'] == $listnns['uid']){ ?>
										<a href="?s=/Home/Mtbu/rzbddndt/id/{$listnns.id}">
									<?php }else{ ?>
										<a href="?s=/Home/Mtbu/rzbddydt/id/{$listnns.id}">
									<?php } ?>
									<div class="tj">
										<img src="__PUBLIC__/Home/img/bdmc.png" width="101" height="101">
										<div class="tj_01">
											<p class="tj_01_01" style="100px">{$listnns.forcename}</p>
											<p class="tj_01_02" style="100px">部队类型：<b style="color:#666666; font-weight:500">{$listnns.type}</b></p>
											<p class="tj_01_02" style="100px">粉丝数量：<b style="color:#666666; font-weight:500">110</b></p>
											<p class="tj_01_02" style="100px">
												所在地点：<b style="color:#666666; font-weight:500">{$listnns.address}</b>
											</p>

											<p style="font-size: 12px; color:#666666; margin-left:-120px; margin-top:14px; display:block;width: 255px;height:50px;overflow: hidden;">
												{$listnns.content}
											</p>
										</div>

									</div>
								</a>
							</li>
							</foreach>
							<!--<li class="clearfloat"></li>-->
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
		</section>
	<include file="Public/footer"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.bigautocomplete.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.date_input.pack.js"></script>
	<script src="__PUBLIC__/Home/js/City_data.js"></script>
	<script src="__PUBLIC__/Home/js/areadata.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/zp.js"></script>
	<script type="text/javascript">

		$(function() {
			//选中filter下的所有a标签，为其添加hover方法，该方法有两个参数，分别是鼠标移上和移开所执行的函数。
			$("#filter a").hover(
				function() {
					$(this).addClass("seling");
				},
				function() {
					$(this).removeClass("seling");
				}
			);

			//选中filter下所有的dt标签，并且为dt标签后面的第一个dd标签下的a标签添加样式seled。(感叹jquery的强大)
			$("#filter dt+dd a").attr("class", "seled");
			/*注意：这儿应该是设置(attr)样式，而不是添加样式(addClass)，
			                                                     不然后面通过$("#filter a[class='seled']")访问不到class样式为seled的a标签。*/

			//为filter下的所有a标签添加单击事件
			$("#filter a").click(function() {
				$(this).parents("dl").children("dd").each(function() {
					//下面三种方式效果相同（第三种写法的内部就是调用了find()函数，所以，第二、三种方法是等价的。）
					//$(this).children("div").children("a").removeClass("seled");
					//$(this).find("a").removeClass("seled");
					$('a', this).removeClass("seled");
				});

				$(this).attr("class", "seled");

				//				alert(RetSelecteds()); //返回选中结果
			});
			//返回选中结果
		});

		function RetSelecteds() {
			var result = "";
			$("#filter a[class='seled']").each(function() {
				result += $(this).html() + "\n";
			});
			return result;
		}
		//		$('#date').click(function(){
		//				alert(RetSelecteds()+$('#date').val()+$('#city').val());
		//			})
		$('.px .hot').click(function() {
			$('.px .hot').css('background-color', '#ff5c5d');
			$('.px .new').css('background-color', '#999999');
		})
		$('.px .new').click(function() {
			$('.px .new').css('background-color', '#ff5c5d');
			$('.px .hot').css('background-color', '#999999');
		})
		//		下拉菜单
		$('#select-yfb').hover(function() {
			$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(180deg)');
			$('.select-yfb').stop().animate({
				height:'150px'
			}, 300);
		},function(){
				$('#select-yfb a img').css('transition-duration', '.5s');
			$('#select-yfb a img').css('transform', 'rotate(0deg)');
			$('.select-yfb').stop().animate({
				height:'0px'
			}, 300);
		});
		$('#select-xx').hover(function() {
			$('.select-xx').stop().animate({
				height:'75px'
			}, 300);
		},function(){
			$('.select-xx').stop().animate({
				height:'0px'
			}, 300);
		});
	</script>

</html>