<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>应聘填写</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/tx.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/input.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/calendar.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/zyzn_1.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/upimg.css" />
	</head>

	<body>
		<div class="show-bg"></div>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<form name="myform" enctype="multipart/form-data">
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<p class="tfs22">WEDDING PIER</p>
					<h1 class="tfs22">喜事码头</h1>
					<p class="tfs14">简单<samp class="kog10"></samp>方便<samp class="kog10"></samp>效率</p>
					<div class="bdsz">
						<div class="bdsz-bt">
							填写应聘
						</div>
						<ul>
							<li id="tab-jbxx" class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li id="tap">
								<a rel="nofollow" href="javascript://">
									<h2>工作经历</h2>
								</a>
							</li>
							<li id="tab-zpzp">
								<a rel="nofollow" href="javascript://">
									<h2>照片作品</h2>
								</a>
							</li>
							<li id="tab-spzp">
								<a rel="nofollow" href="javascript://">
									<h2>视频作品</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						
						<div class="s-2f-c2">
							<ul class="tyint">
								<li>
									<div class="mname">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">姓<samp class="kog8"></samp>名</p>
											<p class="cf"></p>
										</div>
										<div class="litr"><input class="w200t" id="uname" name="name" type="text" /></div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="msex">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">性<samp class="kog8"></samp>别</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<div class="w36"><input class="" id="sex1" name="sex" value="1" type="radio" /> 男</div>
											<div class="w36"><input class="" id="sex0" name="sex" value="0" type="radio" /> 女</div>
										</div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mage">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">年<samp class="kog8"></samp>龄</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<input class="w75t" name="age" id="uage"  type="number" />&nbsp;岁
										</div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mmap">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">所在地</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<input type="text" class="w95s" id="uaddress" readonly="readonly" name="address" id="xz-city" value="" data-value="" onclick="appendCity(this,'danxuan')" placeholder="请选择">
											<input id="xsdz" name="add" class="w209" id="uadd" type="text" placeholder="填写详细地址" />
										</div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mprofession">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">期望职业</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<select class="w95s" name="type" id="xtype" onchange="gradeChange()" style="width:100px;">
												<option>-请选择-</option><option>经理/店长</option><option>营业员</option><option>数码师/设计</option><option>视频剪辑师</option><option>摄影师</option><option>摄像师</option><option>化妆师</option><option>策划师</option><option>其他</option>
											</select>
											<span class="types"></span>
										</div>
										<div class="cf"></div>
								</li>
								<script type="text/javascript">
									function gradeChange(){
										 var checkText=$("#xtype").find("option:selected").text();
										    if(checkText == '其他'){
										    	$('.types').html('<input class="w209" type="text" name="zymc" placeholder="填写职业名称" />');
										    }else{
										    	$('.types').html('<input class="w209" type="hidden" name="zymc" placeholder="填写职业名称" />');
										    }
									}
								</script>
								<li>
									<div class="memail">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">期望薪资</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<select class="w200s" id="uprice" style="width:110px;" name="price">
												<option>-请选择-</option>
												<option>不限</option>
												<option>2000-4000</option>
												<option>4000-6000</option>
												<option>6000-8000</option>
												<option>> 8000</option>
											</select> k/月
										</div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="memail">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">工作经验</p>
											<p class="cf"></p>
										</div>
										<div class="litr">
											<input name="worktime"  id="uworktime"  class="w200t" maxlength="2" style="width:50px;" type="number" /> 年
										</div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="memail">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">联系电话</p>
											<p class="cf"></p>
										</div>
										<div class="litr"><input name="tel" id="utel" class="w200t" type="text" /></div>
										<div class="cf"></div>
									</div>
								</li>
								<li>
									<div class="mqq">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">Q&nbsp;Q</p>
											<p class="cf"></p>
										</div>
										<div class="litr"><input name="qq" id="uqq" class="w200t" type="text" /></div>
										<div class="cf"></div>
									</div>
								</li>
								<li class="jbxxli1">
									<div class="mzwjs">
										<div class="litl">
											<p class="litx">*</p>
											<p class="litc">自我介绍</p>
											<p class="cf"></p>
										</div>
										<div class="litrb"><textarea class="w340" id="ucontent" name="content" type="text"></textarea></div>
										<div class="cf"></div>
									</div>
								</li>
							</ul>
							</div>
						</div>

						<div class="txfg1" id="ta">
							<div class="txfg1-c1-1">
								<span class="hfx2"></span>
								<div>
									<h2>工作经历/</h2>
									<samp class="addtitle">最多上传3个工作经历</samp>
								</div>
								<span class="hfx3" id="hfx3-1"><img src="__PUBLIC__/Home/img/tj-sp.png" />新增经历</span>
							</div>
							<div class="txfg1-c2-1"><img src="__PUBLIC__/Home/img/gth.png" /><span class="txfgts">点击右上角"新增经历"完善工作经历</span></div>
							<ul class="addmation1">

							</ul>
						</div>
						<div class="s-c-2f" >
							<div id="ta" class="s-c-8f-1f">
								<h2>照片作品/</h2><span>最多上传9张照片</span>
								<span class="right" id="hfx3-1_zp">									
									添加照片
									<div class="tjsp">
										<img src="__PUBLIC__/Home/img/tj-sp.png" />
									</div>
								</span>
							</div>
							<div class="s-c-2f-2f-f">
								<div class="dianji">
									<div class="gth">
										<img src="__PUBLIC__/Home/img/gth.png">
									</div>
									点击右上角"添加照片"完善作品
									<div class="clearfloat"></div>
								</div>
								<div class="img_div">
								</div>
								<!-- <a style="display: none;" href="javascript:;" class="a-upload">
									<input type="file" name="myFile" id="myFile" multiple />点击这里上传文件
								</a> -->
								<ul id="ypzps">
									<div class="clearfloat"></div>
								</ul>
								<div class="shade" onclick="javascript:closeShade()">
									<div class="">
										<span class="text_span">
					
										</span>
									</div>
								</div>
								<div class="shadeImg" onclick="javascript:closeShadeImg()">
									<div class="">
										<img class="showImg" src="" />
									</div>
								</div>
							</div>
						</div>
						<div class="s-c-3f">
							<div id="tc" class="s-c-8f-1f">
								<h2>视频作品/</h2><span>最多上传3个视频文件</span>
							</div>
							<div class="s-c-3f-2f-f">
								<ul>
									<li>
										<div class="na2">
											<div class="picture1">
												<img id="pic1" src="__PUBLIC__/Home/img/scsp.png">
												<input class="upload" id="upload1" name="file1"  accept="image/jpg,image/jpeg,image/png" type="file"/>
											</div>
										</div>
										<div class="input-h">
											<div class="input-bt">
												<input type="text" name="title1" placeholder="请输入视频标题" />
											</div>
											<div class="input-dz">
												<input type="text" name="video1" placeholder="输入视频链接地址" />
											</div>
										</div>
										<div class="delete-sp">
											<img src="__PUBLIC__/Home/img/delete-2.png" />
										</div>
									</li>
									<li>
										<div class="na2">
											<div class="picture2">
												<img id="pic2" src="__PUBLIC__/Home/img/scsp.png">
												<input class="upload" id="upload2" name="file2"  accept="image/jpg,image/jpeg,image/png" type="file" />
											</div>
										</div>
										<div class="input-h">
											<div class="input-bt">
												<input type="text" name="title2" placeholder="请输入视频标题" />
											</div>
											<div class="input-dz">
												<input type="text" name="video2" placeholder="输入视频链接地址" />
											</div>
										</div>
										<div class="delete-sp">
											<img src="__PUBLIC__/Home/img/delete-2.png" />
										</div>
									</li>
									<li style="margin: 0;">
										<div class="na2">
											<div class="picture3">
												<img id="pic3" src="__PUBLIC__/Home/img/scsp.png">
												<input class="upload" id="upload3" name="file3"  accept="image/jpg,image/jpeg,image/png" type="file" />
											</div>
										</div>
										<div class="input-h">
											<div class="input-bt">
												<input type="text" name="title3" placeholder="请输入视频标题" />
											</div>
											<div class="input-dz">
												<input type="text" name="video3" placeholder="输入视频链接地址" />
											</div>
										</div>
										<div class="delete-sp">
											<img src="__PUBLIC__/Home/img/delete-2.png" />
										</div>
									</li>
									<div class="clearfloat"></div>
								</ul>
							</div>
						</div>
						<div class="clearfloat "></div>
						<a href="javascript:void(0)" onclick="submit()" class="s-tf-btn">确认发布</a>
					</div>
					<div class="clearfloat "></div>
				
		</section>
	</form>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/City_data.js"></script>
	<script src="__PUBLIC__/Home/js/dz.js"></script>
	<script src="__PUBLIC__/Home/js/sjs.js"></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script src="__PUBLIC__/Home/js/showwin.js"></script>
	<script type="text/javascript">
		//提交发布
		function submit(){
			var myform = document.myform;
			myform.action = "?s=/Home/Zpdt1/txypgo";
			myform.method = "post";
			myform.submit();
		}
	</script>
</html>