<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>招聘详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/xq-3r-zy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input placeholder="搜索全站" type="text" class="find3" />
							<div class="s-f2-r1">
								<img src="__PUBLIC__/Home/img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="spdl" id="spdl" title="消息">
			<div class="spdl-c">
				<span>查看需要消耗5个码头币</span>
				<a href="#">请充值</a>
			</div>
			<button class="spdl-ok" id="spdl-ok">确定</button>
			<button class="spdl-esc" id="spdl-esc">取消</button>
		</div>
		<section>

			<div class="s-main-c">

				<div class="s-main-r">
					<div class="userin">
						<div class="u-img">
							<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                        	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if>
								</a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}">  
								<if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                        	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$list.uid}">
								  <if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                      	  	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}">  
								<if condition="$list[imagename]==''">
										<img src="__PUBLIC__/Home/img/tx2-3r.png" />
                                      <else />
                                    	<img src="/MatouPCS/Tu/upload/{$list.imagename}"  alt="" />
                                    </if></a>
									</if>
                                       <php>}</php>
						</div>
						<div class="u-cont">
							<p class="tfs14"><strong><a href="#"><if condition="$list[username]==$list[tel]">
							                      用户{$list.username|substr=0,5}
								                 </if>
								               <if condition="$list[username]!=$list[tel]">
								                用户{$list.username}
								                  </if></a></strong></p>
							<p class="tfs12">职位：{$list.type}</p>
							<p class="tfs12">所在地：{$list.addre}</p>
							<php>if($_SESSION['id'] == $list['uid']){</php>
									  <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddndt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
									<php>}else{</php>
                                        <if condition="$list[bdlx]=='1'">
								<a href="?s=/Home/Mtbu/grbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
								<elseif condition="$list[bdlx]=='6'"/>
								<a href="?s=/Home/Mtbu/spbddydt/id/{$listt.uid}"><button>进入Ta的主页</button></a>
								<else/>
								<a href="?s=/Home/Mtbu/rzbddydt/id/{$list.uid}"><button>进入Ta的主页</button></a>
									</if>
                                       <php>}</php>
						</div>
					</div>
					
					<div class="bdsz">
						<div class="bdsz-bt">
							招聘详情
						</div>
						<ul>
							<li class="selected-con">
								<a rel="nofollow" href="javascript://">
									<h2>基本信息</h2>
								</a>
							</li>
							<li>
								<a rel="nofollow" href="javascript://">
									<h2>招聘职位</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-2f">
						<div class="s-c-8f-1f">
							<h2>基本信息</h2>
						</div>
						<div class="s-2f-c2">
							<div class="c2-ct1">
								<p><span class="xqcc-c0">所在地点：</span><span class="xqcc-c3">{$list.addre}</span></p>
								<p><span class="xqcc-c0">邮<samp class="kog14"></samp>箱：</span><span class="xqcc-c3">{$list.remail}</span></p>
							</div>
							<div class="c2-ct21">
								<p><span class="xqcc-c0">QQ号码：</span><span class="xqcc-c3">{$list.rqq}</span></p>
								<p id="spdl-p"><span class="xqcc-c0">联系电话：</span><span class="xqcc-c3" id="zp_tel">{$list.rtel|substr=0,3}XXXX{$list.rtel|substr=8,11}</span></p><button id="spzp">查看号码 </button>
								<input type="hidden" id="xp" value="{$list.rtel}">
							</div>
						</div>
					</div>
					<div class="s-c-2fb">
						<div class="s-c-8f-1f">
							<h2>招聘职位</h2>
						</div>
						<foreach name="data" item="datas">
						<div class="xqwc">
							<div class="xqcc">
								<p class="xqcc-c">
								<span class="xqcc-c0">招聘职位：</span><span class="xqcc-c3">{$datas.type}</span><span class="xqcc-c1">薪资：</span><span class="xqcc-c3">{$datas.price}元/月</span>
								</p>
								<p class="xqcc-c">
									<span class="xqcc-c0">性别：</span><span class="xqcc-c3">{$list.sex}</span><span class="xqcc-c1">年龄：</span><span class="xqcc-c3">{$datas.age}岁</span><span class="xqcc-c1">工作年龄：</span><span class="xqcc-c3">{$datas.worktime}年</span>
								</p>
								<p class="xqcc-c"><span class="xqcc-c0">工作内容：</span><span class="xqcc-c2">{$datas.content}...</span></p>
								<br>
								<p class="xqcc-c"><span class="xqcc-c0">岗位要求：</span><span class="xqcc-c2">{$datas.work}...</span></p>
							</div>
						<?php $zhao = explode(',',$datas['zhao']);
								  array_pop($zhao);
								  $num = count($zhao);
								   ?>      
								  <?php if($datas['zhao_st'] == '2'){ ?>
								<div class="xqbta" style="background:#ccc;">
									<a href="#">招聘已结束</a>
								</div>
							<?php }else if(in_array($_SESSION['id'],$zhao)){ ?>
							<div class="xqbta" id="bt-p{$datas.id}" style="background:#ccc;" id="bt-p{$listNews.wid}">
								<a href="#" style="font-size:12px;">已有{$num}人应聘</a>
							</div>
							<?php }else{ ?>
								<?php if(empty($_SESSION['id'])){ ?>
								<div class="xqbta" onclick="alert('请先登录')" id="bt-p{$datas.id}">
									<a href="#">我要应聘</a>
								</div>
								<?php }else{ ?>
								<div class="xqbta" onclick="zhao({$datas.id})" id="bt-p{$datas.id}">
									<a href="#">我要应聘</a>
								</div>
								<?php } ?>
							<?php } ?>
							<div class="clearfloat "></div>
						</div>
						</foreach>
						
						<div class="clearfloat "></div>
					</div>

					<div class="s-c-4f">
						<div class="s-tf-btn">
							<p>分享
							</p>
							<img src="__PUBLIC__/Home/img/xzfx.png" alt="" />
						</div>
						<div class="clearfloat "></div>
					</div>
					<div class="clearfloat "></div>
				</div>
				<div class="clearfloat "></div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="__PUBLIC__/Home/js/zp.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js "></script>
	<script src="__PUBLIC__/Home/js/scrolltopcontrol.js"></script>
	<script type="text/javascript">
		$('#spzp').click(function(){
	  if(window.confirm('确定耗费5个码头币？')){
	    $('#zp_tel').html($('#xp').val());
	  }
	});

	</script>
</html>