<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>招聘详情页</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/fbwc.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/showwin.css" />
	</head>

	<body>
		<header>
			<div class="h-content-main">
				<div class="h-main-c">
					<include file="Public/header"/>
					<div class="h-c-2f">
						<img src="__PUBLIC__/Home/img/navbg2.png" alt="" />
						<div class="s-f2-r">
							<input type="text" placeholder="搜索全站" class="find3" />
							<div class="s-f2-r1">
								<img src="img/ss-t.png" alt="" />
							</div>
						</div>
					</div>
					<div class="h-c-3f">
						<img src="__PUBLIC__/Home/img/navbg4.png" alt="" />
						<a href="#">
							<a href="?s=/Home/Zpdt1/xqzp/id/{$id}" class="h-f3-c1">查看招聘详情页</a>
						</a>
					</div>
				</div>
			</div>
		</header>
		
		<section>
			<div class="s-main-c">
				<div class="s-main-r">
					<div class="s-c-1f">
						<a href="?s=/Home/Zpdt/index/type/0">
							<img src="__PUBLIC__/Home/img/jrypq.png" alt=""/>
						</a>
					</div>
				</div>
				<div class="s-main-l">
					<div class="s-c-3f-zp">
						<div class="f3-c-1">
							<foreach name="list" item="lists">
								<a href="?s=/Home/Zpdt/xqyp/id/{$lists.eid}">
									<div>
										<div class="tx">
											<if condition="$lists[imagename]==''">  
			                                  		<img src="__PUBLIC__/Home/img/yhmc.png" alt="" />
			                                   <else />
			                                     	<img src="/MatouPCS/Tu/upload/{$lists.imagename}" alt="" />
			                                   </if>
									</div>
									<p class="app_01_01">{$lists.name}</p>
									<p class="app_01">所在地：{$lists.addre}</p>
									<div class="clearfloat"></div>
									</div>
									<ul  class="zplistul">
										<li class="app_01_h">{$lists.name}</li>
										<li class="app_01_h1 app_01_h2"><span class="xqcc-c0">{$lists.ages}岁</span></li>
										<li class="app_01_h app_01_h2">工作经验：</li>
										<li class="app_01_h1">{$lists.worktimes}年</li>
										<li class="app_01_h app_01_h2">个人简介：</li>
										<li class="app_01_h1 app_01_oh">{$lists.content}</li>
										<li class="app_01_h3">{$lists.type}</li>
										<div class="clearfloat"></div>
									</ul>
									<foreach name="list_gz" item="list_gzs">
										<php>if($list_gzs['pid'] == $lists['eid']){</php>
										<ul class="app_02">
											<li class="app_01_h">工作时间：</li>
											<li class="app_01_h1">{$list_gzs.worktime}</li>
											<li class="app_01_h app_01_h2">所在公司：</li>
											<li class="app_01_h1">{$list_gzs.workname}</li>
											<li class="app_01_h app_01_h2">职位：</li>
											<li class="app_01_h1">{$list_gzs.typew}</li>
											<div class="clearfloat"></div>
										</ul>
										<php>}</php>
									</foreach>
									<ul class="app_03">
										<li class="">已有10人收藏</li>
										<li class="app_03_01">{$lists.date}</li>
										<div class="clearfloat"></div>
									</ul>
								</a>
							</foreach>
						</div>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</section>
		<include file="Public/foot"/>
	</body>
	<script src="js/scrolltopcontrol.js"></script>

</html>