<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--头部完结-->  
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">码头商城管理</span></div>
        </div>
        
        <div class="result-wrap">
            <volist name="jarr" id="v">
        <form action="__APP__/admin/Shop/usave" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>商铺名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="shopname" size="20" value="{$v.shopname}" type="text">
                                         <input type="hidden" name="id" value="{$v.id}"/>
                     <input type="hidden" name="pubtime" value="{$v.pubtime}">
                                </td>
                            </tr>
                          
                            <tr>
                                <th><i class="require-red">*</i>营业执照：</th>
                                <td>
                                    <input class="common-text required" id="type" name="charter" size="40" value="{$v.charter}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>法定代表人：</th>
                                <td>
                                    <input class="common-text required" id="name" name="representative" size="20" value="{$v.representative}" type="text">
                                </td>
                            </tr>
                                <tr>
                                <th><i class="require-red">*</i>商铺名称：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="shopname" size="20" value="{$v.shopname}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商铺类型：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="type" size="20" value="{$v.type}" type="text">
                                </td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>联系电话：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="tel" size="30" value="{$v.tel}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>qq：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="qq" size="30" value="{$v.qq}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>详细地址：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="address" size="30" value="{$v.address}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>网店链接：</th>
                                <td>
                                    <input class="common-text required" id="age" name="lianjie" size="30" value="{$v.lianjie}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>收藏数：</th>
                                <td>
                                    <input class="common-text required" id="collect" name="collect" size="12" value="{$v.collect}" type="text">
                                </td>
                            </tr>
                           
                        
                     
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <a href="__APP__/Admin/Shop"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
                </volist>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>