<include file="Public/header"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/Admin/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">码头部队管理</span></div>
        </div>
        
        <div class="result-wrap">
            <volist name="jarr" id="v">
        <form action="__APP__/admin/Due/usave" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>姓名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="name" size="20" value="{$v.name}" type="text">
                                         <input type="hidden" name="did" value="{$v.did}"/>
                     <input type="hidden" name="pubtime" value="{$v.pubtime}">
                                </td>
                            </tr>
                          
                            <tr>
                                <th><i class="require-red">*</i>性别：</th>
                           <td>   
                                    <if condition="$v[sexs]=='1'">
                                     <input type="radio" name = 'sexs'  value="1"  checked="checked" readonly="true"/> 男
                                      <else/>
                                      <input type="radio" name = 'sexs'  value="1"  readonly="true"/> 男
                                    </if>
                                        <if condition="$v[sexs]=='2'">
                                     <input type="radio" name = 'sex's  value="2"  checked="checked" readonly="true"/> 女
                                        <else/>
                                      <input type="radio" name = 'sexs'  value="2"  readonly="true"/> 女
                                    </if>
                                    </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>年龄：</th>
                                <td>
                                    <input class="common-text required" id="name" name="age" size="10" value="{$v.age}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>身高：</th>
                                <td>
                                    <input class="common-text required" id="sex" name="height" size="12" value="{$v.height}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>体重：</th>
                                <td>
                                    <input class="common-text required" id="age" name="weight" size="12" value="{$v.weight}" type="text">
                                </td>
                            </tr>
                          
                           
                              <tr>
                                <th><i class="require-red">*</i>所在地：</th>
                                <td>
                                    <input class="common-text required" id="height" name="address" size="40" value="{$v.address}" type="text">
                                </td>
                            </tr>
                                <tr>
                                <th><i class="require-red">*</i>职业：</th>
                                <td>
                                    <input class="common-text required" id="height" name="type" size="20" value="{$v.type}" type="text">
                                </td>
                            </tr>
                                   <tr>
                                <th><i class="require-red">*</i>期望赏金：</th>
                                <td>
                                    <input class="common-text required" id="height" name="price" size="20" value="{$v.price}" type="text">
                                </td>
                            </tr>
                                   <tr>
                                <th><i class="require-red">*</i>电话：</th>
                                <td>
                                    <input class="common-text required" id="height" name="tels" size="20" value="{$v.tel}" type="text">
                                </td>
                            </tr>
                                   <tr>
                                <th><i class="require-red">*</i>qq：</th>
                                <td>
                                    <input class="common-text required" id="height" name="qqs" size="20" value="{$v.qqs}" type="text">
                                </td>
                            </tr>
                                  <tr>
                                <th><i class="require-red">*</i>擅长婚礼类型：</th>
                                <td>
                                    <input class="common-text required" id="height" name="skilled" size="40" value="{$v.skilled}" type="text">
                                </td>
                            </tr>
                            
                            <tr>
                                <th>自我介绍：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10">{$v.content}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <a href="__APP__/Admin/Due"><input class="btn btn6"  value="返回"></a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
                </volist>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>